
#skill-form {
	display: grid;
	width: 100%;
	margin: 0px;
	padding: 0px;
	grid-template-columns: 100%;
}

#category {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#category-field {
	display: grid;
	width: 60%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: 3vh;
	grid-template-areas: "categoryfield";
}

#description {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#description-field {
	display: grid;
	width: 70%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "descriptionfield";
}

#multiple-attr-title {
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 130%;
	color: #245681;
	padding: 0px;
}


#action-check-condition-speed-skilltype-dctype {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
}

#action-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#check-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#condition-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#speed-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#skilltype-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#dctype-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#equipment-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#opposed-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#prep-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto auto;
	grid-template-areas: "prepheader prepheader"
							"prepvalue prepunit";
}

#prep-title {
	grid-area: prepheader;
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 130%;
	color: #245681;
	padding: 0px;
}

#sub-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#secret-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

