#circumstance {
	display: grid;
	width: 100%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	margin-bottom: 2vw;
}

#circ-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 55% 45%;
	grid-template-rows: auto;
}

#circ-base-form {
	display: grid;
	width: 100%;
	padding: 0px;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
	opacity: 0%;
}


#circ-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#circ-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-entry-title {
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#circ-row1 {
	display: grid;
	grid-template-columns: 15% 15% 55% 15%;
	gap: .2vw;
}

#circ-field {
	width: 85%;
	height: auto;
	padding: 4px;
}

#circ-mod-field {
	display: grid;
	width: 97%;
	height: auto;
	padding: 4px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: 90%;
	color: #245681;
}

#circ-mod-value {
	display: none;
	grid-template-columns: 15% 20% 65%;
	width: 100%;
	height: auto;
	padding: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
}

#circ-mod-math {
	display: none;
	width: 100%;
	height: auto;
	padding: 4px;
	grid-template-columns: 20% 15% 25% 20% 20%;
	grid-auto-rows: auto; 
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
}

#circ-mod-math input[type="text"] {
	width: 80%; 
	height: 1.2vw; 
	font-size: 110%;
}

#circ-mod-math div {
	margin-bottom: .2vw;
}

.circ-mod-select{
	height: 1.6vw; 
	padding: .1vw;  
	font-size: 120%;
}

#circ-mod-adjust {
	display: none;
	width: 100%;
	height: auto;
	padding: 4px;
	grid-template-columns: 20% 20% 15% 29% 25%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
}

#circ-mod-adjust div {
	margin-bottom: .2vw;
}

#circ-add {
	width: 100%;
	padding: 3px;

}

#circ-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 30% 15% 50% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-table-title {
	border-bottom: 1px solid lightblue;
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

.circ-table-modifier {
	font-family: 'Monda', Verdana;
	font-size: 80%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-table-rounds {
	font-family: 'Monda', Verdana;
	font-size: 80%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-table-circ {
	font-family: 'Monda', Verdana;
	font-size: 80%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-table-delete {
	font-family: 'Monda', Verdana;
	font-size: 80%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}

.circ-xbox {
	display: flex;
	height: 1.4vw;
	width: 90%;
	align-items: center;
	text-align: center;
	color: #245681;
	border: none;
	background-color: white;
	transition: all .2s linear;
	cursor: pointer;
}

.circ-xbox:hover {
	color: #af0101;
}

.circ-xbox::before {
	font-family: 'FontAwesome';
	font-size: 1.3vw;
	content: '\f056';
	display: inline-block;
}