#dc-levels {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#dc-rows {
	display: grid;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}
#dc-field {
	display: grid;
	width: 100%;
	margin: 2%;
	margin-bottom: 0px;
	grid-template-columns: 15% 85%;
	grid-template-rows: auto auto;
}

#dc-fields {
	display: grid;
	width: 100%;
	margin: 2%;
	margin-top: 0%;
	margin-bottom: 3%;
	grid-template-columns: 20% 20% 16% 22% 22%;
	grid-template-rows: auto;
	border-bottom: 2px solid lightblue;
}
  

#dc-field-title {
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	padding: 0px;
	vertical-align: top;
	display: table-cell;
}

#dc-value-grid {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#dc-math-grid {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#dc-attr-title {
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	padding: 0px;
}

#dcmeasurementfield {
	display: grid;
	width: 100%;
	margin-left: 2%;
	grid-template-columns: 20% 15% 65%;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
}

#dcmeasurementfields {
	display: grid;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#dcmeasurementfieldvalue{
	display: grid;
	width: 40%;
	margin: 0px;
	grid-template-columns: 50% 50% ;
}

#dcmeasurementfieldmath{
	display: grid;
	width: 60%;
	margin: 0px;
	grid-template-columns: 20% 40% 40%;
}

#dcdamagefield {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 15% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
}

#dckeywordfield {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 45% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
}

#dcdefensefield {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 25% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
}

#dc-add {
	display: grid;
	width: 100%;
	margin: 2%;
	margin-top: 0px;
	grid-template-columns: 83% auto 5%;
	grid-template-rows: auto;
}

#dc-table-container {
	display: grid;
	margin: 1%;
	height: auto;
	width: auto;
	grid-template-columns: 10% 15% auto 15% 10% 10%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	border-radius: 5px;
	padding-bottom: 2%;
	margin-bottom: 3%;

}

#dc-table-title-dc {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-title-keyword {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-title-description {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-title-measurement {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-title-damage {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-title-defense {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
}

#dc-table-col {
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 80%;
	margin: 4px;
	padding: 2px;
}