#dc-levels {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#dc-rows {
	display: grid;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}
#dc-field {
	display: grid;
	width: 100%;
	margin: 2%;
	margin-bottom: 0px;
	grid-template-columns: 15% 85%;
	grid-template-rows: auto;
	border-bottom: 2px solid lightblue;
}

#dc-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 15% 75;
	grid-template-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-fields {
	display: grid;
	width: 97%;
	margin: 2%;
	margin-top: 0%;
	margin-bottom: 3%;
	grid-template-columns: 20% 20% 16% 22% 22%;
	grid-template-rows: auto;
	border-bottom: 2px solid lightblue;
}
  

#dc-field-title {
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	padding: 0px;
	vertical-align: top;
	display: table-cell;
}

#dc-value {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#dc-math {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: 25% 25% 25% auto;
	grid-auto-columns: auto;
}

#dc-class {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-attr-title {
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	padding: 0px;
}

#dc-measure-field {
	display: grid;
	width: 100%;
	margin-left: 2%;
	grid-template-columns: 20% 15% 65%;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-measure-fields {
	display: grid;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-measure-value{
	display: grid;
	width: 40%;
	margin: 0px;
	grid-template-columns: 50% 50%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-measure-math{
	display: grid;
	width: 60%;
	margin: 0px;
	grid-template-columns: 20% 40% 40%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-damage-field {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 15% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-keyword-field {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 45% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-defense-field {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 25% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-condition-field {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 7% 20% 5% 20% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-action-field {
	display: grid;
	width: 100%;
	margin-top: 1%;
	margin-left: 2%;
	grid-template-columns: 20% 20% auto;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-add {
	display: grid;
	width: 100%;
	margin: 2%;
	margin-top: 0px;
	grid-template-columns: 83% auto 5%;
	grid-template-rows: auto;
}

#dc-table-container {
	display: grid;
	margin: 1%;
	height: auto;
	width: auto;
	grid-template-columns: 7% auto auto auto auto auto auto auto 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	border-radius: 5px;
	padding-bottom: 2%;
	margin-bottom: 3%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-table-title-dc {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-key {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-des {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-mea {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-dam {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-def {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-con {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: block;
}

#dc-table-title-act {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	border-bottom: 1px solid lightblue;
	margin: 4px;
	display: black;
}

.dc-table-dc {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-key {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-des {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-mea {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-dam {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-def {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-con {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-act {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.dc-table-delete {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	margin: 4px;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#dc-table-col {
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 80%;
	margin: 4px;
	padding: 2px;
}