#degrees_mod {
	display: grid;
	width: 100%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	margin-bottom: 2vw;
}

#deg-mod-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 80% 20%;
	grid-template-rows: auto;
}


#deg-mod-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 160%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#deg-mod-condition-text {
	font-family: Comic, 'Monda', Verdana;
	font-size: 110%;
	text-align: center;
	color: #245681;
}

#deg-mod-base-form {
	opacity: 0%; 
	transition: all .3s ease-out; 
	margin-bottom: .3vw; 
}

#deg-mod-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 10% 15% 65% 10% ;
	grid-template-rows: auto auto auto;
	grid-template-areas: "degree type effect effect"
							"nullify nullify description blank"
							"keyword keyword description button";
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#deg-mod-entry-title {
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#deg-mod-deg {
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-type {
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-nullify {
	grid-area: nullify;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-keyword {
	grid-area: keyword;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-description {
	grid-area: description;
	width: 95%;
	height: auto;
	padding: 4px;
}

#deg-mod-description textarea {
	width: 98%;
	height: 80%;
	font-size: 90%;
	padding: 2%;
}

#deg-mod-blank {
	grid-area: blank;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-effect {
	display: grid;
	grid-area: effect;
	width: 100%;
	height: auto;
	padding: 4px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#deg-mod-measure {
	display: grid;
	width: auto;
	height: auto;
	grid-template-columns: 25% 75%;
	grid-auto-rows: auto;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-damage {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 25% 75%;
	grid-auto-rows: auto;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-condition {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 9% 30% 7% 30% auto;
	font-family: 'Monda', Verdana;
	font-size: 90%;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-measure-math {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 15% 30% 30% 25%;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-measure-value {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 30% 70%;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-damage-math {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 20% 20% 20% 20% 20%;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-damage-value {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 25% 25% auto;
	opacity: 0%;
	transition: opacity .2s ease-out;
}

#deg-mod-add {
	grid-area: button;
	width: 100%;
	padding: 3px;
}

#deg-mod-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 10% 20% 12% 38% 15% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
}

#deg-mod-table-title {
	border-bottom: 1px solid lightblue;
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 95%;
	color: #245681;
	margin-bottom: 4px;
}

.deg-mod-table-deg {
	font-family: 'Monda', Verdana;
	font-size: 75%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-table-effect {
	font-family: 'Monda', Verdana;
	font-size: 55%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-table-key {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-table-desc {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-table-null {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-table-delete {
	font-family: 'Monda', Verdana;
	font-size: 65%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#deg-mod-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.deg-mod-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}

.deg-mod-xbox {
	display: flex;
	height: 1.4vw;
	width: 90%;
	align-items: center;
	text-align: center;
	color: #245681;
	border: none;
	background-color: white;
	transition: all .2s linear;
	cursor: pointer;
}

.deg-mod-xbox:hover {
	color: #af0101;
}

.deg-mod-xbox::before {
	font-family: 'FontAwesome';
	font-size: 1.3vw;
	content: '\f056';
	display: inline-block;
}