#degrees_mod {
	display: grid;
	width: 100%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#deg-mod-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 80% 20%;
	grid-template-rows: auto;
}


#deg-mod-title {
	margin: 0px;
	font-family: 'Monda', Verdana;
	font-size: 130%;
	color: #245681;
	padding: 0px;
}

#deg-mod-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 10% 15% 65% 10% ;
	grid-template-rows: auto auto auto;
	grid-template-areas: "degree type effect effect"
							"nullify nullify description blank"
							"keyword keyword description button";
}

#deg-mod-entry-title {
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#deg-mod-deg {
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-type {
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-nullify {
	grid-area: nullify;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-keyword {
	grid-area: keyword;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-description {
	grid-area: description;
	width: 95%;
	height: auto;
	padding: 4px;
}

#deg-mod-blank {
	grid-area: blank;
	width: 85%;
	height: auto;
	padding: 4px;
}

#deg-mod-effect {
	display: grid;
	grid-area: effect;
	width: 100%;
	height: auto;
	padding: 4px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}


#deg-mod-measure {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 25% 75%;
	grid-auto-rows: auto;
}

#deg-mod-damage {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 25% 75%;
	grid-auto-rows: auto;
}

#deg-mod-measure-math {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 15% 30% 30% 25%;
}

#deg-mod-measure-value {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 30% 70%;
}

#deg-mod-damage-math {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

#deg-mod-damage-value {
	display: grid;
	width: 100%;
	height: auto;
	grid-template-columns: 25% 75%;
}

#deg-mod-add {
	grid-area: button;
	width: 100%;
	padding: 3px;
}

#deg-mod-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 10% 20% 20% 40% 10%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
}

#deg-mod-table-title {
	border-bottom: 1px solid lightblue;
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#deg-mod-table-deg {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
}

#deg-mod-table-effect {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
}

#deg-mod-table-keyword {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
}

#deg-mod-table-desc {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
}

#deg-mod-table-nullify {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
}