#degrees {
	display: grid;
	width: 100%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	margin-bottom: 20px;
}

#degree-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 60% 40%;
	grid-template-rows: auto;
}

#degree-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 160%;
	color: #245681;
	padding: 0px;
}

#degree-base-form {
	display: grid;
	width: 100%;
	grid-template-columns: 65% 5% 30%;
	grid-template-rows: auto;
	opacity: 0%;
	margin-bottom: .2vw;
}

#degree-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 15% 20% 65%;
	grid-template-rows: auto auto auto;
	grid-template-areas: "value_title keyword_title description-title"
							"value keyword description"
							"button button description";
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#degree-value-title {
	grid-area: value_title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#degree-keyword-title {
	grid-area: keyword_title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#degree-description-title {
	grid-area: description-title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#degree-value-field {
	grid-area: value;
	width: 85%;
	height: auto;
	padding: 4px;
}

#degree-keyword-field {
	grid-area: keyword;
	width: 85%;
	height: auto;
	padding: 4px;
}

#degree-keyword-field input[type="text"] {
	height: 1vw;
	font-size: 100%;
	width: 90%;
}

#degree-description-field {
	grid-area: description;
	width:95%;
	height: auto;
	padding: 4px;
}

.degree-btn {
	display: table-cell;
	width: 12vw;
	vertical-align: middle;
	text-align: center;
	height: 2vw;
	padding: .3vw;
	background-color: #af0101;
	cursor: crosshair;
	margin: 3px;
	justify-content: center;
	font-family: 'Monda', Verdana;
	text-decoration: none;
	font-size: 110%;
	color: white;
	outline: 2px solid white;
	outline-offset: -4px;
	transition: all .2s ease-out;
}

.degree-btn:hover {
	background-color: lightblue;
	color: black;
	outline: 2px solid black;
	outline-offset: -2px;
}

.degree-btn::before {
	font-family: 'FontAwesome';
	content: '\f067';
	display: inline-block;
}

#degree-description-field textarea {
	width: 100%; 
	height: 4vw;
	font-size: 90%; 
	padding: 2%;
}

#degree-add {
	grid-area: button;
	width: 100%;
	padding: 3px;

}

#degree-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 15% 23% 57% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#degree-table-title {
	border-bottom: 1px solid lightblue;
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

.degree-table-deg {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.degree-table-key {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.degree-table-desc {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.degree-table-delete {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#degree-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}


.degree-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.degree-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}

.degree-xbox {
	display: flex;
	height: 1.4vw;
	width: 90%;
	align-items: center;
	text-align: center;
	color: #245681;
	border: none;
	background-color: white;
	transition: all .3s linear;
	cursor: pointer;
}

.degree-xbox:hover {
	color: #af0101;
}

.degree-xbox::before {
	font-family: 'FontAwesome';
	font-size: 1.3vw;
	content: '\f056';
	display: inline-block;
}