#other {
	display: grid;
	width: 100%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	margin-bottom: 20px;
}

#other-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}


#other-title {
	margin: 0px;
	font-family: 'Monda', Verdana;
	font-size: 160%;
	color: #245681;
	padding: 0px;
}

#other-entry {
	display: grid;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 25% 60% 15%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#other-entry-title {
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#other-field {
	width: 85%;
	height: auto;
	padding: 4px;
}

#other-add {
	width: 100%;
	padding: 3px;

}

#other-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 20% 75% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#other-table-title {
	border-bottom: 1px solid lightblue;
	width: 95%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

.other-table-skill {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.other-table-examples {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.other-table-delete {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.other-xbox {
	background-color: none;
	border: none;
	transition: all .2s ease-out;
}

.other-xbox:hover {
	border: 1px solid lightblue;
}

#other-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.other-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.other-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}