<div id="login">
	<div id="login-banner">
		<img src="/static/img/login.png" width="100%">
	</div>

	<div class="login-field">
		<div>
			Username:
		</div>

		<div>
			<input type="text" id="username" name="username">
		</div>
	</div>

	
	<div class="login-field">
		<div>
			Password:
		</div>

		<div>
			<input type="text" id="password" name="password">
		</div>
	</div>

	<div id="login-btn">
		<div></div>

		<div>
			<div class="login" onclick="signin()">
				Login
			</div>
		</div>
	</div>
</div>