#ranks {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranks-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 65% 35%;
	grid-template-rows: auto;
}

#ranks-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#ranks-entry {
	display: grid;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
}

#ranks-row1  {
	display: grid;
	grid-template-columns: 15% 25% 60%;
	gap: 2px;
}

#ranks-row2 {
	display: grid;
	gap: 2px;
	font-size: 85%;
	grid-template-columns: 6% 13% 13% 14% 12% 20% 16% 5%;
}

#ranks-row3 {
	display: grid;
	grid-template-columns: 80% 20%;
}

#ranks-distance {
	display: grid;
	grid-template-columns: 20% 80%;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranks-distance input[type="text"] {
	height:.8vw;
	font-size: 80%;
	width: 80%;
}

#ranks-distance-values {
	display: grid;
	grid-template-columns: 15% 15% 25% 25% 20%;
	opacity: 0%;
	transition: all .4s ease-out;
}

#ranks-distance-factor {
	opacity: 0%;
	transition: all .4s ease-out;
}


#ranks-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}