<div class="modal" id="about">
	<div class="modal-content">

		<div class="close-div">
			 <div id="about_close" class="close" onclick="about_close()"></div>
		</div>
	
		<div class="about-row">
			<img src="/static/img/about.png" width="80%">
		</div>
	
		<div class="divide-sml"></div>
	
		<div class="about-row">
			<div id="about-book">
				<img src="/static/img/book.jpg" width="100%">
			</div>
		</div>
	
		<div class="divide-md"></div>
	
		<div class="about-row">
			<div id="about-content">
				<p>
					DC Adventures Online is based on the tabletop roleplaying game DC Adventures, by Dteve Kenson, 
					published by Green Ronin Publishing. DC Adventures itself is based on the rule system of the 
					superhero roleplaying game Mutants and Masterminds.
				</p>
	
				<p>
					I've always loved roleplaying games.  The idea of creating worlds, filling them with characters and
					then playing out stories appealed to me from a young age.  When I first discovered the internet, 
					I immediately saw the potential for taking the games I would play around the table with my friends
					online.  I built a few community driven story based games that were a lot of fun but I always wanted 
					to do more than just tell stories.  I wanted something that had all the complexity of a game like 
					Dungeons and Dragons but without all thhe page flipping, handwriting and rule checking.
				</p>
	
				<p>
					Recently I took some courses on web development and I finally aquired the skills needed to create what 
					I always wanted--an online roleplaying game with a complicated rule system that becomes easy when taken 
					from the tabletop to the internet.  With DC Adventures Online, I'm creating a game in which you can do 
					anything you imagine a superhero can do and let my code do the majority of the work f0r you.  I'm taking
					 all the rules from the 300 page DC Adventures rulebook am writing the code to make the entire 
					game playable online. Anything you can do around the table can be done here.
				</p>
	
				<p>
					My goal for this project is to take a game with a 300 page rulebook and create an app that lets 
					you learn the whole game by reading a few webpages.  I'm trying to automate as much as possible, so 
					instead of the gsmemaster having to be the one who knows every complexity of the game, the gamemaster 
					just has to be the one who runs the story and makea decisions while the app takes care of all the rules.
				</p>
			</div>
		</div>
	</div>
</div>