<div class="modal" id="signup">
	<div class="modal-content">

		<div class="close-div">
			 <div id="signup_close" class="close" onclick="signup_close()"></div>
		</div>
	
		<div id="signup-banner">
			<img src="/static/img/signup.png" width="90%">
		</div>
	
		<div class="divide-med"></div>
		
		<div class="modal-row">
			<div class="box-center">
				<div class="construct-icon huge-icon"></div>
			</div>
		</div>
	
		<div class="divide-med"></div>
	
		<div class="modal-row">
			<div id="signup-words">
				DC Adventures Online is Not Live Yet
			</div>
		</div>
	</div>
</div>