#move-header {
	grid-template-columns: 70% 30%;
}

#move-base {
	grid-template-columns: 100%;
}

#move-entry input[type="text"] {
	height: 1.1vw;
	padding: .1vw;
}

#move-row1 {
	display: grid;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 15% 85%;
	grid-auto-rows: auto;
}

#move-speed-description {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
	grid-template-columns: 15% 85%;
	height: 1.6vw;
	gap: .3vw;
}

#move-row2 {
	display: grid;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 15% 85%;
	grid-auto-rows: auto;
}

#move-distance-description {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
	grid-template-columns: 15% 85%;
	height: 1.6vw;
	gap: .3vw;
}

#move-row3 {
	display: grid;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-auto-rows: auto;
}

#move-speed-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-speed-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 20% 24% 13% 15% 13% 15%;
	grid-auto-rows: auto;
}

#move-distance-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-distance-unit {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-distance-unit-math {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 15% 22% 13% 12% 13% 12% 13%;
	grid-auto-rows: auto;
}

#move-distance-rank-math {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 20% 24% 13% 15% 13% 15%;
	grid-auto-rows: auto;
}

#move-button-row {
	display: grid;
	grid-template-columns: 80% 20%;
	width: 97%;
	grid-template-rows: auto;
}
