#time-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 80% 20%;
	grid-template-rows: auto;
}

.time-sml {
	height: 1.6vw; 
	padding: .1vw;  
	font-size: 80%;
}

#time-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#time-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#time-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#time-entry input[type="text"] {
	height: 1.2vw;
	width: 95%;
	font-size: 85%;
	padding: .1vw;
}

#time-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 12% 68%;
	grid-auto-rows: auto;
}

#time-value {
	display: none;
	opacity: 0%;
	grid-template-columns: 40% 60%;
	transition: all .3s ease-in;
}

#time-math {
	display: none;
	opacity: 0%;
	grid-template-columns: 20% 30% 17% 17% 16%;
	transition: all .3s ease-in;
}

#time-rank {
	display: none;
	opacity: 0%;
	grid-template-columns: 25% 17% 16% 25% 17%;
	transition: all .3s ease-in;
}

#time-turns {
	display: none;
	opacity: 0%;
	grid-template-columns: 20%;
	transition: all .3s ease-in;
}

#time-mod {
	display: none;
	opacity: 0%;
	grid-template-columns: 25% 25% 16% 25% 17%;
	transition: all .3s ease-in;
}

#time-row2 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: auto auto auto;
	grid-auto-rows: auto;
}

#time-button-row {
	display: grid;
	grid-template-columns: 65% 20% 15%;
	width: 98%;
}

#time-button-row input[type="text"] {
	height: 1.8vw;
	padding: .1vw;
	font-size: 95%;
	width: 89%;
}

#time-recovery {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
	grid-template-columns: 40% 20% 40%;
	gap: .2vw;
}

