 
#about-grid {
	display: grid;
	grid-auto-rows: auto;
	gap: 5px;
}

.about-row {
	display: flex;
	width: 100%;
	height: fit-content;
	align-self: center;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#about-book {
	display: flexbox;
	align-self: center;
	border: 1px solid #af0101;
	padding: 3%;
	width: 35%;
}

#about-content {
	display: flexbox;
	align-self: center;
	border: 1px solid #af0101;
	width: 70%;
	padding: 5%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
}



