 
#signup {
	display: none;
}

#signup-words {
	display: flexbox;
	align-self: center;
	border: 1px solid #af0101;
	width: 60%;
	padding: 5%;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #af0101;
	text-align: center;
}


