 
#login-grid {
	display: grid;
	grid-auto-rows: auto;
}

#login-btn {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}


#login-banner {
	display: flex;
	width: 80%;
	height: fit-content;
	align-self: center;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vh;
}

.login-field {
	display: grid;
	font-size: 180%;
	font-family: Comic;
	grid-template-columns: 25% 75%;
	text-align: left;
	border: 2px solid #af0101;
	padding: 1vw;
}
