 
#login {
	display: none;
}

#login-btn {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}


#login-banner {
	display: flex;
	width: 100%;
	height: fit-content;
	align-self: center;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-bottom: 10vh;
}

.login-field {
	width: 70%;
	display: grid;
	color: #af0101;
	margin-left: 10%;
	font-size: 200%;
	font-family: Comic;
	grid-template-columns: 30% 70%;
	text-align: left;
	border: 2px solid #af0101;
	padding: 1vw;
	margin-bottom: 10px;
}

.login-fields {
	display: flex;
	width: 100%;
	align-items: center;
}
