
<div id="skill-desc">
	<div id="skill-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div class="skill-box">

	<div id="skill-base">

		<div class="base-field">

			<div id="multiple-attr-title">
				Parent Ability
			</div>

			<div class="base-icon">
				<div>
					<select class="base-select" id="ability" name="ability" onchange="ability()">
						<option value="">Ability</option>
						<option value="x">Variable</option>
						{% for a in abilities %}
							<option value={{a.id}}>{{a.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<div id="ability-icon"></div>
				</div>
			</div>
		</div>

		<div class="base-field">

			<div id="multiple-attr-title">
				Parent Skill
			</div>

			<div class="base-icon">
				<div>
					<select class="base-select" id="skill" name="skill" onchange="skill()">
						<option value="">Skill</option>
						{% for s in skills %}
							<option value={{s.id}}>{{s.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div id="skill-icon"></div>
				</div>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Check Type
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="check" name="check" onchange="check_type()">
					<option value="">Check</option>
					<option value="x">Variable</option>
					{% for c in checks %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Action Type
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="action" name="action">
					<option value="">Action</option>
					<option value="x">Variable</option>
					{% for a in actions %}
						<option value={{a.id}}>{{a.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Skill Type
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="skill_type" name="skill_type">
					<option value="">Skill Type</option>
					{% for s in skill_type %}
						<option value={{s.id}}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Skill Type
			</div>

			<div style="width: 70%;">
				<select class="base-select" id="skill_check" name="skill_check">
					{% for s in skill_check %}
						<option value={{s.type}}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="base-field">
			<div id="multiple-attr-title">
				Difficulty Class:
			</div>
		
			<div class="base-split" id="skill-dc-field">
				<div>
					<select class="base-select" id="skill_dc_type" name="skill_dc_type" onchange="skill_dc_type(); skill_dc_table()">
						{% for d in dc_type %}
							<option value={{d.type}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="base-hidden" id="skill-dc-value">
						<select class="base-select" id="skill_dc_value" name="skill_dc_mod" >
							<option value=>DC</option>
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="base-hidden" id="skill-dc-mod">
						<select class="base-select" id="skill_dc_mod" name="skill_dc_mod">
							<option value="">Modifier</option>
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>					
				</div>
			</div>
		</div>

		

		<div class="base-field">
			<div id="multiple-attr-title">
				Effect Target
			</div>

			<div class="base-split">
				<div>
					<select class="base-select" id="target" name="target">
						{% for t in targets %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
						<option value="any">Any</option>
					</select>
				</div>

				<div style="width: 75%;">
					<select class="base-select" id="targets" name="targets">
						<option value="">Targets</option>
						<option value="skill">This Rank</option>
						<option value="parent">Parent Rank</option>
						<option value="unlimited">Unlimited</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>	
		<div class="base-field">
			<div id="multiple-attr-title">
				Movement
			</div>

			<div class="base-three">
				<div>
					<select class="base-select" id="speed_type" name="speed_type" onchange="speed_type()">
						{% for v in value_mod %}
							<option value="{{v.type}}">{{v.name}}</option>
						{% endfor %}
					</select>
				</div>
		
				<div>
					<select class="base-select" id="speed_turns" name="speed_turns">
						<option value="">Turns</option>
						<option value="round">Round</option>
						<option value="scene">Scene</option>
						<option value="perm">Permanent</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="base-select" id="speed_direction" name="speed_direction">
						{% for d in direction %}
							<option value="{{d.type}}">{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="base-shrink" style="width: 70%;" id="base-speed-mod">
				<select class="base-select" id="speed_mod" name="speed_mod">
					<option value="">Speed Rank Modifier</option>
					<option value="skill">This Rank</option>
					<option value="parent">Parent Rank</option>
					{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="base-shrink" style="width: 50%;" id="base-speed-value">
				<select class="base-select" id="speed_value" name="speed_value">
					<option value="">Speed Rank</option>
					<option value="skill">This Rank</option>
					<option value="parent">Parent Rank</option>
					{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Active Condition
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="condition" name="condition">
					<option value="">Condition</option>
					{% for c in conditions %}
						<option value="{{c.id}}">{{c.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Attack Bonus
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="attack" name="attack">
					<option value="">Bonus</option>
					<option value="skill">This Rank</option>
					{% for i in positives %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		

		<div class="base-field">
			<div id="multiple-attr-title">
				Requires Advantage
			</div>

			<div style="width: 65%;">
				<select class="base-select" id="advantage" name="advantage">
					<option value="">Advantage</option>
					{% for a in advantages %}
						<option value="{{a.id}}">{{a.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Concealment
			</div>

			<div class="base-split">
				<div>
					<select class="base-select" id="concealment_type" name="concealment_type">
						<option value="">Type</option>
						{% for c in concealment_type %}
						<option value="{{c.type}}">{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div>
					<select class="base-select" id="concealment" name="concealment">
						<option value="">Concealment</option>
						{% for c in concealment %}
							<option value="{{c.id}}">{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div class="base-field">
			<div id="multiple-attr-title">
				Applies to Weapon
			</div>

			<div class="base-3">
				
				<div class="base-3">
					<div>
						<input type="checkbox" id="for_weapon" class="regular-checkbox big-checkbox" onclick="for_weapon()">	
					</div>
				</div>

				<div class="base-fade" id="base-weapon-cat" >
					<select class="base-select" id="base_weapon_cat" name="base_weapon_cat" onchange="base_weapon_cat()">
						<option value="">Weapon Category</option>
						{% for w in weapon_cat %}
							<option value="{{w.id}}">{{w.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>

			<div class="base-split base-shrink" id="base-weapon">
				<div>
					<select class="base-select" id="base_weapon_type" name="base_weapon_type" onchange="base_weapon_type()">
						<option value="">Weapon Type</option>
					</select>
				</div>

				<div>
					<select class="base-select" id="base_weapon" name="base_weapon">
						<option value="">Weapon</option>
					</select>
				</div>
			</div>
		</div>

		

		<div class="base-field">
			<div id="multiple-attr-title">
				Can be Used Untrained
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="untrained" class="regular-checkbox big-checkbox">	
				</div>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Requires Tools
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="tools" class="regular-checkbox big-checkbox" onclick="required_tools()">	
				</div>

				<div class="base-fade" id="required-tools">
					<select class="base-select" id="required_tools" name="required_tools">
						{% for r in required_tools %}
							<option value="{{r.type}}">{{r.name}}</option>
						{% endfor %}
					</select>
				</div> 
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Subskill
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="subskill" class="regular-checkbox big-checkbox">	
				</div>
			</div>
		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title">
				Check Determines DC
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="check_dc" class="regular-checkbox big-checkbox">	
				</div>
			</div>
		</div>
		
		
		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				GM Secret Check
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="secret" class="regular-checkbox big-checkbox" onclick="secret()"> 	
				</div>

				<div class="base-fade" id="secret-frequency">
					<select class="base-select" id="secret_frequency" name="secret_frequency">
						{% for f in frequency %}
							<option value="{{f.type}}">{{f.name}}</option>
						{% endfor %}
					</select>
 				</div>
			</div>

			<div class="base-shrink base-split" id="secret-trait">
				<div>
					<select class="base-select" id="secret_trait_type" name="secret_trait_type" onchange="secret_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>	
				</div>

				<div>
					<select class="base-select" id="secret_trait" name="secret_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>

		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				Used on Opponents Turn
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="opponent_turn" class="regular-checkbox big-checkbox" onclick="opponent_turn()"> 	
				</div>

				<div class="base-fade base-split" id="opponent-turn">
					<div>
						<select class="base-select" id="opponent_turn_check" name="opponent_turn_check">
							{% for c in checks %}
								<option value="{{c.id}}">{{c.name}}</option>
							{% endfor %}
						</select>	
					</div>

					<div>
						<select class="base-select" id="opponent_turn_when" name="opponent_turn_when">
							{% for w in when %}
								<option value="{{w.type}}">{{w.name}}</option>
							{% endfor %}
						</select>
					</div>
 				</div>
			</div>

		</div>

		
		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				Uses Object
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="object" class="regular-checkbox big-checkbox" > 	
				</div>

				<div class="base-fade base-split">
					
 				</div>
			</div>

		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				Requires Vehicle
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="vehicle" class="regular-checkbox big-checkbox" > 	
				</div>

				<div class="base-fade base-split">
					
 				</div>
			</div>

		</div>

		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				GM Sets Circumstance
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="gm_circ" class="regular-checkbox big-checkbox" onclick="gm_circ()"> 	
				</div>

				<div class="base-fade" id="gm-circ">
					<div class="base-split">
						<div>
							<select class="base-select" id="gm_circ_type" name="gm_circ_type">
								{% for g in gm_circ %}
									<option value="{{g.type}}">{{g.name}}</option>
								{% endfor %}
							</select>
						</div>

						<div>
							<select class="base-select" id="gm_circ_value" name="gm_circ_value">
								<option value="">Modifier</option>
								<option value="gm">GM Decides</option>
								{% for i in negatives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
								{% for i in positives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
							</select>
						</div>

					</div>
 				</div>
			</div>

		</div>
		
		<div class="base-field">
			<div id="multiple-attr-title" style="font-size: 150%;">
				Involves Partner
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="partner" class="regular-checkbox big-checkbox" onclick="partner()"> 	
				</div>

				<div class="base-fade base-split" id="base-partner">
					<div>
						<select class="base-select" id="partner_type" name="partner_type" onchange="partner_type()">
							{% for p in partner %}
								<option value="{{p.type}}">{{p.name}}</option>
							{% endfor %}
						</select>	
					</div>
 				</div>
			</div>

			<div class="base-shrink base-split" id="partner-trait">
				<div>
					<select class="base-select" id="partner_trait_type" name="partner_trait_type" onchange="partner_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="base-select" id="partner_trait" name="partner_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>

			<div class="base-shrink base-split" id="partner-tools">
				<div>
					<select class="base-select" id="partner_tools" name="partner_tools">
						{% for t in tools %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
				
			<div class="base-shrink base-split" id="partner-materials">
				<div>
					<select class="base-select" id="partner_materials" name="partner_materials">
						{% for m in materials %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="base-shrink base-split" id="partner-equip">
				<div>
					<select class="base-select" id="partner_equip_type" name="partner_equip_type" onchange="partner_equip_type()">
						<option value="">Equipment Type</option>
						{% for e in equip_type %}
							<option value="{{e.id}}">{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="base-select" id="partner_equip" name="partner_equip">
						<option value="">Equipment</option>
					</select>
				</div>
			</div>
						
			<div class="base-shrink base-split" id="partner-feature">
				<div>
					<select class="base-select" id="partner_feature" name="partner_feature">
						<option value="">Feature</option>
						{% for f in features %}
							<option value="{{f.id}}">{{f.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>


		</div>

	</div>

</div>