<div id="dc-header">

	<div id="dc-title">
		<input type="checkbox" id="dc_check" class="regular-checkbox big-checkbox" onclick="dc_check()"> DC Table:
	</div>
	
	<div id="dc-base">
		<select class="select-entry" id="dc_target" name="dc_target">
			{% for t in targets %}
				<option value="{{t.type}}">{{t.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="dc-entry">
	<div id="dc-row1">

		<div>
			DC:
		</div>

		<div>
			Description of Action:
		</div>

		<div>
			<select class="entry-select" id="dc_dc" name="dc_dc" onchange="dc_dc()">
				<option value="">DC</option>
				{% for d in dc_value %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="dc_description" name="dc_description">
		</div>

	</div>

	<div id="dc-value">
		<div>
			<select class="select-sml" id="dc_value_value" name="dc_value_value">
				<option value="">DC</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

		</div>
	</div>

	<div id="dc-mod">
		<div>
			<select class="select-sml" id="dc_mod" name="dc_mod">
				<option value="">Modifier to DC</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

		</div>
	</div>

	<div id="dc-math">
		<div>
			<select class="select-sml" id="dc_math_vqlue" name="dc_math_value">
				<option value="">DC</option>
				<option value=0>0</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_math" name="dc_math_math">
				<option value="">Math</option>
				{% for m in maths %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_trait_type" name="dc_math_trait_type" onchange="dc_math_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option> 
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_trait" name="dc_math_trait">
				<option value="">Trait</option>
			</select>
		</div>
		
	</div>

	<div id="dc-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_condition" class="medium-checkbox med-checkbox" onclick="dc_condition()"> Condition
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_keyword_check" class="medium-checkbox med-checkbox" onclick="dc_keyword()"> Keyword
			</div>
		</div>

		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_levels" class="medium-checkbox med-checkbox" onclick="dc_levels()"> Level
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_damage" class="medium-checkbox med-checkbox" onclick="dc_damage()"> Damage
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_cover" class="medium-checkbox med-checkbox" > Requires Cover
			</div>
		</div>

	</div>

	<div id="dc-row3">
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_complex" class="medium-checkbox med-checkbox" onclick="dc_complex()"> Complexity
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_measure" class="medium-checkbox med-checkbox" onclick="dc_measure()"> Measurement
			</div>
		</div>

		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_change_action" class="medium-checkbox med-checkbox" onclick="dc_change_action()"> Action Change
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_conceal" class="medium-checkbox med-checkbox" > Requires Concealment
			</div>
		</div>
	</div>

	<div id="dc-action">
		<div>
			Change Action Type:
		</div>

		<div>
			<select class="select-sml" id="dc_action" name="dc_action">
				<option value="">Changed Action</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_action_when" name="dc_action_when">
				{% for c in check_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-damage">
		<div>
			Damage:
		</div>
	
		<div>
			<select class="select-sml" id="dc_damage_type" name="dc_damage_type" onchange="dc_damage_type()">
				{% for d in damage_type %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>	
		</div>
		
		<div>
			<div id="dc-damage-inflict">

				<div>
					<select class="select-sml" id="dc_inflict_type" name="dc_inflict_type" onchange="dc_inflict_type()">
						{% for i in inflict %}
							<option value="{{i.type}}">{{i.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div id="dc-damage-inflict-flat">
						<div>
							<select class="select-sml" id="dc_inflict_flat" name="dc_inflict_flat">
								<option value="">Degrees</option>
								{% for i in positives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div id="dc-damage-inflict-math">
						<div>
							<select class="select-sml" id="dc_inflict_trait_type" name="dc_inflict_trait_type" onchange="dc_inflict_trait_type()">
								{% for t in traits %}
									<option value="{{t.type}}">{{t.name}}</option>
								{% endfor %}
							</select>
						</div>

						<div>
							<select class="select-sml" id="dc_inflict_trait" name="dc_inflict_trait">
								<option value="">Trait</option>
							</select>
						 </div>
					 
						 <div>
							 <select class="select-sml" id="dc_inflict_math" name="dc_inflict_math">
								 <option value="">Math</option>
								 {% for m in maths %}
									<option value={{m.id}}>{{m.name}}</option>
								 {% endfor %}
							 </select>
					 	</div>

						 <div>
							 <select class="select-sml" id="dc_inflict_mod" name="dc_inflict_mod">
								 <option value="">Modifier</option>
								 {% for i in positives %}
									<option value={{i}}>{{i}}</option>
								 {% endfor %}
							 </select>
						 </div>

					</div>
				
					<div id="dc-damage-inflict-bonus">
						<div>
							<select class="select-sml" id="dc_inflict_bonus" name="dc_inflict_bonus">
								<option value="">Bonus</option>
								{% for i in positives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>

			<div id="dc-damage-reduce">
				<div>
					<select class="select-sml" id="dc_damage_mod" name="dc_damage_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_damage_consequence" name="dc_damage_consequence">
						<option value="">Consequence</option>
						{% for c in consequences %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
	</div>

	<div id="dc-measure">

		<div>
			Measurement
		</div>

		<div>
			<select class="select-sml" id="dc_measure_effect" name="dc_measure_effect" onchange="dc_measure_effect()">
				{% for m in measure_effect %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="dc-measure-rank">

				<div>
					<select class="select-sml" id="dc_measure_rank_value" name="dc_measure_rank_value">
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_rank" name="dc_measure_rank">
						{% for m in measure_rank %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="dc-measure-unit">
				<div>
					<input type="text" id="dc_unit_value" name="dc_unit_value" placeholder="Value">
				</div>

				<div>
					<select class="select-sml" id="dc_unit_type" name="dc_unit_type" onchange="dc_unit_type()">
						<option value="">Unit Type</option>
						{% for u in unit_type %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_unit" name="dc_unit">
						<option value="">Units</option>
					</select>
				</div>
			</div>
			
			<div id="dc-measure-skill">
				<div>
					<select class="select-sml" id="dc_measure_trait_type" name="dc_measure_trait_type" onchange="dc_measure_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait" name="dc_measure_trait">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait_math" name="dc_measure_trait_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_mod" name="dc_measure_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_math_rank" name="dc_measure_math_rank">
						<option value="">Rank</option>
						{% for m in measure_rank %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select> 
				</div>
			</div>

		</div>

	</div>

	<div id="dc-levels">
		<div>
			Level:
		</div>

		<div>
			<select class="level-type-sml" id="dc_level_type" name="dc_level_type" onchange="dc_level_type()">
				<option value="">Level Type</option>
				{% for l in level_types %}
					<option value={{l.id}}>{{l.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="levels-sml" id="dc_level" name="dc_level">
				<option value="">Level</option>
				<option value="">Use Levels form to put levels here</option>
			</select>
		</div>
	</div>

	<div id="dc-condition">

		<div>
			Condition:
		</div>

		<div>
			From:
		</div>

		<div>
			<select class="select-sml" id="dc_condition1" name="dc_condition1">
				<option value="">Starting Condition</option>
				<option value="current">Current</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			To:
		</div>

		<div>
			<select class="select-sml" id="dc_condition2" name="dc_condition2">
				<option value="">Ending Condition</option>
				<option value="any">Any</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-sml" id="dc_condition_turns" name="dc_condition_turns">
				<option value="">Turns</option>
				<option value="round">Round</option>
				<option value="scene">Scene</option>
				<option value="perm">Permanent</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-keyword">

		<div>
			Keyword:
		</div>

		<div>
			<input type="text" id="dc_keyword" name="dc_keyword">
		</div>

		<div></div>
	</div>

	<div id="dc-complexity">
		<div>
			Complexity:
		</div>

		<div>
			<select class="select-sml" id="dc_complexity" name="dc_complexity">
				<option value="">Complexity</option>
				{% for c in complexity %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-button-row">
		<div></div>

		<div>
			<div class="btn-entry" id="dc_submit" name="dc_submit" onclick="dc_submit()">
				Add
		   </div>
		</div>
	</div>

</div>

<div id="dc-spot"></div>

<div id="dc-err"></div>