<div id="deg-mod-header">

	<div id="deg-mod-title">
		<input type="checkbox" id="deg_mod_check" class="regular-checkbox big-checkbox" onclick="deg_mod_check()">  Degree of Success/Failure (Modifier) Table:
	</div>

	<div id="deg-mod-base-form" >
		<div>
			<select class="header-select" id="deg_mod_target" name="deg_mod_target" onchange="deg_mod_base()">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>
	
	</div>

</div>

<div id="deg-mod-entry" style="display: none;">

<div id="deg-mod-top-row">
	
	<div>
		Degree
	</div>

	<div>
		Effect
	</div>

	<div>
		Result
	</div>

</div>


<div id="deg-mod-row1">

	<div id="deg-mod-deg">
		<select class="select-sml" id="deg_value" name="deg_value" >
			<option value=""></option>
			{% for i in negatives %}
				<option value={{i}}>{{i}}</option>
			{% endfor %}
			{% for i in positives %}
				<option value={{i}}>{{i}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-type">
		<select class="select-sml" id="deg_mod_type" name="deg_mod_type" onchange="deg_mod_type()">
			<option value="">Effect</option>
			{% for type in deg_mod_type %}
				<option value="{{type.type}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-effect">

		<div id="deg-mod-action">
			<div>
				<select class="select-sml" id="deg_mod_action" name="deg_mod_action">
					<option value="">Changed Action</option>
					{% for a in actions %}
						<option value={{a.id}}>{{a.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div id="deg-mod-damage">
		
			<div>
				<select class="select-sml" id="deg_mod_damage_type" name="deg_mod_damage_type" onchange="deg_mod_damage_type()">
					{% for d in damage_type %}
						<option value="{{d.type}}">{{d.name}}</option>
					{% endfor %}
				</select>	
			</div>
			
			<div>
				<div id="deg-mod-damage-inflict">
	
					<div>
						<select class="select-sml" id="deg_mod_inflict_type" name="deg_mod_inflict_type" onchange="deg_mod_inflict_type()">
							{% for i in inflict %}
								<option value="{{i.type}}">{{i.name}}</option>
							{% endfor %}
						</select>
					</div>
	
					<div>
						<div id="deg-mod-damage-inflict-flat">
							<div>
								<select class="select-sml" id="deg_mod_inflict_flat" name="deg_mod_inflict_flat">
									<option value="">Degrees</option>
									{% for i in positives %}
										<option value={{i}}>{{i}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
	
						<div id="deg-mod-damage-inflict-math">
							<div>
								<select class="select-sml" id="deg_mod_inflict_trait_type" name="deg_mod_inflict_trait_type" onchange="deg_mod_inflict_trait_type()">
									{% for t in traits %}
										<option value="{{t.type}}">{{t.name}}</option>
									{% endfor %}
								</select>
							</div>
	
							<div>
								<select class="select-sml" id="deg_mod_inflict_trait" name="deg_mod_inflict_trait">
									<option value="">Trait</option>
								</select>
							 </div>
						 
							 <div>
								 <select class="select-sml" id="deg_mod_inflict_math" name="deg_mod_inflict_math">
									 <option value="">Math</option>
									 {% for m in maths %}
										<option value={{m.id}}>{{m.name}}</option>
									 {% endfor %}
								 </select>
							 </div>
	
							 <div>
								 <select class="select-sml" id="deg_mod_inflict_mod" name="deg_mod_inflict_mod">
									 <option value="">Modifier</option>
									 {% for i in positives %}
										<option value={{i}}>{{i}}</option>
									 {% endfor %}
								 </select>
							 </div>
	
						</div>
					
						<div id="deg-mod-damage-inflict-bonus">
							<div>
								<select class="select-sml" id="deg_mod_inflict_flat" name="deg_mod_inflict_flat">
									<option value="">Bonus</option>
									{% for i in positives %}
										<option value={{i}}>{{i}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
	
				<div id="deg-mod-damage-reduce">
					<div>
						<select class="select-sml" id="deg_mod_damage_mod" name="deg_mod_damage_mod">
							<option value="">Modifier</option>
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>
	
					<div>
						<select class="select-sml" id="deg_mod_damage_consequence" name="deg_mod_damage_consequence">
							<option value="">Consequence</option>
							{% for c in consequences %}
								<option value={{c.id}}>{{c.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		
		</div>
	

		<div id="deg-mod-consequence">
			<div>
				<select class="select-sml" id="deg_mod_consequence_action_type" name="deg_mod_consequence_action_type" onchange="deg_mod_consequence_action_type()">
					{% for a in action_type %}
						<option value="{{a.type}}">{{a.name}}</option>
					{% endfor %}
				</select>			
			</div>

			<div>
				<select class="select-sml" id="deg_mod_consequence_action" name="deg_mod_consequence_action">
					<option value="">Action</option>
				</select>
			</div>

			<div>
				<select class="select-sml" id="deg_mod_consequence_trait_type" name="deg_mod_consequence_trait_type" onchange="deg_mod_consequence_trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor  %}
				</select>
			</div>

			<div>
				<select class="select-sml" id="deg_mod_consequence_trait" name="deg_mod_consequence_trait">
					<option value="">Trait</option>
				</select>
			</div>

			<div>
				<select class="select-sml" id="deg_mod_consequence" name="deg_mod_consequence">
					<option value="">Consequence</option>				
					{% for c in consequences %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

		</div>

		<div id="deg-mod-knowledge">
			<div>
				<select class="select-sml" id="deg_mod_knowledge" name="deg_mod_knowledge" onchange="deg_mod_knowledge()">
					{% for k in knowledge %}
						<option value="{{k.type}}">{{k.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-knowledge-bonus">
					<div>
						<select class="select-sml" id="deg_mod_knowledge_count" name="deg_mod_knowledge_count">
							<option value="">Amount</option>
							<option value="degree">One Per Degree</option>
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_knowledge_specificity" name="deg_mod_knowledge_specificity">
							{% for s in specificity %}
								<option value="{{s.type}}">{{s.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>

		<div id="deg-mod-level">

			<div>
				<select class="level-type-sml" id="deg_mod_level_type" name="deg_mod_level_type" onchange="deg_mod_level_type()">
					<option value="">Level Type</option>
					{% for l in level_types %}
						<option value={{l.id}}>{{l.name}}</option>
					{% endfor %}
				</select> 
			</div>

			<div>
				<select class="select-sml" id="deg_mod_level" name="deg_mod_level">
					<option value="">Level</option>
				</select>
			</div>
		</div>
		
		<div id="deg-mod-circ">

			<div>
				<select class="select-sml circ-sml" id="deg_mod_circumstance" name="deg_mod_circumstance">
					<option value="">Circumstance</option>
					<option value="">Use Circumstance Form to Put Options Here</option>
				</select>
			</div>

		</div>

		<div id="deg-mod-measure" style="display: none;">
				
			<div>
				<select class="select-sml" id="deg_mod_measure_effect" name="deg_mod_measure_effect" onchange="deg_mod_measure_effect()">
					{% for m in measure_effect %}
						<option value="{{m.type}}">{{m.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-measure-rank">

					<div>
						<select class="select-sml" id="deg_mod_measure_rank_value" name="deg_mod_measure_rank_value">
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_measure_rank" name="deg_mod_measure_rank">
							{% for m in measure_rank %}
								<option value={{m.id}}>{{m.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div id="deg-mod-measure-unit">
					<div>
						<input type="text" id="circ_deg_mod_value" name="circ_deg_mod_value" placeholder="Value">
					</div>

					<div>
						<select class="select-sml" id="deg_mod_unit_type" name="deg_mod_unit_type" onchange="deg_mod_unit_type()">
							<option value="">Unit Type</option>
							{% for u in unit_type %}
								<option value={{u.id}}>{{u.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_unit" name="deg_mod_unit">
							<option value="">Units</option>
						</select>
					</div>
				</div>
			
				<div id="deg-mod-measure-skill">
					<div>
						<select class="select-sml" id="deg_mod_measure_trait_type" name="deg_mod_measure_trait_type" onchange="deg_mod_measure_trait_type()">
							{% for t in traits %}
								<option value="{{t.type}}">{{t.name}}</option>
							{% endfor %}
						</select>			
					</div>

					<div>
						<select class="select-sml" id="deg_mod_measure_trait" name="deg_mod_measure_trait">
							<option value="">Trait</option>
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_measure_trait_math" name="deg_mod_measure_trait_math">
							<option value="">Math</option>
							{% for m in maths %}
								<option value={{m.id}}>{{m.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_measure_mod" name="deg_mod_measure_mod">
							<option value="">Modifier</option>
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
								{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>

		<div id="deg-mod-condition" style="display: none;">

			<div>
				<select class="select-sml" id="deg_mod_condition_type" name="deg_mod_condition_type" onchange="deg_mod_condition_type()">
					{% for c in condition_type %}
						<option value="{{c.type}}">{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-condition-damage">

					<div>
						<select class="select-sml" id="deg_mod_condition_damage_value" name="deg_mod_condition_damage_value">
							<option value="">Conditions</option>
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select>
					</div>

					<div style="text-align: center;">
						Conditions
					</div>

					<div>
						<select class="select-sml" id="deg_mod_condition_damage" name="deg_mod_condition_damage">
							{% for u in updown %}
								<option value={{u.id}}>{{u.name}}</option>
							{% endfor %}
						</select>
					</div>

				</div>
			
			
				<div id="deg-mod-conditions">
					<div>
						From: 
					</div>

					<div>
						<select class="select-sml" id="deg_mod_condition1" name="deg_mod_condition1" >
							<option value="">Condition</option>
							<option value="current">Current</option>
							{% for condition in conditions %}
								<option value="{{condition}}">{{condition}}</option>
							{% endfor %}
						</select>
					</div>

					<div id="deg-mod-condition-text" >
						To: 		
					</div>

					<div>
						<select class="select-sml" id="deg_mod_condition2" name="deg_mod_condition2" >
							<option value="">Condition</option>
							<option value="any">Any</option>
							<option value="linked_first">Linked Starting</option>
							<option value="linked_second">Linked Ending</option>
							{% for condition in conditions %}
								<option value="{{condition}}">{{condition}}</option>
							{% endfor %}
						</select>
					</div>

					<div></div>
				</div>
			</div>
		</div>
	</div>

</div>

<div id="deg-mod-row2">

	<div>
		<input type="text" id="deg_mod_keyword" name="deg_mod_keyword" placeholder="Keyword">
	</div>

	<div>
		<select class="select-sml" id="deg_mod_nullify" name="deg_mod_nullify" >
			<option value="">DC to Nullify</option>
			<option value="check">Extra Check</option>
			{% for i in positives %}
				<option value={{i}}>{{i}} DC</option>
			{% endfor %}
		</select>
	</div>

	<div>
		<div class="check-div">
			<input type="checkbox" id="deg_mod_cumulative" class="medium-checkbox med-checkbox"> Cumulative
		</div>
	</div>

	<div>
		<div class="check-div">
			<input type="checkbox" id="deg_mod_linked" class="medium-checkbox med-checkbox"> Linked
		</div>
	</div>

	<div></div>
</div>

<div id="deg-mod-button-row">
	<div>
	</div>

	<div>
		<div class="btn-entry" id="deg_mod_submit" name="deg_mod_submit" onclick="deg_mod_submit()">
			Add
		</div>
	</div>
</div>

</div>

<div id="deg-mod-spot"></div>

<div id="deg-mod-err"></div>