.splash{
	display: grid;
	grid-area: contentbox;
	height: 80vh;
	width: 40vw;
	margin-left: 7.5vw;
	margin-right: 10vw;
	vertical-align: middle;
	grid-template-columns: 50% 50%;
	grid-template-rows: 60vh auto 15vh;
	grid-template-areas: "splash splash"
							"signup about"
							"below below";
	background-image: url('/static/img/justice.png');
	
}

#blank{
	grid-area: splash;
}

#signup{
	grid-area: signup;
	align-content: center;
}

#about{
	grid-area: about;
	align-content: center;
}

#below{
	grid-area: below;
}

#btn-splash{
	width: 270px;
	height: 75px;
	padding: 10px;
	border: 4px solid #af0101;
	border-color: #af0101;
	border-radius: 20px;
	background-color: white;
	align-content: center;
}

#btn-splash:hover{
	width: 290px;
	height: 85px;
	padding: 10px;
	border: 4px solid #3a4e87;
	border-color: #3a4e87;
	border-radius: 20px;
	background-color: #af0101;
	align-content: center;
}