.home-container {
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "contentpage";
}

.splash{
	display: block;
	grid-area: contentpage;
	height: auto;
	width: 40vw;
	margin-left: 7.5vw;
	margin-right: 10vw;
	vertical-align: middle;
	background-image: url('/static/img/justice.png');
	
}

#blank{
	display: block;
	grid-area: splash;
}

#signup{
	display: table-cell;
	grid-area: signup;
	vertical-align: middle;
	text-align: center;
}

#about{
	display: table-cell;
	grid-area: about;
	align-content: center;
	vertical-align: middle;
	text-align: center;
}

#buttons {
	display: grid;
	height: auto;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	grid-template-areas: "signup about";
}

#below{
	grid-area: below;
}

#btn-splash{
	width: 60%;
	height: auto;
	padding: 10px;
	border: 4px solid #af0101;
	border-color: #af0101;
	border-radius: 20px;
	background-color: white;
	align-content: center;
}

#btn-splash:hover{
	padding: 10px;
	border: 4px solid #3a4e87;
	border-color: #3a4e87;
	border-radius: 20px;
	background-color: #af0101;
	align-content: center;
}

.home-btn{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-family: Comic;
	font-size: 2.5vw;
	box-shadow: 4px 3px 20px 2px black;
	color: #af0101;
	border: .3vw solid #af0101;
	border-radius: 1vw;
	padding: 1vw;
	width: 11vw;
	height: auto;
	background-color: white;
	background-position: center center;
	transition: all .15s linear;
	cursor: pointer;
}

.home-btn:hover{
	font-size: 3vw;
	color: #3a4e87;
	border: .3vw solid #3a4e87;
	padding: .9vw;
	width: 11.3vw;
	height: auto;
	background-color: lightblue;
	background-position: center center;
	box-shadow: 6px 5px 30px 4px black;
}

.signup-btn{
	background: url('/static/img/signupRED.png') no-repeat;
	background-size: 100%;
	border: 4px solid #af0101;
	border-radius: 20px;
	padding:15px;
	width: 60%;
	height: auto;
	background-color: white;
	background-position: center center;
	transition: all .15s linear;
	cursor: pointer;
}

.signup-btn:hover{
	background: url('/static/img/signupBLUE.png') no-repeat;
	background-size: 115%;
	border: 4px solid #3a4e87;
	border-radius: 20px;
	padding:15px;
	width: 60%;
	height: auto;
	background-color: lightblue;
	background-position: center center;
}