
.weapon-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f71d';
	display: inline-block;
}

.equipment-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f8b2';
	display: inline-block;
}

.feature-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f7d9';
	display: inline-block;
}

.athletics-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f5c4';
	display: inline-block;
}

.acrobatics-icon::before {
	font-family: 'FontAwesomePro';
	content: '\e023';
	display: inline-block;
}

.close-combat-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f438';
	display: inline-block;
}

.deception-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f6ef';
	display: inline-block;
}

.expertise-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f5db';
	display: inline-block;
}

.insight-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f610';
	display: inline-block;
}

.intimidation-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f455';
	display: inline-block;
}

.investigation-icon::before {
	font-family: 'FontAwesomePro';
	content: '\e012';
	display: inline-block;
}

.perception-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f519';
	display: inline-block;
}

.persuasion-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f4c4';
	display: inline-block;
}

.perception-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f519';
	display: inline-block;
}

.ranged-combat-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f6b9';
	display: inline-block;
}

.sleight-of-hand-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f6e5';
	display: inline-block;
}

.perception-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f519';
	display: inline-block;
}

.stealth-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f504';
	display: inline-block;
}

.technology-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f87a';
	display: inline-block;
}

.treatment-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f809';
	display: inline-block;
}

.vehicles-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f21c';
	display: inline-block;
}

.power-icon::before {
	font-family: 'FontAwesome';
	content: '\f2dd';
	display: inline-block;
}


.strength-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f44b';
	display: inline-block;
}

.stamina-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f72e';
	display: inline-block;
}

.agility-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f70c';
	display: inline-block;
}

.dexterity-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f47c';
	display: inline-block;
}

.fighting-icon::before {
	font-family: 'FontAwesomePro';
	content: '\e03d';
	display: inline-block;
}

.intellect-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f808';
	display: inline-block;
}

.awareness-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f5f2	';
	display: inline-block;
}

.presence-icon::before {
	font-family: 'FontAwesomePro';
	content: '\f470';
	display: inline-block;
}
