#btn-sidebar{
	display: block;
	font-family: Comic;
	font-size: 1.5vw;
	color: #cdb99d;;
	text-shadow: 3px 3px 2px black;
	padding-top: 0px;
	padding-bottom: 0%;
	padding-left: 0px;	
	padding-right: 0px;
	width: 100%;
	height: auto;
	margin: 0px;
	margin-bottom: 0%;
	border-bottom: 2px solid #cdb99d;
	cursor: pointer;
	transition: all .1s linear;
}

#btn-sidebar:hover {
	font-size: 1.7vw;
	color: #7ecef6;
	padding-top: 0px;
	padding-bottom: 0%;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: auto;
	margin: 0px;
	margin-bottom: 0%;
	border-bottom: 2px solid #7ecef6;
	border-right: 2px solid #7ecef6;
}

#btn-sidebar::before {
	font-family: 'FontAwesome';
	font-size: 1vw;
	content: '\f006';
	padding-left: .3vw;
	padding-right: .6vw;
	display:inline-block;
	vertical-align: middle;
}

.btn-sidebar{
	transition: all .1s linear;
	background-color: rgba(255,255,255, 0);
}

.btn-sidebar:hover{
	background-color: rgba(255,255,255, .2);
}


.signup-btn{
	background: url('/static/img/signupRED.png') no-repeat;
	background-size: 100%;
	border: 4px solid #af0101;
	border-radius: 20px;
	padding:15px;
	width: 60%;
	height: auto;
	background-color: white;
	background-position: center center;
	transition: all .15s linear;
	cursor: pointer;
}

.signup-btn:hover{
	background: url('/static/img/signupBLUE.png') no-repeat;
	background-size: 115%;
	border: 4px solid #3a4e87;
	border-radius: 20px;
	padding:15px;
	width: 60%;
	height: auto;
	background-color: lightblue;
	background-position: center center;
}

