.btn-sidebar{
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: auto;
	margin: 0px;
	border-bottom: 2px solid #cdb99d;
}

.btn-sidebar:hover {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	height: auto;
	margin: 0px;
	border-bottom: 2px solid #7ecef6;
	border-left: 2px solid #7ecef6;
	border-right: 2px solid #7ecef6;
	background-color: fade(#FFFFFF, 40%);
}
