@import "special_skill_create/dc_table.css";
@import "special_skill_create/base_form.css";
@import "special_skill_create/levels.css";
@import "special_skill_create/circumstance_table.css";
@import "special_skill_create/degree_table.css";
@import "special_skill_create/degree_mod.css";
@import "special_skill_create/movement.css";
@import "special_skill_create/power.css";
@import "special_skill_create/rounds.css";
@import "special_skill_create/subskill.css";
@import "special_skill_create/change_action.css";
@import "special_skill_create/resistance.css";
@import "special_skill_create/opponent_condition.css";
@import "special_skill_create/other_char.css";
@import "special_skill_create/other_checks.css";
@import "special_skill_create/resist.css";
@import "special_skill_create/opposed.css";
@import "special_skill_create/alt_check.css";
@import "special_skill_create/pre_check.css";



.skill-container {
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "contentpage";
}

.skill-grid {
	display: grid;
	width: 80%;
	margin-top: 2px;
	margin-left: 10%;
	grid-template-columns: 100%;
	grid-template-areas: "contentpage";
}

#box-title {
	display: table-cell;
	width: 85%;
	height: auto;
	margin-top: 2%;
	margin-left: 8%;
	margin-bottom: 2%;
	border-radius: 35px;
	border: 3px solid lightblue;
	justify-content: center;
	background:url('/static/img/title/bg.png');
	padding: .6vw;
	text-align: center;
	vertical-align: middle;
	box-shadow: 12px 10px 30px 1px #b4b3b3;
}

#title-img {
	background: url(/static/img/title/create_skill.png);
}

.box-outline {
	outline: 3px solid #af0101;
	outline-offset: 8px;
}


input[type=text] {
	width: 90%;
	height: 1.4vw;
	padding: .3vw;
	font-size: 95%;
	border: 1px solid lightblue;
	outline: 1px solid #af0101;
	outline-offset: 5px 8px;
	transition:  all .1s ease-in;
}

input[type=text]:focus {
	background-color: lightblue;
	outline: 2px solid #af0101;
}

#nameskill input[type="text"] {
	height: 2.4vw;
	padding: .5vw;
	font-size: 150%;
}

.entry-text {
	height: 1vw; 
	font-size: 95%;
}

select {
	width: 95%;
	padding: .2vw;
	font-family: 'Monda', Verdana;
	font-size: 130%;
	border: 2px solid lightblue;
	border-radius: 8px;
}

select:focus {
	background-color: lightblue;
	border: 2px solid #af0101;
}

.entry-select {
	height: 2.3vw; 
	padding: .3vw;  
	font-size: 100%;
}

.select-sml {
	height: 1.6vw; 
	padding: .1vw;  
	font-size: 80%;
}

.header-select {
	height: 2.5vw; 
	font-size: 110%;
}
textarea {
	width: 100%;
	height: 100px;
	padding: 12px 20px;
	border: 2px solid lightblue;
	border-radius: 8px;
	background-color: white;
	resize: vertical;
	font-family: 'Monda', Verdana;
	font-size: 120%;
	transition:  all .1s ease-in;
  }

textarea:focus {
	background-color: lightblue;
	border: none;
}

.btn {
	display: block;
	width: 85%;
	height: 80%;
	padding: 15px;
	background-color: #af0101;
	cursor: crosshair;
	margin: 3px;
	justify-content: center;
	font-family: 'Monda', Verdana;
	text-decoration: none;
	font-size: 130%;
	color: white;
	outline: 2px solid white;
	outline-offset: -4px;
	transition: all .2s ease-out;
}


.btn:hover {
	background-color: lightblue;
	color: black;
	outline: 2px solid black;
	outline-offset: -2px;
}

.btn::before {
	font-family: 'FontAwesome';
	content: '\f067';
	display: inline-block;
}

.btn-small {
	display: table-cell;
	width: 5vw;
	vertical-align: middle;
	height: 2vw;
	padding: .3vw;
	background-color: #af0101;
	cursor: crosshair;
	margin: 3px;
	justify-content: center;
	font-family: 'Monda', Verdana;
	text-decoration: none;
	font-size: 110%;
	color: white;
	outline: 2px solid white;
	outline-offset: -4px;
	transition: all .2s ease-out;
}

.btn-small:hover {
	background-color: lightblue;
	color: black;
	outline: 2px solid black;
	outline-offset: -2px;
}

.btn-sml {
	display: table-cell;
	width: 5vw;
	vertical-align: middle;
	height: 1.2vw;
	padding: .3vw;
	background-color: #af0101;
	cursor: crosshair;
	margin: 3px;
	justify-content: center;
	font-family: 'Monda', Verdana;
	text-decoration: none;
	font-size: 110%;
	color: white;
	outline: 2px solid white;
	outline-offset: -4px;
	transition: all .2s ease-out;
}

.btn-sml:hover {
	background-color: lightblue;
	color: black;
	outline: 2px solid black;
	outline-offset: -2px;
}

#addskillgrid {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#addskill-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#addskillform {
	display: grid;
	width: 100%;
	margin: 2%;
	grid-template-columns: 70% 25%;
	grid-template-rows: 5vh;
	grid-template-areas: "namefield namebutton";
}

#addskillunderline {
	border-bottom: 2px solid lightblue;
	width: 70%;
	margin: 0px;
	font-family: Comic, Verdana;
	text-shadow: 1px, 1px, 1px rgba(36, 86, 129, 0.05);
	font-size: 280%;
	color: #245681;
	padding: 0px;
}

#nameskill {
	grid-area: namefield;
}

#namebutton {
	grid-area: namebutton;
}

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}  

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: lightblue;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:hover {
	background-color: lightblue;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 20px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.medium-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}  

.medium-checkbox:active, .medium-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.medium-checkbox:checked {
	background-color: lightblue;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.medium-checkbox:hover {
	background-color: lightblue;
}

.medium-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}


.big-checkbox {
	padding: 11px;
}

.big-checkbox:checked:after {
	font-size: 20px;
	left: 3px;

}

.med-checkbox {
	padding: 7px;
}

.med-checkbox:checked:after {
	font-size: 14px;
	left: 3px;

}
