
.skill-container {
	display: grid;
	width: 100%;
	grid-template-columns: 100%;
	grid-template-areas: "contentpage";
}

.skill-grid {
	display: grid;
	grid-area: contentpage;
	width: 80%;
	margin-top: 2px;
	margin-left: 10%;
	grid-template-columns: 100%;
	border: 2px solid lightblue;
}

#box-title {
	width: 85%;
	height: auto;
	margin-top: 2%;
	margin-left: 8%;
	margin-bottom: 2%;
	border-radius: 35px;
	border: 3px solid lightblue;
	background:url(/static/img/title/bg.png);
	padding: 10px;
}

#title-img {
	background: url(/static/img/title/create_skill.png);
}

.box-outline {
	outline: 3px solid #af0101;
	outline-offset: 8px;
}


input[type=text] {
	width: 95%;
	height: 80%;
	padding: 10px 10px;
	font-size: 24px;
	border: 1px solid lightblue;
	outline: 1px solid #af0101;
	outline-offset: 5px 8px;
}


input[type=text]:focus {
	background-color: lightblue;
}

.btn {
	width: 85%;
	height: auto;
	padding: 15px;
	background-color: #af0101;
	cursor: crosshair;
	margin: 3px;
	font-family: 'Monda', Verdana;
	text-decoration: none;
	font-size: 18px;
	color: white;
	outline: 2px solid white;
	outline-offset: -4px;
}

.btn:hover {
	background-color: lightblue;
	color: black;
	outline: 2px solid black;
	outline-offset: -2px;
}

#addskillgrid {
	display: grid;
	width: 80%;
	margin-left: 10%;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
}

#addskillform {
	display: grid;
	width: 100%;
	margin: 10px;
	grid-template-columns: 70% 30%;
	grid-template-rows: 5vh;
	grid-template-areas: "namefield namebutton";
}

#addskillunderline {
	border-bottom: 2px solid lightblue;
	width: 70%;
	margin: 0px;
	font-family: 'Monda', Verdana;
	font-size: 35px;
	color: #245681;
	padding: 0px;
}


#nameskill {
	grid-area: namefield;
}

#namebutton {
	grid-area: namebutton;
}


