@import "sidebar.css";

body{
	margin: 0px;
}

.page{
	margin: 0px;
	justify-content: center;
	align-content: center;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	grid-template-areas: "page";
}

.container{
	display: grid;
	grid-area: page;
	align-content: center;
	justify-content: center;
	justify-self: center;
	vertical-align: middle;
	width: 1306;
	margin: 0px;
	grid-template-rows: 286px 3000px;
	grid-template-columns: 2px 250px 2px 1050px 2px;
	grid-template-areas: ". banner banner banner banner banner ."
							". left sidebar middle content right ."

}

#bannergrid{
	display: grid;
	grid-area: banner;
	background-image: url( 'img/banner.jpg' ) no-repeat;
	background-size: cover;
	width: 100%;
	grid-template-columns:  auto 140px;
	grid-template-rows: 45px auto;
	grid-template-areas: "topleft topright"
							"bottom bottom";
	margin: 0px;
	
}

#login{
	grid-area: topright;
}

#topleft{
	grid-area: topleft;
}

#bottom{
	grid-area: bottom;
}

#left{
	grid-area: left;
	background-color: #153958;
}

#middle{
	grid-area: middle;
	background-color: #153958;
}

#right{
	grid-area: right;
	background-color: #153958;
}

#content{
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	grid-area: content;
}

#sidebargrid{
	display: grid;
	grid-area: sidebar;
	background-image: url('img/sidebar.png') no-repeat;
	background-size: cover;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px auto;
	grid-template-areas: "rules"
							"games"
							"stories"
							"heroes"
							"npcs"
							"locations"
							"skills"
							"abilities"
							"powers"
							"flaws"
							"equipment"
							"devices"
							"armor"
							"weapons"
							"vehicles"
							"constructs"

}

.btn-login{
	width: 125px;
	height: 30px;
	margin: 15px;
	border: 2px solid white;
	border-color: white;
	background-color: #af0101;
	font-family: 'Monda', sans-serif;
	text-align: center;
	color: white;
}

.btn-login:hover {
	width: 125px;
	height: 30px;
	border: 2px solid white;
	border-color: white;
	background-color: #3a4e87;
	font-family: 'Monda', sans-serif;
	text-align: center;
	color: white;
}