@import "sidebar.css";

body{
	margin: 0px;
}

.container{
	display: grid;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
	width: 70%;
	margin: 0px;
	grid-template-rows: 30vh auto;
	grid-template-columns: .002% 13% .002% 86.004% .002%;
	grid-template-areas: "banner banner banner banner banner"
							"left sidebar middle content right";

}

#bannergrid{
	display: grid;
	grid-area: banner;
	background-image: url( 'img/banner.jpg' ) no-repeat;
	background-size: cover;
	width: 100%;
	grid-template-columns:  auto 140px;
	grid-template-rows: 45px auto;
	grid-template-areas: "topleft topright"
							"bottom bottom";
	margin: 0px;
	
}

#login{
	grid-area: topright;
	font-family: 'Monda', Verdana;
}

#topleft{
	grid-area: topleft;
}

#bottom{
	grid-area: bottom;
}

#left{
	grid-area: left;
	background-color: #42abe0;
}

#middle{
	grid-area: middle;
	background-color: #42abe0;
}

#right{
	grid-area: right;
	background-color: #42abe0;
}

#content{
	background-color: white;
	font-family: Nanum Gothic, Verdana;
	grid-area: content;
}

#sidebargrid{
	display: grid;
	grid-area: sidebar;
	width: 100%;
	margin: 0px;
	grid-template-columns: 100%;
	grid-template-rows: 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px 49px;
	grid-template-areas: "rules"
							"games"
							"stories"
							"heroes"
							"npcs"
							"locations"
							"skills"
							"abilities"
							"powers"
							"flaws"
							"equipment"
							"devices"
							"armor"
							"weapons"
							"vehicles"
							"constructs";

}

.btn-login{
	width: 110px;
	height: 30px;
	margin: 10px;
	padding: 4px;
	border: 2px solid white;
	border-color: white;
	background-color: #af0101;
	font-family: 'Monda', Verdana;
	font-size: 16px;;
	text-align: center;
	color: white;
}

.btn-login:hover {
	width: 110px;
	height: 30px;
	border: 2px solid white;
	border-color: white;
	background-color: #3a4e87;
	font-family: 'Monda', Verdana;
	font-size: 16px;
	text-align: center;
	color: white;
}