@import "sidebar.css";

@font-face {
	font-family: "Comic";
	src: url('/static/font/comic/fonts/comic.woff2') format("woff2"); /* Modern Browsers */
	src: url('/static/font/comic/fonts/comic.woff') format("woff"), /* Modern Browsers */
    		url('/static/font/comic/fonts/comic.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
    		url('/static/font/comic/fonts/comic.otf') format("opentype"), /* Open Type Font */
    		url('/static/font/comic/fonts/comic.ttf') format("truetype"), /* Safari, Android, iOS */
    		url('/static/font/comic/fonts/comic.eot'), /* IE9 Compat Modes */
			url('/static/font/comic/fonts/comic.svg') format("svg"); /* Legacy iOS */
	  
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "JusticeOutline";
	src: url('/static/font/justice_outline/fonts/justiceoutline.woff2') format("woff2"); /* Modern Browsers */
	src: url('/static/font/justice_outline/fonts/justiceoutline.woff') format("woff"), /* Modern Browsers */
			url('/static/font/justice_outline/fonts/justiceoutline.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */			
			url('/static/font/justice_outline/fonts/justiceoutline.otf') format("opentype"), /* Open Type Font */
			url('/static/font/justice_outline/fonts/justiceoutline.eot'), /* IE9 Compat Modes */
			url('/static/font/justice_outline/fonts/justiceoutline.ttf') format("truetype"), /* Safari, Android, iOS */			
			url('/static/font/justice_outline/fonts/justiceoutline.svg') format("svg"); /* Legacy iOS */
		
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Justice3D";
	src: url('/static/font/justice_3d/fonts/justice3d.woff2') format("woff2"); /* Modern Browsers */
	src: url('/static/font/justice_3d/fonts/justice3d.woff') format("woff"), /* Modern Browsers */
			url('/static/font/justice_3d/fonts/justice3d..otf') format("opentype"), /* Open Type Font */
			url('/static/font/justice_3d/fonts/justice3d.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
			url('/static/font/justice_3d/fonts/justice3d.eot'), /* IE9 Compat Modes */    
			url('/static/font/justice_3d/fonts/justice3d.ttf') format("truetype"), /* Safari, Android, iOS */    
			url('/static/font/justice_3d/fonts/justice3d.svg') format("svg"); /* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "CampJusticeSemi-Italic";
	src: url('/static/font/justice_semi_italic/fonts/justicesemiitalic.woff2') format("woff2"); /* Modern Browsers */
	src: url('/static/font/justice_semi_italic/fonts/justicesemiitalic.woff') format("woff"), /* Modern Browsers */
			url('/static/font/justice_semi_italic/fonts/justicesemiitalic.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
			url('/static/font/justice_semi_italic/fonts/justicesemiitalic.otf') format("opentype"), /* Open Type Font */
			url('/static/font/justice_semi_italic/fonts/justicesemiitalic.ttf') format("truetype"), /* Safari, Android, iOS */
			url('/static/font/justice_semi_italic/fonts/justicesemiitalic.eot'), /* IE9 Compat Modes */
			url('/static/font/justice_semi_italic/fonts/justicesemiitalic.svg') format("svg"); /* Legacy iOS */
	
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: "JusticeItalic";
	src: url('/static/font/justice_italic/fonts/justiceitalic.woff2') format("woff2"); /* Modern Browsers */
	src: url('/static/font/justice_italic/fonts/justiceitalic.woff') format("woff"), /* Modern Browsers */
			url('/static/font/justice_italic/fonts/justiceitalic.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
			url('/static/font/justice_italic/fonts/justiceitalic.otf') format("opentype"), /* Open Type Font */
			url('/static/font/justice_italic/fonts/justiceitalic.eot'), /* IE9 Compat Modes */
			url('/static/font/justice_italic/fonts/justiceitalic.ttf') format("truetype"), /* Safari, Android, iOS */
			url('/static/font/justice_italic/fonts/justiceitalic.svg') format("svg"); /* Legacy iOS */
	  
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "usticeMidItalic";
	src: url('/static/font/justice_mid_italic/fonts/justicemiditalic.woff2') format("woff2"); /* Modern Browsers */ 
	src: url('/static/font/justice_mid_italic/fonts/justicemiditalic.woff') format("woff"), /* Modern Browsers */
			url('/static/font/justice_mid_italic/fonts/justicemiditalic.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
			url('/static/font/justice_mid_italic/fonts/justicemiditalic.eot'), /* IE9 Compat Modes */  
			url('/static/font/justice_mid_italic/fonts/justicemiditalic.otf') format("opentype"), /* Open Type Font */
			url('/static/font/justice_mid_italic/fonts/justicemiditalic.ttf') format("truetype"), /* Safari, Android, iOS */
			url('/static/font/justice_mid_italic/fonts/justicemiditalic.svg') format("svg"); /* Legacy iOS */
	  
	font-weight: normal;
	font-style: normal;
}

body{
	margin: 0px;
	font-size: .9vw;
}

.page {
	display: grid;
	justify-content: center;
	width: 100%;
	height: 100%;
	grid-template-rows: auto;
	grid-template-columns: 100%;
	grid-template-areas: "wholepage";
}

.container{
	display: grid;
	grid-area: wholepage;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
	width: 70%;
	height: 100%;
	margin: 0px;
	grid-template-rows: auto auto auto;
	grid-template-columns: .2% 17% .2% 82.4% .2%;
	grid-template-areas: "banner banner banner banner right"
							"left sidebar middle content right"
							"bottomleft bottomsidebar bottommiddle bottomcontent bottomright";
	box-shadow: -1px 0px 18px .2px black;

}

#bannergrid{
	display: grid;
	background-image: url( 'img/banner.jpg' ) no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	grid-template-columns:  auto 7vw;
	grid-template-rows: auto auto;
	grid-template-areas: "topleft topright"
							"bottom bottom";
	margin: 0px;
	
}

#banner {
	grid-area: banner;
	width: auto;
	height: auto;
}

#banner-img {
	grid-area: bannerimg;
	width: auto;
	height: auto;
}

#login{
	grid-area: topright;
	font-family: 'Monda', Verdana;
	justify-content: right;
	justify-items: right;
}

#topleft{
	grid-area: topleft;
}

#left{
	grid-area: left;
	background-color: #42abe0;
}

#middle{
	grid-area: middle;
	background-color: #42abe0;
}

#right{
	grid-area: right;
	background-color: #42abe0;
}

#bottomleft{
	grid-area: bottomleft;
	background-color: #42abe0;
}

#bottommiddle{
	grid-area: bottommiddle;
	background-color: #42abe0;
}

#bottomright{
	grid-area: bottomright;
	background-color: #42abe0;
}

#sidelines{
	display: grid;
	grid-area: content;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	background-color: white;
	font-family: Nanum Gothic, Verdana;
}

#content{
	display: grid;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "contentbox";
	font-family: Nanum Gothic, Verdana;
}


#bottomcontent{
	grid-area: bottomcontent;
	display: grid;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "contentbox";
	font-family: Nanum Gothic, Verdana;
}

#sidebargrid{
	grid-area: sidebar;
	display: block;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #1e507a;
}

#bottomsidebar{
	grid-area: bottomsidebar;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #1e507a;
}

.btn-login{
	vertical-align: middle;
	text-align: center;
	font-family: Comic;
	width: 5vw;
	height: auto;
	margin-top: .6vw;
	padding: .3vw;
	border: 2px solid white;
	border-color: white;
	background-color: #af0101;
	font-size: 1.2vw;
	color: white;
	transition: all .15s linear;
	cursor: pointer;
}

.btn-login:hover{
	transform: scale(1.15, 1.15);
	border: 2px solid white;
	border-color: white;
	background-color: #3a4e87;
	text-align: center;
	color: white;
}

#flashed-messages {
	display: block;
	width: 100%;
	height: 2.3vw;
	background-color: lightblue;
	font-family: 'Monda', Verdana;
	font-size: 1.6vw;
	color: #3a4e87;
	text-align: center;
}

.flash-message {
	font-family: 'Monda', Verdana;
	font-size: 1.3vw;
	color: #3a4e87;
	text-align: center;
}

.flash-message::before {
	font-family: 'FontAwesome';
	content: '\f058';
	padding-right: 1.5vw;
	display: inline-block;
	color: #3a4e87;
	text-align: center;
}

.check-div {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: 1px solid lightblue;
}

.vcenter {
	display: flex;
	align-items: center;
}