#circ-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#circ-base {
	opacity: 0%;
	display: grid;
	gap: 3px;
	grid-template-columns: 100%;
	transition: all .4s ease-out;
}

#circ-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#circ-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-entry input[type="text"] {
	width: 90%;
	height: 1.1vw; 
	font-size: 90%; 
	padding: 2%;
}

#circ-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 15% 15% 40% 15%;
	grid-template-rows: 1.5vw auto auto;
	grid-template-areas: "mod-title round-title ranks-title des-title button"
							"mod round ranks des des"
							"type type type des des" ;
}

#circ-row1 textarea {
	height: 3vw;
	padding: 4px;
}

#circ-mod-title {
	grid-area: mod-title;
}

#circ-ranks-title {
	grid-area: ranks-title;
}

#circ-round-title {
	grid-area: round-title;
}

#circ-des-title {
	grid-area: des-title;
}

#circ-button {
	grid-area: button;
}

#circ-mod {
	grid-area: mod;
}

#circ-round {
	grid-area: round;
}

#circ-ranks {
	grid-area: ranks;
}

#circ-des {
	grid-area: des;
}

#circ-type {
	grid-area: type;
}


/*

depend modifier lasts circ button

*/

#circ-range {
	display: none;
	width: 98%;
	grid-template-columns: 20% 80%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-check {
	display: none;
	width: 98%;
	grid-template-columns: 30% 30% 40%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#circ-row2 {
	display: grid;
	grid-template-columns: 25% 20% 55%;
	gap: .2vw;
	width: 97%;
}

#circ-null-condition {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 70% 30%;
	gap: .2vw;
}

#circ-null-trait {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 40% 60%;
	gap: .2vw;
}

#circ-null-descriptor {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 70% 30%;
	gap: .2vw;
}

#circ-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.circ-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}