#modifiers-header {
	grid-template-columns: 70% 30%;
}

#modifiers-base {
	grid-template-columns: 100%;
}

#modifiers-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#modifiers-row1 {
	display: grid;
	width: 98%;
	height: 1.2vw;
	gap: 3px;
	grid-template-columns: 17% 18% 17% 18% 30%;
	grid-auto-rows: auto;
}

#modifiers-button-row {
	display: grid;
	grid-template-columns: 80% 20%;
	width: 97%;
	grid-template-rows: auto;
}
