#variable-header {
	grid-template-columns: 70% 30%;
}

#variable-base {
	grid-template-columns: 100%;
}

#variable-defense {
	grid-template-columns: auto auto;
}

#variable-active {
	display: none;
	opacity: 0%;
	transition: all .3s ease-in;
}

#variable-effort {
	display: none;
	opacity: 0%;
	transition: all .3s ease-in;
}

#variable-row1 {
	display: grid;
	width: 98%;
	gap: .4VW;
	grid-template-columns: 25% 55% 20%;
	grid-auto-rows: auto;
}
