
#vehicle-form {
	display: grid;
	width: 100%;
	margin: 0px;
	padding: 0px;
	grid-template-columns: 100%;
	margin-bottom: 20px;
	grid-auto-rows: auto;
}

#vehicle-desc {
	display: grid;
	width: 100%;
	margin: 0px;
	border: 1px solid #af0101;
	border-radius: 15px;
	padding: 2%;
	grid-template-columns: 100%;
	margin-bottom: 20px;
}

#description-field {
	display: grid;
	width: 70%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	grid-template-areas: "descriptionfield";
}

#description-field textarea{
	border: 2px solid lightblue;
}

#multiple-attr-title {
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 160%;
	color: #245681;
	padding: 0px;
}

#vehicle-attr-title{
	border-bottom: 2px solid lightblue;
	width: 85%;
	margin-bottom: 5px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
}


#vehicle-base {
	display: grid;
	width: 100%;
	margin: 0px;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
}

#vehicle-base input[type="text"] {
	height: 1.3vw;
	width: 87%;
	padding: .3vw;
	background-color: lightblue;
}

.base-select {
	height: 2vw;
	padding: .1vw;
	font-size: 95%;
}

.base-field {
	display: grid;
	width: 85%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	font-family: 'Monda', Verdana;
	font-size: 120%;
	color: #245681
}

.base-split {
	display: grid;
	grid-template-columns: 50% 50%;
}

.base-trait {
	display: grid;
	grid-template-columns: 40% 60%;
}

.base-check {
	display: grid;
	grid-template-columns: 15% 65% 20%;
}

.base-check-wide {
	display: grid;
	grid-template-columns: 15% 85%;
}

.base-fade{
	opacity: 0%;
	transition: all .4s linear;
}

.base-3 {
	display: grid;
	grid-template-columns: 20% 80%;
}

#base-extend {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}

.base-hidden {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}


.cost-title {
	border-bottom: .2vw solid lightblue;
	width: 95%;
	margin-bottom: .1vw;
	font-family: Comic, 'Monda', Verdana;
	font-size: 140%;
	text-align: center;
	color: #245681;
	padding-top: .2vw;
}

.cost-value {
	font-family: Comic, 'Monda', Verdana;
	font-size: 190%;
	text-align: center;
	color: #245681;
	padding-top: 0vw;
	margin-top: 0vw;
}

#cost-grid {
	display: grid;
	width: 98%;
	grid-template-columns: 8% 7% 12% 8% 16% 12% 12% 9% 16%;
	grid-template-rows: auto auto auto;
	grid-template-areas: "blank size-title strength-title speed-title toughness-title defense-title features-title powers-title total-title"
							"cost-title cost-size cost-strength cost-speed cost-toughness cost-defense cost-features cost-powers total"
	 						"rank-title rank-size rank-strength  rank-speed rank-toughness rank-defense rank-features rank-powers total";
	border-bottom: .2vw solid lightblue;
	border-top: .2vw solid lightblue;
	margin-bottom: 1vw;
	margin-top: .01vw;
}

.cost-total {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #af0101;
	font-size: 2800%;
}
