<div id="alt-check-header">

	<div id="other-title">
		<input type="checkbox" id="alt_check_check" class="regular-checkbox big-checkbox" onclick="alt_check_entry()">  Can Make Skill Check:
	</div>

</div>

<div id="alt-check-entry" style="display: none;">

	<div id="alt-check-entry-title">
		DC:
	</div>

	<div id="alt-check-entry-title">
		Description:
	</div>

	<div id="alt-check-entry-title">
	</div>

	<div id="alt-check-field">
		<select class="entry-select" id="alt_check_dc" name="alt_check_dc" >
			<option value="">DC</option>
			{% for class in dcclasses %}
				<option value={{class}}>{{class}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="alt-check-field" style="width: 95%;" >
		<input type="text" id="alt_check_desc" name="alt_check_desc">
	</div>

	<div id="alt-check-add">
		<div class="btn-small" id="alt_check_add" onclick="alt_check_submit()">
			Add
		</div>
	</div>

</div>

<div id="alt-check-table" style="display: none;">

	<div id="alt-check-table-title">
		DC:
	</div>

	<div id="alt-check-table-title">
		Description:
	</div>

	<div></div>

</div>

<div id="alt-check-err"></div>
