<div id="category">
	<div id="skill-attr-title">
		Enhances Skill:
	</div>

	<div id="category-field">
		<select id="skill" name="skill" aria-placeholder="Select Skill Type">
			{% for skill in skills %}
				<option value={{skill.id}}>{{skill.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>
	<br>
<div id="description">
	<div id="skill-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description" placeholder="Type description here" style="border: 2px solid lightblue; resize: vertical;"></textarea>
	</div>
</div>

<br>

<div id="action-check-condition-speed-skilltype-dctype">

	<div id="action-field">
		<div id="multiple-attr-title">
			Action Type:
		</div>

		<select id="action" name="action" style="height: 4vh; font-size: 110%;">
			{% for action in actions %}
				<option value={{action.id}}>{{action.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="check-field">
		<div id="multiple-attr-title">
			Check Type:
		</div>
		
		<select id="check" name="check" style="height: 4vh; font-size: 110%;">
			{% for check in checks %}
				<option value={{check.id}}>{{check.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="condition-field">
		<div id="multiple-attr-title">
			Condition Status:
		</div>
		
		<select id="condition" name="condition" style="height: 4vh; font-size: 110%;">
			<option value="">Normal</option>
			{% for condition in conditions %}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="speed-field">
		<div id="multiple-attr-title">
			Speed Rank Modifier:
		</div>
		
		<select id="speed" name="speed" aria-placeholder="0" style="height: 4vh; font-size: 110%;">
			<option value=0>0</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="skilltype-field">
		<div id="multiple-attr-title">
			Skill Type:
		</div>
		
		<select id="skilltype" name="skilltype" style="height: 4vh; font-size: 110%;">
			<option value="">N/A</option>
			{% for type in skilltype %}
				<option value="{{type.id}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	

	<div id="dctype-field">
		<div id="multiple-attr-title">
			DC Set by:
		</div>
		
		<select id="dc_set" name="dc_set" style="height: 4vh; font-size: 110%;">
			<option value="">N/A</option>
			{% for type in dctype %}
				<option value="{{type.value}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="prep-field">
		<div id="prep-title">
			Time to Complete:
		</div>

		<div>
			<select id="prep_type" name="prep_type" style="height: 4vh; font-size: 110%;">
				<option value="">Immediate</option>
				{% for value in value_type %}
					<option value="{{value}}">{{value}}</option>
				{% endfor %}
			</select>			
		</div>

		
		<div id="prep-value" style="display: none;">
			<div>
				<input type="text" id="prep_value" name="prep_value" style="margin-top: 5px; width: 80%; height: 2vh; padding: 4px; font-size: 90%;">
			</div>
		
			<div>
				<select id="prep_unit" name="prep_unit" style="height: 4vh; font-size: 110%;">
					<option value="">Time Unit</option>
					{% for time in times %}
						<option value="{{time.id}}">{{time.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div id="prep-math-rank" style="display: none;">

			<div>
				Time Rank = 
			</div>

			<div>
				<select id="prep_rank" name="prep_rank" style="height: 3vh; padding: 0%; font-size: 90%;">
					<option value="">Rank</option>
					{% for rank in measure %}
						<option value={{rank.id}}>{{rank.name}}</option>
					{% endfor %}
					{% for rank in char %}
						<option value={{rank.id}}>{{rank.name}}</option>
					{% endfor %}
				</select>
			
			</div>
			
			
			<div>

				<select id="prep_math" name="prep_math" style="height: 3vh; padding: 0%; font-size: 90%;">
					<option value="">Math</option>
					{% for math in maths %}
						<option value="{{math}}">{{math}}</option>
					{% endfor %}
				</select>

			</div>

			<div>
				<select id="prep_mod" name="prep_mod" style="height: 3vh; padding: 0%; font-size: 90%;">
					<option value="">Value</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>

		</div>

	</div>

	<div id="sub-field">
		
		<div id="multiple-attr-title">
			Is this a  sub-skill?
		</div>

		<div>
			<input type="checkbox" id="subskill_check" class="regular-checkbox big-checkbox" onclick="subskill_check()">
		</div>

	</div>

	<div id="cover-field">
		
		<div id="multiple-attr-title">
			Does this skill require cover?
		</div>

		<div>
			<input type="checkbox" id="cover_check" class="regular-checkbox big-checkbox">
		</div>

	</div>

	<div id="materials-field">
		
		<div id="multiple-attr-title">
			Does this skill require materials?
		</div>

		<div>
			<input type="checkbox" id="materials_check" class="regular-checkbox big-checkbox">
		</div>

	</div>
	
	<div id="secret-field">
		
		<div id="multiple-attr-title">
			Is Result Hidden from Player?
		</div>

		<div id="secret-details">

			<div>
				<input type="checkbox" id="secret_check" class="regular-checkbox big-checkbox" onclick="secret_check()">
			</div>

			<div id="secret-mod" style="opacity: 0%; transition: all .3s ease-out;">
				<select id="secret_mod" name="secret_mod" style="height: 4vh; font-size: 110%;">
					<option value="">DC Modifier</option>
					{% for number in numbers %}
						<option value={{number}}>{{number}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div id="untrained-field">
		
		<div id="multiple-attr-title">
			Can this skill be used untrained?
		</div>

		<div>
			<input type="checkbox" id="untrained_check" class="regular-checkbox big-checkbox" onclick="untrained_check()">
		</div>

	</div>

	<div id="untrained-details-field" style="display: none; opacity: 0%; transition: all .3s ease-out;">
		
		<div id="multiple-attr-title">
			Untrained Details:
		</div>

		<div id="untrained-fields">
			<div>
				<select id="untrained_dclimit" name="untrained_dclimit" style="height: 4vh; font-size: 110%;">
					<option value="">DC Limit</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>	

			<div>
				<select id="untrained_mod" name="untrained_mod" style="height: 4vh; font-size: 110%;">
					<option value="">Modifier</option>
					{% for negetive in negatives %}
						<option value={{negetive}}>{{negetive}}</option>
					{% endfor %}
				</select>
			</div>	
		</div>

	</div>

	<div id="change-level-field">
		
		<div id="multiple-attr-title">
			Changes Character Level:
		</div>

		<div id="change-level-fields">
			<div>
				<select id="change_level_type" name="change_level_type" style="height: 4vh; font-size: 110%;">
					<option value="">Level Type</option>
					{% for level in level_type %}
						<option value={{level.id}}>{{level.name}}</option>
					{% endfor %}
				</select>
			</div>	

			<div>
				<select id="change_level_level" name="change_level_level" style="height: 4vh; font-size: 110%;">
					<option value="">Level</option>
					{% for level in levels %}
						<option value={{level.id}}>{{level.name}}</option>
					{% endfor %}
				</select>
			</div>	
		</div>

	</div>