<div id="circ-header">

	<div id="circ-title">
		<input type="checkbox" id="circ_check" class="regular-checkbox big-checkbox" onclick="circ_check()">  Circumstance Modifier Table:
	</div>

	<div id="circ-base-form" style="opacity: 0%; opacity: 0%; transition: all .3s ease-out;">
		<div>
			<select class="header-select" id="circ_skill" name="circ_skill" onchange="circ_base()">
				<option value="">Check Type</option>
				<option value="this">This Skill</option>
				{% for skill in skills %}
					<option value={{skill.id}}>{{skill.name}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>
			<select class="header-select" id="circ_target" name="circ_target" onchange="circ_base()">
				<option value="">Target</option>
				{% for target in level_target %}
					<option value="{{target}}">{{target}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

</div>

<div id="circ-entry" style="display: none;">

	<div id="circ-row1">

		<div id="circ-entry-title">
			Modifier:
		</div>

		<div id="circ-entry-title">
			Lasts:
		</div>

		<div id="circ-entry-title">
			Circumstance
		</div>

		<div id="circ-entry-title">
		</div>

		<div>
			<select class="entry-select" id="circ_mod_type" name="circ_mod_type" onchange="circ_mod()">
				<option value="">Modifier</option>
				<option value="value">Value</option>
				<option value="math">Units</option>
				<option value="adjust">Adjust</option>
			</select>
		</div>

		<div>
			<select class="entry-select" id="circ_mod_rounds" name="circ_mod_rounds">
				<option value="">Rounds</option>
				<option value=500>Indefinite</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>	
		</div>

		<div id="circ-field" style="width: 95%;" >
			<input type="text" id="circumstance_entry" name="circumstance_entry">
		</div>

		<div id="circ-add">
			<div class="btn-small" id="circ_add" onclick="circ_submit()">
				Add
			</div>
		</div>
	
	</div>

	<div id="circ-mod-field">
		<div id="circ-mod-value" style="display: none;">
			
			<div>
				Modifier:
			</div>

			<div>
				<select class="select-sml" id="circ_modifier" name="circ_modifier">
					<option value="">Modifier</option>
					{% for number in numbers %}
						<option value={{number}}>{{number}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div class="check-div">
					<input type="checkbox" id="noequip" class="medium-checkbox med-checkbox"> Only if no equipment
				</div>
			</div>

			<div></div>
		</div>

		<div id="circ-mod-math" style="display: none;">

			<div>

				<select class="select-sml" id="circ_mod" name="circ_mod">
					<option value="">Modifier</option>
					{% for number in numbers %}
						<option value={{number}}>{{number}}</option>
					{% endfor %}
				</select>

			</div>
			
			<div>For Every</div>

			<div>

				<input type="text" id="circ_mod_value" name="circ_mod_value" >

			</div>

			<div>

				<select  class="select-sml" id="circ_mod_unit" name="circ_mod_unit" >
					<option value="">unit</option>
					{% for unit in units %}
						<option value={{unit.id}}>{{unit.name}}</option>
					{% endfor %}
				</select>

			</div>

			<div></div>

		</div>

		<div id="circ-mod-adjust" style="display: none;">

			<div>
				Check Modified By:
			</div>

			<div>

				<select class="select-sml" id="circ_adjust_check" name="circ_adjust_check" >
					<option value="">Check Mod</option>
					{% for number in numbers %}
						<option value={{number}}>{{number}}</option>
					{% endfor %}
				</select>

			</div>

			<div>
				For Every
			</div>
			
			<div>
				<select class="select-sml" id="circ_adjust_mod" name="circ_adjust_mod" >
					<option value=""></option>
					{% for number in numbers %}
						<option value={{number}}>{{number}}</option>
					{% endfor %}
				</select>

			</div>

			<div>

				<select class="select-sml" id="circ_adjust_rank" name="circ_adjust_rank" >
					<option value="">Measure</option>
					{% for rank in measure_rank %}
						<option value={{rank.id}}>{{rank.name}}</option>
					{% endfor %}
				</select>

			</div>

		</div>

	</div>

</div>

<div id="circ-table" style="display: none;">

	<div id="circ-table-title">
		Modifier:
	</div>

	<div id="circ-table-title">
		Rounds:
	</div>

	<div id="circ-table-title">
		Circumstance:
	</div>

	<div></div>


</div>

<div id="circ-err"></div>
