<div id="skill-attr-title">
	Difficulty Class Table:
</div>

<div id="dc-rows">

<div id="dc-field">
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			DC:
		</div>
	</div>

	
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			Description:
		</div>
	</div>

	
	<div id="dc-value">
		<select id="dc_type" name="dc_type" style="height: 5vh;" onchange="dc_dc_type()">
			<option value="">Type</option>
			{% for type in value_type %}
				<option value="{{type}}">{{type}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div>
		<input type="text" id="dc_des" name="dc_description" style="height: 3vh;">
	</div>
</div>

<div id="dc-entry" style="display: none;">

	<div id="multiple=attr-title">DC: </div>

	<div>
		<div id="dc-class" style="margin-top: 3px;" style="display: none;">
			<select id="dc_class" name="dc_class" style="height: 3vh; font-size: 70%; padding: 0px;">
				<option value="">DC</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div id="dc-math"style="margin-top: 3px;" style="display: none;">
			<div id="dcmathvalue" style="margin-top: 3px;">
				<select id="dc_math_value" name="dc_math_value" style="height: 3vh; font-size: 70%; padding: 0px;">
					<option value="">Value</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="dcmathtype" style="margin-top: 3px;">
				<select id="dc_math" name="dc_math" style="height: 3vh; font-size: 70%; padding: 0px;">
					<option value="">Math</option>
					{% for math in maths %}
						<option value={{math.id}}>{{math.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="dcranktype" style="margin-top: 3px;">
				<select id="dc_math_rank" name="dc_math_rank" style="height: 3vh; font-size: 70%; padding: 0px; ">
					<option value="">Rank</option>
					{% for rank in ranks %}
						<option value={{rank.id}}>{{rank.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>


</div>
	


	<div id="dc-fields">

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_mea_check" class="medium-checkbox med-checkbox" onclick="dc_mea_click()"> Measure 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_dam_check" class="medium-checkbox med-checkbox" onclick="dc_dam_click()"> Damage 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_key_check" class="medium-checkbox med-checkbox" onclick="dc_key_click()"> Keyword 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_con_check" class="medium-checkbox med-checkbox" onclick="dc_con_click()"> Condition
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_def_check" class="medium-checkbox med-checkbox" onclick="dc_def_click()"> Defense
			</div>
		</div>
		
		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_act_check" class="medium-checkbox med-checkbox" onclick="dc_act_click()"> Action
			</div>
		</div>

	</div>




	<div id="dc-measure-field" style="display: none;">

		<div id="dc-attr-field">
			Measurement:
		</div>

		<div>
			<select id="dc_mea_type" name="dc_mea_type" style="height: 3vh; font-size: 70%; padding: 0px;" onchange="dc_measure_type()">
				<option value="">Type</option>
				{% for type in value_type %}
					<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="dc-measure-fields" style="margin-top: 0px;">
			<div id="dc-measure-value" style="margin-top: 0px;" style="display: none;">
				<div>
					<input type="text" id="dc_mea_val" name="dc_mea_val" placeholder="Value" style="width: 90%; height: 3vh; margin: 0px; padding: 0px; padding-left: 1%; font-size: 90%;">
				</div>

				<div>
					<select id="dc_mea_unit" name="dc_mea_unit" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Units</option>
						{% for unit in units %}
							<option value="{{unit}}">{{unit}}</option>
			`			{% endfor %}
					</select>
				</div>
			</div>


			<div id="dc-measure-math" style="display: none;">
				<div>
					<select id="dc_mea_math_val" name="dc_mea_math_val" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Value</option>
						{% for class in dcclasses %}
							<option value={{class}}>{{class}}</option>
						{% endfor %}
					</select>
				</div>


				<div>
					<select id="dc_mea_math" name="dc_mea_math_type" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Math</option>
						{% for math in maths %}
							<option value={{math.id}}>{{math.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select id="dc_mea_math_rank" name="dc_mea_math_rank" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Rank</option>
						{% for rank in ranks %}
							<option value={{rank.id}}>{{rank.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
	</div>


<div id="dc-damage-field" style="display: none;">
	
	<div id="dc-attr-field">
		Damage Adjust:
	</div>
	
	<div>
		<select id="dc_dam" name="dc_dam" style="height: 4vh; font-size: 70%;">
			<option value="">Damage Adjust</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option> 
			{% endfor %}
		</select>
	</div>

	<div>
		(- per degree of success + per degree of failure)
	</div>


</div>

<div id="dc-keyword-field" style="display: none;">

	<div id="dc-attr-field">
		Keyword
	</div>

	<div>
		<input type="text" id="dc_key" name="dc_key" style="height: 2vh; padding: 1%; font-size: 100%;" placeholder="Keyword">
	</div>

	<div>

	</div>

</div>

<div id="dc-defense-field" style="display: none;">

	<div id="dc-attr-field">
		Relevant Defense:
	</div>

	<div>
		<select id="dc_def" name="dc_def" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for defense in defenses %}
				<option value={{defense.id}}>{{defense.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="dc-condition-field" style="display: none;">

	<div id="dc-attr-field">
		Change Condition:
	</div>

	<div>
		From: 
	</div>

	<div>
		<select id="dc_con1" name="dc_con1" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for condition in conditions %}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
		</select>
	</div>

	<div>
		To:
	</div>

	<div>
		<select id="dc_con2" name="dc_con2" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for condition in conditions %}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
		</select>
	</div>

	<div></div>

</div>

<div id="dc-action-field" style="display: none;">

	<div id="dc-attr-field">
		Change Action To:
	</div>

	<div>
		<select id="dc_act" name="dc_act" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for action in actions %}
				<option value={action.id}}>{{action.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div></div>

</div>


<div id="dc-add">

	<div></div>

	<div style="align-items: right;">
		<div class="btn" id="dc_create" style="height: 2.5vh; padding-top: 5%; align-content: center; align-items: center;" onclick="dc_submit()">
			<center>
			<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

<div></div>

	</div>


		<div id="dc-table-container">

				<div id="dc-table-title-dc">
					DC:
				</div>

				<div id="dc-table-title-key" style="display: none;">
					Keyword:
				</div>

				<div id="dc-table-title-des">
					Description:
				</div>
				
				<div id="dc-table-title-mea" style="display: none;">
					Measure:
				</div> 

				<div id="dc-table-title-dam" style="display: none;">
					Damage:
				</div>

				<div id="dc-table-title-def" style="display: none;">
					Defense:
				</div>

				<div id="dc-table=title-act" style="display: none;">
					Action:
				</div>

				<div id="dc-table-title-con" style="display: none;">
					Condition:
				</div>

				<div></div>

		</div>

	<div>

	</div>

</div>

</div>	

