<div id="skill-attr-title">
	Difficulty Class Table:
</div>

<div id="dc-rows">

<div id="dc-field">
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			DC:
		</div>
	</div>

	
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			Description:
		</div>
	</div>

	
		<div id="dc-value-grid">
			<div>
				<select id="dc_type" name="dc_type" style="height: 5vh;">
					{% for type in value_type %}
						<option value="{{type}}">{{type}}</option>
					{% endfor %}
				</select>
			</div>
			<div id="dcclass" style="margin-top: 3px;">
				<select id="dc_class" name="dc_class" style="height: 3vh; font-size: 70%; padding: 0px;">
					<option value="">DC</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>
			<div id="dc-math-grid"style="margin-top: 3px;">
				<div id="dcmathvalue" style="margin-top: 3px;">
					<select id="dc_math_value" name="dc_math_value" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Value</option>
						{% for class in dcclasses %}
							<option value={{class}}>{{class}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="dcmathtype" style="margin-top: 3px;">
					<select id="dc_math_type" name="dc_mathh_type" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Math</option>
						{% for math in maths %}
							<option value={{math.id}}>{{math.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="dcranktype" style="margin-top: 3px;">
					<select id="dc_rank_type" name="dc_rank_type" style="height: 3vh; font-size: 70%; padding: 0px; ">
						<option value="">Rank</option>
						{% for rank in ranks %}
							<option value={{rank.id}}>{{rank.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	

	<div>
		<input type="text" id="dc_description" name="dc_description" style="height: 3vh;">
	</div>

	


</div>
	


	<div id="dc-fields">

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_measurement" class="regular-checkbox med-checkbox"> Measurement 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_damage" class="regular-checkbox med-checkbox"> Damage Adjust 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_keyword" class="regular-checkbox med-checkbox"> Keyword 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_condition" class="regular-checkbox med-checkbox"> Condition Change
			</div>
		</div>
		

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_action" class="regular-checkbox med-checkbox"> Action Change
			</div>
		</div>

	</div>




	<div id="dcmeasurementfield">

		<div id="dc-attr-field">
			Measurement:
		</div>

		<div>
			<select id="dc_measurement_type" name="dc_type" style="height: 3vh; font-size: 70%; padding: 0px;">
				<option value="">Type</option>
				{% for type in value_type %}
					<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="dcmeasurementfields" style="margin-top: 0px;">
			<div id="dcmeasurementfieldvalue" style="margin-top: 0px;">
				<div>
					<input type="text" id="dc_measurement_value" name="dc_measurement_value" placeholder="Value" style="width: 90%; height: 3vh; margin: 0px; padding: 0px; padding-left: 1%; font-size: 90%;">
				</div>

				<div>
					<select id="dc_measurement_units" name="dc_math_value" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Units</option>
						{% for unit in units %}
							<option value="{{unit}}">{{unit}}</option>
			`			{% endfor %}
					</select>
				</div>
			</div>


			<div id="dcmeasurementfieldmath">
				<div>
					<select id="dc_measurement_math_value" name="dc_math_value" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Value</option>
						{% for class in dcclasses %}
							<option value={{class}}>{{class}}</option>
						{% endfor %}
					</select>
				</div>


				<div>
					<select id="dc_measurement_math_type" name="dc_mathh_type" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Math</option>
						{% for math in maths %}
							<option value={{math.id}}>{{math.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select id="dc_measurement_rank_type" name="dc_rank_type" style="height: 3vh; font-size: 70%; padding: 0px;">
						<option value="">Rank</option>
						{% for rank in ranks %}
							<option value={{rank.id}}>{{rank.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
	</div>


<div id="dcdamagefield">
	
	<div id="dc-attr-field">
		Damage Adjust:
	</div>
	
	<div>
		<select id="dc_damage" name="dc_damage" style="height: 4vh; font-size: 70%;">
			<option value="">Damage Adjust</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option> 
			{% endfor %}
		</select>
	</div>

	<div>
		(- per degree of success + per degree of failure)
	</div>


</div>

<div id="dckeywordfield">

	<div id="dc-attr-field">
		Keyword
	</div>

	<div>
		<input type="text" id="dc_keyword" name="dc_keyword" style="height: 2vh; padding: 1%; font-size: 100%;" placeholder="Keyword">
	</div>

	<div>

	</div>

</div>

<div id="dcdefensefield">

	<div id="dc-attr-field">
		Relevant Defense:
	</div>

	<div>
		<select id="dc_defense" name="dc_defense" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for defense in defenses %}
				<option value={{defense.id}}>{{defense.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="dcconditionfield">

	<div id="dc-attr-field">
		Change Condition:
	</div>

	<div>
		From: 
	</div>

	<div>
		<select id="dc_condition_1" name="dc_condition_1" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for condition in combined_conditions%}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
			{% for condition in conditions%}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}	
		</select>
	</div>

	<div>
		To:
	</div>

	<div>
		<select id="dc_condition_2" name="dc_condition_2" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for condition in combined_conditions%}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
			{% for condition in conditions%}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}	
		</select>
	</div>

	<div></div>

</div>

<div id="dcactionfield">

	<div id="dc-attr-field">
		Change Action To:
	</div>

	<div>
		<select id="dc_defense" name="dc_defense" style="height: 3vh; font-size: 70%; padding: 0px;">
			<option value=""></option>
			{% for action in actions %}
				<option value={action.id}}>{{action.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div></div>

</div>


<div id="dc-add">

	<div></div>

	<div style="align-items: right;">
		<div class="btn" id="dc_create" style="height: 2.5vh; padding-top: 5%; align-content: center; align-items: center;">
			<center>
			<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

<div></div>

	</div>


		<div id="dc-table-container">

				<div id="dc-table-title-dc">
					DC:
				</div>

				<div id="dc-table-title-keyword">
					Keyword:
				</div>

				<div id="dc-table-title-description">
					Description:
				</div>
				
				<div id="dc-table-title-measurement">
					Measurement:
				</div> 

				<div id="dc-table-title-damage">
					Damage:
				</div>

				<div id="dc-table-title-defense">
					Defense:
				</div>

				<div id="dc-table-col">
					15
				</div>

				<div id="dc-table-col">
					Simple
				</div>

				<div id="dc-table-col">
					electronic timer or  detonator, tripwire trap
				</div>

				<div id="dc-table-col">
					2 hours
				</div>

				<div id="dc-table-col">
					None
				</div>

				<div id="dc-table-col">
					None
				</div>


		</div>

	<div>

	</div>

</div>

</div>	

