<div id="skill-attr-title">
	Difficulty Class Table:
</div>

<div id="dc-rows">

<div id="dc-field">
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			DC:
		</div>
	</div>

	
	<div style="margin-bottom: 4px;">
		<div id="multiple-attr-title">
			Description:
		</div>
	</div>

	
	<div id="dc-value">
		<select class="header-select" id="dc_type" name="dc_type" onchange="dc_dc_type()">
			<option value="">Type</option>
			{% for type in value_type %}
				<option value="{{type}}">{{type}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div>
		<input type="text" id="dc_des" name="dc_description" >
	</div>
</div>

<div id="dc-entry" style="display: none;">

	<div id="dc-attr-title">DC: </div>

	<div>
		<div id="dc-class" style="display: none;">
			<div>
				<select class="select-sml" id="dc_class" name="dc_class" >
					<option value="">DC</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>

			<div></div>
		</div>
	
		<div id="dc-math" style="display: none;">
			<div id="dcmathvalue">
				<select class="select-sml" id="dc_math_value" name="dc_math_value" >
					<option value="">Value</option>
					{% for class in dcclasses %}
						<option value={{class}}>{{class}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="dcmathtype">
				<select class="select-sml" id="dc_math" name="dc_math" >
					<option value="">Math</option>
					{% for math in maths %}
						<option value={{math.id}}>{{math.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="dcranktype">
				<select class="select-sml" id="dc_math_rank" name="dc_math_rank" >
					<option value="">Rank</option>
					{% for rank in ranks %}
						<option value={{rank.id}}>{{rank.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>


</div>
	


	<div id="dc-fields">

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_mea_check" class="medium-checkbox med-checkbox" onclick="dc_mea_click()"> Measure 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_dam_check" class="medium-checkbox med-checkbox" onclick="dc_dam_click()"> Damage 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_key_check" class="medium-checkbox med-checkbox" onclick="dc_key_click()"> Keyword 
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_con_check" class="medium-checkbox med-checkbox" onclick="dc_con_click()"> Condition
			</div>
		</div>

		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_def_check" class="medium-checkbox med-checkbox" onclick="dc_def_click()"> Defense
			</div>
		</div>
		
		<div>
			<div id="dc-field-title" style="vertical-align: top;">
				<input type="checkbox" id="dc_act_check" class="medium-checkbox med-checkbox" onclick="dc_act_click()"> Action
			</div>
		</div>

	</div>


<div id="dc-rows">
	<div id="dc-measure-field" style="display: none;">

		<div id="dc-attr-title">
			Measurement:
		</div>

		<div>
			<select class="select-sml" id="dc_mea_type" name="dc_mea_type" onchange="dc_measure_type()">
				<option value="">Type</option>
				{% for type in value_type %}
					<option value="{{type}}">{{type}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="dc-measure-fields" style="margin-top: 0px;">
			<div id="dc-measure-value" style="margin-top: 0px;" style="display: none;">
				<div>
					<input type="text" id="dc_mea_val" name="dc_mea_val" placeholder="Value">
				</div>

				<div>
					<select class="select-sml" id="dc_mea_unit" name="dc_mea_unit" >
						<option value="">Units</option>
						{% for unit in units %}
							<option value={{unit.id}}>{{unit.name}}</option>
			`			{% endfor %}
					</select>
				</div>
			</div>


			<div id="dc-measure-math" style="display: none;">
				<div>
					<select class="select-sml" id="dc_mea_math_val" name="dc_mea_math_val" >
						<option value="">Value</option>
						{% for class in dcclasses %}
							<option value={{class}}>{{class}}</option>
						{% endfor %}
					</select>
				</div>


				<div>
					<select class="select-sml" id="dc_mea_math" name="dc_mea_math_type" >
						<option value="">Math</option>
						{% for math in maths %}
							<option value={{math.id}}>{{math.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_mea_math_rank" name="dc_mea_math_rank" >
						<option value="">Rank</option>
						{% for rank in ranks %}
							<option value={{rank.id}}>{{rank.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
	</div>


<div id="dc-damage-field" style="display: none;">
	
	<div id="dc-attr-title">
		Damage Adjust:
	</div>
	
	<div>
		<select class="select-sml" id="dc_dam" name="dc_dam" >
			<option value="">Damage Adjust</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option> 
			{% endfor %}
		</select>
	</div>

	<div id="dc-damage-text">
		(- per degree of success + per degree of failure)
	</div>


</div>

<div id="dc-keyword-field" style="display: none;">

	<div id="dc-attr-title">
		Keyword
	</div>

	<div>
		<input type="text" id="dc_key" name="dc_key" placeholder="Keyword">
	</div>

	<div>

	</div>

</div>

<div id="dc-defense-field" style="display: none;">

	<div id="dc-attr-title">
		Relevant Defense:
	</div>

	<div>
		<select class="select-sml" id="dc_def" name="dc_def">
			<option value=""></option>
			{% for defense in defenses %}
				<option value={{defense.id}}>{{defense.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="dc-condition-field" style="display: none;">

	<div id="dc-attr-title">
		Change Condition:
	</div>

	<div id="dc-condition-text">
		From: 
	</div>

	<div>
		<select class="select-sml" id="dc_con1" name="dc_con1" >
			<option value=""></option>
			{% for condition in conditions %}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
		</select>
	</div>

	<div>
		To:
	</div>

	<div>
		<select class="select-sml" id="dc_con2" name="dc_con2" >
			<option value=""></option>
			{% for condition in conditions %}
				<option value="{{condition}}">{{condition}}</option>
			{% endfor %}
		</select>
	</div>

	<div></div>

</div>

<div id="dc-action-field" style="display: none;">

	<div id="dc-attr-title">
		Change Action To:
	</div>

	<div>
		<select class="select-sml" id="dc_act" name="dc_act" >
			<option value=""></option>
			{% for action in actions %}
				<option value={{action.id}}>{{action.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div></div>

</div>

</div>


<div id="dc-add">

	<div></div>

	<div style="align-items: right;">
		<div class="dc-btn" id="dc_create" onclick="dc_submit()">
			 Add
		</div>
	</div>

	<div></div>

</div>


		<div id="dc-table-container">

				<div id="dc-table-title-dc">
					DC:
				</div>

				<div id="dc-table-title-key">
					Keyword:
				</div>

				<div id="dc-table-title-des">
					Description:
				</div>
				
				<div id="dc-table-title-mea" >
					Measure:
				</div> 

				<div id="dc-table-title-dam" >
					Damage:
				</div>

				<div id="dc-table-title-def" >
					Defense:
				</div>

				<div id="dc-table-title-act" >
					Action:
				</div>

				<div id="dc-table-title-con" >
					Condition:
				</div>

				<div></div>

		</div>

		<div id="dc-err"></div>

	<div>

	</div>

</div>

</div>	

