<div id="degree-header" style="justify-content: center;">

	<div id="degree-title">
		<input type="checkbox" id="degree_check" class="regular-checkbox big-checkbox" onclick="degree_check()">  Degree of Success/Failure (Keyword) Table:
	</div>

	<div id="degree-base-form" style="transition: all .3s ease-out;">
		<div id="degree-type" style="transition: all .3s ease-out;">
			<input type="text" id="degree_type" name="degree_type" style="height: 1vh; font-size: 80%; width: 85%; margin-top: 2px;" placeholder="Type of Result" onblur="degree_base()">
		</div>

		<div></div>

		<div>
			<select id="degree_target" name="degree_target" style="height: 4vh; font-size: 100%; padding: 0%;" onchange="degree_base()">
				<option value="">Target</option>
				{% for target in level_target %}
					<option value="{{target}}">{{target}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

</div>

<div id="degree-entry" style="display: none;">

	<div id="degree-value-title">
		Degree:
	</div>

	<div id="degree-keyword-title">
		Keyword:
	</div>

	<div id="degree-description-title">
		Description:
	</div>

	<div id="degree-value-field">
		<select id="degree_value" name="degree_value" style="height: 3vh; font-size: 100%; padding: 0%;">
			<option value="">Degree</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="degree-keyword-field" style="width:95%" >
		<input type="text" id="degree_keyword" name="degree_keyword" style="width: 67%; height: 1vh; font-size: 90%;">
	</div>

	<div id="degree-description-field">
		<textarea id="degree_desc" name="degree_desc" style="width: 100%; height: 80%; font-size: 90%; padding: 2%;"></textarea>
	</div>

	<div id="degree-add">
		<div class="btn" id="degree_add" style="height: 95%; padding: 3px; font-size: 95%;" onclick="degree_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

	<div></div>

</div>

	<div id="degree-table" style="display: none;">

		<div></div>
		<div></div>
		<div id="degree-table-type"></div>
		<div></div>

		<div></div>
		<div></div>
		<div></div>
		<div></div>

		<div id="levels-table-title">
			Degree:
		</div>

		<div id="levels-table-title">
			Keyword:
		</div>

		<div id="levels-table-title">
			Description:
		</div>

		<div></div>

	</div>

	<div id="degree-err"></div>
					
