<div id="deg-mod-header">

	<div id="deg-mod-title">
		<input type="checkbox" id="deg_mod_check" class="regular-checkbox big-checkbox" onclick="deg_mod_check()">  Degree of Success/Failure (Modifier) Table:
	</div>

	<div id="deg-mod-base-form" >
		<select class="header-select" id="deg_mod_target" name="deg_mod_target" onchange="deg_mod_base()">
			<option value="">Target</option>
			{% for target in level_target %}
				<option value="{{target}}">{{target}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="deg-mod-entry" style="display: none;">

	<div id="deg-mod-deg">
		<select class="select-sml" id="deg_value" name="deg_value" >
			<option value="">Degree</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-type">
		<select class="select-sml" id="deg_mod_type" name="deg_mod_type" onchange="deg_mod_type()">
			<option value="">Type</option>
			<option value="event">Event</option>
			{% for type in deg_mod_type %}
				<option value="{{type}}">{{type}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-effect">
		
		<div id="deg-mod-damage" style="display: none;">

		
			<div id="deg-mod-damage-field">
				<select class="select-sml" id="deg_mod_damage_type" name="deg_mod_damage_type" onchange="deg_mod_damage_type()">
					<option value="">Type</option>
					{% for type in value_type %}
						<option value="{{type}}">{{type}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-damage-math" style="display: none;">

					<div>
						<select class="select-sml" id="deg_mod_math_damage" name="deg_mod_math_damage" >
							<option value="">Damage</option>
							{% for class in dcclasses %}
								<option value={{class}}>{{class}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_damage_math1" name="deg_mod_damage_math1" >
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select class="select-sml" id="deg_mod_damage_val1" name="deg_mod_damage_val1" >
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_damage_math2" name="deg_mod_damage_math" >
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select class="select-sml" id="deg_mod_damage_val2" name="deg_mod_damage_val2" >
							<option value="">Math</option>
							{% for rank in ranks %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div></div>

				</div>

				<div id="deg-mod-damage-value" style="display: none;">

					<div>
						<select class="select-sml" id="deg_damage_deg_value" name="deg_damage_deg_value" >
							<option value="">Degree</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div id="deg-mod-entry-title">
						<select class="select-sml" id="deg_damage_value" name="deg_damage_value" >
							<option value="">Value</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

				</div>
			</div>
		</div>

		<div id="deg-mod-measure" style="display: none;">

			<div id="deg-mod-field">
				<select class="select-sml" id="deg_mod_measure_type" name="deg_mod_measure_type" onchange="deg_mod_measure_type()">
					<option value="">Type</option>
					{% for type in value_type %}
						<option value="{{type}}">{{type}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-measure-math" style="display: none;">

					<div>
						<select class="select-sml" id="deg_mod_measure_val1" name="deg_mod_measure_val1" >
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select class="select-sml" id="deg_mod_measure_math" name="deg_mod_measure_math" >
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select class="select-sml" id="deg_mod_measure_val2" name="deg_mod_damage_val2" >
							<option value="">Rank Type</option>
							{% for rank in ranks %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div>

						<select class="select-sml" id="deg_mod_measure_math_rank" name="deg_mod_measure_math_rank" >
							<option value="">Rank Type</option>
							{% for rank in measure_rank %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>

					</div>

				</div>

		
		
				<div id="deg-mod-measure-value" style="display: none">

					<div>
						<select class="select-sml" id="deg_mod_measure_value" name="deg_measure_value" >
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>

						<select class="select-sml" id="deg_mod_measure_rank" name="deg_mod_measure_rank" >
							<option value="">Rank Type</option>
							{% for rank in measure_rank %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>

					</div>

				</div>
			
			</div>
		</div>

		<div id="deg-mod-condition" style="display: none;">

			<div>
				From: 
			</div>
	
			<div>
				<select class="select-sml" id="deg_mod_condition1" name="deg_mod_condition1" >
					<option value="">Condition</option>
					<option value="current">Current</option>
					{% for condition in combined_conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
					{% for condition in conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div id="deg-mod-condition-twxt" >
				<center>
				To: 
				</center>			
			</div>

			<div>
				<select class="select-sml" id="deg_mod_condition2" name="deg_mod_condition2" >
					<option value="">Condition</option>
					<option value="current">Current</option>
					{% for condition in combined_conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
					{% for condition in conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
				</select>
			</div>

			<div></div>
		
		</div>
	</div>

	<div id="deg-mod-nullify">

		<select class="entry-select" id="deg_mod_nullify" name="deg_mod_nullify" >
			<option value="">DC to Nullify</option>
			<option value="extra">Extra Check</option>
			{% for class in dcclasses %}
				<option value={{class}}>{{class}} DC</option>
			{% endfor %}
		</select>

	</div>

	<div id="deg-mod-keyword">
		<input type="text" id="deg_mod_keyword" name="deg_mod_keyword" placeholder="Keyword">
	</div>

	<div id="deg-mod-description">
		<textarea id="deg_mod_desc" name="deg_mod_desc" ></textarea>
	</div>

	<div></div>

	<div id="deg-mod-add">
		<div class="btn-small" id="deg_mod_add" onclick="deg_mod_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="deg-mod-table" style="display: none;">

	<div id="deg-mod-table-title">
		Degree:
	</div>

	<div id="deg-mod-table-title">
		Effect:
	</div>

	<div id="deg-mod-table-title">
		Keyword:
	</div>

	<div id="deg-mod-table-title">
		Description:
	</div>

	<div id="deg-mod-table-title">
		To Nullify :
	</div>

	<div></div>


</div>

<div id="deg-mod-err"></div>