<div id="deg-mod-header">

	<div id="deg-mod-title">
		<input type="checkbox" id="deg_mod_check" class="regular-checkbox big-checkbox" onclick="deg_mod_check()">  Degree of Success/Failure (Modifier) Table:
	</div>

	<div id="deg-mod-base-form" style="opacity: 0%; transition: all .3s ease-out;">
		<select id="deg_mod_target" name="deg_mod_target" style="height: 4vh; padding: 0%; font-size: 100%;" onchange="deg_mod_base()">
			<option value="">Target</option>
			{% for target in level_target %}
				<option value="{{target}}">{{target}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="deg-mod-entry" style="display: none;">

	<div id="deg-mod-deg">
		<select id="deg_value" name="deg_value" style="height: 3vh; padding: 0%; font-size: 80%;">
			<option value="">Degree</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-type">
		<select id="deg_mod_type" name="deg_mod_type" style="height: 3vh; padding: 0%; font-size: 80%;" onchange="deg_mod_type()">
			<option value="">Type</option>
			<option value="event">Event</option>
			{% for type in deg_mod_type %}
				<option value="{{type}}">{{type}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="deg-mod-effect">
		
		<div id="deg-mod-damage" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

		
			<div id="deg-mod-damage-field">
				<select id="deg_mod_damage_type" name="deg_mod_damage_type" style="height: 3vh; padding: 0%; font-size: 80%;" onchange="deg_mod_damage_type()">
					<option value="">Type</option>
					{% for type in value_type %}
						<option value="{{type}}">{{type}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-damage-math" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

					<div>
						<select id="deg_mod_math_damage" name="deg_mod_math_damage" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Damage</option>
							{% for class in dcclasses %}
								<option value={{class}}>{{class}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select id="deg_mod_damage_math1" name="deg_mod_damage_math1" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select id="deg_mod_damage_val1" name="deg_mod_damage_val1" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select id="deg_mod_damage_math2" name="deg_mod_damage_math" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select id="deg_mod_damage_val2" name="deg_mod_damage_val2" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Math</option>
							{% for rank in ranks %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div></div>

				</div>

				<div id="deg-mod-damage-value" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

					<div>
						<select id="deg_damage_deg_value" name="deg_damage_deg_value" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Degree</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div id="deg-mod-entry-title">
						<select id="deg_damage_value" name="deg_damage_value" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Value</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

				</div>
			</div>
		</div>

		<div id="deg-mod-measure" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

			<div id="deg-mod-field">
				<select id="deg_mod_measure_type" name="deg_mod_measure_type" style="height: 3vh; padding: 0%; font-size: 80%;" onchange="deg_mod_measure_type()">
					<option value="">Type</option>
					{% for type in value_type %}
						<option value="{{type}}">{{type}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="deg-mod-measure-math" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

					<div>
						<select id="deg_mod_measure_val1" name="deg_mod_measure_val1" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>
						<select id="deg_mod_measure_math" name="deg_mod_measure_math" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Math</option>
							{% for math in maths %}
								<option value={{math.id}}>{{math.name}}</option>
							{% endfor %}
						</select>
					</div>
					
					<div>
						<select id="deg_mod_measure_val2" name="deg_mod_damage_val2" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank Type</option>
							{% for rank in ranks %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div>

						<select id="deg_mod_measure_math_rank" name="deg_mod_measure_math_rank" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank Type</option>
							{% for rank in measure_rank %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>

					</div>

				</div>

		
		
				<div id="deg-mod-measure-value" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

					<div>
						<select id="deg_measure_value" name="deg_damage_value" style="height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank</option>
							{% for number in numbers %}
								<option value={{number}}>{{number}}</option>
							{% endfor %}
						</select>
					</div>

					<div>

						<select id="deg_mod_measure_rank" name="deg_mod_measure_rank" style="width: 50%; height: 3vh; padding: 0%; font-size: 80%;">
							<option value="">Rank Type</option>
							{% for rank in measure_rank %}
								<option value={{rank.id}}>{{rank.name}}</option>
							{% endfor %}
						</select>

					</div>

				</div>
			
			</div>
		</div>

		<div id="deg-mod-condition" style="display: none; opacity: 0%; transition: opacity .2s ease-out;">

			<div>
				From: 
			</div>
	
			<div>
				<select id="deg_mod_condition1" name="deg_mod_condition1" style="width: 100%; height: 3vh; padding: 0%; font-size: 80%;">
					<option value="">Condition</option>
					<option value="current">Current</option>
					{% for condition in combined_conditions %}
						<option value="{{condition.name}}">{{condition.name}}</option>
					{% endfor %}
					{% for condition in conditions %}
						<option value="{{condition.name}}">{{condition.name}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div>
				<center>
				To: 
				</center>			
			</div>

			<div>
				<select id="deg_mod_condition2" name="deg_mod_condition2" style="width: 100%; height: 3vh; padding: 0%; font-size: 80%;">
					<option value="">Condition</option>
					<option value="current">Current</option>
					{% for condition in combined_conditions %}
						<option value="{{condition.name}}">{{condition.name}}</option>
					{% endfor %}
					{% for condition in conditions %}
						<option value="{{condition.name}}">{{condition.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div></div>
		
		</div>
	</div>

	<div id="deg-mod-nullify">

		<select id="deg_mod_nullify" name="deg_mod_nullify" style="height: 3vh; padding: 0%; font-size: 80%;">
			<option value="">DC to Nullify</option>
			<option value="extra">Extra Check</option>
			{% for class in dcclasses %}
				<option value={{class}}>{{class}} DC</option>
			{% endfor %}
		</select>

	</div>

	<div id="deg-mod-keyword">
		<input type="text" id="deg_mod_keyword" name="deg_mod_keyword" style="height: 2vh; padding: 1%; font-size: 100%;" placeholder="Keyword">
	</div>

	<div id="deg-mod-description">
		<textarea id="deg_mod_desc" name="deg_mod_desc" style="width: 98%; height: 80%; font-size: 90%; padding: 2%;"></textarea>
	</div>

	<div id="deg-mod-add">
		<div class="btn" id="deg_mod_add" style="height: 95%; margin-left: 5%; padding: 7px; font-size: 95%; vertical-align: middle; display: table-cell;" onclick="deg_mod_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="deg-mod-table" style="display: none;">

	<div id="deg-mod-table-title">
		Degree:
	</div>

	<div id="deg-mod-table-title">
		Effect:
	</div>

	<div id="deg-mod-table-title">
		Keyword:
	</div>

	<div id="deg-mod-table-title">
		Description:
	</div>

	<div id="deg-mod-table-title">
		To Nullify :
	</div>

	<div></div>


</div>

