<div id="levels-header" style="justify-content: center;">

		


	<div id="levels-title">
		<input type="checkbox" id="levels_check" class="regular-checkbox big-checkbox" onclick="levels_check()">  Character Levels Table:
	</div>

	<div id="levels-base-form" style="transition: all .3s ease-out;">
		<div id="level-type" style="transition: all .4s ease-out;">
			<input class="entry-text" type="text" id="level_type" name="level_type" placeholder="Type of level" onblur="levels_base()">
		</div>

		<div></div>

		<div>
			<select class="header-select" id="levels_dc_set" name="levels_dc_set" onchange="levels_base()">
				<option value="">DC</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="header-select" id="levels_target" name="levels_target" onchange="levels_base()">
				<option value="">Target</option>
				{% for target in level_target %}
					<option value="{{target}}">{{target}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

	<div id="levels-entry" style="display: none;">

		<div id="levels-entry-title">
			Level:
		</div>


		<div id="levels-entry-title">
			Effect:
		</div>

		<div></div>

		<div id="levels-field">
			<input class="entry-text" type="text" id="level" name="level" >
		</div>

		<div id="levels-field" style="width:95%" >
			<input class="entry-text" type="text" id="level_effect" name="level_effect" >
		</div>

		<div id="levels-add">
			<div class="btn-small" id="level_add" onclick="levels_submit()">
				<center>
					<i class="fa fa-plus"></i>   Add
				</center>
			</div>
		</div>

		<div></div>

		<div style="color: #af0101; font-size:85%;">
			Enter levels easiest to hardest.
		</div>

	</div>

	<div id="levels-table" style="display: none;">


		<div></div>
		<div></div>
		<div>
			<div id="levels-table-type"></div>
		</div>
		<div></div>
		
		<div></div>
		<div></div>
		<div></div>
		<div></div>


		<div id="levels-table-title">
			DC:
		</div>

		<div id="levels-table-title">
			Level:
		</div>

		<div id="levels-table-title">
			Effect:
		</div>

		<div></div>

	</div>
					
	<div id="levels-err"></div>