<div id="levels-header" style="justify-content: center;">

		


	<div id="levels-title">
		<input type="checkbox" id="levels_check" class="regular-checkbox big-checkbox">  Character Levels Table:
	</div>

	<div id="levels-base-form">
		<div>
			<select id="levels_dc_set" name="skilltype" style="height: 4vh; padding: 0%; font-size: 100%;">
				<option value="">DC</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select id="levels_target" name="skilltype" style="height: 4vh; font-size: 100%; padding: 0%;">
				<option value="">Target</option>
				{% for target in level_target %}
					<option value="{{target}}">{{target}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>

	<div id="levels-entry">

			<div id="levels-entry-title">
				Level:
			</div>


			<div id="levels-entry-title">
				Effect:
			</div>

			<div></div>


			<div id="levels-field">
				<input type="text" id="level" style="height: 1vh; font-size: 90%;">
			</div>

			<div id="levels-field" style="width:95%" >
				<input type="text" id="level_effect" style="height: 1vh; font-size: 90%;">
			</div>

			<div id="levels-add">
				<div class="btn" id="level_add" style="height: 80%; padding: 3px; font-size: 95%;">
					<center>
						<i class="fa fa-plus"></i>   Add
					</center>
				</div>
			</div>

	</div>
					
</div>