<div id="move-header">

	<div id="move-title">
		<input type="checkbox" id="movement_check" class="regular-checkbox big-checkbox" onclick="movement_check()"> Movement Effect:
	</div>

</div>

<div id="move-entry" style="display: none;">
	<div id="move-entry-title">
		Rank:
	</div>

	<div  id="move-entry-title">
		Math:
	</div>

	<div id="move-entry-title">
		Value:
	</div>

	<div></div>

	<div>

		<div>

			<select class="entry-select" id="move_rank" name="move_rank" aria-placeholder="0" >
				<option value=''>Rank</option>
				{% for rank in measure_rank %}
					<option value={{rank.id}}>{{rank.name}}</option>
				{% endfor %}
				{% for rank in char_rank %}
					<option value={{rank.id}}>{{rank.name}}</option>
				{% endfor %}
			</select>
	
		</div>

	</div>

	<div>

		<select class="entry-select" id="move_math" name="move_math" aria-placeholder="0" >
			<option value=''>Math</option>
			{% for math in maths %}
				<option value={{math.id}}>{{math.name}}</option>
			{% endfor %}
		</select>

	</div>

	<div>

		<select class="entry-select" id="move_value" name="mov_value" aria-placeholder="0" >
			<option value=''>Value</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>

	</div>

	<div></div>

</div>

<div id="move-err"></div>