<div id="char-header" style="justify-content: center;">

	<div id="char-title">
		<input type="checkbox" id="char_check" class="regular-checkbox big-checkbox" onclick="char_check()">  Requires Check from Other Character
	</div>

	<div id="char-base-form">
		<div>
			<select class="entry-select" id="char_type" name="char_type" onchange="char_base()">
				<option value="">Check Type</option>
				{% for check in checks %}
					<option value={{check.id}}>{{check.name}}</option>
				{% endfor %}
			</select>		
		</div>

		<div></div>

		<div>
			<select class="entry-select" id="char_target" name="char_target" onchange="char_base()">
				<option value="">Target</option>
				{% for target in targets %}
					<option value="{{target}}">{{target}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

</div>

<div id="char-entry" style="display: none;">

	<div id="char-value-title">
		Degree:
	</div>

	<div id="char-rank-title">
		Rank:
	</div>

	<div id="char-description-title">
		Description:
	</div>

	<div id="char-value-field">
		<select class="select-sml" id="char_value" name="char_value" >
			<option value="">Degree</option>
			<option value="result">Result</option>
			{% for number in numbers %}
				<option value={{number}}>{{number}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="char-rank-field" style="width:95%" >
		<select class="select-sml" id="char_rank" name="char_rank" >
			<option value="">Rank</option>
			{% for oppose in opposed %}
				<option value="{{oppose}}">{{oppose}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="char-description-field">
		<textarea id="char_desc" name="char_desc" ></textarea>
	</div>

	<div id="char-add">
		<div class="char-btn" id="char_add" onclick="char_submit()">
			 Add
		</div>
	</div>

	<div></div>

</div>

	<div id="char-table" style="display: none;">

		<div id="char-table-title">
			Degree:
		</div>

		<div id="char-table-title">
			Target:
		</div>

		<div id="char-table-title">
			Check Type:
		</div>

		<div id="char-table-title">
			Rank:
		</div>

		<div id="char-table-title">
			Description:
		</div>

		<div></div>
		
	</div>
					
	<div id="char-err"></div>