<div id="other-header">

	<div id="other-title">
		<input type="checkbox" id="other_check" class="regular-checkbox big-checkbox" onclick="other_check()">  Can Make Other Skill Checks:
	</div>

</div>

<div id="other-entry" style="display: none;">

	<div id="other-entry-title">
		Skill:
	</div>

	<div id="other-entry-title">
		Examples
	</div>

	<div id="other-entry-title">
	</div>

	<div id="other-field">
		<select id="other_skill" name="other_skill" style="height: 3vh; padding: 0%; font-size: 90%;">
			<option value="">Skill</option>
			{% for skill in skills %}
				<option value={{skill.id}}>{{skill.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="other-field" style="width: 95%;" >
		<input type="text" id="other_examples" name="other_examples" style="height: 1vh; font-size: 90%;">
	</div>

	<div id="other-add" onclick="other_submit()">
		<div class="btn" id="other_add" style="height: 95%; padding: 3px; font-size: 95%;">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="other-table" style="display: none;">

	<div id="other-table-title">
		Skill:
	</div>

	<div id="other-table-title">
		Examples:
	</div>

	<div></div>


</div>

<div id="other-err"></div>