<div id="power-header">

	<div id="power-title">
		<input type="checkbox" id="levels_check" class="regular-checkbox big-checkbox"> Requires Power:
	</div>

</div>

<div id="power-entry">
	<div id="move-entry-title">
		Power:
	</div>

	<div  id="move-entry-title">
		Situation:
	</div>

	<div></div>

	<div>

		<select id="power" name="power" aria-placeholder="0" style="width: 90%; height: 4vh; font-size: 110%;">
			<option value=''>Power</option>
			{% for power in powers %}
				<option value="{{power}}">{{power}}</option>
			{% endfor %}
		</select>

	</div>

	<div>

		<input type="text" id="power_sit" name="power_sit" style="height: 1vh; font-size: 80%; width: 95%; margin-top: 2px;">

	</div>

	<div>

		<div class="btn" id="power_add" style="height: 3vh; width: 85%; font-size: 90%; padding: 2px; vertical-align: middle; align-content: center; align-items: center;">
			<center>
			<i class="fa fa-plus"></i>   Add
			</center>
		</div>

	</div>

</div>

<div id="power-table">

	<div id="power-table-title">
		Power:
	</div>

	<div id="power-table-title">
		Situation:
	</div>

	<div id="power-table-power">
		Flight
	</div>

	<div id="power-table-situation">
		You have to fly
	</div>


</div>



