<div id="pre-check-header">

	<div id="pre-check-title">
		<input type="checkbox" id="pre_check_check" class="regular-checkbox big-checkbox" onclick="pre_check_check()">  Other Required Checks:
	</div>

	<div id="pre-check-header-type" style="opacity: 0%; transition: all .3s ease-out;">
		<select id="pre_check_type" name="pre_check_type" style="height: 3vw; font-size: 110%;" onchange="pre_check_entry()">
			<option value="">Check Type</option>
			{% for check in checks_two %}
				<option value="{{check.id}}">{{check.name}}</option>
			{% endfor %}
		</select>
	</div>

</div>

<div id="pre-check-entry-standard" style="display: none;">

	<div id="pre-check-entry-title">
		When:
	</div>

	<div id="pre-check-entry-title">
		Check:
	</div>

	<div id="pre-check-entry-title">
		Circumstance
	</div>

	<div id="pre-check-entry-title">
	</div>
	
	<div id="pre-check-field">
		<select id="pre_check_when" name="pre_check_when" style="height: 2.3vw; padding: .3vw;  font-size: 100%;">
			<option value=""></option>
			{% for when in whens %}
				<option value="{{when}}">{{when}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="pre-check-field">
		<select id="pre_check_skill" name="pre_check_skill" style="height: 2.3vw; padding: .3vw;  font-size: 100%;">
			<option value="">Check</option>
			{% for skill in skills_abilities %}
				<option value="{{skill}}">{{skill}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="pre-check-field" style="width: 95%;" >
		<input type="text" id="pre_check_circ" name="pre_check_circ" style="height: 1vw; font-size: 95%;">
	</div>

	<div id="pre-check-add">
		<div class="btn" id="	pre_check_add_standard" style="display: table-cell; vertical-align: middle; width:5vw; height: 2vw; padding: .3vw; font-size: 110%;" onclick="pre_check_standard_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="pre-check-entry-opposed" style="display: none;">

	<div id="pre-check-entry-title">
		When:
	</div>

	<div id="pre-check-entry-title">
		Check:
	</div>

	<div id="pre-check-entry-title">
		Opposed by:
	</div>

	<div id="pre-check-entry-title">
		Circumstance
	</div>

	<div id="pre-check-entry-title">
	</div>
	
	<div id="pre-check-field">
		<select id="pre_check_opposed_when" name="pre_check_opposed_when" style="height: 2.3vw; padding: .3vw;  font-size: 100%;">
			<option value=""></option>
			{% for when in whens %}
				<option value="{{when}}">{{when}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="pre-check-field">
		<select id="pre_check_opposed_skill" name="pre_check_opposed_skill" style="height: 2.3vw; padding: .3vw;  font-size: 100%;">
			<option value="">Check</option>
			{% for skill in skills_abilities %}
				<option value="{{skill}}">{{skill}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="pre-check-field">
		<select id="pre_check_opposed" name="pre_check_opposed" style="height: 2.3vw; padding: .3vw;  font-size: 100%;">
			<option value="">Opposed Check</option>
			{% for skill in skills_abilities %}
				<option value="{{skill}}">{{skill}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="pre-check-field" style="width: 95%;" >
		<input type="text" id="pre_check_opposed_circ" name="pre_check_opposed_circ" style="height: 1vw; font-size: 95%;">
	</div>

	<div id="pre-check-add">
		<div class="btn-small" id="pre_check_add_opposed" onclick="pre_check_opposed_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="pre-check-table-standard" style="display: none;">

	<div id="pre-check-table-title">
		When:
	</div>

	<div id="pre-check-table-title">
		Check:
	</div>

	<div id="pre-check-table-title">
		Circumstance
	</div>

	<div></div>

</div>

<div id="pre-check-table-opposed" style="display: none;">

	<div id="pre-check-table-title">
		When:
	</div>

	<div id="pre-check-table-title">
		Check:
	</div>

	<div id="pre-check-table-title">
		Opposed By:
	</div>

	<div id="pre-check-table-title">
		Circumstance
	</div>

	<div></div>

</div>

<div id="pre-check-err"></div>

