<div id="resist-effect-header">

	<div id="resist-effect-title">
		<input type="checkbox" id="resist_effect_check" class="regular-checkbox big-checkbox" onclick="resist_effect_check()">  Can Resist Certain Effects:
	</div>

</div>

<div id="resist-effect-entry">

	<div id="resist-effect-entry-title">
		Effects of:
	</div>

	<div id="resist-effect-entry-title">
		Examples
	</div>

	<div id="resist-effect-entry-title">
	</div>

	<div id="resist-effect-field">
		<select class="entry-select" id="resist_effect" name="other_skill">
			<option value="">Resists</option>
			{% for resist in resists %}
				<option value="{{resist}}">{{resist}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="resist-effect-field" style="width: 95%;" >
		<input type="text" id="resist_effect_examples" name="resist_effect_examples" >
	</div>

	<div id="resist-effect-add">
		<div class="btn-small" id="resist_effect_add" onclick="resist_submit()">
			<center>
				<i class="fa fa-plus"></i>   Add
			</center>
		</div>
	</div>

</div>

<div id="resist-effect-table" style="display: none;">

	<div id="resist-effect-table-title">
		Resists:
	</div>

	<div id="resist-effect-table-title">
		Examples:
	</div>

	<div></div>


</div>

<div id="resist-effect-err"></div>