<div id="rounds-header" style="justify-content: center;">

	<div id="rounds-title">
		<input type="checkbox" id="rounds_check" class="regular-checkbox big-checkbox" onclick="rounds_check()">  Multiple Round Effect:
	</div>

</div>

	<div id="rounds-entry" style="display: none;">

		<div id="rounds-entry-title">
			DC:
		</div>

		<div id="rounds-entry-title" style="font-size: 80%;">
			Degree of Result:
		</div>

		<div id="rounds-entry-title">
			Affected Rank:
		</div>

		<div id="rounds-entry-title">
			Modifier:
		</div>

		<div id="rounds-entry-title">
			Rounds:
		</div>

		<div></div>


		<div id="rounds-field">
			<select class="select-sml" id="rounds_dc" name="rounds_dc" >
				<option value="">DC</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select class="select-sml" id="rounds_degree" name="rounds_degree" >
				<option value="">DC</option>
				{% for number in numbers %}
					<option value={{number}}>{{number}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select class="select-sml" id="rounds_rank" name="rounds_rank" >
				<option value="">Affected Rank</option>
				{% for rank in ranks %}
					<option value={{rank.id}}>{{rank.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select class="select-sml" id="rounds_mod" name="rounds_mpd" >
				<option value="">Modifier</option>
				{% for number in numbers %}
					<option value={{number}}>{{number}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select class="select-sml" id="rounds_rounds" name="rounds_rounds">
				<option value="">Lasts</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-add">
			<div class="btn-sml" id="power_add" onclick="rounds_submit()">
				 Add
			</div>
		</div>

	</div>

	<div id="rounds-table" style="display: none;">

		<div id="rounds-table-title">
			DC:
		</div>

		<div id="rounds-table-title">
			Degree:
		</div>

		<div id="rounds-table-title">
			Affected Rank:
		</div>

		<div id="rounds-table-title">
			Modifier:
		</div>

		<div id="rounds-table-title">
			Rounds:
		</div>

		<div>
		</div>

	</div>

	<div id="rounds-err"></div>