<div id="rounds-header" style="justify-content: center;">

	<div id="rounds-title">
		<input type="checkbox" id="rounds_check" class="regular-checkbox big-checkbox">  Multiple Round Effect:
	</div>

</div>

	<div id="rounds-entry">

		<div id="rounds-entry-title">
			DC:
		</div>

		<div id="rounds-entry-title">
			Degree of Result:
		</div>

		<div id="rounds-entry-title">
			Affected Rank:
		</div>

		<div id="rounds-entry-title">
			Modifier:
		</div>

		<div id="rounds-entry-title">
			Rounds:
		</div>

		<div></div>


		<div id="rounds-field">
			<select id="rounds_dc" name="rounds_dc" style="height: 3vh; padding: 0%; font-size: 90%;">
				<option value="">DC</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select id="rounds_degree" name="rounds_degree" style="height: 3vh; padding: 0%; font-size: 90%;">
				<option value="">DC</option>
				{% for number in numbers %}
					<option value={{number}}>{{number}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select id="rounds_rank" name="rounds_rank" style="height: 3vh; padding: 0%; font-size: 90%;">
				<option value="">Affected Rank</option>
				{% for rank in ranks %}
					<option value="{{rank}}">{{rank}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select id="rounds_mod" name="rounds_mpd" style="height: 3vh; padding: 0%; font-size: 90%;">
				<option value="">Modifier</option>
				{% for number in numbers %}
					<option value={{number}}>{{number}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-field">
			<select id="rounds_rounds" name="rounds_rounds" style="height: 3vh; padding: 0%; font-size: 90%;">
				<option value="">Lasts</option>
				{% for class in dcclasses %}
					<option value={{class}}>{{class}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="rounds-add">
			<div class="btn" id="power_add" style="height: 3vh; width: 5vw; font-size: 90%; display: table-cell; padding: 2px; vertical-align: middle; align-content: center; align-items: center;">
				<center>
				<i class="fa fa-plus"></i>   Add
				</center>
			</div>
		</div>

	</div>

	<div id="rounds-table">

		<div id="rounds-table-title">
			DC:
		</div>

		<div id="rounds-table-title">
			Degree:
		</div>

		<div id="rounds-table-title">
			Affected Rank:
		</div>

		<div id="rounds-table-title">
			Modifier:
		</div>

		<div id="rounds-table-title">
			Rounds:
		</div>

		<div id="rounds-table-dc">
			DC:
		</div>

		<div id="rounds-table-degree">
			Degree:
		</div>

		<div id="rounds-table-rank">
			Affected Rank:
		</div>

		<div id="rounds-table-mod">
			Modifier:
		</div>

		<div id="rounds-table-rounds">
			Rounds:
		</div>

	</div>