
<div id="weapon-desc">
	<div id="weapon-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="weapon-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Category
		</div>

		<div>
			<select class="base-select" id="category" name="category" onchange="category()">
				<option value="">Weapon Category</option>
				{% for w in weapon_cat %}
					<option value={{w.id}}>{{w.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Type
		</div>

		<div>
			<select class="base-select" id="type" name="type">
				<option value="">Weapon Type</option>
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Cost
		</div>

		<div>
			<select class="base-select" id="cost" name="cost">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Critical Hit
		</div>

		<div>
			<select class="base-select" id="critical" name="critical">
				<option value="">Critical</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Damage
		</div>

		<div>
			<select class="base-select" id="damage" name="damage">
				<option value="">Damage</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Toughness
		</div>

		<div>
			<select class="base-select" id="damage" name="damage">
				<option value="">Toughness</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Material
		</div>

		<div>
			<select class="base-select" id="material" name="material" >
				<option value="">Material</option>
				{% for m in materials %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Length
		</div>

		<div class="base-split">
			<div>
				<input type="text" id="length" name="length" placeholder="Length">
			</div>

			<div>
				<select class="base-select" id="length_units" name="length_units">
					<option value="">Units</option>
					<option value=11>Inches</option>
					<option value=12>Feet</option>
				</select>
			</div>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Resistance
		</div>

		<div class="base-3">
			<div>
				<select class="base-select" id="resist_dc" name="resist_dc">
					<option value="">DC</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="base-select" id="resistance" name="resistance">
					<option value="">Defense</option>
					{% for d in defenses %}
						<option value={{d.id}}>{{d.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Power Effect
		</div>

		<div class="base-trait">
			<div>
				<select class="base-select" id="power_rank" name="power_rank">
					<option value="">Rank</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div>
				<select class="base-select" id="power" name="power">
					<option value="">Power Effect</option>
					{% for p in powers %}
						<option value="{{p}}">{{p}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Held With
		</div>

		<div>
			<select class="base-select" id="hands" name="hands">
				<option value="">Hands</option>
				<option value=1>One Hand</option>
				<option value=2>Two Hands</option>
				<option value=3>Either</option>
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Strength Based
		</div>

		<div>
			<input type="checkbox" id="strength" class="regular-checkbox big-checkbox" >	
		</div>
	</div>

	<div class="base-field base-hidden" id="base-thrown">
		<div id="multiple-attr-title">
			Thrown as Ranged
		</div>

		<div>
			<input type="checkbox" id="thrown" class="regular-checkbox big-checkbox" >	
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-unarmed">
		<div id="multiple-attr-title">
			Unarmed
		</div>

		<div>
			<input type="checkbox" id="unarmed" class="regular-checkbox big-checkbox" >	
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-reach">
		<div id="multiple-attr-title">
			Reach (1 = 5ft)
		</div>

		<div>
			<select class="base-select" id="reach" name="reach">
				<option value="">Reach</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-accurate">
		<div id="multiple-attr-title">
			Accurate Rank
		</div>

		<div>
			<select class="base-select" id="accurate" name="accurate">
				<option value="">Accurate Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-protection">
		<div id="multiple-attr-title">
			Protection Modifier
		</div>

		<div>
			<select class="base-select" id="protect" name="protect">
				<option value="">Protection Modifier</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-area">
		<div id="multiple-attr-title">
			Area Effect
		</div>

		<div class="base-split">
			<div>
				<select class="base-select" id="ranged_area" name="ranged_area" onchange="ranged_area()">
					{% for a in area %}
						<option value={{a.type}}>{{a.name}}</option>
					{% endfor %}
				</select>
			</div>
		
			<div id="burst">
				<select class="base-select" id="accurate" name="accurate">
					<option value="">Burst Rank</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
</div>


