
<div id="weapon-desc">
	<div id="weapon-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="weapon-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Category
		</div>

		<div>
			<select class="base-select" id="category" name="category" onchange="category()">
				<option value="">Weapon Category</option>
				{% for w in weapon_cat %}
					<option value={{w.id}}>{{w.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Type
		</div>

		<div>
			<select class="base-select" id="type" name="type">
				<option value="">Weapon Type</option>
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Cost
		</div>

		<div>
			<select class="base-select" id="cost" name="cost">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Critical Hit
		</div>

		<div>
			<select class="base-select" id="critical" name="critical">
				<option value="">Critical</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Damage
		</div>

		<div>
			<select class="base-select" id="damage" name="damage">
				<option value="">Damage</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Toughness
		</div>

		<div>
			<select class="base-select" id="damage" name="damage">
				<option value="">Toughness</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Material
		</div>

		<div>
			<select class="base-select" id="material" name="material" >
				<option value="">Material</option>
				{% for m in materials %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Strength Based
		</div>

		<div>
			<input type="checkbox" id="strength" class="regular-checkbox big-checkbox" >	
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Power Effect
		</div>

		<div>
			<select class="base-select" id="power" name="power" onchange="power()">
				<option value="">Power Effect</option>
				{% for p in powers %}
					<option value="{{p}}">{{p}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-power-rank">
		<div id="multiple-attr-title">
			Power Effect Rank
		</div>

		<div>
			<select class="base-select" id="power_rank" name="power_rank">
				<option value="">Power Effect Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field base-hidden" id="base-thrown">
		<div id="multiple-attr-title">
			Thrown as Ranged
		</div>

		<div>
			<input type="checkbox" id="thrown" class="regular-checkbox big-checkbox" >	
		</div>
	</div>
</div>


