
<div id="weapon-desc">
	<div id="weapon-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="weapon-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Category
		</div>

		<div>
			<select class="base-select" id="category" name="category" onchange="category()">
				<option value="">Weapon Category</option>
				{% for w in weapon_cat %}
					<option value={{w.id}}>{{w.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Weapon Type
		</div>

		<div>
			<select class="base-select" id="type" name="type">
				<option value="">Weapon Type</option>
			</select>
		</div>
	</div>

</div>


