
<div id="equip-desc">
	<div id="equip-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="equip-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Equipment Type:
		</div>

		<div>
			<select class="base-select" id="equip_type" name="equip_type">
				{% for e in equipment_type %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Cost:
		</div>

		<div class="base-trait">
			<div>
				<select class="base-select" id="cost" name="cost">
					<option value="">Cost</option>
					{% for i in positives %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Relevent Expertise:
		</div>

		<div>
			<select class="base-select" id="equip_type" name="equip_type">
				<option value="">Expertise</option>
				{% for e in expertise %}
					<option value={{e.id}}>{{e.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>


</div>


