
<div id="equip-desc">
	<div id="equip-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="equip-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Equipment Type:
		</div>

		<div>
			<select class="base-select" id="equip_type" name="equip_type" onchange="equip_type()">
				<option value="">Equipment Type</option>
				{% for e in equipment_type %}
					<option value="{{e.id}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field" id="equip-cost">
		<div id="multiple-attr-title">
			Cost:
		</div>

		<div class="base-trait">
			<div>
				<select class="base-select" id="cost" name="cost">
					<option value="">Cost</option>
					{% for i in positives %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	
	<div class="base-field" id="equip-cost">
		<div id="multiple-attr-title">
			Toughness:
		</div>

		<div class="base-split">
			<div>
				<select class="base-select" id="toughness" name="toughness">
					<option value="">Toughness</option>
					{% for i in positives %}
						<option value="{{i}}">{{i}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Relevent Expertise:
		</div>

		<div>
			<select class="base-select" id="expertise" name="expertise">
				<option value="">Expertise</option>
				{% for e in expertise %}
					<option value={{e.id}}>{{e.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	

	<div class="base-field">
		<div id="multiple-attr-title">
			Alternate Effect:
		</div>

		<div>
			<input type="checkbox" id="alternate" class="regular-checkbox big-checkbox" onclick="alternate()">	
		</div>
	</div>

	
	<div class="base-field">
		<div id="multiple-attr-title">
			Movement Effect:
		</div>

		<div class="base-check-wide">
			<div>
				<input type="checkbox" id="move" class="regular-checkbox big-checkbox" onclick="move()">	
			</div>

			<div class="base-fade base-split" id="base-move">
				<div>
					<select class="base-select" id="speed_mod" name="speed_mod">
						<option value="">Speed Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						</select>
				</div>

				<div>
					<select class="base-select" id="direction" name="direction">
						{% for m in move %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Opens Locks:
		</div>

		<div class="base-check-wide">
			<div>
				<input type="checkbox" id="locks" class="regular-checkbox big-checkbox" onclick="locks()">	
			</div>

			<div class="base-fade base-split" id="base-locks">

				<div>
					<select class="base-select" id="lock_type" name="lock_type">
						{% for l in locks %}
							<option value="{{l.type}}">{{l.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</div>

	

</div>


