<div class="equip-header" id="check-header">

	<div class="equip-title" id="check-title">
		<input type="checkbox" id="check_check" class="regular-checkbox big-checkbox" onclick="check_check()"> Check:
	</div>
	
	<div class="equip-base" id="check-base">
		<div>
			<select class="effect-entry" id="check_effect" name="check_effect">
				<option value="">Effect</option>
			</select>
		</div>
		
		<div>
			<select class="feature-entry" id="check_feature" name="check_feature">
				<option value="">Feature</option>
			</select>
		</div>
	</div>

</div>

<div class="equip-entry" id="check-entry">

	<div id="check-row1">
		<div>
			When
		</div>

		<div>
			Skill Type
		</div>

		<div>
		</div>

		<div>
			<select class="select-entry" id="check_when" name="check_when">
				{% for w in when %}
					<option value="{{w.type}}">{{w.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="check_skill_type" name="check_skill_type" onchange="check_skill_type()">
				<option value="">Skill</option>
				{% for s in skills %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-entry" id="check_skill" name="check_skill">
				<option value="">Enhanced Skill</option>
			</select>
		</div>
	</div>

	<div id="check-button-row">
		<div>
			<select class="select-entry" id="check_check_type" name="check_check_type">
				<option value="">Check Type</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="check_action" name="check_action">
				<option value="">Action Type</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="check_action_time" class="medium-checkbox med-checkbox" > Action Time
			</div>
		</div>

		<div>
			<div class="btn-entry" id="check_submit" name="check_submit" onclick="check_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="check-spot"></div>

<div class="err" id="check-err"></div>