<div class="equip-header" id="effect-header">

	<div class="equip-title" id="effect-title">
		<input type="checkbox" id="effect_check" class="regular-checkbox big-checkbox" onclick="effect_check()"> Create Alternate Effect:
	</div>
	
	<div class="equip-base" id="effect-base">
	</div>

</div>

<div class="equip-entry" id="effect-entry">

	<div id="effect-row1">
		<div id="effect-name-title">
			Name:
		</div>

		<div id="effect-des-title">
			Description:
		</div>

		<div id="effect-name">
			<input type="text" id="effect_name" name="effect_name" placeholder="Name">
		</div>

		<div id="effect-des">
			<textarea id="effect_description" name="effect_description" placeholder="Description"></textarea>
		</div>

		<div id="effect-btn">
			<div class="btn-entry" id="effect_submit" name="effect_submit" onclick="effect_submit()">
				Add
		   </div>
		</div>

	</div>

</div>

<div id="effect-spot"></div>

<div class="err" id="effect-err"></div>