<div class="equip-header" id="feature-header">

	<div class="equip-title" id="feature-title">
		<input type="checkbox" id="feature_check" class="regular-checkbox big-checkbox" onclick="feature_check()"> Add Feature:
	</div>
	
	<div class="equip-base" id="feature-base">
	</div>

</div>

<div class="equip-entry" id="feature-entry">

	<div id="feature-row1">
		<div id="feature-name-title">
			Name:
		</div>

		<div id="feature-des-title">
			Description:
		</div>

		<div id="feature-name">
			<input type="text" id="feature_name" name="feature_name" placeholder="Name">
		</div>

		<div id="feature-des">
			<textarea id="feature_description" name="feature_description" placeholder="Description"></textarea>
		</div>

		<div id="feature-btn">
			<select class="select-entry" id="feature_feature" name="feature_feature" >
				<option value="">Feature</option>
				{% for f in features %}
					<option value={{f.id}}>{{f.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="feature-button-row">
		<div>Each feature adds 1 to this equipment's cost</div>

		<div>
			<div class="btn-entry" id="feature_submit" name="feature_submit" onclick="feature_submit()">
				Add
		   </div>
		</div>
	</div>

</div>

<div id="feature-spot"></div>

<div class="err" id="feature-err"></div>