<div class="equip-header" id="limits-header">

	<div class="equip-title" id="limits-title">
		<input type="checkbox" id="limits_check" class="regular-checkbox big-checkbox" onclick="limits_check()"> Limits:
	</div>
	
	<div class="equip-base" id="limits-base">
		<div>
			<select class="effect-entry" id="limits_effect" name="limits_effect">
				<option value="">Effect</option>
			</select>
		</div>
		
		<div>
			<select class="feature-entry" id="limits_feature" name="limits_feature">
				<option value="">Feature</option>
			</select>
		</div>
	</div>

</div>

<div class="equip-entry" id="limits-entry">

	<div id="limits-row1">

		<div>
			<input type="text" id="limits_time" name="limits_time" placeholder="Duration" >
		</div>

		<div>
			<select class="select-entry" id="limits_time" name="limits_time">
				<option value="">Units</option>
				{% for t in times %}
					<option value={{t.id}}>{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="limits_range" name="limits_range" placeholder="Range" >
		</div>

		<div>
			<select class="select-entry" id="limits_range_units" name="range_units">
				<option value="">Units</option>
				{% for d in distances %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extend" class="medium-checkbox med-checkbox" > Extendable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extends" class="medium-checkbox med-checkbox" > Extends
			</div>
		</div>

	</div>

	<div id="limits-row2">
		<div>
			<input type="text" id="limits_time_capacity" name="limits_time_capacity" placeholder="Time Capacity" >
		</div>

		<div>
			<select class="select-entry" id="limits_time_capacity_units" name="limits_time_capacity_units">
				<option value="">Units</option>
				{% for t in times %}
					<option value={{t.id}}>{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="limits_capacity" name="limits_capacity" placeholder="Capacity" >
		</div>
		
		<div>
			<input type="text" id="limits_item" name="limits_item" placeholder="Item Type" >
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extends" class="medium-checkbox med-checkbox" > Ammunition
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extends" class="medium-checkbox med-checkbox" > Fuel
			</div>
		</div>



	</div>

	<div id="limits-row3">
		<div class="vcenter">
			Area Effect:		
		</div>
		
		<div>
			<input type="text" id="limits_area_long" name="limits_area_long" placeholder="Long" >
		</div>

		<div class="vcenter">
			X
		</div>

		<div>
			<input type="text" id="limits_area_wide" name="limits_area_wide" placeholder="Wide" >
		</div>

		<div>
			<select class="select-entry" id="limits_area_units" name="limits_area_units">
				<option value="">Units</option>
				{% for d in distances %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extends" class="medium-checkbox med-checkbox" > Recharges
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_extends" class="medium-checkbox med-checkbox" > Refills
			</div>
		</div>


	</div>

	<div id="limits-button-row">
		<div>
			<select class="select-entry" id="limits_uses" name="limits_uses">
				<option value="">Uses3</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="select-entry" id="limits_light" name="limits_light">
				<option value="">Lighting</option>
				{% for l in light %}
					<option value={{l.id}}>{{l.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_internet" class="medium-checkbox med-checkbox" > Provides Internet
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="limits_needs_internet" class="medium-checkbox med-checkbox" > Needs Internet
			</div>
		</div>

		<div>
			<div class="btn-entry" id="limits_submit" name="limits_submit" onclick="limits_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="limits-spot"></div>

<div class="err" id="limits-err"></div>