
<div id="advantage-desc">
	<div id="advantage-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="advantage-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Power Type:
		</div>

		<select class="base-select" id="type" name="type" onchange="skill_type()">
			{% for a in advantage_type %}
				<option value="{{a.type}}">{{a.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Action Type:
		</div>
		
		<select class="base-select" id="action" name="action">
			<option value=''>Action Type</option>
			{% for type in actions %}
				<option value={{type.id}}>{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Check Type:
		</div>
	
		<div>
			<select class="base-select" id="check" name="check">
				<option value="">Check Type</option>
				<option value=>None</option>
				{% for check in checks %}
					<option value={{check.id}}>{{check.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Ranked:
		</div>
	
		<div class="base-3">
			<div>
				<input type="checkbox" id="ranked" class="regular-checkbox big-checkbox" onclick="ranked()">
			</div>

			<div class="base-split" id="base-ranked">
				<div>
					<select class="base-selecr" id="ranked_ranks" name="ranked_ranks">
						<option value="">Ranks</option>
						<option value="x">Variable</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="base-selecr" id="ranked_max" name="ranked_max">
						<option value="">Maximum</option>
						{% for i in hundred %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>

	</div>
		
	<div class="base-field">
		<div id="multiple-attr-title">
			Trait to Check:
		</div>
	
		<div class="base-trait">
			<div>
				<select class="base-select" id="trait_type" name="trait_type" onchange="trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="base-select" id="trait" name="trait">
					<option value="">Trait</option>
				</select>
			</div>
		</div>

	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Difficulty Class:
		</div>
		
		<div id="advantage-dc-field">
			<div>
				<select class="base-select" id="advantage_dc_type" name="advantage_dc_type" onchange="advantage_dc_type(); advantage_dc_table()">
					{% for dc in dc_type %}
						<option value={{dc.type}}>{{dc.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div id="advantage-dc-value">
					<select class="base-select" id="advantage_dc_value" name="advantage_dc_mod" >
						<option value=>DC</option>
						{% for num in positives %}
							<option value={{num}}>{{num}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="advantage-dc-mod">
					<select class="base-select" id="advantage_dc_mod" name="advantage_dc_mod">
						<option value="">Modufuer</option>
						{% for num in negatives %}
							<option value={{num}}>{{num}}</option>
						{% endfor %}
						{% for num in positives %}
							<option value={{num}}>{{num}}</option>
						{% endfor %}

					</select>
				</div>
			</div>
		</div>
	</div>
		
	<div class="base-field">
		<div id="multiple-attr-title">
			Condition While Using:
		</div>
	
		<div>
			<select class="base-select" id="power_condition" name="power_condition">
				<option value="">Condition</option>
				{% for c in conditions %}
					<option value="{{c}}">{{c}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			Invent Devices:
		</div>
	
		<div class="base-trait">
			<div>
				<input type="checkbox" id="invent" class="regular-checkbox big-checkbox" onclick="invent()">
			</div>

			<div id="base-invent-permanence">
				<select class="base-select" id="invent_permanence" name="invent_permanence">
					{% for p in permanence %}
						<option value="{{p.type}}">{{p.name}}</option>
					{% endfor %}
				</select>
			</div>

		</div>
	</div>
	
	<div id="base-field-invent">
		<div id="multiple-attr-title">
			Trait to Invent:
		</div>
	
		<div class="base-trait">
			<div>
				<select class="base-select" id="invent_trait_type" name="invent_trait_type" onchange="invent_trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="base-select" id="invent_trait" name="invent_trait">
					<option value="">Trait</option>
				</select>
			</div>

		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Secret GM Check:
		</div>
	
		<div class="base-trait">
			<div>
				<input type="checkbox" id="gm_secret_check" class="regular-checkbox big-checkbox" onclick="gm_secret_check()">
			</div>

		</div>

		<div class="base-trait" id="gm-check">
			<div>
				<select class="base-select" id="gm_trait_type" name="gm_trait_type" onchange="gm_trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="base-select" id="gm_trait" name="gm_trait">
					<option value="">Trait</option>
				</select>
			</div>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			GM Can Veto:
		</div>
	
		<div>
			<div>
				<input type="checkbox" id="gm_veto" class="regular-checkbox big-checkbox">
			</div>

		</div>

	</div>
	
</div>


