<div class="advantage-header" id="benefit-header">

	<div class="advantage-title" id="benefit-title">
		<input type="checkbox" id="benefit_check" class="regular-checkbox big-checkbox" onclick="benefit_check()"> Create Benefit:
	</div>
	
	<div class="advantage-base" id="benefit-base">
	</div>

</div>

<div class="advantage-entry" id="benefit-entry">

	<div id="benefit-row1">
		<div id="benefit-name-title">
			Benefit Name:
		</div>

		<div id="benefit-description-title">
			Description:
		</div>

		<div id="benefit-name">
			<input type="text" id="benefit_name" name="benefit_name">
		</div>

		<div id="benefit-effort">
			<div class="vcenter">
				<input type="checkbox" id="benefit_effort" class="medium-checkbox med-checkbox" > Requires Extra Effort
			</div>
		</div>

		<div id="benefit-description">
			<textarea id="benefit_desscription" name="benefit_desscription"></textarea>
		</div>
	</div>

	<div id="benefit-button-row">
		<div>
		</div>

		<div>
			<div class="btn-entry" id="benefit_submit" name="benefit_submit" onclick="benefit_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="benefit-spot"></div>

<div class="err" id="benefit-err"></div>