<div class="advantage-header" id="effort-header">

	<div class="advantage-title" id="effort-title">
		<input type="checkbox" id="effortcheck" class="regular-checkbox big-checkbox" onclick="effort_check()"> Extra Effort Effect":
	</div>
	
	<div class="advantage-base" id="effort-base">
	</div>

</div>

<div class="advantage-entry" id="effort-entry">

	<div id="effort-row1">

	</div>

	<div id="effort-button-row">
		<div>
		</div>

		<div>
			<div class="btn-entry" id="effort_submit" name="effort_submit" onclick="effort_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="effort-spot"></div>

<div class="err" id="effort-err"></div>