<div id="levels-header" style="justify-content: center;">

	<div id="levels-title">
		<input type="checkbox" id="levels_check" class="regular-checkbox big-checkbox" onclick="levels_check()">  Levels Table:
	</div>

	<div id="levels-base-form">
		<div>
			<input class="entry-text" type="text" id="level_type" name="level_type" placeholder="Type of level" onblur="levels_base()">
		</div>

		<div>
			<select class="extra-select" id="levels_extra" name="levels_extra" onchange="levels_base()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>
	</div>
</div>

	<div id="levels-entry" style="display: none;">

		<div id="levels-entry-title">
			Level:
		</div>


		<div id="levels-entry-title">
			Effect:
		</div>

		<div></div>

		<div id="levels-field">
			<input class="entry-text" type="text" id="level" name="level" >
		</div>

		<div id="levels-field" style="width:95%" >
			<input class="entry-text" type="text" id="level_effect" name="level_effect" >
		</div>

		<div id="levels-add">
			<div class="btn-small" id="level_add" onclick="levels_submit()">
				 Add
			</div>
		</div>

		<div></div>

		<div style="color: #af0101; font-size:85%;">
			Enter levels easiest to hardest.
		</div>

	</div>

	<div id="levels-spot"></div>
					
	<div id="levels-err"></div>