<div class="advantage-header" id="modifiers-header">

	<div class="advantage-title" id="modifiers-title">
		<input type="checkbox" id="modifiers_check" class="regular-checkbox big-checkbox" onclick="modifiers_check()"> Bonus/Penalty Modifier:
	</div>
	
	<div class="advantage-base" id="modifiers-base">
		
		<div>
			<select class="benwefit-entry" id="modifiers_benefit" name="modifiers_benefit">
				<option value="">Benefit</option>
			</select>
		</div>
	</div>

</div>

<div class="advantage-entry" id="modifiers-entry">

	<div id="modifiers-row1">
		<div>
			Bonus:
		</div>

		<div></div>

		<div>
			Penalty:
		</div>

		<div></div>

		<div>Trigger:</div>

		<div>
			<select class="select-entry" id="modifiers_bonus" name="modifiers_bonus">
				<option value="">Bonus</option>
				<option value="advantage">This Rank</option>
				<option value="0">0</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-entry" id="modifiers_bonus_type" name="modifiers_bonus_type">
				{% for m in modifier_type %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="modifiers_penalty" name="modifiers_penalty">
				<option value="">Penalty</option>
				<option value="advantage">This Rank</option>
				<option value="bonus">Bonus Value</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-entry" id="modifiers_penalty_type" name="modifiers_penalty_type">
				{% for m in modifier_type %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="modifiers_trigger" name="modifiers_trigger" onchange="modifiers_trigger()">
				{% for m in modifier_trigger %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="modifiers-row2">
		<div>
			<select class="select-entry" id="modifiers_bonus_effect" name="modifiers_bonus_effect" onchange="modifiers_bonus_effect()">
				{% for m in modifier_effect %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="modifiers_penalty_effect" name="modifiers_penalty_effect" onchange="modifiers_penalty_effect()">
				{% for m in modifier_effect %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="modifiers-environment">
				<select class="select-entry" id="modifiers_environment" name="modifiers_environment">
					<option value="">Environment</option>
					{% for e in environments %}
						<option value={{e.id}}>{{e.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="modifiers-sense">
				<select class="select-entry" id="modifiers_sense" name="modifiers_sense">
					<option value="">Sense</option>
					{% for s in sense %}
						<option value={{s.id}}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
			
			<div id="modifiers-subsense">
				<select class="select-entry" id="modifiers_subsense" name="modifiers_subsense">
					<option value="">SubSense</option>
					{% for s in subsense %}
						<option value={{s.id}}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="modifiers-condition">
				<select class="select-entry" id="modifiers_condition" name="modifiers_condition">
					<option value="">Condition</option>
					{% for c in conditions %}
						<option value="{{c}}">{{c}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="modifiers-creature">
				<select class="select-entry" id="modifier_creature" name="modifiers_creature" onchange="modifiers_creature()">
					<option value="">Creature</option>
					<option value="x">Variable</option>
					{% for c in creatures %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
					<option value="other">Other</option>
				</select>
			</div>

			<div id="modifiers-creature-other">
				<input type="text" id="modifiers_creature_other" name="modifiers_creature_other" placeholder="Creature Type">
			</div>
			
			<div id="modifiers-profession">
				<select class="select-entry" id="modifiers_profession" name="modifiers_profession" onchange="modifiers_profession()">
					<option value="">Profession</option>
					<option value="x">Variable</option>
					{% for p in professsions %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
					<option value="other">Other</option>
				</select>
			</div>

			<div id="modifiers-profession-other">
				<input type="text" id="modifiers_profession_other" name="modifiers_profession_other" placeholder="Job Title">
			</div>

		</div>
	</div>

	<div id="modifiers-row3">

		<div>	
			<div id="modifiers-bonus-trait">
				<div>
					<select class="select-sml" id="modifiers_bonus_trait_type" name="modifiers_bonus_trait_type" onchange="modifiers_bonus_trait_type();">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="modifiers_bonus_trait" name="modifiers_bonus_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
		
			<div id="modifiers-bonus-check">
				<div>
					<select class="select-sml" id="modifiers_bonus_check" name="modifiers_bonus_check">
						{% for c in checks %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div>
					<select class="select-sml" id="modifiers_bonus_check_range" name="modifiers_bonus_check_range">
						{% for r in ranges %}
						<option value="0">All</option>
							<option value={{r.id}}>{{r.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="modifiers-bonus-conflict">
				<select class="select-sml" id="modifiers_bonus_conflict" name="modifiers_bonus_conflict">
					<option value="">Conflict Action</option>
					{% for c in conflicts %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

		</div>

		<div>

			<div id="modifiers-penalty-trait">
				<div>
					<select class="select-sml" id="modifiers_penalty_trait_type" name="modifiers_penalty_trait_type" onchange="modifiers_penalty_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="modifiers_penalty_trait" name="modifiers_penalty_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
		
			<div id="modifiers-penalty-check">
				<div>
					<select class="select-sml" id="modifiers_penalty_check" name="modifiers_pe4nalty_check">
						{% for c in checks %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div>
					<select class="select-sml" id="modifiers_penalty_check_range" name="modifiers_penalty_check_range">
						{% for r in ranges %}
						<option value="0">All</option>
							<option value={{r.id}}>{{r.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="modifiers-penalty-conflict">
				<select class="select-sml" id="modifiers_penalty_conflict" name="modifiers_penalty_conflict">
					<option value="">Conflict Action</option>
					{% for c in conflicts %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

		</div>

		<div>
			<div id="modifiers-multiple">
				<select class="select-sml" id="modifiers_multiple" name="modifiers_multiple">
					{% for m in multiple %}
						<option value="{{m.type}}">{{m.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

	</div>

	<div id="modifiers-row4">

		<div>

			<div id="modifiers-bonus-defense">
					<div class="check-div">
						<input type="checkbox" id="modifiers_bonus_active_defense" class="medium-checkbox med-checkbox"> Becomes Active
					</div>

					<div></div>
			</div>

		</div>
		
		<div>

			<div id="modifiers-penalty-defense">
					<div class="check-div">
						<input type="checkbox" id="modifiers_penalty_active_defense" class="medium-checkbox med-checkbox"> Becomes Active
					</div>

					<div></div>
			</div>

		</div>
	</div>
	
	<div id="modifiers-button-row">
		<div></div>

		<div>
			<div class="btn-entry" id="modifiers_submit" name="modifiers_submit" onclick="modifiers_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="modifiers-spot"></div>

<div class="err" id="modifiers-err"></div>