<div class="advantage-header" id="skill-header">

	<div class="advantage-title" id="skill-title">
		<input type="checkbox" id="skill_check" class="regular-checkbox big-checkbox" onclick="skill_check()"> Bonus Swap:
	</div>
	
	<div class="advantage-base" id="skill-base">
		
		<div>
			<select class="benefit-entry" id="skill_benefit" name="skill_benefit">
				<option value="">Benefit</option>
			</select>
		</div>
	</div>

</div>

<div class="advantage-entry" id="skill-entry">

	<div id="skill-row1">

		<div>
			Trait to Use
		</div>

		<div></div>

		<div>
			In Place Of
		</div>
	
		<div></div>

		<div>
			<select class="select-entry" name="skill_trait_type" id="skill_trait_type" onchange="skill_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="skill_trait" name="skill_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-entry" name="skill_replaced_trait_type" id="skill_replaced_trait_type" onchange="skill_replaced_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-entry" id="skill_replaced_trait" name="skill_replaced_trait">
				<option value="">Trait</option>
			</select>
		</div>

	</div>

	<div id="skill-button-row">
		<div>
		</div>

		<div id="skill-multiple">
			<select class="select-entry" id="skill_multiple" name="skill_multiple">
				{% for m in multiple %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<div class="btn-entry" id="skill_submit" name="skill_submit" onclick="skill_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="skill-spot"></div>

<div class="err" id="skill-err"></div>