/* font converted using font-converter.net. thank you! */
@font-face {
font-family: "CampJusticeOutlineItalic";
src: url('/static/font/justice_outline/fonts/justiceoutline.woff2') format("woff2"); /* Modern Browsers */
src: url('/static/font/justice_outline/fonts/justiceoutline.woff') format("woff"), /* Modern Browsers */
url('/static/font/justice_outline/fonts/justiceoutline.eot?#iefix') format("embedded-opentype"), /* IE6-IE8 */
url('/static/font/justice_outline/fonts/justiceoutline.eot'), /* IE9 Compat Modes */
url('/static/font/justice_outline/fonts/justiceoutline.otf') format("opentype"), /* Open Type Font */
url('/static/font/justice_outline/fonts/justiceoutline.ttf') format("truetype"), /* Safari, Android, iOS */
url('/static/font/justice_outline/fonts/justiceoutline.svg') format("svg"); /* Legacy iOS */
    
font-weight: normal;
font-style: normal;
}