#category {
	opacity: 0%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#cat-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue
}

#cat-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#cat-entry {
	display: grid;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 25% 50% 25%;
	grid-auto-rows: auto auto auto auto;
	grid-template-areas: "cat-title des-title des-title"
						"cat des des"
						"rank-title des des"
						"rank blank button";
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#cat-cat-title {
	grid-area: cat-title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#cat-des-title {
	grid-area: des-title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#cat-none {
	grid-area: blank;
}

#cat-rank-title {
	grid-area: rank-title;
	border-bottom: 1px solid lightblue;
	width: 70%;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	margin-bottom: 4px;
}

#cat-name {
	grid-area: cat;
}

#cat-name input[type="text"] {
	height: 1.2vw;
	width: 90%;
}

#cat-rank {
	grid-area: rank;
}

#cat-des {
	grid-area: des;
	width: 90%;
	height: auto;
	padding: 4px;
}

#cat-des textarea{
	width: 100%; 
	height: 4.5vw; 
	font-size: 90%; 
	padding: 2%;
}

#cat-add {
	grid-area: button;
	width: 100%;
	padding: 3px;

}

#cat-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 25% 15% 55% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-table-cat {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-table-rnk {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#cat-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.cat-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}