#char-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#char-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#char-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#char-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

/*
changes perrank limit reduces
limited by | bonus | emotion other
trait amount
*/

#char-entry input[type="text"] {
	height: 1.1vw;
	padding: 2px;
	font-size: 90%;
	width: 90%;
	background-color: lightblue;
}

#char-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 30% 15% 5% 10% 15%;
	grid-auto-rows: auto;
}

#char-row2 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-auto-rows: auto;
}

#char-row3 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 27% 18% 20% 25%;
	grid-auto-rows: auto;
}

#char-button {
	display: grid;
	width: 98%;
	grid-template-columns: 70% 15% 15%;
}

#char-limited {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 12% 30% 58%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-appear {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 20% 55%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-appear input[type="text"] {
	height: 1.1vw;
	width: 93%;
	padding: .1vw;
	font-size: 90%;
	background-color: lightblue;
}

#char-emotion {
	display: none;
	grid-template-columns: 40% 60%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-emotion-other {
	opacity: 0%;
	transition: all .4s ease-out;
}

#char-other {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-reduced {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 20% 25% 15%25%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-limbs {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-carry {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 15% 60%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}


#char-points {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 20% 30% 30%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-immunity {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 25% 30% 25%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-insub {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 17% 20% 63%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
/*
continuous sustained distracting projection 
*/


#char-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.char-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.char-table-rnk {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
.char-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.char-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#char-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.char-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.char-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}