#cost-header {
	grid-template-columns: 70% 30%;
}

#cost-base {
	grid-template-columns: 100%;
}

#cost-row1 {
	display: grid;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 15% 15% 15% 5% 20%;
	grid-auto-rows: auto;
}

.cost-entry {
	height: 2.3vw; 
	padding: .3vw;  
	font-size: 100%;
}