#create-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#create-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#create-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#create-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-row1 {
	display: grid;
	width: 98%;
	grid-template-columns: 16% 16% 20% 16% 16% 16%;
	gap: 3px;
}

#create-row2 {
	display: grid;
	width: 98%;
	grid-template-columns: 24% 19% 19% 19% 19%;
	gap: 3px;
}

#create-row3 {
	display: grid;
	width: 98%;
	grid-template-columns: 18% 21% 18% 23% 20%;
	gap: 3px;
}

#create-row4 {
	display: grid;
	width: 98%;
	grid-template-columns: 20% 20% 22% 22% 16%;
	gap: 3px;
}

#create-button-row {
	display: grid;
	width: 97%;
	grid-template-columns: 30% 20% 15% 15% 20%;
}

#create-ranged {
	display: none;
	width: 98%;
	grid-template-columns: 15% 20% 40% 15% 10%;
	gap: .2vw;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-transform {
	display: none;
	width: 98%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-transform-row1 {
	display: grid;
	width: 98%;
	grid-template-columns: 15% 25% 25% 25% 10%;
	gap: .2vw;
}

#create-transform-row2 {
	display: grid;
	width: 98%;
	grid-template-columns: 15% 40% 5% 40%;
	gap: .2vw;
}

#create-ranged-dc {
	display: none;
	grid-template-columns: 50% 50%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-ranged-trait {
	display: none;
	grid-template-columns: 50% 50%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-ranged-damage {
	opacity: 0%;
	transition: all .3s linear;
}

#create-weapon {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 20% 25% 10% 20% 10%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-weapon-value {
	opacity: 0%;
	transition: all .3s linear;
}

#create-trap {
	display: none;
	width: 98%;
	grid-template-columns: 5% 10% 30% 10% 15% 10% 20%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-trap-dc {
	display: none;
	grid-template-columns: 100%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-trap-trait {
	display: none;
	grid-template-columns: 50% 50%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-support {
	display: none;
	width: 98%;
	grid-template-columns: 12% 18% 20% 50%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-support-strengthen {
	display: grid;
	opacity: 0%;
	gap: 3px;
	grid-template-columns: 50% 50%;
	transition: all .3s linear;
}

#create-support-action {
	display: grid;
	gap: 3px;
	grid-template-columns: 50% 50%;
	border-radius: 5px;
	border: 1px solid lightblue;
}

#create-support-effort {
	display: grid;
	gap: 3px;
	grid-template-columns: 50% 50%;
	border-radius: 5px;
	border: 1px solid lightblue;
}

#create-move {
	display: none;
	width: 98%;
	grid-template-columns: 15% 25% 25% 35%;
	gap: 3px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-move-opp {
	opacity: 0%;
	display: grid;
	grid-template-columns: 50% 50%;
	transition: all .3s linear;
}

#create-move-trait {
	display: grid;
	grid-template-columns: 70% 30%;
	gap: 3px;
	opacity: 0%;
	transition: all .3s linear;
}

#create-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 15% 5% 5% 5% 5% 5% 5% auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-sol {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-vis {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-com {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-vol {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-tou {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-mas {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-dam {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-dam::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-mai {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-mai::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-rep {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-rep::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-mov {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-mov::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-sta {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-sta::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-tra {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-tra::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-ran {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-ran::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-wea {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-wea::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-wei {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-wei::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-rea {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-rea::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-cov {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-cov::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-con {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-con::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-inc {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-inc::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-out {
	display: block;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-table-out::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.create-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#create-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.create-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}