#defense-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#defense-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#defense-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#defense-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#defense-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 20% 15% 40%;
	grid-auto-rows: auto;
}

#defense-row2 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 16% 16% 16% 16% 20% 16%;
	grid-auto-rows: auto;
}

#defense-row3 {
	display: grid;
	font-size: 90%;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 20% 25% 25% 20%;
	grid-auto-rows: auto;
}

#defense-nullify {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	gap: .2vw;
}

#defense-reflect-action {
	opacity: 0%;
	transition: all .4s ease-out;
}

/*

defense usetype modifier die moreless
dodge fortitude parry toughness will
area perception reflect action type
*/

#defense-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.defense-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.defense-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#defense-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.defense-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.defense-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}