#descriptor-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid #add8e6;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#descriptor-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#descriptor-entry {
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 96%;
	margin-top: 0px;
	margin-left: 1.5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
}



#descriptor-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 16% 16% 16% 16% 16% 20%;
	grid-auto-rows: auto;
}

#descriptor-medium-subtype-title {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium-subtype {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-field-title {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium-title {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-row2 {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 16% 16% 16% 16% 16% 20%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-row2 input[type="text"] {
	height: 1.1;
	width: 90%;
	padding: 2px;
	font-size: 110%;
}

#descriptor-origin-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-source-field {
	opacity: 0%;
	transition: all .3s linear;
}


#descriptor-medium-subtype-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-descriptor-new {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-row3 {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-row3 textarea {
	width: 95%; 
	height: 3vw; 
	font-size: 110%; 
	padding: 2%;
}

.descriptor-des-field {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
#descriptor-row4 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 55% 20% 25%;
	grid-auto-rows: auto;
}

/*
origin source mediumtype entypemattype mat  descriptor
new		new   				new		   new	 new
									 foraffect SUBMIT             		
*/

.descriptor-table-header {
	height: auto;
	width: 94%;
	padding: 1%;
	margin: 2%;
	text-align: center;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	font-family: 'Comic', 'Monda', Verdana;
	font-size: 150%;
	color: #245681;
	border: 1px solid #245681;
}

.descriptors-contain {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 1%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-table-container {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 25% 75%;
}

.descriptor-char {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-rows: AUTO;
	gap: .1vw;
	max-height: auto;
	transition: all .4s ease-out;
}

.descriptor-col {
	display: grid;
	width: 98%;
	padding: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 7px;
	border-right: 1px solid #af0101;
}

.des-btn {
	display: grid;
	opacity: 0%;
	grid-template-columns: 75% 25%;
	gap: 2px;
	padding: .2vw;
	height: 3.5vw;
	width: 90%;
	background-color: lightblue;
	font-family: 'Comic', 'Monda', Verdana;
	font-size: 150%;
	text-align: center;
	color: #245681;
	border: 2px solid #245681;
	transition: all .4s ease-in;
	
}

.cha-btn {
	display: grid;
	opacity: 0%;
	grid-template-columns: 70% 30%;
	gap: 2px;
	padding: .1vw;
	height: 3.2vw;
	width: 90%;
	background-color: lightblue;
	font-family: 'Comic', 'Monda', Verdana;
	font-size: 90%;
	text-align: center;
	color: #245681;
	border: 2px solid #245681;
	transition: all .4s ease-in;
}

.des-txt {
	display: flex;
	justify-content: center;
	height: 100%;
	flex-basis: inherit;
	align-items: center;
	align-self: center;
	text-align: center;
	overflow: hidden;
}

.descriptor-del {
	display: flex;
	height: 100%;
	width: 90%;
	align-items: center;
	text-align: center;
}

.des-del {
	display: flex;
	height: 100%;
	width: 90%;
	align-items: center;
	text-align: center;
	color: #245681;
	border: none;
	background-color: lightblue;
	transition: all .3s linear;
	cursor: pointer;
}

.des-del:hover {
	color: white;
}

.des-del::before {
	font-family: 'FontAwesome';
	font-size: 1.3vw;
	content: '\f056';
	display: inline-block;
}

#descriptor-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}