#descriptor-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid #add8e6;
	grid-template-columns: 100%;
	grid-template-rows: auto;
}

#descriptor-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#descriptor-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}



#descriptor-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 15% 15% 15% 15% 25%;
	grid-auto-rows: auto;
}

#descriptor-energy-title {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-material-title {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-energy {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-material {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-field-title {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium-title {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-row2 {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 15% 15% 15% 15% 15% 25%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-row2 input[type="text"] {
	height: 1.1;
	width: 90%;
	padding: 2px;
	font-size: 110%;
}

#descriptor-origin-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-source-field {
	opacity: 0%;
	transition: all .3s linear;
}


#descriptor-medium-type-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-medium-field {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-descriptor-new {
	opacity: 0%;
	transition: all .3s linear;
}

#descriptor-row3 {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-row3 textarea {
	width: 95%; 
	height: 3vw; 
	font-size: 110%; 
	padding: 2%;
}

#descriptor-origin-des {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-source-des {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-medium-type-des {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-medium-des {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-descriptor-result {
	display: none;
	width: 98%;
	height: 1.4;
	gap: 3px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-row4 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 15% 15% 10% 20% 25%;
	grid-auto-rows: auto;
}

/*
origin source mediumtype entypemattype mat  descriptor
new		new   				new		   new	 new
									 foraffect SUBMIT             		
*/

#descriptor-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-table-rnk {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
.descriptor-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#descriptor-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.descriptor-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}