#extras-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 80% 20%;
	grid-template-rows: auto;
}

#extras-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#extras-entry {
	display: grid;
	font-family: 'Monda', Verdana;
	font-size: 120%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: .3vw;
}

#extras-row1 {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	gap: .3vw;
}

#extras-row2 {
	display: grid;
	grid-template-columns: 30% 70%;
	gap: .3vw;
}

#extras-row3 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: .3vw;
	font-size: 70%;
}

#extras-row4 {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: .3vw;
	font-size: 70%;
}

#extras-left {
	display: grid;
	grid-auto-rows: auto;
	gap: .3vw;
	grid-template-columns: 100%;
}

.extras-split {
	display: grid;
	grid-template-columns: 50% 50%;
	font-size: 70%;
	justify-content: left;
	gap: 3px;
}

.extras-three {
	display: grid;
	grid-template-columns: 40% 30% 30%;
	font-size: 70%;
	padding: .4vw;
	justify-content: left;
	text-align: left;
}

.extras-four {
	display: grid;
	grid-template-columns: 30% 30% 20% 20%;
	font-size: 70%;
	padding: .4vw;
	justify-content: left;
	text-align: left;
}

#extras-extra-effect {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: auto auto auto auto auto;
	grid-auto-rows: auto;
	font-size: 70%;
	gap: .4vw;
}

#extras-target {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 25% 25%;
	grid-auto-rows: auto;
	font-size: 80%;
}

#extras-action {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 25% 25% 25%;
	grid-auto-rows: auto;
	font-size: 80%;
}

#extras-ranks-check {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 10% 15% 25%;
	grid-auto-rows: auto;
	font-size: 80%;
}

#extras-required {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 25% 25% 12%;
	grid-auto-rows: auto;
	font-size: 80%;
}


#extras-auto {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 25% 35%;
	grid-auto-rows: auto;
	font-size: 80%;
}

#extras-range {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 25% 25%;
	grid-auto-rows: auto;
	font-size: 80%;
}

#extras-skill {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 24% 30% 30%;
	grid-auto-rows: auto;
	font-size: 80%;
}

.extras-hidden {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}