#mod-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#mod-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#mod-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#mod-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 4px;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-entry input[type="text"] {
	height: 1.1vw;
	padding: .1vw;
	font-size: 90%;
	width: 95%;
	background-color: lightblue;
}

#mod-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 15% 20% 20% 20%;
	grid-auto-rows: auto;
}

#mod-row2 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 15% 22% 18% 15% 15%;
	grid-auto-rows: auto;
}

#mod-row3 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 25% 20% 17% 18%;
	grid-auto-rows: auto;
}

#mod-row4 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 13% 18% 24% 25%;
	grid-auto-rows: auto;
}

#mod-row5 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 18% 22% 22% 23%;
	grid-auto-rows: auto;
}

#mod-simultaneous {
	display: none;
	font-size: 100%;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 18% 35% 47%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-effortless {
	display: none;
	font-size: 100%;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 15% 30% 15% 30% 10%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
#mod-subtle {
	display: none;
	font-size: 100%;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 10% 35% 10% 15% 30%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-others {
	display: none;
	font-size: 100%;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 30% 25% 20% 5%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-others-touch {
	opacity: 0%;
	transition: all .4s ease-in;
}

#mod-subtle-dc {
	opacity: 0%;
	transition: all .4s ease-in;
}

#mod-buttonrow {
	display: grid;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 33% 15% 17% 15% 20%;
}

#mod-area {
	display: none;
	font-size: 80%;
	width: 98%;
	gap: 3px;
	grid-template-columns: 18% 12% 7% 13% 15% 30%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-limited {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 15% 65%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-limited-trait {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 40% 60%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-task-type {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 25% 75%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-task {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 85%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-description {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 100%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-subjects {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 60% 20% 20%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-extra {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 60% 40%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-language {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 30% 20% 50%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-degree {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 80%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-sense {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 50% 50%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-descriptor {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 50% 50%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-range {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 50% 50%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-limited-language-mod {
	opacity: 0%;
	transition: all .3s ease-in;
}

#mod-ranged {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 15% 70%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-ranged-value {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 40% 40% 20%;
	opacity: 0%;
	transition: all .3s ease-in;
}

#mod-ranged-math {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 15% 25%  30% 15%;
	opacity: 0%;
	transition: all .3s ease-in;
}

#mod-ranged-mod {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 30% 30% 40%;
	opacity: 0%;
	transition: all .3s ease-in;
}

#mod-ranged-check {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 50% 20% 30%;
	opacity: 0%;
	transition: all .3s ease-in;
}

#mod-ranged-check-dc {
	opacity: 0%;
	transition: all .4s ease-out;
}

#mod-reflect {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 20% 20% 25% 25%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-points {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 17% 15% 68%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-points-reroll {
	display: none;
	opacity: 0%;
	grid-template-columns: 25% 25% 25% 25%;
	transition: all .3s ease-out;
}

#mod-points-reroll-result {
	opacity: 0%;
	transition: all .4s ease-out;
}

#mod-ranks {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 22% 19% 29% 15% 15% ;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-side {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 15% 20% 65%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-side-other {
	display: none;
	width: 97%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#mod-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.mod-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.mod-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#mod-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.mod-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.mod-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}