#move-header {
	grid-template-columns: 40% 60%;
}

#move-base {
	grid-template-columns: 30% 35% 35%;
}

#move-entry input[type="text"] {
	height: 1.1vw;
	padding: .1vw;
}

#move-row1 {
	display: grid;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 15% 85%;
	grid-auto-rows: auto;
}

#move-speed-description {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
	grid-template-columns: 15% 85%;
	height: auto;
	padding: .1vw;
	gap: .3vw;
}

#move-row2 {
	display: grid;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 15% 85%;
	grid-auto-rows: auto;
}

#move-distance-description {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease-out;
	grid-template-columns: 15% 70% 15%;
	padding: .1vw;
	height: auto;
	gap: .3vw;
}

#move-distance-description input[type="text"] {
	width: 98%;
}

#move-links {
	display: grid;
	width: 98%;
	gap: .2VW;
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: auto;
}

#move-speed-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-speed-penalty {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-speed-rank-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-speed-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 20% 24% 13% 15% 13% 15%;
	grid-auto-rows: auto;
}

#move-distance-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-distance-unit {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 30% 30% 30% 10%;
	grid-auto-rows: auto;
}

#move-distance-unit-math {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 15% 22% 13% 12% 13% 12% 13%;
	grid-auto-rows: auto;
}

#move-distance-rank-math {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	width: 98%;
	gap: .2VW;
	grid-template-columns: 20% 24% 13% 15% 13% 15%;
	grid-auto-rows: auto;
}

#move-button-row {
	display: grid;
	grid-template-columns: 15% 20% 15% 25% 25%;
	width: 99%;
	grid-template-rows: auto;
}

#move-button-row input[type="text"] {
	height: 1.8vw;
	padding: .1vw;
	font-size: 95%;
	width: 89%;
}

#move-row3 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	width: 99%;
	grid-template-rows: auto;
}

#move-row4 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 99%;
	grid-template-rows: auto;
}

#move-row5 {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	width: 99%;
	grid-template-rows: auto;
}

#move-flight {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 60% 40%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-flight-left {
	display: grid;
	gap: 3px;
	width: 98%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

.move-flight-split {
	display: grid;
	grid-template-columns: 30% 70%;
}

#move-flight-resist {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}

#move-flight-equip {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
	grid-template-columns: 50% 50%;
}

#move-aquatic {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 25% 65%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-ground {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 17% 17% auto auto auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-ground-ranged {
	display: none;
	width: 98%;
	gap: 3px;
	opacity: 0%;
	transition: all .4s ease-out;
}

#move-ground-perm {
	display: none;
	width: 98%;
	gap: 3px;
	opacity: 0%;
	transition: all .4s ease-out;
}


#move-special {
	display: grid;
	grid-template-columns: 10% 20% 65%;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-special-dimension {
	display: none;
	grid-template-columns: 30% 45% 25%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#move-dimension-descriptor {
	opacity: 0%;
	transition: all .3s ease-out;
}

#move-special-space {
	display: none;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#move-special-time {
	display: none;
	grid-template-columns: 60% 40%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#move-special-teleport {
	display: none;
	grid-template-columns: 25% 25% 25% 25%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	opacity: 0%;
	transition: all .3s ease-out;
}

#move-condition {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 13% 32% 23% 40%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-condition-check {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}

#move-objects {
	display: grid;
	grid-template-columns: 10% auto 15% 18% auto auto;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-objects-damage {
	display: none;
	opacity: 0%;
	transition: all .4s ease-out;
}

#move-permeate {
	display: grid;
	grid-template-columns: 12% 18% 22% 15% 23% 10%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-equip {
	display: grid;
	grid-template-columns: 14% 30% 30% 25%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-concealment {
	display: grid;
	grid-template-columns: 17% 20% 30% 35%;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-extended {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 11% 20% 67%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-mass {
	display: grid;
	grid-template-columns: 13% 20% 55%;
	grid-auto-rows: auto;
	gap: .2vw;
	width: 97%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
