#move-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#move-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#move-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#move-entry {
	display: none;
	font-family: 'Monda', Verdana;;
	color: #245681;
	font-size: 80%;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: .2vw;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;

}

#move-row1 {
	display: grid;
	width: 98%;
	grid-template-columns: 40% 20% 20% 20%;
	gap: 3px;
}

#move-row2 {
	display: grid;
	width: 98%;
	grid-template-columns: 25% 25% 25% 25%;
	gap: 3px;
}

#move-row3 {
	display: grid;
	width: 98%;
	grid-template-columns: auto auto auto auto;
	gap: 3px;
}

#move-distance {
	display: none;
}

#move-distance-value {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
}

#move-distance-math {
	display: none;
	opacity: 0%;
	transition: all .3s linear;
	grid-template-columns: 40% 30% 30%;
}

#move-ground {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 20% 20% 40% 20%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-subtle {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 20% 30% 20% 20%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-flight {
	display: none;
	width: 98%;
	gap: 3px;
	grid-template-columns: 10% 20% 30% 20% 20%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-flight-left {
	display: grid;
	gap: 3px;
	width: 98%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}


#move-button-row {
	display: grid;
	width: 98%;
	grid-template-columns: 80% 20%;
	gap: 3px;
}

#move-surface input[type="text"] {
	height: 1vw;
	font-size: 80%;
	width: 80%;
}

#move-sur-eff-title {
	display: grid;
	grid-area: sur-eff-title;
	grid-template-columns: 50% 50%;
}


#move-des {
	grid-area: des;
	display: grid;
	grid-template-columns: 30% 30% 40%;
	gap: 3px;
}

#move-des input[type="text"] {
	height: 1.0vw;
	font-size: 80%;
}

#move-sur-eff-title {
	display: grid;
	grid-area: sur-eff-title;
	grid-template-columns: 50% 50%;
}

#move-sur-eff {
	display: grid;
	grid-area: sur-eff;
	grid-template-columns: 50% 50%;
}

#move-math {
	display: grid;
	grid-template-columns: 35% 35% 30%;
	gap: 3px;
}

#move-ground-time {
	display: none;
	grid-template-columns: 15% 35% 15% 35%;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-add {
	display: grid;
	grid-area: button;
}

#move-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 7% 18% 20% 50% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-table-sur {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-table-mod {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-table-eff {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.range-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#move-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.move-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}