#ranged-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#ranged-base {
	opacity: 0%;
	transition: all .4s ease-out;
}

#ranged-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#ranged-entry {
	display: none;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: .4vw;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranged-entry input[type="text"]{
	height: 1.5vw;
	padding: .2vw;
	font-size: 100%;
	width: 94%;
}

#ranged-row1 {
	display: grid;
	width: 98%;
	gap: 3px;
	grid-template-columns: 22% 78%;
	grid-auto-rows: auto;
}


#ranged-type {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-flat-units {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-flat-distance-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-flat-rank-units {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 40% 30% 30%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-flat-rank-distance {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 50% 50%;
	grid-auto-rows: auto;
	gap: .4vw;
}


#ranged-units-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 28% 22% 20% 5% 25%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-rank-rank {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 30% 30% 10% 30%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-effect-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 17% 25% 30% 28%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-check {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 20% 25% 20% 20% 15%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-trait-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 20% 25% 20% 20% 15%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-distance-mod {
	display: none;
	opacity: 0%;
	transition: all .3s ease-out;
	grid-template-columns: 20% 20% 20% 25% 15%;
	grid-auto-rows: auto;
	gap: .4vw;
}

#ranged-dc {
	display: grid;
	opacity: 0%;
	transition: .4s;
	width: 95%;
	grid-template-columns: 25% 35% 40%;
	gap: .4vw;
}


#ranged-button-row {
	display: grid;
	width: 98%;
	gap: .2vw;
	grid-template-columns: 20% 65% 15%;
}

#ranged-table {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranged-table-ext {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranged-table-rnk {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
.ranged-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranged-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranged-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranged-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranged-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}