#ranks {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranks-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 65% 35%;
	grid-template-rows: auto;
}

#ranks-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#ranks-entry {
	display: grid;
	font-family: 'Monda', Verdana;
	font-size: 100%;
	color: #245681;
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
}

#ranks-row1  {
	display: grid;
	grid-template-columns: 15% 25% 60%;
}

#ranks-row2 {
	display: grid;
	grid-template-columns: 10% 12% 12% 12% 12% 15% 12% 15%;
}

#ranks-table {
	display: grid;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 5% 15% 5% 5% 5% 5% 10% 10% 35% 5%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-table-rnk {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}
.ranks-table-rng {
	display: block;
}

.ranks-table-rng::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.ranks-table-rad {
	display: block;
}

.ranks-table-rad::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.ranks-table-acc {
	display: block;
}

.ranks-table-acc::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.ranks-table-acu {
	display: block;
}

.ranks-table-acu::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;

}

.ranks-table-typ {
	display: block;
}

.ranks-table-typ::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.ranks-table-sen {
	display: block;
}

.ranks-table-sen::before {
	font-family: 'FontAwesome';
	content: '\f00c';
	display: inline-block;
}

.ranks-table-key {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-table-des {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-table-del {
	font-family: 'Monda', Verdana;
	font-size: 85%;
	color: #245681;
	margin-bottom: 4px;
	width: 97%;
	height: auto;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#ranks-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.ranks-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}