#sense-header {
	display: grid;
	width: 100%;
	padding: 0px;
	border-bottom: 2px solid lightblue;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

#sense-title {
	margin: 0px;
	font-family: Comic, 'Monda', Verdana;
	font-size: 200%;
	color: #245681;
	padding: 0px;
	transition: all .2s linear;
}

#sense-base-form {
	display: grid;
	grid-template-columns: 100%;
	width: 100%;
	opacity: 0%;
	transition: all .4s linear;
}

#sense-entry {
	width: 88%;
	margin-top: 0px;
	margin-left: 5%;
	padding: 1%;
	font-family: 'Monda', Verdana;;
	color: #245681;
	font-size: 85%;
	border-left: 1px solid  lightblue;
	border-bottom: 1px solid  lightblue;
	border-right: 1px solid lightblue;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	gap: 6px;
}


#sense-row1 {
	display: grid;
	grid-template-columns: 12% 15% 15% 20% 18% 20%;
	grid-auto-rows: auto;
}

#sense-lighting {
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-lighting-head {
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-row2 {
	display: grid;
	grid-template-columns: 20% 80%;
}

#sense-height {
	display: grid;
	grid-template-columns: 20% 25% 32% 23%;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-height-trait {
	display: grid;
	grid-auto-rows: auto;
}


#sense-height-ensense {
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-resist {
	display: grid;
	grid-template-columns: 20% 25% 20% 20% 15%;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-resist-trait {
	display: grid;
	grid-auto-rows: auto;
}

#sense-resist-immune-perm {
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-row3 {
	display: grid;
	padding: 2px;;
	grid-template-columns: 25% 15% 20% 25% 15%;
	justify-content: center;
	gap: 2px;
}

#sense-row4 {
	display: grid;
	padding: 2px;
	gap: 2px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	justify-content: center;
}

#sense-row5 {
	display: grid;
	grid-template-columns: 20% 80%;	
}

#sense-time {
	display: grid;
	grid-template-columns: 15% 20% 40% 25%;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-time-skill {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-time-bonus {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-time-value {
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
	grid-template-columns: 50% 50%;
}

#sense-time-value input[type="text"] {
	height: .8vw;
	font-size: 80%;
	width: 80%;
}

#sense-time-factor {
	display: grid;
	grid-template-columns: 10% 50% 40%;
}

#sense-row6 {
	display: grid;
	grid-template-columns: 15% 85%;
}

#sense-distance {
	display: grid;
	grid-template-columns: 20% 80%;
	display: none;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

#sense-distance input[type="text"] {
	height:.8vw;
	font-size: 80%;
	width: 80%;
}

#sense-distance-values {
	display: grid;
	grid-template-columns: 15% 15% 25% 25% 20%;
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-distance-factor {
	opacity: 0%;
	transition: all .4s ease-out;
}

#sense-err {
	display: none;
	width: 94%;
	padding: 1%;
	margin: 2%;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	border: 1px solid #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.sense-err-line {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 90%;
	font-family: 'Monda', Verdana;
	color: #af0101;
	max-height: 0;
	overflow: hidden;
	transition: all .4s ease-out;
}

.sense-err-line::before {
	font-family: 'FontAwesome';
	content: '\f071';
	padding-right: 1.5vw;
	display: inline-block;
}