<div class="equip-container" style="justify-content: center; background:url(/static/img/bg/greenlantern.png); background-repeat: no-repeat; background-size: 100%;">
	<div class="equip-grid">
		
		<br>

		<div id="box-title">
			<img src="/static/img/title/create_equipment.png" width="100%">
		</div>


		<br><br>
		

		<div id="addequipgrid">

			<div id="add-equip">

				<div id="addequipunderline">
					Equipment Name
				</div>

				<div id="addequipform">
					<div id="nameequip">
						<input type="text" id="equip_name" placeholder="Equipment Name">
					</div>
						
					<div id="namebutton">
						<div class="btn" id="equip_create" onclick="equip_create()" >
							 Create Equipment
						</div>
					</div>
				</div>
			
			</div>

			<div id="equip-name-grid">

				<div id="equip-name">

				</div>

				<div id="equip-edit">
					<div id="edit-button" style="display: none;">
						<button  style="font-size: 260%;" onclick="edit_form()"><i class="fa fa-edit"></i></button>
					</div>
				</div>

			</div>

			<div id="equip-edit-grid" style="display: none;">
				<div id="equip-edit-field">
					<input type="text" id="equip_name_edit">
				</div>

				<div id="equip-edit-btn">
					<div class="edit-btn" id="equip_edit" onclick="equip_edit()">
						Save
					</div>
				</div>
			</div>


			<div id="name-err">
		
			</div>
			
		</div>

		<br>

		<span>

		<div id="all-fields">

			<div id="base-form">
				{% include equipment_includes.base_form %}
			</div>

			<br>

			<div class="equip-box" id="equip-effect">
				{% include equipment_includes.effect %}
			</div>

			<div class="equip-box" id="equip-feature">
				{% include equipment_includes.feature %}
			</div>
			
			<div class="equip-box" id="equip-belt">
				{% include equipment_includes.belt %}
			</div>

			<div class="equip-box" id="equip-modifiers">
				{% include equipment_includes.modifiers %}
			</div>
			
			<div class="equip-box" id="equip-check">
				{% include equipment_includes.check %}
			</div>

			<div class="equip-box" id="equip-opposed">
				{% include equipment_includes.opposed %}
			</div>
			
			<div class="equip-box" id="equip-limits">
				{% include equipment_includes.limits %}
			</div>

			<div class="equip-box" id="equip-damaged">
				{% include equipment_includes.damaged %}
			</div>
			
			<div class="equip-box" id="equip-descriptor">
				{% include equipment_includes.descriptor %}
			</div>
			

		<br>

		<div id="equip-err"></div>

		<br><br>

		<div id="save-div">
			<div class="save-btn" onclick="equip_save()"> Save Equipment</div>
		</div>

		<br><br><br><br><br><br><br><br><br><br>

		</div>

		</span>
		
	</div>
	
</div>

	<script src="/static/js/equipment_create/equipment_functions.js"></script>
	<script src="/static/js/equipment_create/equipment_create.js"></script>
	<script src="/static/js/equipment_create/damaged.js"></script>
	<script src="/static/js/equipment_create/base_form.js"></script>
	<script src="/static/js/equipment_create/opposed.js"></script>
	<script src="/static/js/equipment_create/modifiers.js"></script>
	<script src="/static/js/equipment_create/check.js"></script>
	<script src="/static/js/equipment_create/limits.js"></script>
	<script src="/static/js/equipment_create/descriptors.js"></script>
	<script src="/static/js/equipment_create/feature.js"></script>
	<script src="/static/js/equipment_create/effect.js"></script>
	<script src="/static/js/equipment_create/belt.js"></script>
	
	<input type="hidden" id="equip_id" name="equip_id" value=>