<div class="home-container">
<div class="splash" style="justify-content: center; background:url(/static/img/justice.png) no-repeat; background-size: 100%;">
	<div id="blank"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
	<div id="signup">
		<center>
		<div id="btn-splash">
			<img src="/static/img/signupRED.png" 
			onmouseover="this.src='/static/img/signupBLUE.png'" 
			onmouseout="this.src='/static/img/signupRED.png'" width="100%"/>
		</div>
		</center>
	</div>
	<div id="about">
		<center>
		<div id="btn-splash">
			<img src="/static/img/aboutRED.png" 
			onmouseover="this.src='/static/img/aboutBLUE.png'" 
			onmouseout="this.src='/static/img/aboutRED.png'" width="100%"/>
		</div>
		</center>
	</div>
	<div id="below"></div>
</div>
</div>

