<div class="home-container">
<div class="splash" style="justify-content: center; background:url(/static/img/justice.png) no-repeat; background-size: 100%;">
	<div id="blank"></div>
	<div id="buttons">
		<div id="signup">
			<center>
			<div class="home-btn">
				SIGN UP
			</div>
			</center>
		</div>
	
		<div id="about">
			<center>
			<div class="home-btn">
				ABOUT
			</div>
			</center>
		</div>
	</div>
	<div id="below"></div>
</div>

<div id="home-img"  style="display: block; width: 40vw; opacity: 0%;">
	<img src="/static/img/justice.png" width="100%">
</div>

</div>