<div  class="skill-container" style="justify-content: center;">
	<div id="skill-grid">
		<span>
			<div id="box-title" style="background: url(/static/img/title/bg.png);">
				<img src="/static/img/title/create_skill.png" width="100%">
			</div>
		</span>
		
		<span>
			<div id="addskillgrid">

					<div id="addskillunderline">
						<h2>Skill Name</h2>
					</div>

					

					<div id="addskillform">
						<div id="nameskill">
							<input type="text" id="skill_name" placeholder="Skill Name">
						</div>
						
						<div id="namebutton">
							<div class="btn" id="skill_create"><i class="fa fa-plus"></i> Create Skill</div>
						</div>

					</div>

				
				<span></span>
				
				

			</div>
		</span>

	</div>
</div>