<div class="skill-container" style="justify-content: center;">
	<div class="skill-grid">
		<span>
		<div id="box-title" style="background: url(/static/img/title/bg.png); justify-content: center;">
			<img src="/static/img/title/create_skill.png" width="100%">
		</div>
		<br>
		<span>
		<div id="addskillgrid">

			<div id="addskillunderline">
				Skill Name
			</div>

			<div id="addskillform">
				<div id="nameskill">
					<input type="text" id="skill_name" placeholder="Skill Name">
				</div>
						
				<div id="namebutton">
					<div class="btn" id="skill_create" style="align-items: center;">
						<center>
						<i class="fa fa-plus"></i>   Create Skill
						</center>
					</div>
				</div>
			</div>

		</div>
		
		<br>
		
		<span>
		<div id="skill-form">

			<div id="category">
				<div id="skill-attr-title">
					Enhances Skill:
				</div>

				<div id="category-field">
					<select id="skill" name="skill" aria-placeholder="Select Skill Type">
						{% for skill in skills %}
							<option value={{skill.id}}>{{skill.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
				<br>
			<div id="description">
				<div id="skill-attr-title">
					Description
				</div>

				<div id="description-field">
					<textarea id="description" name="description" placeholder="Type description here" style="border: 2px solid lightblue; resize: vertical;"></textarea>
				</div>
			</div>

			<br>

			<div id="action-check-condition-speed-skilltype-dctype">

				<div id="action-field">
					<div id="multiple-attr-title">
						Action Type:
					</div>

					<select id="action" name="action" style="height: 4vh; font-size: 110%;">
						{% for action in actions %}
							<option value={{action.id}}>{{action.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="check-field">
					<div id="multiple-attr-title">
						Check Type:
					</div>
					
					<select id="check" name="check" style="height: 4vh; font-size: 110%;">
						{% for check in checks %}
							<option value={{check.id}}>{{check.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="condition-field">
					<div id="multiple-attr-title">
						Condition Status:
					</div>
					
					<select id="condition" name="condition" style="height: 4vh; font-size: 110%;">
						<option value="">Normal</option>
						{% for condition in conditions %}
							<option value={{condition.id}}>{{condition.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="speed-field">
					<div id="multiple-attr-title">
						Speed Rank Modifier:
					</div>
					
					<select id="speed" name="speed" aria-placeholder="0" style="height: 4vh; font-size: 110%;">
						<option value=0>0</option>
						{% for number in numbers %}
							<option value={{number}}>{{number}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="skilltype-field">
					<div id="multiple-attr-title">
						Skill Type:
					</div>
					
					<select id="skilltype" name="skilltype" style="height: 4vh; font-size: 110%;">
						<option value="">N/A</option>
						{% for type in skilltype %}
							<option value="{{type.id}}">{{type.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="dctype-field">
					<div id="multiple-attr-title">
						DC Set by:
					</div>
					
					<select id="skilltype" name="skilltype" style="height: 4vh; font-size: 110%;">
						<option value="">N/A</option>
						{% for type in dctype %}
							<option value="{{type.value}}">{{type.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>

			<br>

			<div id="dc-levels">
				<div id="skill-attr-title">
					Difficulty Class Table:
				</div>
				<div id="dc-field">
					<div>
						<div id="multiple-attr-title">
							DC:
						</div>
					</div>

					
					<div>
						<div id="multiple-attr-title">
							Description:
						</div>
					</div>

					<div>
					</div>

					<div>
						<select id="dcclass" name="dcclass">
							{% for class in dcclasses %}
							<option value={{class}}>{{class}}</option>
						{% endfor %}
						</select>
					</div>

					<div>
						<input type="text" id="dc_description" name="dc_description">
					</div>

					<div>
						<div class="btn" id="dc_create" style="align-items: center; margin-top: 0px; height: 80%;">
							<center>
							<i class="fa fa-plus"></i>   Add
							</center>
						</div>
					</div>
					
				</div>
	
			</div>

			<br>
		</div>
	
		
	</div>
</div>