<div class="skill-container" style="justify-content: center; background:url(/static/img/bg/batman1.png); background-repeat: no-repeat; background-size: 100%;">
	<div class="skill-grid">
		
		<div id="box-title">
			<img src="/static/img/title/create_skill.png" width="100%">
		</div>
		<br>
		
		<br>

		<span>

		<div id="addskillgrid">

			<div id="addskillunderline">
					Skill Name
			</div>

			<div id="addskillform">
				<div id="nameskill">
					<input type="text" id="skill_name" placeholder="Skill Name">
				</div>
						
				<div id="namebutton">
					<div class="btn" id="skill_create" onclick="skill_create()" >
						 Create Skill
					</div>
				</div>
			</div>

			<div id="skill-name-grid">

				<div id="skill-name">

				</div>

				<div id="skill-edit">
					<div id="edit-button" style="display: none;">
						<button  style="font-size: 260%;"><i class="fa fa-edit"></i></button>
					</div>
				</div>

			</div>

			<div id="skill-edit-grid">
				<div id="skill-edit-field">
					<input type="text" id="skill_name_edit">
				</div>

				<div id="skill-edit-btn">
					<div class="edit-btn" id="skill_edit" onclick="skill_edit()">
						Edit Skill Name
					</div>
				</div>
			</div>


			<div id="name-err">
		
			</div>
			
		</div>

		<br>

		<div id="skill-form">
			{% include skill_includes.base_form %}

		</div>

		<br>

		<div id="subskill" style="display: none; max-height: 0; overflow: hidden; transition: all .4s ease-out; opacity: 0%;">
			{% include skill_includes.subskill %}
		</div>

		<br>

		<div id="other">
			{% include skill_includes.other_checks %}
		</div>

		<br>

		<div id="alt-check" style="display: none;">
			{% include skill_includes.alt_check %}
		</div>

		<br>

		<div id="pre-check">
			{% include skill_includes.pre_check %}
		</div>

		<br>

		<div id="opposed-by">
			{% include skill_includes.opposed %}
		</div>

		<br>

		<div id="movement">
			{% include skill_includes.movement %}
		</div>

		<br>

		<div id="change-action">
			{% include skill_includes.action %}
		</div>

		<br>

		<div id="rounds">
			{% include skill_includes.rounds %}
		</div>

		<br>

		<div id="power">
			{% include skill_includes.power %}
		</div>

		<br>
			
		<div id="dc-levels" style="display: grid;">
			{% include skill_includes.dc_table %}
		</div>

		<br>

		<div id="levels">
			{% include skill_includes.levels %}
		</div>

		<br>

		<div id="circumstance">
			{% include skill_includes.circumstance %}
		</div>

		<br>
			
		<div id="degrees">
			{% include skill_includes.degree %}
		</div>

		<br>

		<div id="degrees_mod">
			{% include skill_includes.degree_mod %}
		</div>

		<br>

		<div id="resistance-mod">
			{% include skill_includes.resistance %}
		</div>

		<br>

		<div id="resist-effect">
			{% include skill_includes.resist %}
		</div>

		<br>

		<div id="opp-cond">
			{% include skill_includes.opponent_condition %}
		</div>

		<br>

		<div id="char">
			{% include skill_includes.other_char %}
		</div>

		<br>

		</span>
		
	</div>
	
</div>

	<script src="/static/js/special_skill_create/special_skill_create.js"></script>
	<script src="/static/js/special_skill_create/base_form.js"></script>
	<script src="/static/js/special_skill_create/alt_check.js"></script>
	<script src="/static/js/special_skill_create/change_action.js"></script>
	<script src="/static/js/special_skill_create/circumstance_table.js"></script>
	<script src="/static/js/special_skill_create/dc_table.js"></script>
	<script src="/static/js/special_skill_create/degree_mod.js"></script>
	<script src="/static/js/special_skill_create/degree_table.js"></script>
	<script src="/static/js/special_skill_create/levels.js"></script>
	<script src="/static/js/special_skill_create/movement.js"></script>
	<script src="/static/js/special_skill_create/opponent_condition.js"></script>
	<script src="/static/js/special_skill_create/opposed.js"></script>
	<script src="/static/js/special_skill_create/other_char.js"></script>
	<script src="/static/js/special_skill_create/other_checks.js"></script>
	<script src="/static/js/special_skill_create/power.js"></script>
	<script src="/static/js/special_skill_create/pre_check.js"></script>
	<script src="/static/js/special_skill_create/resist.js"></script>
	<script src="/static/js/special_skill_create/resistance.js"></script>
	<script src="/static/js/special_skill_create/rounds.js"></script>
	<script src="/static/js/special_skill_create/subskill.js"></script>

	<input type="hidden" id="bonus_id" name="bonus_id" value=>