<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="{{ meta_name }}" content="{{ meta_content }}" />

		<title>{{ title }}</title>

		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
		
		<script src="/static/js/template.js"></script>


		{% for style in stylesheets %}
		<link type="text/css" rel="stylesheet" href="{{ style.style }}"  />
		{% endfor %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

<body onload="banner_size()">

		<div class="page" style="justify-items: center;">
		<div class="container" style="justify-content: center;">

			<div id="banner">

			
				<div id="bannergrid" style="position: absolute;">
					<div id="topleft"></div>
					<div id="login">
						<div class="btn-login">Login</div>		
					</div>
					<div id="bottom"></div>
				</div>
			

				

				<div id="the-banner" style="position: relative; z-index: -1;">
					<img src="/static/img/banner.png" width="100%" style="display: block;">
				</div>

			</div>
		

			

			<div id="left"></div>

			<div id="sidebargrid" style='background:url(/static/img/sidebar.jpg) no-repeat;'>
				{% for button in sidebar %}
				<div id="{{button}}-btn" class="btn-sidebar" style="margin: 0px;" onclick=btn_select(this)>
					<div id="btn-sidebar" style=" margin: 0px; padding: 0%;">
						<img width="100%" height="100%" src="/static/img/sidebar/{{ button }}GOLD.png" 
						onmouseover="this.src='/static/img/sidebar/{{ button }}BLUE.png'" 
						onmouseout="this.src='/static/img/sidebar/{{ button }}GOLD.png'" />
					</div>
				</div>
				{% endfor %}
				<br><br><br><br><br><br><br><br><br><br><br><br>
			</div>

			<div id="middle"></div>
			<div id="sidelines" style="background: url(/static/img/sidelines.png) repeat-y; justify-content: center;">
			<div id="content" style="background: url(/static/img/corner.png) no-repeat; background-size: 100%; justify-content: center;">
				{% include includehtml %}
			</div>
			</div>
 

			<div id="right" style="background-color: #42abe0;"></div>

			<div id="bottomleft"></div>
			<div id="bottomsidebar"></div>
			<div id="bottommiddle"></div>
			<div id="bottomcontent"></div>
			<div id="bottomright"></div>


		</div>
		</div>

		

	</body>
</html>