<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="{{ meta_name }}" content="{{ meta_content }}" />

		<title>{{ title }}</title>

		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">
		
		<!---
		<script src="/static/js/template.js"></script>
		--->


		{% for s in stylesheets %}
		<link type="text/css" rel="stylesheet" href="{{ s.style }}"  />
		{% endfor %}				

	</head>

<body>
		<div id="navbar">
			<div>
				<nav role="navigation">
					<div id="menuToggle">
					  <input type="checkbox" />
					  <span></span>
					  <span></span>
					  <span></span>
					  <ul id="menu">
						{% for button in sidebar %}
							<li>
								<a href={{button.link}}>	
									<button class="btn-sidebar">
										{{ button.name }}
									</button>
								</a>	
							</li>					
						{% endfor %}
					  </ul>
					</div>
				  </nav>
			</div>
	
			<div></div>
	
			<div style="align-items: right; align-content: right;">
				<div class="btn-login" onclick="show_login()">Login</div>
			</div>
		</div>

		<div>
			<img src="/static/img/banner.png" width="100%" style="display: block;">	
		</div>

		<div id="sidelines">
			<div id="content">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div id="flashed-messages">
						{% for message in messages %}
							<div class="flash-message">{{ message }}</div>
						{% endfor %}
						</div>
					{% endif %}
				{% endwith %}
			
				{% include includehtml %}	
			</div>
		</div>
	
		<script src="/static/js/functions/functions.js"></script>
		<script src="/static/js/template.js"></script>

</body>
</html>