<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		{{ meta }}

		<title>{% title %}</title>

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">

		{% for style in stylesheets %}
			{{ style }}
		{% endfor %}

	</head>

	<body>
		<div class="container">
			<div id="bannergrid">
				<div id="topleft"></div>
				<div id="login">
					<div class="btn-login"></div>
				</div>
				<div id="bottom"></div>
			</div>
			<div id="left"></div>
			<div id="sidebar">
			<div id="rules">
				<div class="button">

				</div>
			</div>
			<div id="games">
				<div class="button">
					<img src="img/sidebar/gamesGOLD.png" 
					onmouseover="this.src='img/sidebar/gamesBLUE.png'" 
					onmouseout="this.src='img/sidebar/gamesGOLD.png'" />
				</div>
			</div>
			<div id="stories">
				<div class="button">
					<img src="img/sidebar/storiesGOLD.png" 
					onmouseover="this.src='img/sidebar/storiesBLUE.png'" 
					onmouseout="this.src='img/sidebar/storiesGOLD.png'" />
				</div>
			</div>
			<div id="heroes">
				<div class="button">
					<img src="img/sidebar/GOLD.png" 
					onmouseover="this.src='img/sidebar/heroesBLUE.png'" 
					onmouseout="this.src='img/sidebar/heroesGOLD.png'" />
				</div>
			</div>
			<div id="npcs">
				<div class="button">
					<img src="img/sidebar/npcsGOLD.png" 
					onmouseover="this.src='img/sidebar/npcsBLUE.png'" 
					onmouseout="this.src='img/sidebar/npcsGOLD.png'" />
				</div>
			</div>
			<div id="locations">
				<div class="button">
					<img src="img/sidebar/locationsGOLD.png" 
					onmouseover="this.src='img/sidebar/locationsBLUE.png'" 
					onmouseout="this.src='img/sidebar/locationsGOLD.png'" />
				</div>
			</div>
			<div id="skills">
				<div class="button">
					<img src="img/sidebar/skillsGOLD.png" 
					onmouseover="this.src='img/sidebar/skillsBLUE.png'" 
					onmouseout="this.src='img/sidebar/skillsGOLD.png'" />
				</div>
			</div>
			<div id="abilities">
				<div class="button">
					<img src="img/sidebar/abilitiesGOLD.png" 
					onmouseover="this.src='img/sidebar/abilitiesBLUE.png'" 
					onmouseout="this.src='img/sidebar/abilitiesGOLD.png'" />
				</div>
			</div>
			<div id="powers">
				<div class="button">
					<img src="img/sidebar/powersGOLD.png" 
					onmouseover="this.src='img/sidebar/powersBLUE.png'" 
					onmouseout="this.src='img/sidebar/powersGOLD.png'" />
				</div>
			</div>
			<div id="flaws">
				<div class="button">
					<img src="img/sidebar/flawsGOLD.png" 
					onmouseover="this.src='img/sidebar/flawsBLUE.png'" 
					onmouseout="this.src='img/sidebar/flawsGOLD.png'" />
				</div>
			</div>
			<div id="equipment">
				<div class="button">
					<img src="img/sidebar/equipmentGOLD.png" 
					onmouseover="this.src='img/sidebar/equipmentBLUE.png'" 
					onmouseout="this.src='img/sidebar/equipmentGOLD.png'" />
				</div>
			</div>
			<div id="devices">
				<div class="button">
					<img src="img/sidebar/devicesGOLD.png" 
					onmouseover="this.src='img/sidebar/devicesBLUE.png'" 
					onmouseout="this.src='img/sidebar/devicesGOLD.png'" />
				</div>
			</div>
			<div id="armor">
				<div class="button">
					<img src="img/sidebar/armorGOLD.png" 
					onmouseover="this.src='img/sidebar/armorBLUE.png'" 
					onmouseout="this.src='img/sidebar/armorGOLD.png'" />
				</div>
			</div>
			<div id="weapons">
				<div class="button">
					<img src="img/sidebar/weaponsGOLD.png" 
					onmouseover="this.src='img/sidebar/weaponsBLUE.png'" 
					onmouseout="this.src='img/sidebar/weaponsGOLD.png'" />
				</div>
			</div>
			<div id="vehicles">
				<div class="button">
					<img src="img/sidebar/vehiclesGOLD.png" 
					onmouseover="this.src='img/sidebar/vehiclesBLUE.png'" 
					onmouseout="this.src='img/sidebar/vehiclesGOLD.png'" />
				</div>
			</div>
			<div id="constructs">
				<div class="button">
					<img src="img/sidebar/constructsGOLD.png" 
					onmouseover="this.src='img/sidebar/constructsBLUE.png'" 
					onmouseout="this.src='img/sidebar/constructsGOLD.png'" />
				</div>
			</div>
			</div>
			<div id="middle"></div>
			<div id="content">
				{% include includehtml %}
			</div>
			<div id="right"></div>
		</div>
	</body>
</html>