<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="{{ meta_name }}" content="{{ meta_content }}" />

		<title>{{ title }}</title>

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Monda&display=swap" rel="stylesheet">

		{% for style in stylesheets %}
		<link type="text/css" rel="stylesheet" href="{{ style.style }}"  />
		{% endfor %}

	</head>

	<body>


		<div class="container" style="justify-content: center;">

			<div id="bannergrid" style="background:url(/static/img/banner.jpg">
				<div id="topleft"></div>
				<div id="login">
					<div class="btn-login"></div>
				</div>
				<div id="bottom"></div>
			</div>

			<div id="left"></div>

			<div id="sidebargrid" style='background:url(/static/img/sidebar.jpg'>
			<div id="rulea">
				<div class="btn">
					<img src="/static/img/sidebar/rulesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/rulesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/rulesGOLD.png'" />
				</div>
			</div>
			<div id="games">
				<div class="btn">
					<img src="/static/img/sidebar/gamesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/gamesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/gamesGOLD.png'" />
				</div>
			</div>
			<div id="stories">
				<div class="btn">
					<img src="/static/img/sidebar/storiesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/storiesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/storiesGOLD.png'" />
				</div>
			</div>
			<div id="heroes">
				<div class="btn">
					<img src="/static/img/sidebar/heroesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/heroesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/heroesGOLD.png'" />
				</div>
			</div>
			<div id="npcs">
				<div class="btn">
					<img src="/static/img/sidebar/npcsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/npcsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/npcsGOLD.png'" />
				</div>
			</div>
			<div id="locations">
				<div class="btn">
					<img src="/static/img/sidebar/locationsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/locationsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/locationsGOLD.png'" />
				</div>
			</div>
			<div id="skills">
				<div class="btn">
					<img src="/static/img/sidebar/skillsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/skillsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/skillsGOLD.png'" />
				</div>
			</div>
			<div id="abilities">
				<div class="btn">
					<img src="/static/img/sidebar/abilitiesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/abilitiesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/abilitiesGOLD.png'" />
				</div>
			</div>
			<div id="powers">
				<div class="btn">
					<img src="/static/img/sidebar/powersGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/powersBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/powersGOLD.png'" />
				</div>
			</div>
			<div id="flaws">
				<div class="btn">
					<img src="/static/img/sidebar/flawsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/flawsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/flawsGOLD.png'" />
				</div>
			</div>
			<div id="equipment">
				<div class="btn">
					<img src="/static/img/sidebar/equipmentGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/equipmentBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/equipmentGOLD.png'" />
				</div>
			</div>
			<div id="devices">
				<div class="btn">
					<img src="/static/img/sidebar/devicesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/devicesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/devicesGOLD.png'" />
				</div>
			</div>
			<div id="armor">
				<div class="btn">
					<img src="/static/img/sidebar/armorGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/armorBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/armorGOLD.png'" />
				</div>
			</div>
			<div id="weapons">
				<div class="btn">
					<img src="/static/img/sidebar/weaponsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/weaponsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/weaponsGOLD.png'" />
				</div>
			</div>
			<div id="vehicles">
				<div class="btn">
					<img src="/static/img/sidebar/vehiclesGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/vehiclesBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/vehiclesGOLD.png'" />
				</div>
			</div>
			<div id="constructs">
				<div class="btn">
					<img src="/static/img/sidebar/constructsGOLD.png" 
					onmouseover="this.src='/static/img/sidebar/constructsBLUE.png'" 
					onmouseout="this.src='/static/img/sidebar/constructsGOLD.png'" />
				</div>
			</div>
			</div>

			<div id="middle"></div>
			<div id="content" style="align-items: center;">
				{% include includehtml %}
			</div>
			<div id="right"></div>
		</div>

	</body>
</html>