
<div id="head-desc">
	<div id="head-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div class="head-box">
	
	<div id="head-base">

		<div class="base-field">
			<div id="multiple-attr-title">
				Headquarters Type
			</div>

			<div style="width: 65%;">
			</div>
		</div>


		<div class="base-field">
			<div id="multiple-attr-title">
				Headquarters
			</div>

			<div class="base-3">
				<div>
					<input type="checkbox" id="shared" class="regular-checkbox big-checkbox">	
				</di>
			</div>
		</div>

	</div>

</div>