
<div id="vehicle-desc">
	<div id="vehicle-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div id="vehicle-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Vehicle Type
		</div>

		<div>
			<select class="base-select" id="type_id" name="type_id">
				<option value=""> Vehicle Type</option>}
			</select>
		</div>
	</div>
	
	<div class="base-field">
		<div id="multiple-attr-title">
			
		</div>

		<div class="base-3">
			<div>
				<input type="checkbox" id="" class="regular-checkbox big-checkbox">	
			</di>
		</div>
	</div>
</div>