
<div id="vehicle-desc">
	<div id="vehicle-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="description" name="description"></textarea>
	</div>
</div>

<br>

<div class="vehicle-box">
<div id="vehicle-base">

	<div id="cost-grid">
		<div class="cost-title">
			Size Rank
		</div>

		<div class="cost-title">
			Strength
		</div>

		<div class="cost-title">
			Speed		
		</div>

		<div class="cost-title">
			Toughness
		</div>

		<div class="cost-title">
			Defense			
		</div>

		<div class="cost-title">
			Features
		</div>

		<div class="cost-title">
			Powers
		</div>

		<div class="cost-title">
			Total Cost
		</div>

		<div id="cost-size">
			Size Rank
		</div>

		<div id="cost-strength">
			9
		</div>

		<div id="cost-speed">
			4		
		</div>

		<div id="cost-toughness">
			8
		</div>

		<div id="cost-defense">
			12			
		</div>

		<div id="cost-features">
			5
		</div>

		<div id="cost-powers">
			10
		</div>

		<div id="cost-total">
			20
		</div>


	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Vehicle Type
		</div>

		<div>
			<select class="base-select" id="type_id" name="type_id">
				<option value=""> Vehicle Type</option>
				{% for v in vehicle_type %}
					<option value={{v.id}}>{{v.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Vehicle Size
		</div>

		<div>
			<select class="base-select" id="size" name="size">
				<option value=""> Vehicle Type</option>
				{% for v in vehicle_size %}
					<option value={{v.id}}>{{v.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			
		</div>

		<div class="base-3">
			<div>
				<input type="checkbox" id="" class="regular-checkbox big-checkbox">	
			</di>
		</div>
	</div>


</div>
</div>