<div id="check-header">

	<div id="check-title">
		<input type="checkbox" id="check_check" class="regular-checkbox big-checkbox" onclick="check_check()"> Variable Check:
	</div>
	
	<div id="check-base">
		<div>
			<input type="text" id="check_title" name="check_title" placeholder="Title">
		</div>

		<div>
			<select class="extra-select" id="check_extra" name="check_extra">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

		<div>
			<select class="select-entry" id="check_target" name="check_target">
				{% for c in check_targets %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
	 	</div>
	</div>

</div>

<div id="check-entry">
	<div id="check-row1">

		<div>
			Keyword::
		</div>

		<div></div>

		<div>
			Circumstance:
		</div>

		<div>
			<input type="text" id="check_keyword" name="check_keyword">
		</div>

		<div></div>
		
		<div>
			<input type="text" id="check_circ" name="check_circ">
		</div>
	</div>


	<div id="check-row2">

		<div>
			<select class="entry-select" id="check_check_type" name="check_check_type" onchange="check_check_type()">
				<option value="">Check Type</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_action_type" name="check_action_type" onchange="check_action_type()">
				{% for a in action_type %}
					<option value="{{a.type}}">{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_action" name="check_action">
				<option value="">Action</option>
			</select> 
		</div>
			
		<div>
			<div class="check-div" style="width: 88%;">
				<input type="checkbox" id="check_free" class="medium-checkbox med-checkbox"> Free Check
			</div>
		</div>
	</div>

	<div id="check-defenseless">
		<div class="vcenter">
			Action if Defenseless:
		</div>

		<div>
			<select class="entry-select" id="check_defenseless" name="check_defenseless">
				<option value="">Action</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="check-row3">

		<div>
			<select class="entry-select" id="check_trigger" name="check_trigger" onchange="check_trigger()">
				{% for c in check_trigger %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_when" name="check_when">
				{% for c in check_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_trait_type" name="check_trait_type" onchange="check_trait_type()">
				{% for t in check_traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_trait" name="check_trait" onchange="check_trait()">
				<option value="">Trait</option>
			</select>
		</div>

	</div>

	<div id="check-conflict">
		
		<div class="vcenter" style="text-align: left;">
			After Conflict Action:
		</div>

		<div>
			<select class="entry-select" id="check_conflict" name="check_conflict">
				<option value="">Conflict Action</option>
				{% for c in conflicts %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_conflict_range" name="check_conflict_range">
				<option value="">Range</option>
				{% for r in ranged %}
					<option value={{r.id}}>{{r.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="check_conflict_weapon" class="medium-checkbox med-checkbox" > Involving Weapons
			</div>
		</div>
	</div>

	<div id="check-consequence">
		<div>
			Consequence:
		</div>

		<div>
			<select class="entry-select" id="check_consequence" name="check_consequence">
				<option value="">Consequence</option>
				{% for c in consequences %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_consequence_target" name="check_consequence_target">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div id="check-conditions">
		<div class="vcenter" style="text-align: left;">
			Conditions:
		</div>

		<div class="vcenter">
			From:
		</div>

		<div>
			<select class="entry-select" id="check_condition1" name="check_condition1">
				<option value="">Start Condition</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="vcenter">
			To:
		</div>

		<div>
			<select class="entry-select" id="check_condition2" name="check_condition2">
				<option value="">End Condition</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_conditions_target" name="check_conditions_target">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div id="check-condition">
		<div class="vcenter" style="text-align: left;">
			Condition:
		</div>

		<div>
			<select class="entry-select" id="check_condition" name="check_condition">
				<option value="">Condition</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="check_condition_target" name="check_condition_target">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="check-sense">
		<div class="vcenter">
			Triggered by Sense:
		</div>

		<div>
			<select class="entry-select" id="check_sense" name="check_sense">
				<option value="">Sense</option>
				<option value="x">Variable</option>
				<option value="any">Any</option>
				<option value="power">Active Power Sense</option>
				{% for s in senses %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
 		</div>
		 
		<div>
			<div class="check-div">
				<input type="checkbox" id="check_mental" class="medium-checkbox med-checkbox" > Excludes Mental
			</div>
		</div>
	</div>
	<div id="check-row4">
		<div>
			<select class="degree-title-sml" id="check_degree_type" name="check_degree_type">
				<option value="">Degree</option>
				<option value="">Use Degree form to put options here</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="circ-title-sml" id="check_circ_type" name="check_circ_type">
				<option value="">Circumstance</option>
				<option value="">Use Circumstance form to put options here</option>
				{% for p in power_circ_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="time-title-sml" id="check_time_type" name="check_time_type">
				<option value="">Time Effect</option>
				<option value="">Use Time Effect form to put options here</option>
				{% for p in power_time_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="move-title-sml" id="check_move_type" name="check_move_type">
				<option value="">Movement</option>
				<option value="">Use Movement Effect form to put options here</option>
				{% for p in power_move_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="ranged-title-sml" id="check_ranged_type" name="check_range_type">
				<option value="">Ranged</option>
				<option value="">Use Ranged form to put options here</option>
				{% for p in power_ranged_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="check-attack">

		<div>
			Attack Check
		</div>

		<div>
			<select class="select-sml" id="check_attack" name="check_attack">
				<option value="">Modifier</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="check_attack_range" name="check_attack_range">
				<option value="">Range</option>
				<option value="all">All Ranges</option>
				{% for r in ranged %}
					<option value={{r.id}}>{{r.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="check_maneuver" name="check_maneuver">
				<option value="">Maneuver</option>
				{% for m in maneuvers %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="check_touch" class="medium-checkbox med-checkbox" > Maintain Touch
			</div>
		</div>
	</div>

	<div id="check-opposed">

		<div id="check-opposed-title">

		</div>

		<div>
			<select class="opposed-sml" id="check_opposed" name="check_opposed">
				<option value="">Opponent Check</option>
				<option value="">Use opponent check form to put options here</option>
			</select>
		</div>
	</div>

	<div id="check-dc">

		<div id="check-dc-title">

		</div>
		<div>
			<select class="dc-sml" id="check_dc_value" name="check_dc_value">
				<option value="">DC</option>
				<option value="">Use DC Table form to put options here</option>
			</select>
		</div>

		<div>
			<select class="dc-title-sml" id="check_dc_type" name="check_dc_type">
				<option value="">DC By Group Title</option>
				<option value="">Use DC Table form to put options here</option>
			</select>
		</div>
	</div>


	<div id="check-trigger-variable">
		<div>
			Triggered by Check:
		</div>
		
		<div>
			<select class="check-sml" id="check_variable" name="check_variable">
				<option value="">Check</option>
				<option value="">Use Variable Check Form to Put Options Here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="check-title-sml" id="check_variable_type" name="check_variable_type">
				<option value="">Check by Group</option>
				<option value="">Use Variable Check Form to Put Options Here</option>
				{% for p in power_check_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>


	<div id="check-trigger-opposed">
		<div>
			Triggered by Opposed:
		</div>

		<div>
			<select class="opposed-sml" id="check_opponent" name="create_move_opposed">
				<option value="">Opponent Check</option>
				<option value="">Use Opponent Check Form to Put Options Here</option>
				{% for p in power_opposed %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="opposed-title-sml" id="check_opponent_type" name="create_move_opposed_type">
				<option value="">Opponent Check by Group</option>
				<option value="">Use Opponent Check Form to Put Options Here</option>
				{% for p in power_opposed_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="check-button-row">

		<div></div>
		
		<div>
			<select class="select-entry"  id="check_multiple" name="check_multiple">
				{% for c in check_multiple %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
		<div>
			<div class="btn-entry" id="check_submit" name="check_submit" onclick="check_submit()">
				 Add
			</div>
		</div>
	</div>



</div>

<div id="check-spot"></div>

<div id="check-err"></div>