
<div id="power-desc">
	<div id="power-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="power_desc" name="power_desc"></textarea>
	</div>
</div>

<br>

<div id="power-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Power Type:
		</div>

		<select class="base-select" id="type" name="type" >
			<option value=''>Power Type</option>
			{% for type in power_type %}
				<option value="{{type.type}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Action Type:
		</div>
		
		<select class="base-select" id="action" name="action">
			<option value=''>Action Type</option>
			{% for type in action_type %}
				<option value="{{type.type}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Range:
		</div>
		
		<select class="base-select" id="range" name="range"   onchange="range_type()">
			<option value="">Range</option>
			{% for range in range_type %}
				<option value="{{range.type}}">{{range.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Duration:
		</div>
		
		<select class="base-select" id="duration" name="duration">
			<option value="">Duration</option>
			{% for duration in duration_type %}
				<option value="{{duration.type}}">{{duration.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Cost:
		</div>
		
		<select class="base-select" id="cost" name="cost" >
			<option value=0>0</option>
			{% for num in positives %}
				<option value={{num}}>{{num}}</option>
			{% endfor %}
		</select>
	</div>

</div>

	<br>

