
<div id="power-desc">
	<div id="power-attr-title">
		Description
	</div>

	<div id="description-field">
		<textarea id="power_desc" name="power_desc"></textarea>
	</div>
</div>

<br>

<div id="power-base">

	<div class="base-field">
		<div id="multiple-attr-title">
			Power Type:
		</div>

		<select class="base-select" id="type" name="type" >
			<option value=''>Power Type</option>
			{% for type in power_type %}
				<option value="{{type.type}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Action Type:
		</div>
		
		<select class="base-select" id="action" name="action" onchange="movement()">
			<option value=''>Action Type</option>
			{% for type in actions %}
				<option value={{type.id}}>{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Range:
		</div>
		
		<select class="base-select" id="range" name="range"   onchange="range_type()">
			<option value="">Range</option>
			{% for range in range_type %}
				<option value="{{range.type}}">{{range.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Duration:
		</div>
		
		<select class="base-select" id="duration" name="duration">
			<option value="">Duration</option>
			{% for duration in duration_type %}
				<option value="{{duration.type}}">{{duration.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Cost Per Rank:
		</div>
		
		<select class="base-select" id="cost" name="cost" >
			<option value=0>0</option>
			{% for num in positives %}
				<option value={{num}}>{{num}}</option>
			{% endfor %}
		</select>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Rank Limit:
		</div>
		
		<select class="base-select" id="limit" name="limit" >
			<option value=>None</option>
			{% for num in positives %}
				<option value={{num}}>{{num}}</option>
			{% endfor %}
		</select>
	
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Difficulty Class:
		</div>
		
		<div id="power-dc-field">
			<div>
				<select class="base-select" id="power_dc_type" name="power_dc_type" onchange="power_dc_type()">
					{% for dc in dc_type %}
						<option value={{dc.type}}>{{dc.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="power-dc-mod">
				<select class="base-select" id="power_dc_mod" name="power_dc_mod" >
					<option value=>Modifier</option>
					{% for num in negatives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>

		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Check Type:
		</div>
	
		<div>
			<select class="base-select" id="check" name="check">
				<option value="">Check Type</option>
				<option value=>None</option>
				{% for check in checks %}
					<option value={{check.id}}>{{check.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Inflicts Damage:
		</div>
	
		<div id="power-damage">
			<div>
				Power Rank
			</div>

			<div>
				<select class="base-select" id="dam_math" name="dam_math">
					<option value="">Math</option>
					{% for math in maths %}
						<option value={{math.id}}>{{math.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="base-select" id="dam_val" name="dam_val">
					<option value="">None</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Categorized Power:
		</div>
	
		<div>
			<input type="checkbox" id="categorized" class="regular-checkbox big-checkbox" onclick="categorized()">
		</div>

	</div>

	<div class="base-field">
		<div id="multiple-attr-title">
			Affects Senses:
		</div>
	
		<div>
			<input type="checkbox" id="senses" class="regular-checkbox big-checkbox" onclick="senses()">
		</div>

	</div>


</div>


