<div id="char-header">

	<div id="char-title">
		<input type="checkbox" id="char_check" class="regular-checkbox big-checkbox" onclick="char_check()"> Changes Character Traits:
	</div>
	
	<div id="char-base">
		<select class="extra-select" id="char_extra" name="char_extra" onchange="char_base(); char_extra()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="char-entry">

	<div id="char-row1">

		<div>
			<select class="select-sml" id="char_trait_type" name="char_trait_type" onchange="char_trait_type()">
				<option value="">Trait Type</option>
				<option value="size">Size Rank</option>
				<option value="speed">Speed Rank</option>
				<option value="ability">Ability</option>
				<option value="defense">Defense</option>
				<option value="skill">Skill</option>
				<option value="bonus">Enhanceed Skll</option>

			</select>
		</div>

		<div>
			<select class="select-sml" id="char_trait" name="char_trait" onchange="char_trait()">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_value" name="char_value">
				<option value="">Increased By</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="text-align: center;">
			Per
		</div>

		<div>
			<select class="select-sml" id="char_per" name="char_per">
				<option value="">Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="char-bonus">
			<div class="check-div-fit">
				<input type="checkbox" id="char_bonus" class="medium-checkbox med-checkbox" > Bonus
			</div>
		</div>


		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="char_limited" class="medium-checkbox med-checkbox" onclick="char_limited()"> Limited
			</div>
		</div>

	</div>

	<div id="char-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_reduced" class="medium-checkbox med-checkbox" onclick="char_reduced()"> Reduces Trait
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_limbs" class="medium-checkbox med-checkbox" onclick="char_limbs()"> Extra Limbs
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_carry" class="medium-checkbox med-checkbox" onclick="char_carry()"> Extra Carry
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_sustained" class="medium-checkbox med-checkbox" > Sustained
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_permanent" class="medium-checkbox med-checkbox" > Permanent
			</div>
		</div>

	</div>

	<div id="char-row3">

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_points" class="medium-checkbox med-checkbox" onclick="char_points()"> Hero Points
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_appear" class="medium-checkbox med-checkbox" onclick="char_appear()"> Alters Appearance
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_insub" class="medium-checkbox med-checkbox" onclick="char_insub()"> Insubstantial
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_weaken" class="medium-checkbox med-checkbox" onclick="char_weaken()"> Weaken
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_meta" class="medium-checkbox med-checkbox" onclick="char_meta()"> Metamorph
			</div>
		</div>

	</div>

	<div id="char-meta">
		<div>
			Metamorph:
		</div>

		<div class="vcenter" style="font-size: 75%;">
			Sets of Traits Per Rank:
		</div>

		<div>
			<select class="select-sml" id="char_metamorph" name="char_metamorph">
				<option value="">Sets</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="char-weaken">
		<div>
			Weaken
		</div>

		<div>
			<select class="select-sml" id="char_weaken_type" name="char_weaken_type" onchange="char_weaken_type(); char_weaken_broad()">
				{% for w in weaken %}
					<option value="{{w.type}}">{{w.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="opposed-title-sml" id="char_weaken_opposed_type" name="char_weaken_opposed_type">
				<option value="">Opponent Check by Group</option>
				<option value="">Use Opponent Check Form to Put Options Here</option>
				{% for p in power_opposed_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml weaken-sml" id="char_weaken_degree_type" name="char_weaken_degree_type">
				<option value="">Degree by Group</option>`
				<option value="">Set the Weaken Amount on the Degree Form to Put Options Here</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="char-weaken-trait">
			<div>
				<select class="select-sml" id="char_weaken_trait_type" name="char_weaken_trait_type" onchange="char_weaken_trait_type()">
					<option value="ability">Ability</option>
					<option value="skill">Skill</option>
					<option value="power">Power</option>
					<option value="defense">Defense</option>
					<option value="x">Variable</option>
				</select>
			</div>

			<div>
				<select class="select-sml" id="char_weaken_trait" name="char_weaken_trait" onchange="char_weaken_trait()">
					<option value="">Trait</option>
				</select>
			</div>
		</div>

		<div id="char-weaken-broad">
			<div id="char-weaken-type">
				<select class="select-sml" id="char_weaken_broad" name="char_weaken_broad">
					<option value="ability">Ability</option>
					<option value="skill">Skill</option>
					<option value="power">Power</option>
					<option value="defense">Defense</option>
					<option value="x">Variable</option>
				</select>
			</div>

			<div id="char-weaken-descriptor">
				<select class="descriptor-sml" id="char_weaken_descriptor" name="char_weaken_descriptor">
					<option value="">Descriptor</option>
					<option value="">Use above form to put descriptors here</option>
					{% for d in descriptor_options %}
						<option value={{d.id}}>{{d.name}}</option>
					{% endfor %}
				</select>
			</div>
		
			<div>
				<div class="check-div" style="font-size: 70%;">
					<input type="checkbox" id="char_weaken_simultaneous" class="medium-checkbox med-checkbox" > Simultaneous
				</div>
			</div>

		</div>
	</div>

	<div id="char-limited">

		<div>
			Limited:
		</div>

		<div>
			<select class="select-sml" id="char_limited_by" name="char_limited_by" onchange="char_limited_by()">
				{% for l in limited %}
					<option value="{{l.type}}">{{l.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<div id="char-other">
				<input type="text" id="char_other" name="char_other">
			</div>

			<div id="char-emotion">
				<div>
					<select class="emotion-sml" id="char_emotion" name="char_emotion" onchange="char_emotion()">
						<option value="">Emotion</option>
						<option value="other">Other</option>
						{% for e in emotions %}
							<option value={{e.id}}>{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="char-emotion-other">
					<input type="text" id="char_emotion_other" name="char_emotion_other">
				</div>
			</div>

		</div>

	</div>

	<div id="char-reduced">
		<div>
			Reduced:
		</div>

		<div>
			<select class="select-sml" id="char_reduced_trait_type" name="char_reduced_trait_type" onchange="char_reduced_trait_type(); char_size()">
				<option value="">Trait Type</option>
				<option value="size">Size Rank</option>
				<option value="speed">Speed Rank</option>
				<option value="ability">Ability</option>
				<option value="defense">Defense</option>
				<option value="skill">Skill</option>
				<option value="bonus">Enhanceed Skll</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_reduced_trait" name="char_reduced_trait" onchange="char_reduced_trait()">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_reduced_value" name="char_reduced_value" >
				<option value="">Amount</option>
				<option value="all">All</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="vcenter" style="font-size: 70%;">
			Per
		</div>

		<div>
			<select class="select-sml" id="char_reduced_rank" name="char_reduced_rank">
				<option value="">Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="char-penalty">
			<div class="check-div-fit" style="font-size: 90%;">
				<input type="checkbox" id="char_penalty" class="medium-checkbox med-checkbox"> Penalty 	
			</div>
		</div>

		<div id="char-reduced-full">
			<div class="check-div" style="font-size: 70%;">
				<input type="checkbox" id="char_reduced_full" class="medium-checkbox med-checkbox"> Normal Strength 	
			</div>
		</div>

	</div>

	<div id="char-limbs">

		<div class="valign">
			Extra Limbs:
		</div>

		<div>
			<select class="select-sml" id="char_limbs_count" name="char_limbs_count">
				<option value="">Limbs</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="char_limbs_rank" class="medium-checkbox med-checkbox" > Per Rank
			</div>
		</div>

		<div>
			<select class="select-sml" id="char_limbs_condition" name="char_limbs_condition">
				<option value="">Active Condition</option>
				{% for c in conditions %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_limbs_duration" name="char_limbs_duration">
				<option value="">Limbs Duration</option>
				{% for d in duration_type %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="display: none;">
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="char_limbs_continuous" class="medium-checkbox med-checkbox" > Continuous
			</div>
		</div>
		
		<div style="display: none;">
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="char_limbs_sustained" class="medium-checkbox med-checkbox" > Sustained
			</div>
		</div>
		
		<div>
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="char_limbs_projection" class="medium-checkbox med-checkbox" > Projection
			</div>
		</div>
	</div>

	<div id="char-carry">

		<div>
			Carrying Capacity:
		</div>

		<div class="vcenter" style="font-size: 80%;">
			Size Rank
	   </div>

		<div>
			<select class="select-sml" id="char_carry_capacity" name="char_carry_capacity">
				<option value="">Max Size</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>+{{i}}</option>
				{% endfor %}
			</select>
		</div>


	</div>

	<div id="char-points">
		<div>
			<select class="select-sml" id="char_points_type" name="char_points_type">
				{% for p in points_type %}
					<option value="{{p.type}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_points_value" name="char_points_value">
				<option value="">Points</option>
				<option value="trait">Plsyer Rank of Affected Trait</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value="all">Lose All</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_points_trait_type" name="char_points_trait_type" onchange="char_points_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
				<option value="effect">Trait Affected by Power</option>
				<option value="points">Hero Point Total</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_points_trait" name="char_points_trait" onchange="char_points_trait()">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="char_points_descriptor" name="char_points_descriptor">
				<option value="">Use above form to add descriptors</option>
				{% for d in descriptor_options %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="char-appear">
		<div class="valign" style="font-size: 90%;">
			Alter Appearance
		</div>

		<div>
			<select class="select-sml" id="char_appear_form" name="char_appear_form" onchange="char_appear_form()">
				{% for f in appear_form %}
					<option value="{{f.type}}">{{f.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="char-appear-quick">	
			<div>
				<div class="check-div-fit" style="font-size: 80%;">
					<input type="checkbox" id="char_appear_costume" class="medium-checkbox med-checkbox" > Costume Only
				</div>
			</div>
		</div>

		<div id="char-appear-form">
			<div>
				<select class="select-sml" id="char_appear_target" name="char_appear_target">
					{% for t in targets %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div id="char-appear-broad">
				<div>
					<select class="select-sml creature-sml" id="char_appear_creature" name="char_appear_creature" onchange="char_appear_creature()">
						<option value="">Broad Form</option>
						<option value="x">Variable</option>
						<option value="other">Other Creature</option>
						<option value="20">Machine</option>
						<option value="21">Humanoid</option>
						{% for c in creatures %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div id="char-appear-narrow">
					<select class="select-sml creature-narrow-sml" id="char_appear_creature_narrow" name="char_appear_creature_narrow" onchange="char_appear_creature_narrow()">
						<option value="">Narrow Creature</option>
					</select>
				</div>
			</div>
	
			<div id="char-appear-single">
				<input type="text" id="char_appear_des" name="char_appear_des" placeholder="Description">
			</div>	
		</div>

	</div>

	<div id="char-appear-creature-other">
		<div></div>

		<div class="vcenter" id="char-appear-creature-other-title"></div>

		<div>
			<input type="text" id="char_appear_creature_other" name="char_appear_creature_other">
		</div>
	</div>

	<div id="char-insub">
		<div>
			Insubstantial:
		</div>

		<div>
			<select class="select-sml" id="char_insub_type" name="char_insub_type">
				{% for i in insub %}
					<option value="{{i.type}}">{{i.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="char_insub_des" name="char_insub_des" placeholder="Description">
		</div>

	</div>

	<div id="char-button">

		<div></div>

		<div>
			<select class="entry-select" id="char_multiple" name="char_multiple">
				{% for c in char_multiple %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="char_cost" name="char_cost" onchange="char_cost()">
				<option value="">Cost</option>
			</select>
		</div>

		<div>
			<select class="entry-select" id="char_ranks" name="char_ranks">
				<option value="">Ranks</option>
			</select>	
		</div>
		
		<div>
			<div class="btn-entry" id="char_submit" name="char_submit" onclick="char_submit()">
			 Add
			</div>
		</div>
	</div>

</div>

<div id="char-spot"></div>

<div id="char-err"></div>