<div id="char-header">

	<div id="char-title">
		<input type="checkbox" id="char_check" class="regular-checkbox big-checkbox" onclick="char_check()"> Changes Character Traits:
	</div>
	
	<div id="char-base">
		<select class="extra-select" id="char_extra" name="char_extra" onchange="char_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="char-entry">

	<div id="char-row1">

		<div>
			<select class="select-sml" id="char_affects" name="char_affects">
				{% for c in character %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
				{% for a in abilities %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_value" name="char_value">
				<option value="">Increased By</option>
				<option value="rank">Effect Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="text-align: center;">
			Per
		</div>

		<div>
			<select class="select-sml" id="char_rank" name="char_rank">
				<option value="">Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_limited" class="medium-checkbox med-checkbox" onclick="char_limited()"> Limited
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_reduced" class="medium-checkbox med-checkbox" onclick="char_reduced()"> Reduces Trait
			</div>
		</div>

	</div>

	<div id="char-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_limbs" class="medium-checkbox med-checkbox" onclick="char_limbs()"> Extra Limbs
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_carry" class="medium-checkbox med-checkbox" onclick="char_carry()"> Extra Carry
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_sustained" class="medium-checkbox med-checkbox" > Sustained
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_permanent" class="medium-checkbox med-checkbox" > Permanent
			</div>
		</div>

	</div>

	<div id="char-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_points" class="medium-checkbox med-checkbox" onclick="char_points()"> Power Points
			</div>
		</div>

		<div>
		</div>

		<div>
		</div>

		<div>
		</div>

	</div>

	<div id="char-limited">

		<div>
			<select class="select-sml" id="char_limited_by" name="char_limited_by" onchange="char_limited_by()">
				{% for l in limited %}
					<option value="{{l.type}}">{{l.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<div id="char-other">
				<input type="text" id="char_other" name="char_other">
			</div>

			<div id="char-emotion">
				<div>
					<select class="select-sml" id="char_emotion" name="char_emotion" onchange="char_emotion()">
						<option value="">Emotion</option>
						<option value="other">Other</option>
						{% for e in emotions %}
							<option value={{e.id}}>{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="char-emotion-other">
					<input type="text" id="char_emotion_other" name="char_emotion_other">
				</div>
			</div>

		</div>

	</div>

	<div id="char-reduced">
		<div>
			<select class="select-sml" id="char_reduced_trait" name="char_reduced_trait">
				<option value="">Trait</option>
				{% for a in abilities %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_reduced_value" name="char_reduced_value">
				<option value="">Amount</option>
				{% for i in negatives %}
					<option value={{I}}>{{I}}</option>
				{% endfor %}
			</select>
		</div>

		<div></div>

	</div>

	<div id="char-limbs">

		<div>
			<div class="check-div">
				<input type="checkbox" id="char_continuous" class="medium-checkbox med-checkbox" > Continuous
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="char_sustained" class="medium-checkbox med-checkbox" > Sustained
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="char_distracting" class="medium-checkbox med-checkbox" > Distracting
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="char_projection" class="medium-checkbox med-checkbox" > Projection
			</div>
		</div>
	</div>

	<div id="char-carry">

		<div>
			Carrying Capacity:
		</div>

		<div>
			<select class="select-sml" id="char_carry_capacity" name="char_carry_capacity">
				<option value="">Max Size</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			 - size rank
		</div>

	</div>

	<div id="char-points">
		<div>
			<select class="select-sml" id="char_points" name="char_points">
				<option value="">Restored Points</option>
				<option value="rank">Rank of Affected Trait</option>
				<option value="power">This Power's Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_points_trait_type" name="char_points_trait_type" onchange="char_points_trait_type()">
				<option value="">Points taken from</option>
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="char_points_trait" name="char_points_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="char_points_descriptor" name="char_points_descriptor">
				<option value="">Use above form to add descriptors</option>
			</select>
		</div>

	</div>

	<div id="char-button">
		<div>
			
		</div>
		
		<div>
			<div class="btn-entry" id="char_submit" name="char_submit" onclick="char_submit()">
			 Add
			</div>
		</div>
	</div>

</div>

<div id="char-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="char-err"></div>