<div id="circ-header">

	<div id="circ-title">
		<input type="checkbox" id="circ_check" class="regular-checkbox big-checkbox" onclick="circ_check()"> Circumstance Modifier:
	</div>

	<div>
		<select class="header-select" id="circ_target" name="circ_target" onchange="circ_base()">
			{% for t in targets %}
				<option value="{{t.type}}">{{t.name}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div id="circ-base">
		<select class="extra-select" id="circ_extra" name="circ_extra" onchange="circ_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="circ-entry">

	<div id="circ-row1">

		<div id="circ-mod-title">
			Modifier:
		</div>

		<div id="circ-round-title">
			Lasts:
		</div>

		<div id="circ-des-title">
			Circumstance:
		</div>

		<div id="circ-mod">
			<select class="select-sml" id="circ_mod" name="circ_mod">
				<option value="">Modifier</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="circ-round">
			<select class="select-sml" id="circ_rounds" name="circ_rrounds">
				<option value="0">Once</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="circ-des">
			<textarea id="circ_des" name="circ_des"></textarea>
		</div>

		<div id="circ-type">
			<select class="select-sml" id="circ_type" name="circ_type" onchange="circ_type()">
				{% for c in circ_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="circ-range">
		<div>
			<select class="select-sml" id="circ_range" name="circ_name">
				<option value="">Range</option>
				{% for r in ranges %}
					<option value={{r.id}}>{{r.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

</div>

<div id="circ-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="circ-err"></div>