<div id="create-header">

	<div id="create-title">
		<input type="checkbox" id="create_check" class="regular-checkbox big-checkbox" onclick="create_check()"> Create Effect:
	</div>

	<div id="create-base">
		<select class="extra-select" id="create_extra" name="create_extra" onchange="create_base(); create_extra()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="create-entry">

	<div id="create-row1">
		<div>
			Solidity:
		</div>

		<div>
			Visibility:
		</div>

		<div>
			Complexity:
		</div>

		<div>
			Volume Rank:
		</div>

		<div>
			Toughness:
		</div>

		<div>
			Mass Rank:
		</div>
	</div>

	<div id="create-row1">
		<div>
			<select class="select-sml" id="create_solidity" name="create_solidity">
				{% for s in solidity %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" name="create_visibility" id="create_visibility">
				{% for v in visibility %}
					<option value="{{v.type}}">{{v.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="create_complexity" name="create_complexity">
				<option value="">Complexity</option>
				<option value="any">Any</option>
				{% for c in complexity %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="create_volume" name="create_volume">
				<option value="">Volume</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value="prop">Proportional</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="create_toughness" name="create_toughness">
				<option value="">Toughness</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value=imperv>Impervious</option>
				<option value="prop">Proportional</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="create_mass" name="create_mass">
				<option value="">Mass</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value="volume">Volume Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="create-row2">
		<div>
			<div class="check-div">
				<input type="checkbox" id="create_damageable" class="medium-checkbox med-checkbox"> Can be Damaged
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_maintained" class="medium-checkbox med-checkbox"> Maintained
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_repairable" class="medium-checkbox med-checkbox"> Repairable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_moveable" class="medium-checkbox med-checkbox" onclick="create_moveable()"> Moveable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_stationary" class="medium-checkbox med-checkbox" onclick="create_moveable()"> Stationary
			</div>
		</div>

	</div>

	<div id="create-row3">
		<div>
			<div class="check-div">
				<input type="checkbox" id="create_trap" class="medium-checkbox med-checkbox" onclick="create_trap()"> Can Trap
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_ranged" class="medium-checkbox med-checkbox" onclick="create_ranged()"> Ranged Attack
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_weapon" class="medium-checkbox med-checkbox" onclick="create_weapon()"> Weapon
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_support" class="medium-checkbox med-checkbox" onclick="create_support()"> Supports Weight 
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="create_real" class="medium-checkbox med-checkbox" > Appears Real
			</div>
		</div>
	</div>

	<div id="create-row4">
		<div>
			<div class="check-div">
				<input type="checkbox" id="create_cover" class="medium-checkbox med-checkbox" > Provides Cover
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_conceal" class="medium-checkbox med-checkbox" > Concealment
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_incoming" class="medium-checkbox med-checkbox" > Blocks Incoming
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_outgoing" class="medium-checkbox med-checkbox" > Blocks Outgoing
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="create_transform" class="medium-checkbox med-checkbox" onclick="create_transform()"> Transform
			</div>
		</div>

	</div>

	<div id="create-transform">

		<div id="create-transform-row1">
			<div>
				Transform:
			</div>

			<div>
				<select class="select-sml" id="create_transform_type" name="create_transform_type">
					{% for t in transform %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="select-sml" id="create_transform_start_mass" name="create_transform_start_mass">
					<option value="">Starting Mass Rank</option>
					{% for i in negatives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>	
		
			<div>
				<select class="select-sml" id="create_transfom_mass" name="create_transform_mass">
					<option value=""> + Per Rank</option>
					{% for i in negatives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>	
		</div>

		<div id="create-transform-row2">
			<div></div>

			<div>
				<select class="descriptor-sml" id="create_transform_start_descriptor" name="create_transform_start_descriptor">
					<option value="">Starting Descriptor</option>
					{% for d in descriptor_options %}
						<option value={{d.id}}>{{d.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div></div>

			<div>
				<select class="descriptor-sml" id="create_transform_end_descriptor" name="create_transform_end_descriptor">
					<option value="">Ending Descriptor</option>
					{% for d in descriptor_options %}
						<option value={{d.id}}>{{d.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div id="create-move">
		<div>
			<select class="select-sml" id="create_move_player" name="create_move_player" onchange="create_move_player()">
				{% for m in moveable %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="create-move-check">
				<select class="check-sml" id="create_move_check" name="create_move_check">
					<option value="">Check</option>
					<option value="">Use Variable Check Form to Put Options Here</option>
					{% for p in power_check %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="check-div">
			<input type="checkbox" id="create_move_opponent_check" class="medium-checkbox med-checkbox" onclick="create_move_opponent_check()"> Opponent Can Move
		</div>

		<div id="create-move-opp">
			<div>
				<select class="opposed-sml" id="create_move_opposed" name="create_move_opposed">
					<option value="">Opponent Check</option>
					<option value="">Use Opponent Check Form to Put Options Here</option>
					{% for p in power_opposed %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

	</div>

	<div id="create-trap">
		<div>
			Trap:
		</div>

		<div>
			<select class="check-sml" id="create_trap_check" name="create_trap_check">
				<option value="">Check to Trap</option>
				<option value="">Use Variable Check Form to Put Options Here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="check-sml" id="create_trap_resist" name="create_trap_resist">
				<option value="">Check to Hold</option>
				<option value="">Use Variable Check Form to Put Options Here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="create_trap_escape" class="medium-checkbox med-checkbox" onclick="create_trap_escape()"> Can Escape
			</div>
		</div>

		<div>
			<div id="create-trap-escape">
				<select class="opposed-sml" id="create_trap_opposed" name="create_trap_opposed">
					<option value="">Check for Opponent to Escape</option>
					<option value="">Use Opponent Check Form to Put Options Here</option>
					{% for p in power_opposed %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>

	<div id="create-ranged">
		<div>
			Ranged Attack:
		</div>

		<div>
			<select class="damage-sml" id="create_ranged_damage" name="create_ranged_damage" >
				<option value="">Damage</option>
				<option value="">Use Damage Form to Put Options here</option>
				{% for p in power_damage %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="check-sml" id="create_ranged_check" name="create_ranged_check" >
				<option value="">Check</option>
				<option value="">Use Variable Check Form to Put Options here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="create-weapon">
		
		<div>
			Weapon:
		</div>

		<div> 
			<select class="damage-sml" id="create_weapon_damage" name="create_weapon_damage" >
				<option value="">Damage</option>
				<option value="">Use Damage Form to Put Options here</option>
				{% for p in power_damage %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="create-support">
		<div class="valign">
			Support:
		</div>

		<div>
			<select class="select-sml" id="create_support_strength" name="create_support_strength">
				<option value="">Strength Rank</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="check-div" style="font-size: 80%;">
			<input type="checkbox" id="create_support_strengthen" class="medium-checkbox med-checkbox" onclick="create_support_strengthen()"> Can Stregthen
		</div>

		<div id="create-support-strengthen">

			<div class="create-support">
				<div>
					<select class="select-sml" id="create_support_action" name="create_support_action">
						<option value="">With Action</option>
						{% for i in positives %}
							<option value={{i}}>+{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="create_support_action_rounds" name="create_support_action_rounds">
						<option value="">Rounds</option>
						<option value="perm">Permanent</option>
						<option value="turn">This Turn</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select> 
				</div>
			</div>

			<div class="create-support">
				<div>
					<select class="select-sml" id="create_support_effort" name="create_support_effort">
						<option value="">With Extra Effort</option>
						{% for i in positives %}
							<option value={{i}}>+{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="create_support_effort_rounds" name="create_support_effort_rounds">
						<option value="">Rounds</option>
						<option value="perm">Permanent</option>
						<option value="turn">This Turn</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select> 
				</div>
			</div>

		</div>
	</div>

	<div id="create-button-row">
		<div></div>

		<div>
			<select class="entry-select" id="create_multiple" name="create_multiple">
				{% for c in create_multiple %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="create_cost_per_rank" name="create_cost_per_rank" onchange="create_cost()">
				<option value="">Cost</option>
			</select>
		</div>
		
		<div>
			<select class="entry-select" id="create_ranks" name="create_ranks">
				<option value="">Rank</option>
			</select>
		</div>

		<div>
			<div class="btn-entry" id="create_submit" name="create_submit" onclick="create_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="create-spot"></div>

<div id="create-err"></div>