<div id="dc-header">

	<div id="dc-title">
		<input type="checkbox" id="dc_check" class="regular-checkbox big-checkbox" onclick="dc_check()"> Check Table:
	</div>
	
	<div id="dc-base">
		<div class="text-med">
			<input type="text" id="dc_title" name="dc_title" placeholder="Title">
		</div>
		
		<div>
			<select class="extra-select" id="dc_extra" name="dc_extra" onchange="dc_extra()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

		<div>
			<select class="header-select" id="dc_target" name="dc_target">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

</div>

<div id="dc-entry">
	<div id="dc-title-row">

		<div class="vcenter" style="font-size: 110%; justify-content: left;">
			DC:

		</div>

		<div class="vcenter" style="font-size: 110%; justify-content: left;">
			Description of Action:
		</div>

		<div>
			<select class="select-sml" id="dc_effect_target" name="dc_effect_target">
				{% for e in effect_target %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="display: none;">
			<select class="time-sml" id="dc_time" name="dc_time">
				<option value="">Duration of Effect</option>
				<option value="">Use Time Effect form to put options here</option>
				<option value="turn">Turn</option>
				<option value="round">Round</option>
				<option value="scene">Scene</option>
				<option value="perm">Permanent</option>
			</select>
		</div>
	</div>

	<div id="dc-row1">

		<div>
			<select class="entry-select" id="dc_dc" name="dc_dc" onchange="dc_dc()">
				<option value="">DC</option>
				{% for d in dc_value %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="text-med">
			<input type="text" id="dc_description" name="dc_description">
		</div>

	</div>

	<div id="dc-value">
		<div>
			<select class="select-sml" id="dc_value_value" name="dc_value_value">
				<option value="">DC</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value="0">0</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

		</div>
	</div>

	<div id="dc-mod">
		<div>
			<select class="select-sml" id="dc_mod" name="dc_mod">
				<option value="">Modifier to DC</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

		</div>
	</div>

	<div id="dc-math">
		<div>
			<select class="select-sml" id="dc_math_vqlue" name="dc_math_value">
				<option value="">DC</option>
				<option value=0>0</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_math" name="dc_math_math">
				<option value="">Math</option>
				{% for m in maths %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_trait_type" name="dc_math_trait_type" onchange="dc_math_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option> 
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_math_trait" name="dc_math_trait" onchange="dc_math_trait()">
				<option value="">Trait</option>
			</select>
		</div>
		
	</div>

	<div id="dc-row2" style="font-size: 90%;">

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_surface" class="medium-checkbox med-checkbox" > Surface
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_condition" class="medium-checkbox med-checkbox" onclick="dc_condition()"> Condition
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_levels" class="medium-checkbox med-checkbox" onclick="dc_levels()"> Level
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_damage" class="medium-checkbox med-checkbox" onclick="dc_damage()"> Damage
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_cover" class="medium-checkbox med-checkbox" onclick="dc_cover()"> Cover
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_tools_check" class="medium-checkbox med-checkbox" onclick="dc_tools_check()"> Tools
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_descrip" class="medium-checkbox med-checkbox" onclick="dc_descrip()"> Descriptor
			</div>
		</div>

	</div>

	<div id="dc-row3" style="font-size: 90%;">
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_complex" class="medium-checkbox med-checkbox" onclick="dc_complex()"> Complexity
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_measure" class="medium-checkbox med-checkbox" onclick="dc_measure()"> Measurement
			</div>
		</div>

		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_variable_check" class="medium-checkbox med-checkbox" onclick="dc_variable_check()"> Change Check
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_conceal" class="medium-checkbox med-checkbox" onclick="dc_conceal()"> Concealment
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_equip" class="medium-checkbox med-checkbox" onclick="dc_equip()"> Equipment
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_ranks" class="medium-checkbox med-checkbox" onclick="dc_ranks()"> Ranks
			</div>
		</div>

	</div>

	<div id="dc-measure">

		<div style="text-align: left;">
			Measure:
		</div>

		<div>
			<select class="select-sml" id="dc_measure_effect" name="dc_measure_effect" onchange="dc_measure_effect()">
				{% for m in measure_effect %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_meaasure_type" name="dc_measure_type">
				{% for m in measure_type %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="dc-measure-rank">

				<div>
					<select class="select-sml" id="dc_measure_rank_value" name="dc_measure_rank_value">
						<option value="">Nod</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_rank" name="dc_measure_rank">
						{% for m in measure_rank %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="dc-measure-unit">
				<div class="text-sml">
					<input type="text" id="dc_unit_value" name="dc_unit_value" placeholder="Value">
				</div>

				<div>
					<select class="select-sml" id="dc_unit_type" name="dc_unit_type" onchange="dc_unit_type()">
						<option value="">Unit Type</option>
						{% for u in unit_type %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_unit" name="dc_unit">
						<option value="">Units</option>
					</select>
				</div>
			</div>
			
			<div id="dc-measure-skill">
				<div>
					<select class="select-sml" id="dc_measure_trait_type" name="dc_measure_trait_type" onchange="dc_measure_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait" name="dc_measure_trait" onchange="dc_measure_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait_math" name="dc_measure_trait_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_mod" name="dc_measure_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_math_rank" name="dc_measure_math_rank">
						<option value="">Rank</option>
						{% for m in measure_rank %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select> 
				</div>
			</div>

			
			<div id="dc-measure-skill-unit">
				<div>
					<select class="select-sml" id="dc_measure_trait_type_unit" name="dc_measure_trait_type_unit" onchange="dc_measure_trait_type_unit()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait_unit" name="dc_measure_trait_unit" onchange="dc_measure_trait_unit()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_trait_math_unit" name="dc_measure_trait_math_unit">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_mod_unit" name="dc_measure_mod_unit">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_measure_math_unit" name="dc_measure_math_unit">
						<option value="">Units</option>
						{% for u in units %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select> 
				</div>
			</div>

		</div>

	</div>

	<div id="dc-damage">
		<div style="text-align: left;">
			Damage:
		</div>
	
		<div>
			<select class="select-sml" id="dc_damage_type" name="dc_damage_type" onchange="dc_damage_type()">
				{% for d in damage_type %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>	
		</div>
		
		<div>
			<div id="dc-damage-inflict">

				<div>
					<select class="select-sml" id="dc_inflict_type" name="dc_inflict_type" onchange="dc_inflict_type()">
						{% for i in inflict %}
							<option value="{{i.type}}">{{i.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div id="dc-damage-inflict-flat">
						<div>
							<select class="select-sml" id="dc_inflict_flat" name="dc_inflict_flat">
								<option value="">Degrees</option>
								{% for i in positives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div id="dc-damage-inflict-math">
						<div>
							<select class="select-sml" id="dc_inflict_trait_type" name="dc_inflict_trait_type" onchange="dc_inflict_trait_type()">
								{% for t in traits %}
									<option value="{{t.type}}">{{t.name}}</option>
								{% endfor %}
							</select>
						</div>

						<div>
							<select class="select-sml" id="dc_inflict_trait" name="dc_inflict_trait" onchange="dc_inflict_trait()">
								<option value="">Trait</option>
							</select>
						 </div>
					 
						 <div>
							 <select class="select-sml" id="dc_inflict_math" name="dc_inflict_math">
								 <option value="">Math</option>
								 {% for m in maths %}
									<option value={{m.id}}>{{m.name}}</option>
								 {% endfor %}
							 </select>
					 	</div>

						 <div>
							 <select class="select-sml" id="dc_inflict_mod" name="dc_inflict_mod">
								 <option value="">Modifier</option>
								 {% for i in positives %}
									<option value={{i}}>{{i}}</option>
								 {% endfor %}
							 </select>
						 </div>

					</div>
				
					<div id="dc-damage-inflict-bonus">
						<div>
							<select class="select-sml" id="dc_inflict_bonus" name="dc_inflict_bonus">
								<option value="">Bonus</option>
								{% for i in positives %}
									<option value={{i}}>{{i}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>

			<div id="dc-damage-reduce">
				<div>
					<select class="select-sml" id="dc_damage_mod" name="dc_damage_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="dc_damage_consequence" name="dc_damage_consequence">
						<option value="">Consequence</option>
						{% for c in consequences %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	
	</div>
	<div id="dc-cover">
		<div style="text-align: left;">
			Cover:
		</div>

		<div>
			<select class="select-sml" id="dc_cover_effect" name="dc_cover_effect">
				{% for o in offers %}
					<option value="{{o.type}}">{{o.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_cover_type" name="dc_cover_type">
				<option value="">Cover </option>
				{% for c in cover %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>		
		</div>
	</div>

	<div id="dc-tools">
		<div style="text-align: left;">
			Tools:
		</div>

		<div>
			<select class="select-sml" id="dc_tools" name="dc_tools">
				{% for r in required_tools %}
					<option value="{{r.type}}">{{r.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="dc-levels">
		<div style="text-align: left;">
			Level:
		</div>

		<div>
			<select class="level-type-sml" id="dc_level_type" name="dc_level_type" onchange="dc_level_type()">
				<option value="">Level Type</option>
				{% for l in level_types %}
					<option value={{l.id}}>{{l.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="levels-sml" id="dc_level" name="dc_level">
				<option value="">Level</option>
				<option value="">Use Levels form to put levels here</option>
			</select>
		</div>
		
	</div>

	<div id="dc-complexity">
		<div style="text-align: left;">
			Complexity:
		</div>

		<div>
			<select class="select-sml" id="dc_complexity" name="dc_complexity">
				<option value="">Complexity</option>
				{% for c in complexity %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-equip">
		<div style="text-align: left;">
			Equipment:
		</div>

		<div>
			<select class="select-sml" id="dc_equipment_use" name="dc_equipment_use">
				{% for e in equipment_use %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_equipment_type" name="dc_equipment_type" onchange="dc_equipment_type()">
				<option value="">Equipment Type</option>
				{% for e in equip_type %}
					<option value={{e.id}}>{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_equipment" name="dc_equipment">
				<option value="">Equipment</option>
			</select>
		</div>
	</div>

	<div id="dc-condition">

		<div style="text-align: left;">
			Condition:
		</div>

		<div class="vcenter" style="font-size: 80%;">
			From:
		</div>

		<div>
			<select class="select-sml" id="dc_condition1" name="dc_condition1" onchange="dc_condition1()">
				<option value="">Starting Condition</option>
				<option value="current">Current</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
				<option value="dead">Dead</option>
			</select> 
		</div>

		<div class="vcenter" style="font-size: 80%;">
			To
		</div>

		<div>
			<select class="select-sml" id="dc_condition2" name="dc_condition2">
				<option value="">Ending Condition</option>
				<option value="remove">Remove Starting Condition</option>
				<option value="stable">Stabilized</option>
				<option value="any">Any</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select> 
		</div>
		
		<div class="vcenter" style="font-size: 80%;">
			<div class="check-div" style="width: 95%;">
				<input type="checkbox" id="dc_condition_no_damage" class="medium-checkbox med-checkbox" > Only if No Damage
			</div>
		</div>
		
		<div style="display: none;">
			<select class="select-sml" id="dc_condition_turns" name="dc_condition_turns">
				<option value="">Turns</option>
				<option value="round">Round</option>
				<option value="scene">Scene</option>
				<option value="perm">Permanent</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-condition-dead">
		<div></div>
		
		<div class="vcenter" style="font-size: 80%;">
			Minutes Dead:
		</div>

		<div>
			<select class="select-sml" id="dc_condition_dead" name="dc_condition_dead">
				<option value="">Minutes</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				<option value="unlimited">Unlimited</option>
				{% for i in hundred %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>


	<div id="dc-conceal">
		<div style="text-align: left;">
			Concealment:
		</div>

		<div>
			<select class="select-sml" id="dc_conceal_effect" name="dc_conceal_effect">
				{% for o in offers %}
					<option value="{{o.type}}">{{o.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_conceal_type" name="dc_conceal_type">
				<option value="">Concealment </option>
				{% for c in concealment %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>		
		</div>
	</div>

	<div id="dc-variable">
		<div style="text-align: left;">
			Change Check:
		</div>

		<div>
			<select class="check-sml" id="dc_variable" name="dc_variable">
				<option value="">Alternate Check</option	>
				<option value="">Use Variable check form to put options here</option>
			</select>
		</div>

		<div style="display: none;">
			<select class="select-sml" id="dc_action_when" name="dc_action_when">
				{% for c in check_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="dc_action_no_damage" class="medium-checkbox med-checkbox" > Only if no Damage
			</div>
		</div>
	</div>

	<div id="dc-ranks">
		<div style="text-align: left;">
			Check for Ranks
		</div>

		<div>
			<select class="select-sml" id="dc_rank" name="dc_rank">
				<option value="">Ranks</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="vcenter">
			Ranks Per
		</div>
		
		<div>
			<select class="select-sml" id="dc_ranks_per" name="dc_ranks_per">
				<option value="">Above DC</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="valign">
			Result above DC
		</div>
	</div>

	<div id="dc-descriptor">
		<div>
			Descriptor:
		</div>

		<div>
			<select class="select-sml" id="dc_descriptor_effect" name="dc_descriptor_effect">
				{% for d in descriptor_effect %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="dc_descriptor_target" name="dc_descriptor_target">
				{% for e in effect_target %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="dc_descriptor" name="dc_descriptor">
				<option value="">Use above form to put descriptors here</option>
				{% for d in descriptor_options %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="dc-button-row">
		<div></div>

		<div class="text-sml">
			<input type="text" id="dc_keyword" name="dc_keyword" placeholder="Keyword">
		</div>

		<div>
			<div class="btn-entry" id="dc_submit" name="dc_submit" onclick="dc_submit()">
				Add
		   </div>
		</div>
	</div>

</div>

<div id="dc-spot"></div>

<div id="dc-err"></div>