<div id="defense-header">

	<div id="defense-title">
		<input type="checkbox" id="defense_check" class="regular-checkbox big-checkbox" onclick="defense_check()"> Defensive Effect:
	</div>
	
	<div id="defense-base">
		<select class="extra-select" id="defense_extra" name="defense_extra" onchange="defense_base(); defense_extra()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="defense-entry">

	<div id="defense-row1">

		<div>
			Defense:
		</div>

		<div>
			Use Type:
		</div>

		<div>
			Modifier:
		</div>

		<div>
			Die Roll:
		</div>

		<div></div>

		<div></div>

		<div>
			<select class="select-sml" id="defense_defense" name="defense_defense">
				<option value="">Defense</option>
				<option value=any>Any Defense</option>
				<option value="x">Variable</option>
				<option value="power">Power Rank</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
				<option value="active">Active Defenses</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_use" name="defense_use">
				{% for u in use_type %}
					<option value="{{u.type}}">{{u.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_mod" name="defense_mod">
				<option value="">Modifier</option>
				<option value="rank">Power Rank</option>
				<option value="halfrank">Half Power Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_outcome" name="defense_outcome">
				{% for m in measure_type %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_roll" name="defense_roll">
				<option value="">Roll</option>
				<option value="always">Always</option>
				{% for i in die %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div-fit">
				<input type="checkbox" id="defense_cover_check" class="medium-checkbox med-checkbox" onclick="defense_cover()"> Provides Cover 	
			</div>
		</div>
	</div>

	<div id="defense-row2" style="font-size: 90%;">

		<div class="vcenter">
			Works with: 
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_dodge" class="medium-checkbox med-checkbox" > Dodge
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_fortitude" class="medium-checkbox med-checkbox" > Fortitude
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_parry" class="medium-checkbox med-checkbox" > Parry
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_toughness" class="medium-checkbox med-checkbox" > Toughness
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_will" class="medium-checkbox med-checkbox" > Will
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_active" class="medium-checkbox med-checkbox" > Active
		</div>

	</div>

	<div id="defense-row3">
		
		<div>
			Resists:
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_resist_area" class="medium-checkbox med-checkbox" > Area Effects
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_resist_perc" class="medium-checkbox med-checkbox" > Perception Effects
		</div>

		<div class=check-div>
			<input type="checkbox" id="defense_reflect" class="medium-checkbox med-checkbox" onclick="defense_reflect()"> Reflects Attacks
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="defense_immunity" class="medium-checkbox med-checkbox" onclick="defense_immunity()"> Immunity
			</div>
		</div>

	</div>

	<div id="defense-immunity">
		<div class="valign" style="font-size: 80%;">
			Immunity:
		</div>

		<div>
			<select class="select-sml" id="defense_immunity_type" name="defense_immunity_type" onchange="defense_immunity_type()">
				{% for d in immunity_type %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="defense-immunity-emotion">
				<div>
					<select class="select-sml emotion-sml" id="defense_immunity_emotion" name="defense_immunity_emotion" onchange="defense_immunity_emotion()">
						<option value="">Emotion</option>
						<option value="x">Variable Emotion</option>
						<option value="all">All Emotions</option>
						<option value="other">Other Emotion</option>
						{% for e in emotions %}
							<option value={{e.id}}>{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="hiddeb" id="defense-immunity-emotion-other">
					<input type="text" id="defense_immunity_emotion_other" name="defense_immunity_emotion_other" placeholder="Emotion">
				</div>

			</div>

			<div id="defense-immunity-life">
				<div class="valign">
					Disease, Poison, All Environment Conditions, Suffocation, Starvation and Thirst
				</div>
			</div>

			<div id="defense-immunity-condition">
				<div>
					<select class="select-sml" id="defense_immunity_condition" name="defense_immunity_condition">
						<option value="">Condition</option>
						{% for c in conditions %}
							<option value={{c,id}}>{{c.name}}</option>
						{% endfor %}}}
					</select>
				</div>
			</div>
	
			<div id="defense-immunity-trait">
				<div>
					<select  class="select-sml" id="defense_immunity_trait_type" name="defense_immunity_trait_type" onchange="defense_immunity_trait_type()">
						{% for i in immunity_trait %}
							<option value="{{i.type}}">{{i.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="defense_immunity_trait" name="defense_immunity_trait" onchange="defense_immunity_trait()">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
			
			<div id="defense-immunity-consequence">

				<div>
					<select class="select-sml" id="defense_immunity_consequence" name="defense_immunity_consequence" onchange="defense_immunity_consequence()">
						<option value="">Consequence</option>
						{% for c in consequences %}
						<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>	
				</div>
			
				<div id="defense-immunity-suffocate">
					<select class="select-sml" id="defense_immunity_suffocate" name="defense_immunity_suffocate">
						{% for s in suffocation_type %}
						<option value="{{s.type}}">{{s.name}}</option>
						{% endfor %}
					</select>

				</div>

			
			</div>
					
			<div id="defense-immunity-env">

				<div>
					<select class="select-sml" id="defense_immunity_env" name="defense_immunity_env" onchange="defense_immunity_env()">
						{% for e in environment_immunity %}
							<option value="{{e.type}}">{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div id="defense-env-immunity-condition">

						<div>
							<select class="select-sml" id="defense_immunity_temp" name="defense_immunity_temp">
								<option value="">Environment Condition</option>
								<option value="x">Variable</option>	
								{% for e in env_conditions %}
									<option value={{e.id}}>{{e.name}}</option>
								{% endfor %}
							</select>
						</div>

						<div>
							<select class="select-sml" id="defense_immunity_extremity" name="defense_immunity_extremity">
								{% for e in extremity %}
									<option value="{{e.type}}">{{e.name}}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div id="defense-env-immunity-environment">

						<div>
							<select class="select-sml env-sml" id="defense_immunity_environment" name="defense_immunity_environment" onchange="defense_immunity_environment()">
								<option value="">Environment</option>
								<option value="x">Variable</option>
								<option value="other">Other</option>
								{% for e in environments %}
									<option value="{{e.id}}">{{e.name}}</option>
								{% endfor %}
							</select> 
						</div>

						<div>
							<div class="check-div" style="font-size: 75%;">
								<input type="checkbox" id="defense_immunity_env_penalty" class="medium-checkbox med-checkbox" > Movement Penalty
							</div>
						</div>

						<div>
							<div class="check-div" style="font-size: 75%;">
								<input type="checkbox" id="defense_immunity_env_circumstance" class="medium-checkbox med-checkbox" > Circumstance
							</div>
						</div>

					</div>
				</div>
			</div>

			<div id="defense-immunity-descriptor">
				<div>
					<select class="descriptor-sml" id="defense_immunity_descriptor" name="defense_immunity_descriptor">
						<option value="">Descriptor</option>
						<option value="">Use above form to put descriptors here</option>
						{% for d in descriptor_options %}
							<option value={{d.id}}>{{d.name}}</option>
				`		{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="defense-immunity-damage">
				<div>
					<select class="select-sml" id="defense_immunity_damage" name="defense_immunity_damage">
						<option value="">Damage Type</option>
						{% for d in damages %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="defense-immunity-rule">
				<div>
					<select class="select-sml" id="defense_immunity_rule" name="defense_immunity_rule">
						{% for g in game_rule %}
							<option value="{{g.type}}">{{g.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div id="defense-env-other">
		<div class="vcenter" style="font-size: 80%;">
			Other Environment:
		</div>

		<div>
			<input type="text" id="defense_env_other" name="defense_env_other" placeholder="Other Environment">
		</div>
	</div>

	<div id="defense-reflect">

		<div class="valign" style="font-size: 80%;">
			Reflect Action:
		</div>
		
		<div>
			<select class="check-sml" id="defense_reflect_check" name="defense_reflect_check">
				<option value="">Reflect Check</option>
				<option value="">Use Variable Check form to Put Options here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="defense_redirect" class="medium-checkbox med-checkbox" > Redirect
			</div>
		</div>
	</div>
	

	<div id="defense-cover">
		<div class="valign" style="font-size: 80%;">
			Provides Cover:
		</div>

		<div>
			<select class="select-sml" id="defense_cover_type" name="defense_cover_type">
				{% for c in cover %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>	
		</div>
	</div>

	<div id="defense-button-row">
		<div></div>
		
		<div>
			<select class="entry-select" id="defense_multiple" name="defense_multiple">
				{% for d in defense_multiple %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="defense_cost" name="defense_cost" onchange="defense_cost()">
				<option value="">Cost</option>
			</select>
		</div>

		<div>
			<select class="entry-select" id="defense_ranks" name="defense_ranks">
				<option value="">Ranks</option>
			</select>	
		</div>

		<div>
			<div class="btn-entry" id="defense_submit" name="defense_submit" onclick="defense_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="defense-spot"></div>

<div id="defense-err"></div>