<div id="defense-header">

	<div id="defense-title">
		<input type="checkbox" id="defense_check" class="regular-checkbox big-checkbox" onclick="defense_check()"> Defensive Effect:
	</div>
	
	<div id="defense-base">
		<select class="extra-select" id="defense_extra" name="defense_extra" onchange="defense_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="defense-entry">

	<div id="defense-row1">

		<div>
			Defense:
		</div>

		<div>
			Use Type:
		</div>

		<div>
			Modifier:
		</div>

		<div>
			Die Roll:
		</div>

		<div>
			<select class="select-sml" id="defense_defense" name="defense_defense">
				<option value="">Defense</option>
				<option value="any">Any</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_use" name="defense_use">
				{% for u in use_type %}
					<option value="{{u.type}}">{{u.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_mod" name="defense_mod">
				<option value="">Modifier</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="die-roll">
			<div>
				<select class="select-sml" id="defense_roll" name="defense_roll">
					<option value="">Roll</option>
					<option value="always">Always</option>
					{% for i in die %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				 or 
			</div>

			<div>
				<select class="select-sml" id="defense_outcome" name="defense_outcome">
					{% for o in outcome %}
						<option value="{{o.type}}">{{o.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

	</div>

	<div id="defense-row2">

		<div>
			Works with: 
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_dodge" class="medium-checkbox med-checkbox" > Dodge
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_fortitude" class="medium-checkbox med-checkbox" > Fortitude
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_parry" class="medium-checkbox med-checkbox" > Parry
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_toughness" class="medium-checkbox med-checkbox" > Toughness
		</div>
		
		<div class="check-div">
			<input type="checkbox" id="defense_will" class="medium-checkbox med-checkbox" > Will
		</div>

	</div>

	<div id="defense-row3">
		
		<div>
			Resists:
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_resist_area" class="medium-checkbox med-checkbox" > Area Effects
		</div>

		<div class="check-div">
			<input type="checkbox" id="defense_resist_perc" class="medium-checkbox med-checkbox" > Perception Effects
		</div>

		<div class=check-div>
			<input type="checkbox" id="defense_reflect" class="medium-checkbox med-checkbox" onclick="defense_reflect()"> Reflects Attacks
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="defense_immunity" class="medium-checkbox med-checkbox" onclick="defense_immunity()"> Immunity
			</div>
		</div>

	</div>

	<div id="defense-reflect">

		<div>
			Reflect Action:
		</div>
		
		<div>
			<select class="select-sml" id="defense_reflect_action" name="defense_reflect_action">
				<option value="">Reflect Action</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_reflect_check" name="defense_reflect_check" onchange="defense_reflect_check()">
				<option value="">Check Type</option>
				<option value="none">No Check Needed</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}	
			</select>
		</div>

		<div>
			<div id="defense-reflect-dc">
				<div>
					<select class="select-sml" id="defense_reflect_dc" name="defense_reflect_dc">
						<option value="">DC</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="defense-reflect-opposed">
				<div>
					<select class="select-sml" id="defense_reflect_opposed_trait_type" name="defense_reflect_opposed_trait_type" onchange="defense_reflect_opposed_trait_type()">
						<option value="">Opposed Trait</option>
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="defense_reflect_opposed_trait" name="defense_reflect_opposed_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>

			<div id="defense-reflect-resist">
				<div>
					<select class="select-sml" id="defense_reflect_resist_trait_type" name="defense_reflect_resist_trait_type" onchange="defense_reflect_resist_trait_type()">
						<option value="">Resistance Trait</option>
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="defense_reflect_resist_trait" name="defense_reflect_resist_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
		</div>

	</div>

	<div id="defense-immunity">
		<div>
			<select class="select-sml" id="defense_immunity_trait_type" name="defense_immunity_trait_type" onchange="defense_immunity_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_immunity_trait" name="defense_immunity_trait_type">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="defense_immunity_descriptor" name="defense_immunity_descriptor">
				<option value="">Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="defense_immunity_rule" name="defense_immunity_rule">
				{% for g in game_rule %}
					<option value="{{g.type}}">{{g.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

</div>

<div id="damage-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="damage-err"></div>