<div id="damage-header">

	<div id="damage-title">
		<input type="checkbox" id="damage_check" class="regular-checkbox big-checkbox" onclick="deg_check()"> Degree of Success (Keyword):
	</div>
	
	<div id="damage-base">

		<div>
			<input type="text" id="deg_type" name="deg_type" onblur="deg_base()">
		</div>

		<div>
			<select class="extra-select" id="damage_extra" name="damage_extra" onchange="damage_base()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

	</div>

</div>

<div id="deg-entry">

	<div id="deg-row1">

		<div id="deg-deg-title">
			Degree:
		</div>

		<div id="deg-key-title">
			Keywod:
		</div>

		<div id="deg-desc-title">
			Description:
		</div>

		<div id="deg-deg">
			<select class="entry-select" id="deg_degree" name="deg_degree">
				<option value="">Degree</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="deg-key">
			<input type="text" id="deg_keyword" name="deg_keyword">
		</div>

		<div id="deg-desc">
			<textarea id="deg_description" name="deg_description">
		</div>

		<div id="deg-button">
			<div class="btn-entry" id="deg_submit" name="deg_submit" onclick="deg_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="deg-table-type">

</div>
<div id="deg-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="deg-err"></div>