<div id="descriptor-header">

	<div id="descriptor-title">
		Descriptors:
	</div>

</div>

<div id="descriptor-entry">
	<div id="descriptor-row1">
		<div>
			Origin:
		</div>

		<div>
			Source:
		</div>

		<div>
			Medium Type:
		</div>

		<div id="descriptor-medium-subtype-title">
	
		</div>

		<div id="descriptor-medium-title">
			Medium:	
		</div>

		<div id="descriptor-field-title">
			Descriptor:
		</div>

		<div>
			<select class="entry-select" id="descriptor_origin" name="descriptor_origin" onchange="descriptor()">
				<option value="">Origin</option>
				<option value="new">New</option>
				{% for o in origins %}
					<option value={{o.id}}>{{o.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="descriptor_source" name="descriptor_source" onchange="descriptor()">
				<option value="">Source</option>
				<option value="new">New</option>
				{% for s in sources %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="descriptor_medium_type" name="descriptor_medium_type" onchange="get_medium_subtypes(); descriptor()">
				<option value="">Medium Type</option>
				{% for m in mediums %}
					<option value={{m.id}}>{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="descriptor-medium-subtype">
				<select class="entry-select" id="descriptor_medium_subtype" name="descriptor_material_type" onchange="get_medium(); descriptor()">
				</select>
		</div>


		<div id="descriptor-medium">
			<select class="entry-select" id="descriptor_medium" name="descriptor_medium" onchange="descriptor()">
			</select>
		</div>

		<div id="descriptor-field">
			<select class="header-select" id="descriptor_field" name="descriptor_field">

			</select>
		</div>

	</div>

	<div id="descriptor-row2">
		<div id="descriptor-origin-field">
			<input type="text" id="descriptor_origin_name" name="descriptor_origin_name">
		</div>

		
		<div id="descriptor-source-field">
			<input type="text" id="descriptor_source_name" name="descriptor_source_name">
		</div>

		<div>

		</div>

		
		<div id="descriptor-medium-subtype-field">
			<input type="text" id="descriptor_medium_subtype_name" name="descriptor_medium_type_name">
		</div>

		
		<div id="descriptor-medium-field">
			<input type="text" id="descriptor_medium_name" name="descriptor_medium_name">
		</div>

		
		<div id="descriptor-descriptor-new">
			<input type="text" id="descriptor_name" name="descriptor_name">
		</div>

	</div>

	<div id="descriptor-row3">
		<div id="descriptor-origin-des">
			<div>
				Origin Description:
			</div>

			<div>
				<textarea id="descriptor_origin_des" name="descriptor_origin_des"></textarea>
			</div>
		</div>

		<div id="descriptor-source-des">
			<div>
				Source Description:
			</div>

			<div>
				<textarea id="descriptor_source_des" name="descriptor_source_des"></textarea>
			</div>
		</div>
		
		<div id="descriptor-medium-subtype-des">
			<div id="descriptor-medium-subtype-des-title">
			</div>

			<div>
				<textarea id="descriptor_medium_subtype_des" name="descriptor_medium_subtype_des"></textarea>
			</div>
		</div>

		<div id="descriptor-medium-des">
			<div>
				Medium Description:
			</div>

			<div>
				<textarea id="descriptor_medium_des" name="descriptor_medium_des"></textarea>
			</div>
		</div>
		<div id="descriptor-descriptor-result">
			<div>
				Descriptor Result:
			</div>

			<div>
				<textarea id="descriptor_result" name="descriptor_result"></textarea>
			</div>
		</div>

	</div>

	<div id="descriptor-row4">
		<div></div>

		<div>
			<select class="header-select" id="descriptor_descriptor_type" name="descriptor_descriptor_type">
				{% for d in descriptor_type %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="btn-head" id="descriptor_submit" name="descriptor_submit" onclick="descriptor_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="descriptors-div">
	<div class="descriptor-table-title">
		Descriptors for this Power
	</div>

	<br>

	<div class="descriptor-table-container">

		<div id="descriptors">
			<div class="power-table-title" style="font-size: 135%;">
				Descriptors
			</div>	
		</div>

		<div id="descriptor-table">

			<div class="power-table-title">
				Characteristics:
			</div>

			<div class="power-table-title">

			</div>

			<div class="power-table-title">

			</div>

			<div class="power-table-title">

			</div>
	
>
	
		</div>

	</div>

</div>

<div id="descriptors-interact-div">
	<div class="descriptor-table-title">
		Descriptors this Power Interacts With:
	</div>

	<br>

	<div class="descriptor-table-container">

		<div id="descriptors-interact">
			<div class="power-table-title" style="font-size: 135%;">
				Descriptors
			</div>	
		</div>

		<div id="descriptor-interact-table">

			<div class="power-table-title">
				Characteristics:
			</div>

			<div class="power-table-title">
			</div>

			<div class="power-table-title">
			</div>

			<div class="power-table-title">
			</div>

	
		</div>

	</div>

</div>

<div id="descriptor-err"></div>