<div id="env-header">

	<div id="env-title">
		<input type="checkbox" id="env_check" class="regular-checkbox big-checkbox" onclick="env_check()"> Environment Effect:
	</div>
	
	<div id="env-base">
		<select class="extra-select" id="env_extra" name="env_extra" onchange="env_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="env-entry">
	
	<div id="env-row1">

		<div>
			Starting Radius:
		</div>

		<div>
			Distance Rank
		</div>

		<div></div>

		<div>
			Effect Rank:
		</div>

		<div></div>


		<div>
			<input type="text" id="env_radius" name="env_radius">
		</div>

		<div>
			<select class="select-sml" id="env_distance" name="env_distance">
				<option value="">Distance Rank</option>
				{% for  i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="vcenter">
			per
		</div>

		<div>
			<select class="select-sml" id="env_rank" name="env_rank">
				<option value="">Effect Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div></div>

	</div>

	<div id="env-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="env_condition" class="medium-checkbox med-checkbox" onclick="env_condition()"> Condition
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="env_impede" class="medium-checkbox med-checkbox" onclick="env_impede()"> Impede Movement
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="env_conceal" class="medium-checkbox med-checkbox" onclick="env_conceal()"> Light
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="env_visibility" class="medium-checkbox med-checkbox" onclick="env_visibility()"> Visibility
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="env_selective" class="medium-checkbox med-checkbox" > Selective
			</div>
		</div>

	</div>

	<div id="env-row3">

		<div>
			<div class="check-div">
				<input type="checkbox" id="env_immunity" class="medium-checkbox med-checkbox" onclick="env_immunity()"> Immunity
			</div>
		</div>

		<div>

		</div>

		<div>

		</div>

	</div>

	<div id="env-immunity">
		<div>
			Immunity:
		</div>

		<div>
			<select class="select-sml" id="env_immunity_type" name="env_immunity_type" onchange="env_immunity_type()">
				{% for e in environment_immunity %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="env-immunity-condition">

				<div>
					<select class="select-sml" id="env_temp_type" name="env_temp_type">
						{% for t in temp_type %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="env_immunity_extremity" name="env_immunity_extremity">
						{% for e in extremity %}
							<option value="{{e.type}}">{{e.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="env-immunity-environment">

				<div>
					<select class="select-sml" id="env_immunity_environment" name="env_immunity_environment" onchange="env_immunity_environment()">
						{% for e in environments %}
							<option value="{{e.id}}">{{e.name}}</option>
						{% endfor %}
						<option value="other">Other</option>
					</select> 
				</div>

				<div>
					<div class="check-div">
						<input type="checkbox" id="env_no_penalty" class="medium-checkbox med-checkbox" > No Movement Penalty
					</div>
				</div>

				<div>
					<div class="check-div">
						<input type="checkbox" id="env_no_circumstance" class="medium-checkbox med-checkbox" > No Circumstance
					</div>
				</div>

			</div>
		</div>
	</div>

	<div id="env-immunity-other">
		<div>
			Other Environment:
		</div>

		<div>
			<input type="text" id="env_immunity_environment_other" name="env_immunity_environment_other" placeholder="Environment">
		</div>

	</div>


	<div id="env-condition">

		<div>
			Temperature:
		</div>

		<div>
			<select class="select-sml" id="env_condition_temp_type" name="env_condition_temp_type">
				{% for t in temp_type %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="env_temp_extremity" name="env_temp_extremity">
				{% for e in extremity %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>



		<div></div>

	</div>

	<div id="env-move">

		<div>
			Movement:
		</div>

		<div>
			<select class="select-sml" id="env_move_nature" name="env_move_nature" onchange="env_move_other()">
				{% for n in nature %}
					<option value="{{n.type}}">{{n.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="env_move_speed" name="env_move_speed">
				<option value="">Speed Mod</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="env_move_cost_circ" class="medium-checkbox med-checkbox" > Surface Modifier
			</div>
		</div>

		<div></div>

		<div id="env-move-other">
		     <input type="text" id="env_move_other" name="env_move_other">
		</div>
	</div>

	<div id="env-conceal">
		<div>
			Counter Concealment:
		</div>

		<div>
			<select class="select-sml" id="env_conceal_type" name="env_conceal_type">
				{% for c in conceal_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
		</div>

		<div></div>

	</div>

	<div id="env-visibility">

		<div>
			Lessen Visibility:
		</div>

		<div>
			<select class="select-sml" id="env_visibility_trait_type" name="env_visibility_trait_type" onchange="env_visibility_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="env_visibility_trait" name="env_visibility_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="env_visibility_mod" name="env_visibility_mod">
				<option value="">Modifier</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
		</div>

	</div>

	<div id="env-button-row">

		<div>

		</div>

		<div>
			<div class="vcenter">
				Cost Per Rank:
			</div>
		</div>

		<div>
			<select class="entry-select" id="env_cost" name="env_cost">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="env_ranks" name="env_ranks">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<div class="btn-entry" id="env_submit" name="env_submit" onclick="env_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="env-spot"></div>

<div id="env-err"></div>