<div id="extras-header" style="justify-content: center;">

	<div class="power-title">
		Extras:
	</div>

	<div>
		<div class="btn-head" id="extras_submit" onclick="extras_submit()">
			 Add
		</div> 
	</div>

</div>

<div id="extras-entry">

	<div id="extras-row1">
		<div>
			Name:
		</div>
	
		<div>
			Description
		</div>
	
		<div>
			<select class="header-select" id="extra_inherit" name="extra_inherit" style="font-size: 80%;">
				<option value=>Inherits Effects of:</option>
				{% for p in powers %}
					<option value="{{p.id}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>	
	</div>

	<div id="extras-row2">
		<div id="extras-left">
			<div>
				<input type="text" class="entry-text" id="extra_name" name="extra_name">
			</div>		

			<div class="extras-split" style="font-size: 100%;">
				<div>
					<select class="select-sml" id="extra_cost" name="extra_cost">
						<option value="">Points</option>
						<option value="x">Variable</option>
						<option value="trait">Trait Cost</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			
				<div>
					<select class="select-sml" id="extra_rank" name="extra_rank">
						<option value="">Ranks</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>	
			</div>

			<div>
				<select class="select-sml" id="extra_type" name="extra_type">
					{% for e in extra_type %}
						<option value="{{e.type}}">{{e.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>		
				<select class="select-sml" id="extra_required" name="extra_required">
					<option value=>Required Extra</option>
				</select>
			</div>
		</div>

		<div>
			<div>
				<textarea id="extra_des" name="extra_des"></textarea>
			</div>
					
			<div class="extras-four">	
								
				<div>
					<div class="vcenter">
						<input type="checkbox" id="extra_action_check" class="medium-checkbox med-checkbox" onclick="extra_action_check()"> Changes Action
					</div>
				</div>	

				<div>
					<div class="vcenter">
						<input type="checkbox" id="extra_alternate" class="medium-checkbox med-checkbox"> Alternate Effect
					</div>
				</div>
			
				<div>
					<div class="vcenter">
						<input type="checkbox" id="extra_flat" class="medium-checkbox med-checkbox"> Flat Cost
					</div>
				</div>	
			
				<div>
					<div class="vcenter">
						<input type="checkbox" id="extra_stack" class="medium-checkbox med-checkbox"> Stackable
					</div>
				</div>	
			</div>
			
		</div>		

	<div class="extras-row3">
		
		<div>
			<div class="vcenter">
				<input type="checkbox" id="extra_routine" class="medium-checkbox med-checkbox" onclick="extra_routine()"> Routine Skill Check
			</div>
		</div>	
		<div>
			<div class="vcenter">
				<input type="checkbox" id="extra_target_check" class="medium-checkbox med-checkbox" onclick="extra_target_check()"> Changes Effect Target
			</div>
		</div>	

		<div>
			<div class="vcenter">
				<input type="checkbox" id="extra_power_rank" class="medium-checkbox med-checkbox"> Power's Ranks
			</div>
		</div>	
		
		<div>
			<div class="vcenter">
				<input type="checkbox" id="extra_extra_effect" class="medium-checkbox med-checkbox" onclick="extra_extra_effect()"> Extra Effect
			</div>
		</div>	
	</div>
	
	</div>
	
	<div id="extras-skill">

		<div style="font-size: 80%;">
			Routine Skill Check
		</div>

		<div>
			<select class="select-sml" id="extra_skill_type" name="extra_skill_type" onchange="extra_skill_type()">
				<option value="">Skill</option>
				{% for s in skills %}
					<option value="{{s.id}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="extra_skill" name="extra_skill">
				<option value="">Enhanced Skill</option>
			</select>
		</div>
	</div>

	<div id="extras-target">
		<div>
			Changes Effect Target:
		</div>

		<div>
			<select class="select-sml" id="extra_target" name="extra_target">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="extra_target_type" name="extra_target_type">
				{% for e in extra_change %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="extras-action">
		<div>
			Changes Action Type:
		</div>

		<div>
			<select class="select-sml" id="extra_action" name="extra_action">
				<option value="">Action</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="extra_action_type" name="extra_action_type">
				{% for e in extra_change %}
					<option value="{{e.type}}">{{e.name}}</option>
				{% endfor %}
			</select>
		</div>	
	</div>

	<div id="extras-extra-effect">

		<div id="extra-extra-effect">
			<select class="select-sml" id="extra_extra_effect_count" name="extra_extra_effect">
				<option value="">Effects</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>


		<div class="extras-hidden" id="extras-check">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_variable" class="medium-checkbox med-checkbox"> Variable Check
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-char">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_character" class="medium-checkbox med-checkbox"> Character Trait 
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-circ">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_circ" class="medium-checkbox med-checkbox"> Circumstance
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-create">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_create" class="medium-checkbox med-checkbox"> Create
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-damage">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_damage" class="medium-checkbox med-checkbox"> Damage
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-dc">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_dc" class="medium-checkbox med-checkbox"> DC Effect 
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-defense">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_defense" class="medium-checkbox med-checkbox"> Defense
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-deg-mod">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_degree" class="medium-checkbox med-checkbox"> Degree
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-env">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_env" class="medium-checkbox med-checkbox"> Environment
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-minion">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_minion" class="medium-checkbox med-checkbox"> Minion
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-modifiers">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_mod" class="medium-checkbox med-checkbox"> Modifier Effect
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-move">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_move" class="medium-checkbox med-checkbox"> Movement
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-opposed">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_opposed" class="medium-checkbox med-checkbox"> Opponent Check
				</div>
			</div>	
		</div>

		<div class="extras-hidden" id="extras-ranged">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_ranged" class="medium-checkbox med-checkbox"> Ranged Effect
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-sense">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_sense" class="medium-checkbox med-checkbox"> Sense Effect
				</div>
			</div>	
		</div>
		
		<div class="extras-hidden" id="extras-time">
			<div>
				<div class="check-div">
					<input type="checkbox" id="extra_time" class="medium-checkbox med-checkbox"> Time Effect 
				</div>
			</div>	
		</div>
	</div>
	

	
</div>
<div id="extras-spot">
	
</div>

<div id="extras-err"></div>