<div id="extras-header" style="justify-content: center;">

	<div class="power-title">
		Extras:
	</div>

	<div>
		<div class="btn-head" id="extras_submit" onclick="extras_submit()">
			 Add
		</div> 
	</div>

</div>

<div id="extras-entry">

	<div id="extras-name-title">
		Name:
	</div>

	<div id="extras-des-title">
		Description
	</div>

	<div id="extras-inherits">
		<select class="header-select" id="extra_inherit" name="extra_inherit" style="font-size: 80%;">
			<option value=>Inherits Effects of:</option>
			{% for power in powers %}
				<option value="{{power}}">{{power}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div id="extras-name">
		<input type="text" class="entry-text" id="extra_name" name="extra_name">
	</div>

	<div id="extras-des">
		<textarea id="extra_des" name="extra_des"></textarea>
	</div>
	
	<div id="extras-points-title">
		Cost:
	</div>

	<div id="extras-ranks-title">
		For # of Ranks:
	</div>

	<div id="extras-points">
		<select class="entry-select" id="extra_cost" name="extra_cost">
			<option value="">Points</option>
			<option value="x">Variable</option>
			{% for i in negatives %}
				<option value={{i}}>{i}</option>
			{% endfor %}
			{% for i in positives %}
				<option value={{i}}>{{i}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="extras-ranks">
		<select class="entry-select" id="extra_rank" name="extra_rank">
			<option value="">Ranks</option>
			<option value=>Flat</option>
			{% for i in positives %}
				<option value={{i}}>{{i}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="extras-alt">
		<div class="vcenter">
			<input type="checkbox" id="extra_alternate" class="medium-checkbox med-checkbox"> Alternate Effect
		</div>
	</div>

</div>
<div id="extras-table">

	<div class="power-table-title">
		Name:
	</div>

	<div class="power-table-title">
		Cost:
	</div>

	<div class="power-table-title">
		Per Rank:
	</div>

	<div class="power-table-title">
		Description:
	</div>

	<div class="power-table-title">
		Inherits Powers:
	</div>
	
	<div class="power-table-title">
		Alternate:
	</div>

	<div>		
	</div>
	
</div>

<div id="extras-err"></div>