<div id="mod-header">

	<div id="mod-title">
		<input type="checkbox" id="mod_check" class="regular-checkbox big-checkbox" onclick="mod_check()"> Modifiers:
	</div>
	
	<div id="mod-base">
		<select class="extra-select" id="mod_extra" name="mod_extra" onchange="mod_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="mod-entry">
	<div id="mod-row1">

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_affects_objects" class="medium-checkbox med-checkbox" onclick="mod_affects_objects()"> Affects Objects
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_area" class="medium-checkbox med-checkbox" onclick="mod_area()"> Area
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_persistent" class="medium-checkbox med-checkbox"> Persistent
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_incurable" class="medium-checkbox med-checkbox"> Incurable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_selective" class="medium-checkbox med-checkbox"> Selective
			</div>
		</div>

	</div>

	<div id="mod-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_limited" class="medium-checkbox med-checkbox" onclick="mod_limited()"> Limited
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_innate" class="medium-checkbox med-checkbox"> Innate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_others" class="medium-checkbox med-checkbox" onclick="mod_others()"> Affects Others
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_sustained" class="medium-checkbox med-checkbox"> Sustained
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_reflect" class="medium-checkbox med-checkbox" onclick="mod_reflect()"> Reflect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_redirect" class="medium-checkbox med-checkbox"> Redirect
			</div>
		</div>

		
	</div>

	<div id="mod-row3">

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_half" class="medium-checkbox med-checkbox"> Half Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_affects_corp" class="medium-checkbox med-checkbox"> Affects Corporeal
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_continuous" class="medium-checkbox med-checkbox"> Continuous
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_vulnerable" class="medium-checkbox med-checkbox"> Vulnerable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_precise" class="medium-checkbox med-checkbox"> Precise
			</div>
		</div>
	</div>

	<div id="mod-row4">
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_progressive" class="medium-checkbox med-checkbox"> Progressive
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_subtle" class="medium-checkbox med-checkbox" onclick="mod_subtle()"> Subtle
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_permanent" class="medium-checkbox med-checkbox"> Permanent
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_points" class="medium-checkbox med-checkbox" onclick="mod_points()"> Spend Points
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_ranks" class="medium-checkbox med-checkbox" onclick="mod_ranks()"> Gain Trait
			</div>
		</div>
	</div>

	<div id="mod-row5">
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_action" class="medium-checkbox med-checkbox"> Action
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_side_effect" class="medium-checkbox med-checkbox" onclick="mod_side_effect()"> Side Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_concentration" class="medium-checkbox med-checkbox"> Concentration
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_simultaneous" class="medium-checkbox med-checkbox" onclick="mod_simultaneous()"> Simultaneous
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_effortless" class="medium-checkbox med-checkbox" onclick="mod_effortless()"> Effortless
			</div>
		</div>
		
	</div>

	<div id="mod-row6">
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_noticeable" class="medium-checkbox med-checkbox"> Noticeable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_unreliable" class="medium-checkbox med-checkbox"> Unreliable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_radius" class="medium-checkbox med-checkbox"> Radius
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_accurate" class="medium-checkbox med-checkbox"> Accurate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_acute" class="medium-checkbox med-checkbox"> Acute
			</div>
		</div>

	</div>

	<div id="mod-affects-objects">
		<div>
			Affects Objects:
		</div>

		<div>
			<div class="vcenter" style="font-size: 85%;">
				Object Alone:
			</div>
		</div>

		<div>
			<select class="select-sml" id="mod_objects_alone" name="mod_objects_alone">
				<option value="">Defense</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="vcenter" style="font-size: 85%;">
				With Character:
			</div>
		</div>

		<div>
			<select class="select-sml" id="mod_objects_character" name="mod_objects_character">
				<option value="">Defense</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="mod-effortless">
		<div>
			Effortless:
		</div>

		<div>
			After Degree of Failure:
		</div>

		<div>
			<select class="select-sml" id="mod_effortless_degree" name="mod_effortless_degree">
				<option value="">Degree</option>
				<option value="">N/A</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_effortless_retries" class="medium-checkbox med-checkbox"> Unlimited Retries
			</div>
		</div>

	</div>

	<div id="mod-simultaneous">
		<div>
			Simultaneous
		</div>

		<div>
			<select class="descriptor-sml" id="mod_simultaneous_descriptor" name="mod_simultaneous_descriptor">
				<option value="">Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
			</select>
		</div>
	</div>

	<div id="mod-area">
		<div>
			Area
		</div>

		<div>
			Modifier to check:
		</div>

		<div>
			<select class="select-sml" id="mod_area_mod" name="mod_area_mod">
				<option value="">Modifier</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			Range:
		</div>

		<div>
			<select class="select-sml" id="mod_area_range" name="mod_area_range">
				<option value="">Distance Rank</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select> 
		</div>

		<div class="check-div">
			<input type="checkbox" id="mod_area_per_rank" class="medium-checkbox med-checkbox"> Per Rank
		</div>

		<div>
			<select class="descriptor-sml" id="mod_area_descriptor" name="mod_area_descriptor">
				<option value="">Affects with Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
			</select>
		</div>

	</div>

	<div id="mod-limited">

		<div>
			<select class="select-sml" id="mod_limited_type" name="mod_limited_type" onchange="mod_limited_type()">
				{% for l in limited_type %}
					<option value="{{l.type}}">{{l.name}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>
			<select class="select-sml" id="mod_limited_mod" name="mod_limited_mod">
				<option value="">Modifier</option>
				<option value="null">Effect Nullified</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>

			<div id="mod-limited-level">
				<div>
					<select class="levels-sml" id="mod_limited_level" name="mod_limited_level">
						<option value="">Level</option>
						<option value="">Use levels form to put levels here</option>
					</select>
				</div>
			</div>

			<div id="mod-limited-source">
				<div>
					Required Descriptor:
				</div>

				<div>
					<select class="descriptor-sml" id="mod_limited_source" name="mod_limited_source">
						<option value="">Descriptor</option>
						<option value="">Use above form to put descriptors here</option>
					</select>
				</div>
			</div>

			<div id="mod-limited-task-type">
				<div>
					<select class="select-sml" id="mod_limited_task_type" name="mod_limited_task_type">
						{% for t in task_type %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="mod-limited-task">
				<div>
					Task:
				</div>

				<div>
					<input type="text" id="mod_limited_task" name="mod_limited_task">
				</div>
			</div>

			<div id="mod-limited-trait">
				<div>
					<select class="select-sml" id="mod_limited_trait_type" name="mod_limited_trait_type">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div>
					<select class="select-sml" id="mod_limited_trait" name="mod_limited_trait">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
	
			<div id="mod-limited-description">
				<input type="text" id="mod_limited_description" name="mod_limited_description">
			</div>

			<div id="mod-limited-subjects">
				<div>
					Number of affected characters:
				</div>

				<div>
					<select class="select-sml" id="mod_limited_subjects" name="mod_limited_subjects">
						<option value="">Limit</option>
						{% for i in positives %}
							<option value={{I}}>{{I}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-extra">
				<div>
					<select class="extra-sml" id="mod_limited_extra" name="mod_limited_extra">
						<option value="">Limited to extra effect</option>
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-language">
				<div>
					<select class="select-sml" id="mod_limited_language_type" name="mod_limited_language_type">
						{% for n in null_type %}
							<option value="{{n.type}}">{{n.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>

				<div></div>
			</div>

			<div id="mod-limited-degree">
				<div>
					<select class="select-sml" id="mod_limited_degree" name="mod_limited_degree">
						<option value="">Degree</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-sense">
				<div>
					<select class="select-sml" id="mod_limited_sense" name="mod_limited_sense" onchange="mod_limited_sense()">
						<option value="">Sense</option>
						{% for s in senses %}
							<option value={{s.id}}>{{s.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_limited_subsense" name="mod_limited_subsense">
						<option value="">Subsense</option>
					</select>
				</div>
			</div>

			<div id="mod-limited-descriptor">
				<div>
					<select class="descriptor-sml" id="mod_limited_descriptor" name="mod_limited_descriptor">
						<option value="">Descriptor</option>
						<option value="">Use above form to put descriptors here</option>
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-range">
				<div>
					<select class="select-sml" id="mod_limited_range" name="mod_limited_range">
						{% for r in ranges %}
							<option value="{{r.id}}">{{r.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>
		</div>
	</div>

	<div id="mod-ranged">
		<div>
			Ranged:
		</div>

		<div>
			<select class="select-sml" id="mod_ranged_type" name="mod_ranged_type" onchange="mod_ranged_type()">
				{% for v in value_type %}
					<option value="{{v.type}}">{{v.name}}</option>
				{% endfor %}
				<option value="mod">Modifier</option>
				<option value="check">Requires Check</option>
			</select>
		</div>

		<div>
			<div id="mod-ranged-value">
				<div>
					<input type="text" id="mod_ranged_value" name="mod_ranged_value">
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_units" name="mod_ranged_units">
						<option value="">Units</option>
						{% for u in distances %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div></div>
			</div>

			<div id="mod-ranged-math">
				<div>
					<select class="select-sml" id="mod_ranged_math_value" name="mod_ranged_math_value">
						<option value="">Value</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math" name="mod_ranged_math">
						<option value="">math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_trait_type" name="mod_ranged_math_trait_type" onchange="mod_ranged_math_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_trait" name="mod_ranged_math_trait">
						<option value="">Trait</option>	
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_units" name="mod_ranged_math_units">
						<option value="">Units</option>
						{% for u in distances %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="mod-ranged-mod">
				<div>
					Effect Rank
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_mod" name="mod_ranged_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					= Distance Rank
				</div>
			</div>

			<div id="mod-ranged-check">
				<div>
					<select class="select-sml" id="mod_ranged_check" name="mod_ranged_check" onchange="mod_ranged_check()">
						<option value="">Check Type</option>
						{% for c in checks %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="mod-ranged-check-dc">
					<select class="select-sml" id="mod_ranged_check_dc" name="mod_ranged_check_dc">
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select> 
				</div>

				<div></div>
			</div>
		</div>
	</div>

	<div id="mod-side">

		<div>
			Side Effect:
		</div>

		<div>
			<select class="select-sml" id="mod_side_effect_type" name="mod_side_effect_type" onchange="mod_side_effect_type()">
				{% for s in side_effects %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="mod-side-other">
				<input type="text" id="mod_side_other" name="mod_side_other">
			</div>

			<div id="mod-side-level">
				<select class="levels-sml" id="mod_side_level" name="mod_side_level">
					<option value="">Level</option>
					<option value="">Use Levels form to put levels here</option>
				</select>
			</div>
		</div>


	</div>

	<div id="mod-reflect">
		<div>
			Reflect:
		</div>

		<div>
			<select class="select-sml" id="mod_reflect_check" name="mod_reflect_check">
				<option value="">Check Type</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_reflect_dc" name="mod_reflect_dc">
				<option value="">DC</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_reflect_trait_type" name="mod_reflect_trait_type" onchange="mod_reflect_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_reflect_trait" name="mod_reflect_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="mod_reflect_descriptor" name="mod_reflect_descriptor">
				<option value="">Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
			</select>
		</div>
	</div>

	<div id="mod-subtle">

		<div>
			Subtle:
		</div>

		<div style="font-size: 85%;">
			Opponent Check Type:
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_opponent_trait_type" name="mod_subtle_opponent_trait_type">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_opponent_trait" name="mod_subtle_opponent_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_dc" name="mod_subtle_dc">
				<option value="">DC</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div></div>

		<div style="font-size: 80%;">
			Nullified if Opponent has Trait:
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_null_trait_type" name="mod_subtle_null_trait_type" onchange="mod_subtle_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_null_trait" name="mod_subtle_null_trait">
				<option value="">Nullified if Possessing Trait</option>
			</select>
		</div>
	</div>

	<div id="mod-others">
		<div>
			Affects Others:
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_others_carry" class="medium-checkbox med-checkbox" > Requires Carrying
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_others_touch" class="medium-checkbox med-checkbox" onclick="mod_others_touch()"> Requires Touch
			</div>
		</div>

		<div id="mod-others-touch">
			<div class="check-div">
				<input type="checkbox" id="mod_others_touch_continuous" class="medium-checkbox med-checkbox" > Continuous
			</div>
		</div>
	</div>

	<div id="mod-ranks">
		<div >
			Gain Ranks in Trait:
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_trait_type" name="mod_ranks_trait_type" onchange="mod_ranks_trait_type()">
				{% for t in all_traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_trait" name="mod_ranks_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_ranks" name="mod_ranks_ranks">
				<option value="">Ranks</option>
				<option value="rank">This Power</option>
				<option value="extra">This Extra</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_mod" name="mod_ranks_mod">
				<option value="">Modifier to Trait</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
 		</div>
	</div>

	<div id="mod-points">
		<div>
			Spend Points:
		</div>

		<div>
			<select class="select-sml" id="mod_points_type" name="mod_points_type" onchange="mod_points_type()">
				{% for s in spend %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="mod-points-reroll">
				<div>
					<select class="select-sml" id="mod_points_reroll_target" name="mod_points_target">
						{% for t in targets %}
							<option value="{{5.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_points_reroll_cost" name="mod_points_cost">
						<option value="">Power Point Cost</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_points_rerolls" name="mod_points_rerolls" onchange="mod_points_reerolls()">
						<option value="">Rerolls</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="mod-points-reroll-result">
					<select class="select-sml" id="mod_points_reroll_result" name="mod_points_reroll_result">
						{% for r in result %}
							<option value="{{r.type}}">{{r.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</div>

	<div id="mod-buttonrow">

		<div></div>

		<div>
			<select class="entry-select" id="mod_ranks" name="mod_ranks">
				<option value="">Ranks</option>
				{% for i in hundred %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="vcenter">
				Cost Per Rank:
			</div>
		</div>

		<div>
			<select class="entry-select" id="mod_cost" name="mod-cost">
				<option value="">N/A</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="btn-entry" id="mod_submit" name="mod_submit" onclick="mod_submit">
				 Add
			</div>

		</div>

	</div>

</div>



<div id="mod-spot"></div>

<div id="mod-err"></div>