<div id="mod-header">

	<div id="mod-title">
		<input type="checkbox" id="mod_check" class="regular-checkbox big-checkbox" onclick="mod_check()"> Modifiers:
	</div>
	
	<div id="mod-base">
		<select class="extra-select" id="mod_extra_id" name="mod_extra_id" onchange="mod_base(); mod_extra_id()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="mod-entry">
	<div id="mod-row1">

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_radius" class="medium-checkbox med-checkbox"> Radius
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_accurate" class="medium-checkbox med-checkbox"> Accurate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="ranks_acute" class="medium-checkbox med-checkbox"> Acute
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_area" class="medium-checkbox med-checkbox" onclick="mod_area()"> Area
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_subtle" class="medium-checkbox med-checkbox" onclick="mod_subtle()"> Subtle
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_incurable" class="medium-checkbox med-checkbox" onclick="mod_incurable()"> Incurable
			</div>
		</div>

	</div>

	<div id="mod-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_limited" class="medium-checkbox med-checkbox" onclick="mod_limited()"> Limited
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_innate" class="medium-checkbox med-checkbox"> Innate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_others" class="medium-checkbox med-checkbox" onclick="mod_others()"> Affects Others
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_sustained" class="medium-checkbox med-checkbox" onclick="mod_sustained()"> Sustained
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_reflect" class="medium-checkbox med-checkbox" onclick="mod_reflect()"> Reflect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_redirect" class="medium-checkbox med-checkbox"> Redirect
			</div>
		</div>

		
	</div>

	<div id="mod-row3">

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_half" class="medium-checkbox med-checkbox"> Half Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_affects_corp" class="medium-checkbox med-checkbox"> Affects Corporeal
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_continuous" class="medium-checkbox med-checkbox"> Continuous
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_vulnerable" class="medium-checkbox med-checkbox"> Vulnerable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_precise" class="medium-checkbox med-checkbox" onclick="mod_precise()"> Precise
			</div>
		</div>
	</div>

	<div id="mod-row4">
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_progressive" class="medium-checkbox med-checkbox" onclick="mod_progressive()"> Progressive
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_cumulative" class="medium-checkbox med-checkbox" onclick="mod_cumulative()"> Cumulative
			</div>
		</div>
		
		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="mod_permanent" class="medium-checkbox med-checkbox" onclick="mod_permanent()"> Permanent
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_persistent" class="medium-checkbox med-checkbox" onclick="mod_persistent()"> Persistent
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_points" class="medium-checkbox med-checkbox" onclick="mod_points()"> Rerolls
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_effortless" class="medium-checkbox med-checkbox" onclick="mod_effortless()"> Effortless
			</div>
		</div>

		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="mod_ranks_check" class="medium-checkbox med-checkbox" onclick="mod_ranks_check()"> Gain Trait
			</div>
		</div>
	</div>

	<div id="mod-row5">
		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="mod_action" class="medium-checkbox med-checkbox"> Action
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_side_effect" class="medium-checkbox med-checkbox" onclick="mod_side_effect()"> Side Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_concentration" class="medium-checkbox med-checkbox" onclick="mod_concentration()"> Concentration
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_simultaneous" class="medium-checkbox med-checkbox" onclick="mod_simultaneous()"> Simultaneous
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_passive" class="medium-checkbox med-checkbox" > Passive
			</div>
		</div>
		
		<div>
			<div class="check-div-fit">
				<input type="checkbox" id="mod_adv" class="medium-checkbox med-checkbox" onclick="mod_adv()"> Advantage Ranks
			</div>
		</div>		
	</div>

	<div id="mod-row6">
		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_noticeable" class="medium-checkbox med-checkbox"> Noticeable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_unreliable" class="medium-checkbox med-checkbox" onclick="mod_unreliable()"> Unreliable
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_affects_objects" class="medium-checkbox med-checkbox" onclick="mod_affects_objects()"> Affects Objects
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_extra" class="medium-checkbox med-checkbox" onclick="mod_extra()"> Extra Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="mod_feedback" class="medium-checkbox med-checkbox" onclick="mod_feedback()"> Feedback
			</div>
		</div>

	</div>

	<div id="mod-persistent">
		<div class="valign">
			Persistent
		</div>

		<div>
			<select class="select-sml persistent-sml" id="mod_persistent_type" name="mod_persistent_type" onchange="mod_persistent_type()">
				<option value="">Persistent Type</option>
				{% for p in added.persistent_type %}
					<option value="{{p.type}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="mod-persistent-degree">
			<select class="persistent-degree select-sml" id="mod_persistent_degree" name="mod_persistent_degree">
				<option value="">Degree Group That Can Remove Incurable Conditions</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>	

	<div id="mod-cumulative">
		<div class="valign">
			Cumulative
		</div>

		<div>
			<select class="degree-title-sml" id="mod_cumulative_degree" name="mod_cumulative_degree">
				<option value="">Degree Group to Make Cumulative</option>
				<option value="">Use Degree of Success/Failure Form to Put Options Here</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>


	<div id="mod-progressive">
		<div class="valign">
			Progressive
		</div>

		<div>
			<select class="select-sml" id="mod_progressive_type" name="mod_progressive_type" onchange="mod_progressive_type()">
				{% for p in progressive_type %}
					<option value="{{p.type}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="hidden split" id="mod-progressive-degree">

				<div>
					<select class="degree-sml" id="mod_progressive_degree" name="mod_progressive_degree">
						<option value="">Degree Effect</option>
						<option value="">Use Degree of Success/Failure Form to put Optionns Here</option>
						{% for p in power_degree %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>	
				</div>

				<div>
					<div class="check-div-fit" style="font-size: 80%;">
						<input type="checkbox" id="mod_progressive_degree_all" class="medium-checkbox med-checkbox" > All Of Degrees Effects
					</div>
				</div>
			</div>

			<div class="hidden split" id="mod-progressive-degree-type">
				<div>
					<select class="degree-title-sml" id="mod_progressive_degree_type" name="mod_progressive_degree_type">
						<option value="">Degree Effect by Group</option>
						<option value="">Use Degree of Success/Failure Form to put Optionns Here</option>
						{% for p in power_degree_type %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>


	</div>

	<div id="mod-incurable">
		<div class="valign">
			Incurable
		</div>

		<div>
			<select class="select-sml" id="mod_incurable_type" name="mod_incurable_type">
				{% for i in incurable_type %}
					<option value="{{i.type}}">{{i.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="mod-unreliable">
		<div class="valigm">
			Unreliable
		</div>

		<div>
			<select class="select-sml" id="mod_unreliable_type" name="mod_unreliable_type">
				{% for u in unreliable_type %}
					<option value="{{u.type}}">{{u.name}}</option>
				{% endfor %}
			</select>
		</div>	
	</div>


	<div id="mod-concentration">
		<div class="valign">
			Concentration
		</div>

		<div>
			<select class="select-sml" id="mod_concentration_type" name="mod_concentration_type" onchange="mod_concentration_type()">
				{% for c in concentration_type %}
					<option value="{{c.type}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="mod-concentration-type">
			<div class="hidden split" id="mod-concentration-check">
				<div>
					<select class="check-sml" id="mod_concentration_check" name="mod_concentration_check">
						<option value="">Automatic Success on Check</option>
						<option value="">Use Variable Check form to put options here</option>
						<option value="primary">Primary Check</option>
						{% for p in power_check %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>
		
				<div>
					<select class="check-title-sml" id="mod_concentration_check_type" name="mod_concentration_check_type">
						<option value="">Automatic Success on Check by Group</option>
						<option value="">Use Variable Check form to put options here</option>
						<option value="primary">Primary Check</option>
						{% for p in power_check_type %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>		
			</div>

			<div class="hidden" id="mod-concentration-opposed">
				<div>
					<select class="opposed-title-sml" id="mod_concentration_opposed" name="mod_concentration_opposed">
						<option value="">Automatic Success on Opponent Check Group</option>
						<option value="">Use Opponent Check form to Put Options Here</option>
						{% for p in power_opposed %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>		
			</div>

			<div>
				<div class="check-div-fit" style="font-size: 75%;">
					<input type="checkbox" id="mod_concentration_effort" class="medium-checkbox med-checkbox"> Nullified with Effort
				</div>
			</div>
		</div>

	</div>

	<div id="mod-sustained">
		<div class="valigb">
			Sustained:
		</div>

		<div>
			<select class="select-sml" id="mod_sustained_action" name="mod_sustained_action">
				<option value="">Action to Sustain</option>
				<option value="none"~>No Action Needed</option>
				{% for a in actions %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="mod_sustained_no_move" class="medium-checkbox med-checkbox" > No Movement
			</div>
		</div>
		
	</div>

	<div id="mod-precise">
		<div>
			Precise:
		</div>

		<select class="select-sml" id="mod_precise_type" name="mod_precise_type">
			{% for p in precise_type %}
				<option value="{{p.type}}">{{p.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="mod-advantage">
		<div class="valign" style="font-size: 80%;">
			Advantage Ranks:
		</div>

		<div>
			<select class="select-sml" id="mod_advantage" name="mod_advantage">
				<option value="">Advantage</option>
				{% for a in advantages %}
					<option value={{a.id}}>{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_advantage_rank" name="mod_advantage_rank">
				<option value="">Ranks</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="mod_advantage_rank_per" class="medium-checkbox med-checkbox" > Per Rank
			</div>
		</div>

		<div>
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="mod_advantage_effect" class="medium-checkbox med-checkbox" > Limited to Effect
			</div>
		</div>

	</div>

	<div id="mod-feedback">

		<div>
			Feedback
		</div>

		<div>
			<select class="feedback-sml select-sml" id="mod_feedback_effect" name="mod_feedback_effect">
				<option value="">Feedback Type</option>
				{% for f in added.feedback_type %}
					<option value="{{f.type}}">{{f.name}}</option>
				{% endfor %}
			</select> 
		</div>

		<div>
			<select class="select-sml" id="mod_feedback_type" name="mod_feedback_type" onchange="mod_feedback_type()">
				{% for f in feedback_resist %}
					<option value="{{f.type}}">{{f.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_feedback_cover" name="mod_feedback_cover">
				<option value="">Cover</option>
				{% for c in cover %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="mod-feedback-mod">
			<select class="select-sml" id="mod_feedback_mod" name="mod_feedback_mod">
				<option value="">Resistance Modifier</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in poaitives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="mod-feedback-defense">
			<select class="select-sml" id="mod_feedback_defense" name="mod_feedback_defense">
				<option value="">Defense</option>
				<option value="active">Active Defenses</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="mod-affects-objects">
		<div>
			Affects Objects:
		</div>

		<div>
			<div class="vcenter" style="font-size: 85%;">
				Object Alone:
			</div>
		</div>

		<div>
			<select class="select-sml" id="mod_objects_alone" name="mod_objects_alone">
				<option value="">Defense</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="vcenter" style="font-size: 85%;">
				With Character:
			</div>
		</div>

		<div>
			<select class="select-sml" id="mod_objects_character" name="mod_objects_character">
				<option value="">Defense</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="mod-effortless">
		<div>
			Effortless:
		</div>

		<div>
			<select class="select-sml reattempt-sml" id="mod_effortless_degree" name="mod_effortless_degree">
				<option value="">Reattempt After Degree of Failure</option>
				<option value="fail">Failure</option>
				{% for p in power_degree %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_effortless_degree_type" name="mod_effortless_degree_type">
				{% for m in measure_type %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="mod_effortless_retries" class="medium-checkbox med-checkbox"> Unlimited Retries
			</div>
		</div>
	

	</div>

	<div id="mod-simultaneous">
		<div>
			Simultaneous
		</div>

		<div>
			<select class="descriptor-sml" id="mod_simultaneous_descriptor" name="mod_simultaneous_descriptor">
				<option value="">Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
				{% for d in descriptor_options %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="mod-area">
		<div class="valign">
			Area
		</div>

		<div>
			<select class="select-sml" id="mod_area_type" name="mod_area_type" onchange="mod_area_type()">
				{% for a in area_type %}
					<option value="{{a.type}}">{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="display: none;">
			<select class="select-sml damage-sml" id="mod_area_damage" name="mod_area_damage">
				<option value="">Damage Effect</option>
				<option value="">Use Damage form to put options here</option>
				{% for p in power_damage %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="mod-area-range">
			<select class="select-sml ranged-type-sml" id="mod_area_ranged" name="mod_area_ranged">
				<option value="">Range by Group</option>
				<option value="">Use rsnged form to put options here</option>
				{% for p in power_ranged_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden" id="mod-area-descriptor">
			<select class="select-sml descriptor-sml" id="mod_area_descriptor" name="mod_area_descriptor">
				<option value="">Affects with Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
				{% for d in descriptor_options %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="display: none;">
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="mod_area_attach" class="medium-checkbox med-checkbox"> Attached
			</div>
		</div>

		<div>
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="mod_selective" class="medium-checkbox med-checkbox"> Selective
			</div>
		</div>


	</div>

	<div id="mod-limited">

		<div>
			<select class="select-sml" id="mod_limited_type" name="mod_limited_type" onchange="mod_limited_type()">
				{% for l in limited_type %}
					<option value="{{l.type}}">{{l.name}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>
			<select class="select-sml" id="mod_limited_mod" name="mod_limited_mod">
				<option value="">Modifier</option>
				<option value="null">Effect Nullified</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>

			<div id="mod-limited-level">

				<div>
					<select class="select-sml" id="mod_limited_level_degree" name="mod_limited_level_degree">
						{% for m in measure_type %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="level-type-sml" id="mod_limited_level_type" name="mod_limited_level_type" onchange="mod_limited_level_type()">
						<option value="">Level Type</option>
						{% for l in level_types %}
							<option value={{l.id}}>{{l.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="levels-sml" id="mod_limited_level" name="mod_limited_level">
						<option value="">Level</option>
						<option value="">Use levels form to put levels here</option>
					</select>
				</div>
			</div>

			<div id="mod-limited-source">

				<div>
					<select class="select-sml" id="mod_limited_source_type" name="mod_limited_source_type">
						{% for s in source_type %}
							<option value="{{s.type}}">{{s.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="descriptor-sml" id="mod_limited_source" name="mod_limited_source">
						<option value="">Descriptor</option>
						<option value="">Use above form to put descriptors here</option>
						{% for d in descriptor_options %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>


			</div>

			<div id="mod-limited-task-type">
				<div>
					<select class="select-sml" id="mod_limited_task_type" name="mod_limited_task_type">
						{% for t in task_type %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="mod-limited-task">
				<div>
					Task:
				</div>

				<div class="text-sml text-blue">
					<input type="text" id="mod_limited_task" name="mod_limited_task">
				</div>
			</div>

			<div id="mod-limited-trait">
				<div>
					<select class="select-sml" id="mod_limited_trait_type" name="mod_limited_trait_type">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div>
					<select class="select-sml" id="mod_limited_trait" name="mod_limited_trait" onchange="mod_limited_trait()">
						<option value="">Trait</option>
					</select>
				</div>
			</div>
	
			<div class="text-sml text-blue" id="mod-limited-description">
				<input type="text" id="mod_limited_description" name="mod_limited_description">
			</div>

			<div id="mod-limited-subjects">
				<div>
					Number of affected characters:
				</div>

				<div>
					<select class="select-sml" id="mod_limited_subjects" name="mod_limited_subjects">
						<option value="">Limit</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-extra">
				<div>
					<select class="extra-sml" id="mod_limited_extra" name="mod_limited_extra">
						<option value="">Limited to extra effect</option>
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-language">
				<div>
					<select class="select-sml" id="mod_limited_language_type" name="mod_limited_language_type">
						{% for n in null_type %}
							<option value="{{n.type}}">{{n.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>

				<div></div>
			</div>

			<div id="mod-limited-degree">
				<div>
					<select class="select-sml"	id="mod_limited_degree_type" name="mod_limited_degree_type">
						{% for m in measure_type %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>		
				</div>

				<div>
					<select class="degree-sml" id="mod_limited_degree" name="mod_limited_degree">
						<option value="">Degree</option>
						<option value="">Use Degree of Success/Failure Form to Put Options Here</option>
						{% for p in power_degree %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-ground">
				<div>
					<select class="select-sml" id="mod_limited_ground" name="mod_limited_ground" >
						<option value="">Ground Type</option>
						<option value="x">Variable</option>
						{% for g in grounds %}
							<option value={{g.id}}>{{g.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="mod-limited-material">
				<div>
					<select class="material-sml select-sml" id="mod_limited_material" name="mod_limited_material" onchange="mod_limited_material()">
						<option value="">Material</option>
						<option value="x">Variable</option>
						<option value="other">Other Material</option>
						{% for m in material_type %}
						`	<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="mod-limited-material-other">
					<div class="text-sml text-blue">
						<input type="text" id="mod_limited_material_other" name="mod_limited_material_other" placeholder="Material">
					</div>

					<div>
						<select class="select-sml" id="mod_limited_material_other_tough" name="mod_limited_material_other_tough">
							<option value="">Toughness</option>
							<option value="0">0</option>
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
						</select> 
					</div>
				</div>
			</div>
			
			<div id="mod-limited-creature">
				<div>
					<select class="select-sml creature-sml" id="mod_limited_creature" name="mod_limited_creature" onchange="mod_limited_creature()">
						<option value="">Creature</option>
						<option value="x">Variable</option>
						<option value="other">Other</option>
						{% for c in creatures %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml creature-narrow-sml" id="mod_limited_creature_narrow" name="mod_limited_creature_narrow" onchange="mod_limited_creature_narrow()">
						<option value="">Narrow Creature</option>
						<option value="x">Variable Narrow Creature</option>
					</select>
				</div>

				<div class="text-sml text-blue" id="mod-limited-creature-other">
					<input type="text" id="mod_limited_creature_other" name="mod_limited_creature_other" placeholder="Other Creature">
				</div>
			</div>
			
			<div id="mod-limited-env">
				<div>
					<select class="select-sml env-sml" id="mod_limited_env" name="mod_limited_env" onchange="mod_limited_env()">
						<option value="">Environment</option>
						<option value="x">Variable</option>
						<option value="other">Other</option>
						{% for e in environments %}
							<option value={{e.id}}>{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="text-sml text-blue" id="mod-limited-env-other">
					<input type="text" id="mod_limited_env_other" name="mod_limited_env_other" placeholder="Other Environment">
				</div>
			</div>

			
			<div id="mod-limited-emotion">
				<div>
					<select class="select-sml emotion-sml" id="mod_limited_emotion" name="mod_limited_emotion" onchange="mod_limited_emotion()">
						<option value="">Emotion</option>
						<option value="x">Variable</option>
						<option value="all">All</option>
						<option value="other">Other</option>
						{% for e in emotions %}
							<option value={{e.id}}>{{e.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="text-sml text-blue" id="mod-limited-emotion-other">
					<input type="text" id="mod_limited_emotion_other" name="mod_limited_emotion_other" placeholder="Other Emotion">
				</div>
			</div>
			
			<div id="mod-limited-org">
				<div>
					<select class="select-sml org-sml" id="mod_limited_org" name="mod_limited_org" onchange="mod_limited_org()">
						<option value="">Organization</option>
						<option value="x">Variable</option>
						<option value="other">Other</option>
						{% for o in organization %}
							<option value={{o.id}}>{{o.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div class="text-sml text-blue" id="mod-limited-org-other">
					<input type="text" id="mod_limited_org_other" name="mod_limited_org_other" placeholder="Other Organization">
				</div>
			</div>

			<div id="mod-limited-sense">
				<div>
					<select class="select-sml" id="mod_limited_sense" name="mod_limited_sense" onchange="mod_limited_sense()">
						<option value="">Sense</option>
						<option value="x">Variable</option>
						{% for s in senses %}
							<option value={{s.id}}>{{s.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_limited_subsense" name="mod_limited_subsense">
						<option value="">Subsense</option>
					</select>
				</div>
						
				<div>
					<div class="check-div-fit">
						<input type="checkbox" id="mod_limited_sense_depend" class="medium-checkbox med-checkbox" > Dependent
					</div>
				</div>
			</div>

			<div id="mod-limited-descriptor">
				<div>
					<select class="descriptor-sml" id="mod_limited_descriptor" name="mod_limited_descriptor">
						<option value="">Descriptor</option>
						<option value="">Use above form to put descriptors here</option>
						{% for d in descriptor_options %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="mod-limited-range">

				<div>
					<select class="select-sml" id="mod_limited_range_type" name="mod_limited_range_type">
						{% for m in measure_type %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="ranged-sml" id="mod_limited_range" name="mod_limited_range">
						<option value="">Range</option>
						<option value="">Use Ranged Form to Put Options Here</option>
						{% for p in power_ranged %}
							<option value="{{p.id}}">{{p.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>
		</div>
	</div>

	<div id="mod-ranged">
		<div>
			Ranged:
		</div>

		<div>
			<select class="select-sml" id="mod_ranged_type" name="mod_ranged_type" onchange="mod_ranged_type()">
				{% for v in value_type %}
					<option value="{{v.type}}">{{v.name}}</option>
				{% endfor %}
				<option value="mod">Modifier</option>
				<option value="check">Requires Check</option>
			</select>
		</div>

		<div>
			<div id="mod-ranged-value">
				<div class="text-sml text-blue">
					<input type="text" id="mod_ranged_value" name="mod_ranged_value">
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_units" name="mod_ranged_units">
						<option value="">Units</option>
						{% for u in distances %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div></div>
			</div>

			<div id="mod-ranged-math">
				<div>
					<select class="select-sml" id="mod_ranged_math_value" name="mod_ranged_math_value">
						<option value="">Value</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math" name="mod_ranged_math">
						<option value="">math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_trait_type" name="mod_ranged_math_trait_type" onchange="mod_ranged_math_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_trait" name="mod_ranged_math_trait">
						<option value="">Trait</option>	
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_math_units" name="mod_ranged_math_units">
						<option value="">Units</option>
						{% for u in distances %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="mod-ranged-mod">
				<div>
					Effect Rank
				</div>

				<div>
					<select class="select-sml" id="mod_ranged_mod" name="mod_ranged_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					= Distance Rank
				</div>
			</div>

			<div id="mod-ranged-check">
				<div>
					<select class="select-sml" id="mod_ranged_check" name="mod_ranged_check" onchange="mod_ranged_check()">
						<option value="">Check Type</option>
						{% for c in checks %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="mod-ranged-check-dc">
					<select class="select-sml" id="mod_ranged_check_dc" name="mod_ranged_check_dc">
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select> 
				</div>

				<div></div>
			</div>
		</div>
	</div>

	<div id="mod-side">

		<div>
			Side Effect:
		</div>

		<div>
			<select class="select-sml" id="mod_side_effect_type" name="mod_side_effect_type" onchange="mod_side_effect_type()">
				{% for s in side_effects %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="text-sml text-blue" id="mod-side-other">
				<input type="text" id="mod_side_other" name="mod_side_other">
			</div>

			<div id="mod-side-level">
				<div>
					<select class="level-type-sml" id="mod_side_level_type" name="mod_side_level_type" onchange="mod_side_level_type()">
						<option value="">Level Type</option>
						{% for l in level_types %}
							<option value={{l.id}}>{{l.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="levels-sml" id="mod_side_level" name="mod_side_level">
						<option value="">Level</option>
						<option value="">Use Levels form to put levels here</option>
					</select>
				</div>
			</div>
		</div>


	</div>

	<div id="mod-reflect">
		<div>
			Reflect:
		</div>

		<div>
			<select class="check-sml" id="mod_reflect_check" name="mod_reflect_check">
				<option value="">Check</option>
				<option value="">Use Variable check form to put options here</option>
				{% for p in power_check %}
					<option value={{p,id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="mod_reflect_descriptor" name="mod_reflect_descriptor">
				<option value="">Descriptor</option>
				<option value="">Use above form to put descriptors here</option>
				{% for d in descriptor_options %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="mod-subtle">

		<div class="valign">
			Subtle:
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_type" name="mod_subtle_type">
				{% for s in subtle_type %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="opposed-sml" id="mod_subtle_opposed" name="mod_subtle_opposed">
				<option value="">Opponent Check</option>
				<option value="">Use Opponent Check form to put options here</option>
				{% for p in power_opposed %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>		

		<div class="vcenter" style="font-size: 70%;">
			Nullified by Trait:
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_null_trait_type" name="mod_subtle_null_trait_type" onchange="mod_subtle_null_trait_type()">
				<option value="">Trait Type</option>
				<option value="bonus">Enhanced Skill</option>
				<option value="power">Power</option>
				<option value="advantage">Advantage</option>
			</select> 
		</div>

		<div>
			<select class="select-sml" id="mod_subtle_null_trait" name="mod_subtle_null_trait" onchange="mod_subtle_null_trait()">
				<option value="">Trait</option>
			</select>
		</div>
	</div>

	<div id="mod-others">
		<div>
			Affects Others:
		</div>

		<div>
			<select class="select-sml" id="mod_others_type" name="mod_others_type" onchange="mod_others_type()">
				{% for a in affects_others_type %}
					<option value="{{a.type}}">{{a.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="select-sml" id="mod_others_req" name="mod_others_req" onchange="mod_others_req()">
				{% for a in affects_others_req %}
					<option value="{{a.type}}">{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="hidden auto-split" id="mod-others-attack">
			<div>
				<select class="opposed-title-sml" id="mod_others_opposed" name="mod_others_opposed">
					<option value="">Opponent Check Group</option>
					<option value="">Use Opponent Check Form to Put Options Here</option>
					{% for p in power_oppoaed_type %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>	
			</div>
			
			<div>
				<select class="check-title-sml" id="mod_others_check" name="mod_others_check">
					<option value="">Check Group</option>
					<option value="">Use Variable Check Form to Put Options Here</option>
					{% for p in power_check_type %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>	
			</div>
		</div>

		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="mod_others_carry" class="medium-checkbox med-checkbox" > Requires Carrying
			</div>
		</div>
		
		<div style="display: none;">
			<div class="check-div">
				<input type="checkbox" id="mod_others_touch" class="medium-checkbox med-checkbox" onclick="mod_others_touch()"> Requires Touch
			</div>
		</div>

		<div id="mod-others-touch">
			<div class="check-div-fit" style="font-size: 80%;">
				<input type="checkbox" id="mod_others_touch_continuous" class="medium-checkbox med-checkbox" > Continuous
			</div>
		</div>
	</div>

	<div id="mod-ranks">
		<div >
			Gain Ranks in Trait:
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_trait_type" name="mod_ranks_trait_type" onchange="mod_ranks_trait_type()">
				{% for t in all_traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_trait" name="mod_ranks_trait" onchange="mod_ranks_trait()">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_ranks" name="mod_ranks_ranks">
				<option value="">Ranks</option>
				<option value="rank">This Power</option>
				<option value="extra">This Extra</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="mod_ranks_mod" name="mod_ranks_mod">
				<option value="">Modifier to Trait</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
 		</div>
	</div>

	<div id="mod-points">
		<div>
			Spend Points:
		</div>

		<div>
			<select class="select-sml" id="mod_points_type" name="mod_points_type" onchange="mod_points_type()">
				{% for s in spend %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="mod-points-reroll">
				<div>
					<select class="select-sml" id="mod_points_reroll_target" name="mod_points_target">
						{% for t in targets %}
							<option value="{{5.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_points_reroll_cost" name="mod_points_cost">
						<option value="">Power Point Cost</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_points_rerolls" name="mod_points_rerolls" onchange="mod_points_reerolls()">
						<option value="">Rerolls</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="mod_points_reroll_result" name="mod_points_reroll_result">
						{% for r in result %}
							<option value="{{r.type}}">{{r.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>

			<div id="mod-points-give">
				<div>
					<select class="select-sml" id="mod_points_give" name="mod_points_give">
						<option value="">Points Per Round</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div id="mod-extra">
		<div>
			Extra Effect:
		</div>

		<div>
			<select class="select-sml" id="mod_extra_count" name="mod_extra_count">
				<option value="">Count</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="degree-title-sml" id="mod_extra_degree" name="mod_extra_degree">
				<option value="">Degree By Group</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="dc-title-sml" id="mod_extra_dc" name="mod_extra_dc">
				<option value="">DC By Group</option>
				{% for p in power_dc_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="circ-title-sml" id="mod_extra_circ" name="mod_extra_circ">
				<option value="">Circumstance By Group</option>
				{% for p in power_circ_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
	</div>



	<div id="mod-buttonrow">

		<div></div>

		<div>
			<select class="entry-select" id="mod_multiple" name="mod_multiple">
				{% for m in mod_multiple %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="mod_cost" name="mod_cost" onchange="mod_cost()">
				<option value="">Cost</option>
			</select>
		</div>

		<div>
			<select class="entry-select" id="mod_ranks" name="mod_ranks">
				<option value="">Ranks</option>
			</select>
		</div>

		<div>
			<div class="btn-entry" id="mod_submit" name="mod_submit" onclick="mod_submit()">
				 Add
			</div>

		</div>

	</div>

</div>



<div id="mod-spot"></div>

<div id="mod-err"></div>