<div id="move-header" style="justify-content: center;">

	<div id="move-title">
		<input type="checkbox" id="move_check" class="regular-checkbox big-checkbox" onclick="move_check()"> Movement Effect:
	</div>

	<div id="move-base">
		<select class="extra-select" id="move_extra" name="move_extra" onchange="move_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="move-entry">

	<div id="move-row1">
		<div id="move-math">
			<div>
				<select class="select-sml" id="move_rank" name="move_rank">
					<option value="">Speed Rank</option>
					<option value="normal">Normal</option>
					<option value="instant">Instant</option>
					<option value="rank">This Power</option>
					<option value="extra">This Extra</option>
					<option value="distance">Distance Rank</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				<select class="select-sml" id="move_math" name="move_math">
					<option value="">Math</option>
					{% for math in maths %}
						<option value={{math.id}}>{{math.name}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				<select class="select-sml" id="move_mod" name="move_mod">
					<option value="">Modifier</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_per_rank" class="medium-checkbox med-checkbox" > Per Rank
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_flight" class="medium-checkbox med-checkbox" onclick="move_flight()"> Flight
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_aquatic" class="medium-checkbox med-checkbox" onclick="move_aquatic()"> Aquatic
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_ground" class="medium-checkbox med-checkbox" onclick="move_ground()"> Through Ground
			</div>
		</div>

	</div>

	<div id="move-row2">

		<div>
			<select class="select-sml" id="move_condition" name="move_condition">
				<option value="">Condition</option>
				{% for c in conditions %}
					<option value="{{c}}">{{c}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_direction" name="move_direction">
				{% for d in directions %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_distance_type" name="move_distance_type" onchange="move_distance_type()">
				<option value="">Max Distance</option>
				<option value="unlimited">Unlimited</option>
				{% for v in value_type %}
					<option value="{{v.type}}">{{v.name}}</option>
				{% endfor %}
				<option value="mod">Rsnk Modifier</option>
			</select>
		</div>

		<div id="move-distance">

			<div id="move-distance-value">
				<select class="select-sml" id="move_distance_value" name="move_distance_value">
					<option value="">Distance Rank</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="move-distance-math">
				<div>
					<select class="select-sml" id="move_distance_math_value" name="move_distance_math_value">
						<option value="">Distance Rank</option>
						<option value="vert">Vertical Height</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_distance_math" name="move_distance_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_distance_math_value2" name="move_distance_math_value2">
						<option value="">Value</option>
						<option value="rank">Power Rank</option>
						<option value="extra">Extra Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="move-distance-mod">
				<div>
					Effect Rank
				</div>

				<div>
					<select class="select-sml" id="move_distance_mod" name="move_distance_mod">
						<option value="">Mod</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					= Distance Rank
				</div>
			</div>

		</div>
	</div>

	<div id="move-row3">

		<div>
			<select class="select-sml" id="move_dc" name="move_dc">
				<option value="">DC</option>
				<option value="">N/A</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_others" class="medium-checkbox med-checkbox" > Affects Others
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_continuous" class="medium-checkbox med-checkbox" > Continuous
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_subtle" class="medium-checkbox med-checkbox" onclick="move_subtle()"> Subtle
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_concentration" class="medium-checkbox med-checkbox" > Concentration
			</div>
		</div>
		
	</div>

	<div id="move-row4">
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_obstacles" class="medium-checkbox med-checkbox" > Through Obstacles
			</div>
		</div>	

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_objects" class="medium-checkbox med-checkbox" onclick="move_objects()"> Move Objects
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_permeate" class="medium-checkbox med-checkbox" onclick="move_permeate()"> Permeate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_special" class="medium-checkbox med-checkbox" onclick="move_special()"> Special Travel
			</div>
		</div>	

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_prone" class="medium-checkbox med-checkbox" > Move While Prone
			</div>
		</div>	

	</div>

	<div id="move-row5">

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_check_type" class="medium-checkbox med-checkbox" onclick="move_check_type()"> Check Type
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_obstacles" class="medium-checkbox med-checkbox" > Requires Material
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_concealment" class="medium-checkbox med-checkbox" onclick="move_concealment()"> Concealment
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_extended" class="medium-checkbox med-checkbox" onclick="move_extended()"> Extended
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_mass" class="medium-checkbox med-checkbox" onclick="move_mass()"> Increased Mass
			</div>
		</div>
	</div>

	<div id="move-mass">
		<div>
			Increased Carry Mass:
		</div>

		<div>
			<select class="select-sml" id="move_mass_value" name="move_mass_value">
				<option value="">Mass Rank</option>
				<option value="rank">Effect Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>


	<div id="move-extended">
		<div>
			Extended:
		</div>

		<div>
			<select class="select-sml" id="move_extended_actions" name="move_extended_actions">
				<option value="">Move Actions</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="move-aquatic">
		<div>
			Aquatic:
		</div>

		<select class="select-sml" id="move_acquatic_type" name="move_acquatic_type">
			{% for a in aquatic %}
				<option value="{{a.type}}">{{a.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="move-concealment">
		<div>
			Concealment From:
		</div>

		<div>
			<select class="select-sml" id="move_concealment_sense" name="move_concealment_sense">
				<option value="">Sense</option>
				{% for s in senses %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_concealment_trait_type" name="move_concealment_trait_type" onchange="move_concealment_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_concealment_trait" name="move_concealment_trait">
				<option value="">Trait</option>
			</select>
		</div>

	</div>

	<div id="move-permeate">
		<div>
			Permeate:
		</div>

		<div id="move-through-objects">
			<select class="select-sml" id="move_permeate_type" name="move_permeate_type">
				{% for o in openings %}
					<option value="{{o.type}}">{{o.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			Speed Rank Modifier:
		</div>

		<div>
			<select class="select-sml" id="move_permeate_speed" name="move_permeate_speed">
				<option value="">Modifier</option>
					{% for i in negatives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_permeate_cover" class="medium-checkbox med-checkbox" > Provides Cover
			</div>
		</div>	

	</div>

	<div id="move-special">

		<div>
			Special Travel:
		</div>

		<div>
			<select class="select-sml" id="move_special_type" name="move_special_type" onchange="move_special_type()">
				{% for t in travel %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="move-special-teleport">
				<div>
					<select class="select-sml" id="move_teleport_type" name="move_teleport_type">
						{% for t in teleport %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_teleport_change" name="move_teleport_change">
						{% for t in teleport_change %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="check-div">
						<input type="checkbox" id="move_teleport_portal" class="medium-checkbox med-checkbox" > Portal
					</div>
				</div>	

				<div>
					<div class="check-div">
						<input type="checkbox" id="move_teleport_obstacles" class="medium-checkbox med-checkbox" > Turnabout
					</div>
				</div>	

			</div>

			<div id="move-special-dimension">

				<div>
					<select class="select-sml" id="move_dimension_type" name="move_dimension_type" onchange="move_dimension_type()">
						{% for d in dimensions %}
							<option value="{{d.type}}">{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" id="move_dimension_mass_rank" name="move_dimension_mass_rank">
						<option value="">Carry Mass Rank</option>
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
					</select>
				</div>
	
				<div id="move-dimension-descriptor">
					<select class="descriptor-sml" id="move_dimension_descriptor" name="move_dimension_descriptor">
						<option value="">Descriptor</option>
						<option value="">Use Above Form to put descriptors here</option>
					</select>
				</div>
			</div>

			<div id="move-special-space">
				<div>
					<select class="select-sml" id="move_special_space" name="move_special_space">
						{% for s in space %}
							<option value="{{s.type}}">{{s.name}}</option>
						{% endfor %}
					</select>
				</div>
		
				<div>

				</div>
			</div>

			<div id="move-special-time">
				<div>
					<select class="select-sml" id="move_special_time" name="move_special_time">
						{% for t in time_travel %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_special_time_carry" name="move_special_time_carry">
						<option value="">Carry Mass Rank</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

		</div>

	</div>

	

	<div id="move-ground">
		<div>
			<select class="select-sml" id="move_ground_type" name="move_ground_type">
				<option value="">Ground Type</option>
				{% for g in grounds %}
					<option value={{g.id}}>{{g.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_ground_perm" name="move_ground_perm" onchange="move_ground_perm()">
				{% for perm in permanence %}
					<option value="{{perm.type}}">{{perm.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="move-ground-time">
			<div>
				Time:
			</div>
	
			<div>
				<select class="select-sml" id="move_ground_time" name="move_time">
					<option value="">Time</option>
					{% for num in time_numbers %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				Units:
			</div>
	
			<div>
				<select class="select-sml" id="move_ground_units" name="move_units">
					<option value="">Units</option>
					{% for time in times %}
						<option value={{time.id}}>{{time.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_ground_ranged" class="medium-checkbox med-checkbox" > Ranged
			</div>
		</div>
	</div>

	<div id="move-subtle">
		<div>
			Subtle:
		</div>

		<div>
			<select class="select-sml" id="move_subtle_trait_type" name="move_subtle_trait_type" onchange="move_subtle_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_subtle_trait" name="move_subtle_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_subtle_mod" name="move_subtle_mod">
				<option value="">Bonus</option>
				<option value="free">No Check</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div></div>
	</div>

	<div id="move-flight">

		<div id="move-flight-left">
			<div style="text-align: right;">
				Conditions when character cannot fly:
			</div>

			<div>
				<div class="check-div">
					<input type="checkbox" id="move_flight_resist" class="medium-checkbox med-checkbox" > May Require Resistence Check
				</div>
			</div>
			
			<div>
				<div class="check-div">
					<input type="checkbox" id="move_flight_equip" class="medium-checkbox med-checkbox" > Requires Equipment
				</div>
			</div>
		</div>

		<div>

			<select class="select-sml" id="move_flight_conditions" name="move_flight_conditions" multiple style="height: 6vw; font-size: 110%;">
				<option value="">(Ctl or Cmd to select multiple)</option>
				{% for c in conditions %}
					<option value="{{c}}">{{c}}</option>
				{% endfor %}
			</select>

		</div>
	</div>

	<div id="move-objects">
		<div>
			Move Objects:
		</div>

		<div>
			<select class="select-sml" id="move_objects_check" name="move_objects_check" onchange="move_objects_check()">
				<option value="">Check Type</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="move-objects-attack">
				<div>
					<select class="select-sml" id="move_objects_attack" name="move_objects_attack">
						<option value="">Attack Check Type</option>
						{% for c in conflicts %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div></div>
			</div>

			<div id="move-objects-skill">
				<div>
					<select class="select-sml" id="move_objects_skill_type" name="move_objects_skill_type" onchange="move_objects_skill_type()">
						<option value="">Skill Type</option>
						<option value="skill">Skill</option>
						<option value="bonus">Enhanced Skill</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_objects_skill" name="move_objects_skill">
						<option value="">Skill</option>
					</select>
				</div>
			</div>
		</div>

		<div></div>

		<div>
			<select class="select-sml" id="move_objects_direction" name="move_objects_direction">
				{% for m in move_objects %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="move-objects-damage">
			<div>
				<div class="check-div">
					<input type="checkbox" id="move_objects_damage" class="medium-checkbox med-checkbox" onclick="move_objects_damage()"> Inflicts Damage
				</div>
			</div>

			<div id="move-objects-damage-type">
				<select class="select-sml" id="move_objects_damage_type" name="move_objects_damage_type">
					<option value="">Damage Dealt By</option>
					<option value="rank">Effect Rank</option>
					<option value="extra">Extra Rank</option>
					{% for a in abilities %}
						<option value={{a.name}}>{{a.name}} Rank</option>
					{% endfor %}
				</select>
			</div>

		</div>

	</div>
	
	<div id="move-check-type">
		<div>
			Check Type:
		</div>

		<div>
			<select class="select-sml" id="move_check_trait_type" name="move_check_trait_type" onchange="move_check_trait_type()">
				{% for t in traits %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_check_trait" name="move_check_trait">
				<option value="">Trait</option>
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_check_free" class="medium-checkbox med-checkbox" > Free Check
			</div>
		</div>
	</div>

	<div id="move-button-row">
		
		<div>
		</div>

		<div>
			<div class="vcenter">
				Cost Per Rank:
			</div>
		</div>

		<div>
			<select class="entry-select" id="move_cost" name="move_ranks">
				<option value="">Cost</option>
				{% for i in negatives %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="move_ranks" name="move_ranks">
				<option value="">Ranks</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="btn-entry" id="move_submit" onclick="move_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="move-table">

	<div class="power-table-title">
		Surface:
	</div>

	<div class="power-table-title">
		Modifier:
	</div>

	<div class="power-table-title">
		Effect:
	</div>

	<div class="power-table-title">
		Description:
	</div>

	<div></div>
	
</div>

<div id="move-err"></div>