<div id="move-header" style="justify-content: center;">

	<div id="move-title">
		<input type="checkbox" id="move_check" class="regular-checkbox big-checkbox" onclick="move_check()"> Movement Effect:
	</div>

	<div id="move-base">
		<select class="extra-select" id="move_extra" name="move_extra" onchange="move_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="move-entry">

	<div id="move-row1">
		<div id="move-math">
			<div>
				<select class="select-sml" id="move_rank" name="move_rank">
					<option value="">Rank</option>
					<option value=>This Power</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				<select class="select-sml" id="move_math" name="move_math">
					<option value="">Math</option>
					{% for math in maths %}
						<option value={{math.id}}>{{math.name}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				<select class="select-sml" id="move_mod" name="move_mod">
					<option value="">Modifier</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_flight" class="medium-checkbox med-checkbox" > Flight
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_aquatic" class="medium-checkbox med-checkbox" > Aquatic
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_ground" class="medium-checkbox med-checkbox" onclick="move_ground()"> Through Ground
			</div>
		</div>

	</div>

	<div id="move-row2">

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_others" class="medium-checkbox med-checkbox" > Affects Others
			</div>
		</div>

		<div>

		</div>

		<div>

		</div>

		<div>

		</div>
		
	</div>

	<div id="move-ground">
		<div>
			<select class="select-sml" id="move_ground_type" name="move_ground_type">
				<option value="">Ground Type</option>
				{% for g in grounds %}
					<option value={{g.id}}>{{g.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_ground_perm" name="move_ground_perm" onchange="move_ground_perm()">
				{% for perm in permanence %}
					<option value="{{perm.type}}">{{perm.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="move-ground-time">
			<div>
				Time:
			</div>
	
			<div>
				<select class="select-sml" id="move_ground_time" name="move_time">
					<option value="">Time</option>
					{% for num in time_numbers %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>
	
			<div>
				Units:
			</div>
	
			<div>
				<select class="select-sml" id="move_ground_units" name="move_units">
					<option value="">Units</option>
					{% for time in times %}
						<option value={{time.id}}>{{time.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_ground_ranged" class="medium-checkbox med-checkbox" > Ranged
			</div>
		</div>
	</div>

	<div id="move-button-row">
		
		<div></div>

		<div>
			<div class="btn-entry" id="move_submit" onclick="move_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="move-table">

	<div class="power-table-title">
		Surface:
	</div>

	<div class="power-table-title">
		Modifier:
	</div>

	<div class="power-table-title">
		Effect:
	</div>

	<div class="power-table-title">
		Description:
	</div>

	<div></div>
	
</div>

<div id="move-err"></div>