<div class="power-header" id="move-header">

	<div class="power-title" id="move-title">
		<input type="checkbox" id="move_check" class="regular-checkbox big-checkbox" onclick="move_check()"> Movement Effect:
	</div>
	
	<div class="power-base" id="move-base">

		<div>
			<input type="text" id="move_title" name="move_title" placeholder="Title">
		</div>

		<div>
			<select class="extra-select" id="move_extra" name="move_extra" onchange="move_extra()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

		<div>
			<select class="select-entry" id="move_direction" name="move_direction">
				{% for d in direction %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

</div>

<div class="power-entry" id="move-entry">

	<div id="move-row1">
		<div>
			<select class="select-sml" id="move_speed" name="move_speed" onchange="move_speed()">
				{% for s in speed %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>	
			<div id="move-speed-rank">
				<div>
					<select class="select-sml" id="move_speed_rank" name="move_speed_rank">
						<option value="">Speed Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					= Speed Rank
				</div>
			</div>	
			
			
			<div id="move-speed-rank-mod">
				<div>
					<select class="select-sml" id="move_speed_rank_mod" name="move_speed_rank_mod">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% 	endfor %}
						{% for i in positives %}
							<option value={{i}}>+{{i}}</option>
						{% endfor %}
					</select>
				</div>

			</div>	

			<div id="move-speed-mod">
				<div>
					<select class="select-sml" id="move_speed_trait_type" name="move_speed_trait_type" onchange="move_speed_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_speed_trait" name="move_speed_trait" onchange="move_speed_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_speed_math1" id="move_speed_math1">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_speed_value1" id="move_speed_value1">
						<option value="">Value</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" name="move_speed_math2" id="move_speed_math2">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_speed_value2" id="move_speed_value2">
						<option value="">Value</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>

	<div id="move-speed-description">
		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="move_speed_per" class="medium-checkbox med-checkbox" > Per Rank
			</div>
		</div>

		<div>
			<input type="text" id="move_speed_description" name="move_speed_description" placeholder="Descrtiption">
		</div>
	</div>
	
	<div id="move-row2">
		<div>
			<select class="select-sml" id="move_distance" name="move_distance" onchange="move_distance()">
				{% for d in move_distance %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="move-distance-rank">
				<div>
					<select class="select-sml" id="move_distance_rank" name="move_distance_rank">
						<option value="">Distance Rank</option>
						{% for i in poaitives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					= Distance Rank
				</div>
			</div>
			
			<div id="move-distance-unit">

				<div>
					<input type="text" id="move_distance_value" name="move_distance_value" placeholder="Distance">
				</div>

				<div>
					<select class="select-sml" id="move_distance_units" name="move_distance_units">
						<option value="">Units</option>
						{% for d in distances %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			
			<div id="move-distance-rank-math">
				<div>
					<select class="select-sml" id="move_distance_rank_trait_type" name="move_distance_rank_trait_type" onchange="move_distance_rank_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_distance_rank_trait" name="move_distance_rank_trait" onchange="move_distance_rank_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_rank_math1" id="move_distance_rank_math1">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_rank_value1" id="move_distance_rank_value1">
						<option value="">Value</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" name="move_distance_rank_math2" id="move_distance_rank_math2">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_rank_value2" id="move_distance_rank_value2">
						<option value="">Value</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="move-distance-unit-math">
				<div>
					<select class="select-sml" id="move_distance_unit_trait_type" name="move_distance_unit_trait_type" onchange="move_distance_unit_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_distance_unit_trait" name="move_distance_unit_trait" onchange="move_distance_unit_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_unit_math1" id="move_distance_unit_math1">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_unit_value1" id="move_distance_unit_value1">
						<option value="">Mod</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" name="move_distance_unit_math2" id="move_distance_unit_math2">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" name="move_distance_unit_value2" id="move_distance_unit_value2">
						<option value="">Mod</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" id="move_distance_math_units" name="move_distance_math_units">
						<option value="">Units</option>
						{% for d in distances %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>
		</div>
	</div>

	
	<div id="move-distance-description">
		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="move_distance_per" class="medium-checkbox med-checkbox" > Per Rank
			</div>
		</div>

		<div>
			<input type="text" id="move_distance_description" name="move_distance_description" placeholder="Description">
		</div>
	</div>

	<div id="move-row3">
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_flight" class="medium-checkbox med-checkbox" onclick="move_flight()"> Flight
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_aquatic" class="medium-checkbox med-checkbox" onclick="move_aquatic()"> Aquatic
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_ground" class="medium-checkbox med-checkbox" onclick="move_ground()"> Through Ground
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_special" class="medium-checkbox med-checkbox" onclick="move_special()"> Special Travel
			</div>
		</div>	
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_condition_check" class="medium-checkbox med-checkbox" onclick="move_condition_check()"> Condition
			</div>
		</div>	
	</div>
	
	<div id="move-row4">
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_obstacles" class="medium-checkbox med-checkbox" > Through Obstacles
			</div>
		</div>	

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_objects" class="medium-checkbox med-checkbox" onclick="move_objects()"> Move Objects
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_permeate" class="medium-checkbox med-checkbox" onclick="move_permeate()"> Permeate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_prone" class="medium-checkbox med-checkbox" > Move While Prone
			</div>
		</div>	

	</div>

	<div id="move-row5">

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_equip" class="medium-checkbox med-checkbox" onclick="move_equip()"> Requires Equipment
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="move_concealment" class="medium-checkbox med-checkbox" onclick="move_concealment()"> Concealment
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_extended" class="medium-checkbox med-checkbox" onclick="move_extended()"> Extended
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_mass" class="medium-checkbox med-checkbox" onclick="move_mass()"> Increased Mass
			</div>
		</div>
	</div>
	
	<div id="move-links">
	
		<div>
			<select class="time-sml" id="move_time" name="opposed_time">
				<option value="">Time Movement Takes</option>
				<option value="instant">Instant</option>
				<option value="turn">One Turn</option>
				<option value="round">Round</option>
				<option value="scene">Scene</option>
				<option value="">Use Time Effect form to put options here</option>
			</select>
		</div>

		<div>
			<select class="dc-sml" id="move_dc" name="move_dc">
				<option value="">DC</option>
				<option value="">Use DC Table form to put options here</option>
			</select>
		</div>
		
		<div>
			<select class="degree-sml" id="move_degree" name="move_degree">
				<option value="">Degree</option>
				<option value="">Use Degree form to put options here</option>
			</select>
		</div>
		
		<div>
			<select class="circ-sml" id="move_circ" name="move_circ">
				<option value="">Circumstance</option>
				<option value="">Use Circumstance form to put options here</option>
			</select>
		</div>

	</div>

	<div id="move-flight">

		<div id="move-flight-left">
			<div class="move-flight-split">
				<div>
					Flight:
				</div>

				<div style="text-align: right; font-size: 80%;">
					Conditions when character cannot fly:
				</div>	
			</div>

			<div class="move-flight-split">
				<div>
					<div class="check-div">
						<input type="checkbox" id="move_flight_resist" class="medium-checkbox med-checkbox" onclick="move_flight_resist()"> Resistence
					</div>
				</div>

				<div>
					<div id="move-flight-resist">
						<select class="check-sml" id="move_flight_resist_check" name="move_flight_resist_check">
							<option value="">Resistance Check</option>
							<option value="">Use Variable Check form to Put Options Here</option>
							{% for p in power_check %}
								<option value={{p.id}}>{{p.name}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="move-flight-split">
				<div>
					<div class="check-div">
						<input type="checkbox" id="move_flight_equip" class="medium-checkbox med-checkbox" onclick="move_flight_equip()"> Equipment
					</div>
				</div>

				<div>
					<div id="move-flight-equip">
						<div>
							<select class="select-sml" id="move_flight_equip_type" name="move_flight_equip_type" onchange="move_flight_equip_type()">
								<option value="">Equipment Type</option>
								{% for e in equip_type %}
									<option value={{e.id}}>{{e.name}}</option>
								{% endfor %}
							</select>
						</div>

						<div>
							<select class="select-sml" id="move_flight_equipment" name="move_flight_equipment">
								<option value="">Equipment</option>
								<option value="x">Variable</option>
							</select>
						</div>
					</div>
				</div>
			</div>	
		</div>

		<div>

			<select class="select-sml" id="move_flight_conditions" name="move_flight_conditions" multiple style="height: 6vw; font-size: 90%;">
				<option value="">(Ctl or Cmd to select multiple)</option>
				{% for c in conditions %}
					<option value="{{c.id}}">{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="move-aquatic">
		<div>
			Aquatic:
		</div>

		<select class="select-sml" id="move_acquatic_type" name="move_acquatic_type">
			{% for a in aquatic %}
				<option value="{{a.type}}">{{a.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="move-ground">
		<div>
			Ground:
		</div>
		<div>
			<select class="select-sml" id="move_ground_type" name="move_ground_type">
				<option value="">Ground Type</option>
				{% for g in grounds %}
					<option value={{g.id}}>{{g.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_ground_perm" name="move_ground_perm" onchange="move_ground_perm()">
				{% for p in permanence %}
					<option value="{{p.type}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="move-ground-perm">
			<select class="lasts-sml" id="move_ground_time" name="move_ground_time">
				<option value="">Time Tunnel Lasts</option>
				<option value="">Use Time Effect form to put options here</option>
				<option value="turn">One Turn</option>
				<option value="round">Round</option>
				<option value="next">Next Round</option>
				<option value="scene">Scene</option>
				<option value="maintain">While Maintaining</option>
				{% for p in power_time %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div" style="width: fit-content; padding-right: .4vw;">
				<input type="checkbox" id="move_ground_ranged" class="medium-checkbox med-checkbox" onclick="move_ground_ranged()"> Ranged
			</div>
		</div>

		<div id="move-ground-ranged">
			<select class="ranged-sml" id="move_ground_range" name="move_ground_range">
				<option value="">Range</option>
				<option value="">Use Ranged form to Put Range Here</option>
				{% for p in power_ranged %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select> 
		</div>

	</div>

	<div id="move-special">

		<div>
			Special:
		</div>

		<div>
			<select class="select-sml" id="move_special_type" name="move_special_type" onchange="move_special_type()">
				{% for t in travel %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="move-special-teleport">
				<div>
					<select class="select-sml" id="move_teleport_type" name="move_teleport_type">
						{% for t in teleport %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_teleport_change" name="move_teleport_change">
						{% for t in teleport_change %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="check-div">
						<input type="checkbox" id="move_teleport_portal" class="medium-checkbox med-checkbox" > Portal
					</div>
				</div>	

				<div>
					<div class="check-div">
						<input type="checkbox" id="move_teleport_obstacles" class="medium-checkbox med-checkbox" > Turnabout
					</div>
				</div>	

			</div>

			<div id="move-special-dimension">

				<div>
					<select class="select-sml" id="move_dimension_type" name="move_dimension_type" onchange="move_dimension_type()">
						{% for d in dimensions %}
							<option value="{{d.type}}">{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" id="move_dimension_mass_rank" name="move_dimension_mass_rank">
						<option value="">Carry Mass Rank</option>
							{% for i in negatives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
							{% for i in positives %}
								<option value={{i}}>{{i}}</option>
							{% endfor %}
					</select>
				</div>
	
				<div id="move-dimension-descriptor">
					<select class="descriptor-sml" id="move_dimension_descriptor" name="move_dimension_descriptor">
						<option value="">Descriptor</option>
						<option value="">Use Above Form to put descriptors here</option>
						{% for d in descriptor_options %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="move-special-space">
				<div>
					<select class="select-sml" id="move_special_space" name="move_special_space">
						{% for s in space %}
							<option value="{{s.type}}">{{s.name}}</option>
						{% endfor %}
					</select>
				</div>
		
				<div>

				</div>
			</div>

			<div id="move-special-time">
				<div>
					<select class="select-sml" id="move_special_time" name="move_special_time">
						{% for t in time_travel %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="move_special_time_carry" name="move_special_time_carry">
						<option value="">Carry Mass Rank</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

		</div>

	</div>


	<div id="move-objects">
		<div>
			Objects:
		</div>

		<div>
			<select class="check-sml" id="move_objects_check" name="move_objects_check">
				<option value="">Check to Move</option>
				<option value="">Use Variable Check form to put options Here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_objects_direction" name="move_objects_direction">
				{% for m in move_objects %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div" style="width: fit-content; padding-right: .4vw;">
				<input type="checkbox" id="move_objects_damage" class="medium-checkbox med-checkbox" onclick="move_objects_damage()"> Damage
			</div>
		</div>

		<div id="move-objects-damage">
			<select class="damage-sml" id="move_object_damage" name="move_object_damage">
				<option value="">Damage</option>
				<option value="">Use Damage form to put options here</option>
				{% for p in power_damage %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="move-extended">
		<div>
			Extended:
		</div>

		<div>
			<select class="select-sml" id="move_extended_actions" name="move_extended_actions">
				<option value="">Move Actions</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="move-condition">
		<div>
			Condition:
		</div>

		<div>
			<select class="select-sml" id="move_condition" name="move_condition">
				<option value="">Condition</option>
				<option value="x">Variable</option>
				{% for c in conditions %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="move-permeate">
		<div>
			Permeate:
		</div>

		<div id="move-through-objects">
			<select class="select-sml" id="move_permeate_type" name="move_permeate_type">
				{% for o in openings %}
					<option value="{{o.type}}">{{o.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="vcenter" style="font-size: 80%;">
			Speed Rank Modifier:
		</div>

		<div>
			<select class="select-sml" id="move_permeate_speed" name="move_permeate_speed">
				<option value="">Modifier</option>
					{% for i in negatives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="move_permeate_cover" class="medium-checkbox med-checkbox" > Provides Cover
			</div>
		</div>	

	</div>

	<div id="move-equip">
		<div>
			Equipment:
		</div>

		<div>
			<select class="select-sml" id="move_equip_type" name="move_equip_type" onchange="move_equip_type()">
				<option value="">Equipment Type</option>
				{% for e in equip_type %}
					<option value={{e.id}}>{{e.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="move_equipment" name="move_equipment">
				<option value="">Equipment</option>
			</select>
		</div>
	</div>

	<div id="move-concealment">
		<div>
			Concealment:
		</div>

		<div>
			<select class="select-sml" id="move_concealment_sense" name="move_concealment_sense">
				<option value="">Sense</option>
				<option value="x">Variable</option>
				{% for s in senses %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="opposed-sml" id="move_conceal_opposed" name="move_conceal_opposed">
				<option value="">Opponent Check to Detect</option>
				<option value="">Use Opponent Check form to put options here</option>
				{% for p in power_opposed %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>


	<div id="move-mass">
		<div>
			Increased Carry Mass:
		</div>

		<div>
			<select class="select-sml" id="move_mass_value" name="move_mass_value">
				<option value="">Mass Rank</option>
				<option value="rank">Effect Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>





	<div id="move-button-row">
		<div>
		</div>
		
		<div>
			<input type="text" id="move_keyword" name="move_keyword" placeholder="Keyword">
		</div>

		<div>
			<div class="btn-entry" id="move_submit" name="move_submit" onclick="move_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="move-spot"></div>

<div class="err" id="move-err"></div>