<div id="opposed-header">

	<div id="opposed-title">
		<input type="checkbox" id="opposed_check" class="regular-checkbox big-checkbox" onclick="opposed_check()"> Opponent Check:
	</div>
	
	<div id="opposed-base">
		<div>
			<select class="extra-select" id="opposed_extra" name="opposed_extra">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

		<div>
			<select class="select-entry" id="opposed_attached" name="opposed_attached" onchange="opposed_attached()">
				{% for a in attached %}
					<option value="{{a.type}}">{{a.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

</div>

<div id="opposed-entry">
	<div id="opposed-row1">
		
		<div>
			Player Check Type:
		</div>

		<div>
			Modifier:
		</div>

		<div>
			Opponent Check Type				
		</div>

		<div>
			Modifier:
		</div>
	</div>

	<div class="opposed-row">
		<div class="rows">
			<div class="cell">
				<select class="select-sml" id="opposed_trait_type" name="opposed_trait_type" onchange="opposed_trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
					<option value="choice">Players Chosen DC</option>
				</select>
			</div>

			<div class="cell">
				<div class="check-div" style="width: 85%;">
					<input type="checkbox" id="opposed_secret_player" class="medium-checkbox med-checkbox" > Secret
				</div>
			</div>	

		</div>

		<div class="rows">
			<div class="cell">
				<select class="select-sml" id="opposed_trait" name="opposed_trait" onchange="opposed_trait()">
					<option value="">Trait</option>
				</select>
			</div>	

			<div class="cell">
				<select class="select-sml" id="opposed_player_check" name="opposed_player_check" onchange="opposed_player_check()">
					<option value="">Player Check Type</option>
					{% for c in checks %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="shrunk" id="opposed-attack-player">
				<select class="select-sml" id="opposed_attack_player" name="opposed_attack_player">
					<option value="">Player Attack Range</option>
					<option value="any">Any Ranges</option>
					{% for r in ranged %}
						<option value={{r.id}}>{{r.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="rows">
			<div class="grid small-big cell">
				<div>
					<select class="select-sml" id="opposed_mod" name="opposed_mod">
						<option value="">Mod</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="opposed_opponent_trait_type" name="opposed_opponent_trait_type" onchange="opposed_opponent_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="cell">
				<select class="select-sml" id="opposed_opponent_check" name="opposed_opponent_check" onchange="opposed_opponent_check()">
					<option value="">Opponent Check Type</option>
					{% for c in checks %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="shrunk" id="opposed-attack-opp">
				<select class="select-sml" id="opposed_attack_opp" name="opposed_attack_opp">
					<option value="">Opponent Attack Range</option>
					<option value="any">Any Ranges</option>
					{% for r in ranged %}
						<option value={{r.id}}>{{r.name}}</option>
					{% endfor %}
				</select>
			</div>	
		
		</div>

		<div class="rows">
			<div class="grid big-small cell">
				<div>
					<select class="select-sml" id="opposed_opponent_trait" name="opposed_opponent_trait" onchange="opposed_opponent_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="opposed_opponent_mod" name="opposed_opponent_mod">
						<option value="">Mod</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="grid split cell">			
				<div>
					<div class="check-div" style="width: 89%;">
						<input type="checkbox" id="opposed_secret" class="medium-checkbox med-checkbox" > Secret
					</div>
				</div>
				
				<div>
					<div class="check-div" style="width: 85%;">
						<input type="checkbox" id="opposed_recurring" class="medium-checkbox med-checkbox" onclick="opposed_recurring()"> Recurring
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="opposed-row4">

		<div>
			<div class="check-div">
				<input type="checkbox" id="opposed_degree_check" class="medium-checkbox med-checkbox" onclick="opposed_degree_check()"> Degree
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="opposed_circ_check" class="medium-checkbox med-checkbox" onclick="opposed_circ_check()"> Circumstance
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="opposed_dc_check" class="medium-checkbox med-checkbox" onclick="opposed_dc_check()"> Skill/Resistence DC
			</div>
		</div>
		
		<div>
			<div class="check-div">
				<input type="checkbox" id="opposed_time_check" class="medium-checkbox med-checkbox" onclick="opposed_time_check()"> Time Effect
			</div>
		</div>
	</div>

	<div id="opposed-dc">

		<div class="vcenter" style="justify-content: left;">
			DC:
		</div>

		<div>
			<select class="dc-title-sml" id="opposed_dc_type" name="opposed_dc_type">
				<option value="">DC by Group</option>
				<option value="">Use Check Table form to put options here</option>
				{% for p in power_dc_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="dc-player-sml" id="opposed_dc_player" name="opposed_dc_player">
				<option value="">Player DC</option>
				<option value="">Use Check Table form to put options here</option>
				{% for p in power_dc %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="dc-opp-sml" id="opposed_dc" name="opposed_dc">
				<option value="">Opponent DC</option>
				<option value="">Use Check Table form to put options here</option>
				{% for p in power_dc %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>
	<div id="opposed-time">

		<div class="vcenter" style="justify-content: left;">
			Time Effect:
		</div>

		<div>
			<div>
				<select class="time-title-sml" id="opposed_time_type" name="opposed_time">
					<option value="">Time Effect By Group</option>
					<option value="">Use Time Effect form to put options here</option>
					{% for p in power_time_type %}
						<option value={{p.id}}>{{p.name}}</option>
					{% endfor %}
				</select>
			</div>
	
		</div>
		
		<div>
			<select class="time-sml" id="opposed_time" name="opposed_time">
				<option value="">Time Effect</option>
				<option value="">Use Time Effect form to put options here</option>
				{% for p in power_time %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div id="opposed-circ">

		<div class="vcenter" style="justify-content: left;">
			Circumstance Modifier:
		</div>
	
		<div>
			<select class="circ-title-sml" id="opposed_circ" name="opposed_circ">
				<option value="">Circumstance By Group</option>
				<option value="">Use Circumstance form to put options here</option>
				{% for p in power_circ_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="circ-sml" id="opposed_circ_value" name="opposed_circ_value">
				<option value="">Circumstance Modifier</option>
				<option value="">Use Circumstance form to put options here</option>
				{% for p in power_circ %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
	</div>
	
	<div id="opposed-degree">

		<div class="vcenter" style="justify-content: left;">
			Degree of Success/Failure:
		</div>

		<div>
			<select class="degree-title-sml" id="opposed_degree" name="opposed_degree">
				<option value="">Degree by Group</option>
				<option value="">Use Degree form to put options here</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="degree-sml" id="opposed_degree_value" name="opposed_degree_value">
				<option value="">Degree of Success/Failure</option>
				<option value="">Use Degree form to put options here</option>
				{% for p in power_degree %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	
	<div id="opposed-variable">
		<div class="valign" id="opposed-variable-title">
			Variable Check
		</div>
	
		<div>
			<select class="check-sml" id="opposed_variable" name="opposed_variable">
				<option value="">Variable Check</option>
				<option value="">Use Variable Check form to put options here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="check-title-sml" id="opposed_variable_type" name="opposed_variable_type">
				<option value="">Variable Check by Group</option>
				<option value="">Use Variable Check form to put options here</option>
				{% for p in power_check %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
	</div>
			
	<div id="opposed-opponent">
		<div class="vcenter" id="opposed-opponent-title" style="font-size: 90%;">
			Opponent Check
		</div>
	
		<div>
			<select class="opposed-title-sml" id="opposed_opponent" name="opposed_opponent">
				<option value="">Opponent Check by Group</option>
				<option value="">Use Opponent Check form to put options here</option>
				{% for p in power_opposed_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>
			<select class="opposed-sml" id="opposed_opposed" name="opposed_opposed">
				<option value="">Opponent Check</option>
				<option value="">Use Opponent Check form to put options here</option>
				{% for p in power_opposed %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
	</div>	
	
	<div id="opposed-recurring">
		<div class="valign"  style="font-size: 80;">
			Recurring:
		</div>

		<div>
			<select class="select-sml recur-sml" id="opposed_recurring_value" name="opposed_recurring_value">
				<option value="">Time Between Checks</option>
				<option value="turn">One Turn</option>
				<option value="round">Round</option>
				<option value="scene">Scene</option>
				<option value="">Use Time Effect form to put options here</option>
				{% for p in power_time %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml recur-title-sml" id="opposed_recurring_type" name="opposed_recurring_type">
				<option value="">Time by Group</option>
				<option value="">Use Time Effect form to put options here</option>
				{% for p in power_time_type %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="degree-title-sml" id="opposed_recurring_degree_type" name="opposed_recurring_degree_type">
				<option value="">Degree Effect by Group</option>
				<option value="">Use Degree of Success/Failure Form to Put Options Here</option>
				{% for p in power_degree_type %}
					<option value={{p.id}}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
	
		<div>
			<div class="check-div" style="font-size: 80%;">
				<input type="checkbox" id="opposed_recurring_fail" class="medium-checkbox med-checkbox" > After Failure Only
			</div>
		</div>
	</div>

		
	<div id="opposed-row5">
		<div class="text-sml">
			<input type="text" id="opposed_description" name="opposed_description" placeholder="Circumstance">
		</div>

		<div class="text-sml">
			<input type="text" id="opposed_title" name="opposed_title" placeholder="Title" style="width: 87%;">
		</div>

		<div class="text-sml">
			<input type="text" id="opposed_keyword" name="opposed_keyword" placeholder="Keyword" style="width: 87%;">
		</div>
	</div>

	<div id="opposed-button-row">
		<div>
		</div>

		<div>
			<div class="hidden" id="opposed-before">
				<select class="select-entry" id="opposed_before" name="opposed_before">
					{% for b in before %}
						<option value="{{b.type}}">{{b.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="hidden" id="opposed-after">
				<select class="select-entry" id="opposed_after" name="opposed_after">
					{% for a in after %}
						<option value="{{a.type}}">{{a.name}}</option>
					{% endfor %}
				</select>
			</div>
				
			<div class="hidden" id="opposed-primary">
				<select class="select-entry" id="opposed_frequency" name="opposed_frequency">
					{% for f in frequency %}
						<option value="{{f.type}}">{{f.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>		
			<div id="opposed-multiple" style="display: grid; opacity: 100%;">
				<select class="select-entry" id="opposed_multiple" name="oppiosed_multiple">
					{% for o in multiple_opposed %}
						<option value="{{o.type}}">{{o.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>
			<div class="btn-entry" id="opposed_submit" name="opposed_submit" onclick="opposed_submit()">
				 Add
			</div>
		</div>
	</div>


</div>

<div id="opposed-spot"></div>

<div id="opposed-err"></div>