<div class="power-container" style="justify-content: center; background:url(/static/img/bg/superman.png); background-repeat: no-repeat; background-size: 100%;">
	<div class="power-grid">
		
		<br>

		<div id="box-title">
			<img src="/static/img/title/create_power.png" width="100%">
		</div>


		<br><br>
		

		<div id="addpowergrid">

			<div id="add-power">

				<div id="addpowerunderline">
						Power Name
				</div>

				<div id="addpowerform">
					<div>
						<select id="all_power_select" name="all_power_select" >
							<option value="">Power</option>
							{% for p in powers %}
								<option value="{{p.id}}">{{p.name}}</option>
							{% endfor %}
						</select>
					</div>

					<div style="display: none;">
						<input type="text" id="power_name" placeholder="Power Name">
					</div>
						
					<div>
						<div class="btn" id="power_create" onclick="power_create()" >
							 Create Power
						</div>
					</div>
				</div>
			
			</div>

			<div id="power-name-grid">

				<div id="power-name">

				</div>

				<div id="power-edit">
					<div id="edit-button" style="display: none;">
						<button  style="font-size: 260%;" onclick="power_form()"><i class="fa fa-edit"></i></button>
					</div>
				</div>

			</div>

			<div id="power-edit-grid" style="display: none;">
				<div id="power-edit-field">
					<input type="text" id="power_name_edit">
				</div>

				<div id="power-edit-btn">
					<div class="edit-btn" id="power_edit" onclick="power_edit()">
						Save
					</div>
				</div>
			</div>


			<div id="name-err">
		
			</div>
			
		</div>

		<br>

		<span>

		<div id="all-fields" style="display: block; opacity: 100%;">

		<br>

		<div id="power-err"></div>

		<br><br>

		<div id="save-div">
			<div class="save-btn" onclick="power_save()"> Save Power</div>
		</div>

		<br><br><br><br><br><br><br><br><br><br>

		</div>

		</span>
		
	</div>
	
</div>

	
	<script src="/static/js/functions/create.js"></script>
	<script src="/static/js/functions/create_table.js"></script>
	<script src="/static/js/functions/descriptor.js"></script>
	<script src="/static/js/functions/selects.js"></script>
	<script src="/static/js/power_create/power_functions.js"></script>
	<script src="/static/js/power_create/power_create.js"></script>
	<script src="/static/js/power_create/base_form.js"></script>
	<script src="/static/js/power_create/resisted_by.js"></script>
	<script src="/static/js/power_create/reverse_effect.js"></script>
	<script src="/static/js/power_create/move.js"></script>
	<script src="/static/js/power_create/levels.js"></script>
	<script src="/static/js/power_create/sense.js"></script>
	<script src="/static/js/power_create/circ.js"></script>
	<script src="/static/js/power_create/create.js"></script>
	<script src="/static/js/power_create/damage.js"></script>
	<script src="/static/js/power_create/extras.js"></script>
	<script src="/static/js/power_create/degree_mod.js"></script>
	<script src="/static/js/power_create/defense.js"></script>
	<script src="/static/js/power_create/character.js"></script>
	<script src="/static/js/power_create/environment.js"></script>
	<script src="/static/js/power_create/descriptors.js"></script>
	<script src="/static/js/power_create/resist.js"></script>
	<script src="/static/js/power_create/change_action.js"></script>
	<script src="/static/js/power_create/mod.js"></script>
	<script src="/static/js/power_create/dc_table.js"></script>
	<script src="/static/js/power_create/time.js"></script>
	<script src="/static/js/power_create/alt_check.js"></script>
	<script src="/static/js/power_create/opposed.js"></script>
	<script src="/static/js/power_create/ranged.js"></script>
	<script src="/static/js/power_create/minion.js"></script>
	<script src="/static/js/power_create/cost.js"></script>
	<script src="/static/js/power_create/ranks.js"></script>
	<script src="/static/js/power_create/condition.js"></script>

	
	<input type="hidden" id="power_id" name="power_id" value=>