<div id="ranged-header">

	<div id="ranged-title">
		<input type="checkbox" id="ranged_check" class="regular-checkbox big-checkbox" onclick="ranged_check()"> Ranged Effect:
	</div>
	
	<div id="ranged-base">
		<div>
			<input type="text" id="ranged_title" name="ranged_title" placeholder="Title"> 
		</div>

		<div>
			<select class="extra-select" id="ranged_extra" name="ranged_extra" onchange="ranged_base()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>	
		</div>
	</div>

</div>

<div id="ranged-entry">
	<div id="ranged-row1">
		<div id="ranged-type">
			<div>
				Ranged Type:
			</div>
		
			<div>
				<select class="entry-select" id="ranged_type" name="ranged_type" onchange="ranged_type()">
					{% for r in ranged_type %}
						<option value="{{r.type}}">{{r.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div>

			<div id="ranged-flat-units">

				<div>
					Distance:
				</div>

				<div>
					Units:
				</div>

				<div>
					<input type="text" id="ranged_flat_value" name="ranged_flat_value">
				</div>

				<div>
					<select class="entry-select" id="ranged_flat_units" name="ranged_flat_units">
						<option value="">Units</option>
						{% for d in distances %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="ranged-flat-distance-rank">
				<div>
					Distance Rank:
				</div>

				<div></div>
	
				<div>
					<select class="entry-select" id="ranged_flat_rank" name="ranged_flat_rank">
						<option value="">Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="ranged-flat-rank-units">

				<div>
					Distance:
				</div>

				<div>
					Units:
				</div>

				<div>
					Rank:
				</div>

				<div>
					<input type="text" id="ranged_flat_rank_value" name="ranged_flat_rank_value">
				</div>

				<div>
					<select class="entry-select" id="ranged_flat_rank_units" name="ranged_flat_rank_units">
						<option value="">Units</option>
						{% for d in distances %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_flat_rank_rank" name="ranged_flat_rank_rank">
						<option value="">Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="ranged-flat-rank-distance">
				<div>
					Distance Rank:
				</div>

				<div>
					Effect Rank:
				</div>

				<div>
					<select class="entry-select" id="ranged_flat_rank_distance" name="ranged_flat_rank_distance">
						<option value="">Distance Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_flat_rank_distance_rank" name="ranged_flat_rank_distance_rank">
						<option value="">Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="ranged-units-rank">

				<div>
					Starting Distance:
				</div>

				<div>
					Distance:
				</div>

				<div>
					Units:
				</div>

				<div></div>

				<div>
					Effect Rank:
				</div>

				<div>
					<input type="text" id="ranged_units_rank_start_value" name="ranged_units_rank_start_value">
				</div>

				<div>
					<input type="text" id="ranged_units_rank_value" name="ranged_units_rank_value">
				</div>

				<div>
					<select class="entry-select" id="ranged_units_rank_units" name="ranged_units_rank_units">
						<option value="">Units</option>
						{% for d in distances %}
							<option value={{d.id}}>{{d.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="vcenter" st>
						Per
					</div>
				</div>

				<div>
					<select cLASS="entry-select" id="ranged_units_rank_rank" name="ranged_units_rank_rank">
						<option value="">Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
	
			<div id="ranged-rank-rank">

				<div>
					Starting Distance:
				</div>

				<div>
					Distance Rank:
				</div>

				<div></div>

				<div>
					Effect Rank:
				</div>

				<div>
					<select class="entry-select" id="ranged_rank_distance_start" name="ranged_rank_start">
						<option value="">Distance Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_rank_distance" name="ranged_rank_distance">
						<option value="">Distance Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="vcenter">
						Per
					</div>
				</div>

				<div>
					<select class="entry-select" id="ranged_rank_effect_rank" name="ranged_rank_effect_rank">
						<option value="">Effect Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="ranged-effect-mod">

				<div></div>

				<div></div>

				<div>
					Modifier:
				</div>

				<div></div>

				<div>
					<div class="vcenter">
						Effect Rank
					</div>
				</div>

				<div>
					<select class="entry-select" id="ranged_effect_mod_math" name="ranged_effect_mod_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_effect_mod" name="ranged_effect_mod">
						<option value="">Modifier</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="vcenter">
						= Distance Rank
					</div>
				</div>
			</div>

			<div id="ranged-check">
				<div>
					Check Type:
				</div>

				<div></div>

				<div></div>

				<div>Modifier</div>

				<div></div>

				<div>
					<select class="entry-select" id="ranged_check_trait_type" name="ranged_check_trait_type" onchange="ranged_check_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_check_trait" name="ranged_check_trait" onchange="ranged_check_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_check_math" name="ranged_check_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_check_mod" name="ranged_check_mod">
						<option value="">Modifier</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="vcenter" style="font-size: 80%;">
						= Distance Rank
					</div>
				</div>
			</div>

			<div id="ranged-trait-mod">
				<div>
					Trait:
				</div>

				<div></div>

				<div>
				</div>

				<div>
					Modifier:
				</div>

				<div></div>

				<div>
					<select class="entry-select" id="ranged_trait_trait_type" name="ranged_trait_trait_type" onchange="ranged_trait_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_trait_trait" name="ranged_trait_trait" onchange="ranged_trait_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_trait_math" name="ranged_trait_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_trait_mod" name="ranged_trait_mod">
						<option value="">Modifier</option>
						<option value=0>0</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<div class="vcenter" style="font-size: 80%;">
						= Distance Rank
					</div>
				</div>
			</div>

			<div id="ranged-distance-mod">
				<div>
					Distance
				</div>

				<div>

				</div>

				<div>
					Trait:
				</div>

				<div>

				</div>

				<div></div>

				<div>
					<select class="entry-select" id="ranged_distance_mod_rank" name="ranged_distance_mod_rank">
						<option value="">Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_distance_mod_math" name="ranged_distance_mod_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_distance_mod_trait_type" name="ranged_distance_mod_trait_type" onchange="ranged_distance_mod_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="entry-select" id="ranged_distance_mod_trait" name="ranged_distance_mod_trait" onchange="ranged_distance_mod_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<div class="vcenter" style="font-size: 80%;">
						 = Distance Rank
					</div>
				</div>
			</div>

		</div>

	</div>

	<div id="ranged-button-row">

		<div>
			<select class="degree-sml" id="ranged_degree" name="time_degree">
				<option value="">Degree</option>
				<option value="">Use Degree form to put options here</option>
				{% for p in power_degree %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="circ-sml" id="ranged_circ" name="time_circ">
				<option value="">Circumstance Modifier</option>
				<option value="">Use Circumstance form to put options here</option>
				{% for p in power_circ %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="dc-sml" id="ranged_dc" name="time_dc">
				<option value="">DC</option>
				<option value="">Use Check Table form to put options here</option>
				{% for p in power_dc %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div style="display: none;">
			<select class="damage-sml" id="ranged_damage" name="time_damage">
				<option value="">Damage</option>
				<option value="">Use Check Table form to put options here</option>
				{% for p in power_damage %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="ranged_keyword" name="ranged_keyword" placeholder="Keyword"> 
		</div>

		<div>
			<div class="btn-entry" id="ranged_submit" name="ranged_submit" onclick="ranged_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="ranged-spot"></div>

<div id="ranged-err"></div>