<div id="ranged-header">

	<div id="damage-title">
		<input type="checkbox" id="ranged_check" class="regular-checkbox big-checkbox" onclick="damage_ranged()"> Ranged Effect:
	</div>
	
	<div id="ranged-base">
		<select class="extra-select" id="ranged_extra" name="ranged_extra" onchange="ranged_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="ranged-entry">
	<div id="ranged-row1">


	</div>

	
	<div id="ranged-button-row">
		<div>

		</div>

		<div>
			<div class="btn-entry" id="ranged_submit" name="ranged_submit" onclick="ranged_submit()">
				Add
			</div>
		</div>
	</div>

</div>

<div id="ranged-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="ranged-err"></div>