<div class="power-header" id="ranks-header">

	<div class="power-title" id="ranks-title">
		<input type="checkbox" id="ranks_check" class="regular-checkbox big-checkbox" onclick="ranks_check()"> Variable Ranks:
	</div>
	
	<div class="power-base" id="ranks-base">		
		<diV>
			<select class="extra-select" id="ranks_extra" name="ranks_extra" onchange="ranks_extra()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>
	</div>

</div>

<div class="power-entry" id="ranks-entry">

	<div id="ranks-row1">

		<div>
			Cost:
		</div>

		<div>
			Ranks:
		</div>

		<div>Effect Description:</div>

	
		<div>
			<select class="cost-entry" id="ranks_cost" name="ranks_cost">
				<option value="">Cost</option>
				<optionv value=0>Base Cost</optionv>
				{% for p in power_cost %}
					<option value={{p.id}}>{{p.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="ranks_ranks" name="ranks_ranks">
				<option value="">Ranks</option>
				{% for i in hundred %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<input type="text" id="ranks_effect" name="ranks_effect" placeholder="Effect">
					
	</div>

	<div id="ranks-button-row">
		
		<div>
			<div class="check-div-fit">
				<input type="checkbox" id="ranks_unique" class="medium-checkbox med-checkbox" > Unique
			</div>
		</div>

		<div>
			<select class="extra-select" id="ranks_required" name="ranks_required">
				<option value="">Required Extra</option>
			</select>
		</div>

		<div>
			<select class="entry-select" id="ranks_required_type"  name="ranks_required_type">
				{% for r in ranks_required %}
					<option value="{{r.type}}">{{r.name}}</option>
				{% endfor %}
			</select>
		</div>


		<div>
			<div class="btn-entry" id="ranks_submit" name="ranks_submit" onclick="ranks_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="ranks-spot"></div>

<div class="err" id="ranks-err"></div>