<div id="resistance-header">

	<div id="resistance-title">
		<input type="checkbox" id="resistance_check" class="regular-checkbox big-checkbox" onclick="resistance_check()"> Resistance Modifier:
	</div>
	
	<div id="resistance-base" >
		<div>
			<select class="header-select" id="resistance_target" name="resistance_target" onchange="resistance_base()">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="extra-select" id="resistance_extra" name="resistance_extra" onchange="resistance_base()">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>
	
	</div>

</div>

<div id="resistance-entry">
	<div id="resistance-row1">

		<div>
			Modifier:
		</div>

		<div>
			Rounds
		</div>

		<div>
			Circumstance:
		</div>

		<div>
			<select class="entry-select" id="resistance_mod" name="resistance_mod">
				<option value="">Modifier</option>
				<option value="rank">Power Rank</option>
				<option value="extra">Extra Rank</option>
				{% for i in negatives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="resistance_rounds" name="resistance_rounds">
				<option value="">Lasts</option>
				<option value=0>Turn</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<input type="text" id="resistance_circ" name="resistance_circ">
		</div>

	</div>

	<div id="resistance-row2">
		<div>
			<select class="select-sml" id="resistance_check_type" name="resistance_check_type" onchange="resistance_check_type()">
				{% for r in resistance_type %}
					<option value="{{r.type}}">{{r.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="resistance-trait">
				<div>
					<select class="select-sml" id="resistance_trait_type" name="resistance_trait_type" onchange="resistance_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="resistance_trait" name="resistance_trait">

					</select>
				</div>
			</div>

			<div id="resistance-descriptor">
				<select class="descriptor-sml" id="resistance_descriptor" name="resistance_descriptor">
					<option value="">Use above form to put descriptors here</option>
				</select>
			</div>

		</div>

		<div></div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="resistance_requires_check" class="medium-checkbox med-checkbox" onclick="resistance_requires_check()"> Requires Check
			</div>	
		</div>
	</div>


	<div id="resistance-button-row">
		<div id="resistance-check">
			<div>
				Check Type:
			</div>

			<div>
				<select class="select-sml" id="resistance_check_type" name="resistance_check_type">
					<option value="">Check Type</option>
					{% for c in checks %}
						<option value={{c.id}}>{{c.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="select-sml" id="resistance_check_trait_type" name="resistance_check_trait_type" onchange="resistance_check_trait_type()">
					{% for t in traits %}
						<option value="{{t.type}}">{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="select-sml" id="resistance_check_trait" name="resistance_check_trait">
					<option value="">Trait</option>
				</select>
			</div>
		</div>

		<div>
			<div class="btn-entry" id="resistance_submit" name="resistance_submit" onclick="resistance_submit()">
				 Add
			</div>
		</div>
	</div>
</div>

<div id="resistance-spot"></div>

<div id="resistance-err"></div>