<div id="resist-header" style="justify-content: center;">

	<div id="resist-title">
		<input type="checkbox" id="resist_check" class="regular-checkbox big-checkbox" onclick="resist_check()"> Resisted By:
	</div>

</div>

<div id="resist-entry">

	<div id="resist-type-field">
		<select class="select-sml" id="resist_type" name="resist_type" onchange="resist_type()">
			<option value="">Resisted By</option>
			{% for type in check_types %}
				<option value="{{type.type}}">{{type.name}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="resist-mod-field">
		<select class="select-sml" id="resist_mod" name="resist_mod" onchange="resist_type()">
			<option value="">Modifier</option>
			{% for num in negatives %}
				<option value={{num}}>{{num}}</option>
			{% endfor %}
			{% for num in positives %}
				<option value={{num}}>{{num}}</option>
			{% endfor %}
		</select>
	</div>

	<div id="resist-field-field">

		<div id="resist-ability">
			<select class="select-sml" id="resist_ability" name="resist_ability">
				<option value="">Ability</option>
				{% for ability in abilities %}
					<option value={{ability.id}}>{{ability.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="resist-skill">
			<select class="select-sml" id="resist_skill" name="resist_skill">
				<option value="">Skill</option>
				{% for skill in skills %}
					<option value={{skill.id}}>{{skill.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="resist-defense">
			<select class="select-sml" id="resist_defense" name="resist_defense">
				<option value="">Defense</option>
				{% for defense in defenses %}
					<option value={{defense.id}}>{{defense.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="resist-power">
			<select class="select-sml" id="resist_power" name="resist_power">
				<option value="">Power</option>
				{% for power in powers %}
					<option value="{{power}}">{{power}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="resist-add">
		<div class="resist-btn" onclick="resist_submit()">
			Add
		</div>
	</div>

	<div id="resist-description-field">
		<input type="text" id="range_desc" name="range_desc" placeholder="Circumstance">
	</div>

	<div id="resist-effect-field">
		<div>
			Effect:
		</div>
		
		<div>
			<select class="select-sml" id="resist_eft" name="resist_eft" onchange="resist_effect()">
				<option value="">Effect</option>
				{% for effect in effects %}
					<option value="{{effect.type}}">{{effect.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			Degree:
		</div>

		<div>
			<select class="select-sml" id="resist_deg" name="resist_deg">
				<option value="">Degree</option>
				{% for num in negatives %}
					<option value={{num}}>{{num}}</option>
				{% endfor %}
				{% for num in positives %}
					<option value={{num}}>{{num}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="resist-value-field">

		<div id="resist-condition">
			<div>
				From:
			</div> 
			
			<div>
				<select class="select-sml" id="resist_con1" name="resist_con1">
					<option value="">Condition</option>
					{% for condition in conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				To: 
			</div>
			
			<div>
				<select class="select-sml" id="resist_con2" name="resist_con2">
					<option value="">Condition</option>
					{% for condition in conditions %}
						<option value="{{condition}}">{{condition}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div id="resist-damage">
			<div>
				<select class="select-sml" id="resist_dam" name="resist_dam">
					<option value="">Damage</option>
					<option value="result">Result</option>
					<option value="0">0</option>
					{% for num in positives %}
						<option value={{num}}>{{num}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<div class="check-div">
					<input type="checkbox" id="resist_strength" class="medium-checkbox med-checkbox"> Strength-Based
				</div>
			</div>
		</div>


	</div>
	

</div>
<div id="resist-table">

	<div class="power-table-title">
		Resisted By:
	</div>

	<div class="power-table-title">
		Modifier:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		Effect:
	</div>

	<div class="power-table-title">
		Description:
	</div>

	<div></div>
	
</div>

<div id="resist-err"></div>