
<div id="sense-header">

	<div id="sense-title">
		<input type="checkbox" id="sense_check" class="regular-checkbox big-checkbox" onclick="sense_check()"> Sense Effect:
	</div>

	
	<div id="sense-base">

		<div>
			<select class="header-select" id="sense_target" name="sense_target" onchange="sense_base()">
				{% for t in targets %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<select class="extra-select" id="sense_extra" name="sense_extra" onchange="sense_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="sense-entry">

	<div id="sense-row1">

		<div>
			Sense:
		</div>

		<div>
			Sub-Sense:
		</div>

		<div>
			Sense Cost: 
		</div>

		<div>
			Sub-Sense Cost:
		</div>

		<div>
			Skill Check:
		</div>

		<div></div>

		<div>
			<select class="select-sml" id="sense_sense" name="sense_sense" onchange="sense_sense()">
				<option value="">Any</option>
				<option value=0>All</option>
				{% for s in senses %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			
			<div>
				<select class="select-sml" id="sense_subsense" name="sense_subsense">
					<option value="">Subsense</option>
				</select>
			</div>

		</div>

		<div>
			<select class="select-sml" id="sense_sense_cost" name="sense_sense_cost">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="sense_subsense_cost" name="sense_subsense_cost">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select  class="select-sml" id="sense_skill" name="sense_skill" onchange="sense_skill()">
				<option value="">N/A</option>
				{% for s in skills %}
					<option value={{s.id}}>{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="sense-skill-req" style="opacity: 0%; transition: all .3s ease-in;">
			<div class="check-div">
				<input type="checkbox" id="sense_skill_req" class="medium-checkbox med-checkbox"> Required
			</div>
		</div>

	</div>

	<div id="sense-row2">

		<div>
			<select class="select-sml" id="sense_type" name="sense_type" onchange="sense_type()">
				{% for s in sense_type %}
					<option value="{{s.type}}">{{s.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="sense-height">
				<div>
					<select class="select-sml" id="sense_height_trait_type" name="sense_height_trait_type" onchange="sense_height_trait()">
						{% for trait in heightened %}
							<option value="{{trait.type}}">{{trait.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="sense-height-trait">

					<select class="select-sml" id="sense_height_trait" name="sense_height_trait">
						<option value=""></option>
					</select>

				</div>

				<div>
					<div class="check-div">
						<input type="checkbox" id="sense_height_power_req" class="medium-checkbox med-checkbox" onclick="sense_power_req()"> Needs Sense Power
					</div>
				</div>

				<div id="sense-height-ensense">
					<select class="select-sml" id="sense_height_ensense" name="sense_height_ensense">
						<option value="">Enhanced Sense</option>
						{% for s in power_sense %}
							<option value="{{s}}">{{s}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="sense-resist">
				<div>
					<select class="select-sml" id="sense_resist_trait_type" name="sense_resist_trait_type" onchange="sense_resist_trait()">
						{% for trait in resistant %}
							<option value="{{trait.type}}">{{trait.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div id="sense-resist-trait">
					<select class="select-sml" id="sense_resist_trait" name="sense_resist_trait">
						<option value=""></option>
					</select>
				</div>
				
				<div>
					<div class="check-div">
						<input type="checkbox" id="sense_resist_immune" class="medium-checkbox med-checkbox" onclick="sense_resist_immune()"> Immune
					</div>
				</div>

				<div id="sense-resist-immune-perm">
					<select class="select-sml" id="sense_resist_perm" name="sense_resist_perm">
						{% for o in all_some %}
							<option value="{{o.type}}">{{o.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="sense_resist_circ" name="sense_resist_circ">
						<option value="">Modifier</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

		</div>

	</div>

	<div id="sense-row3">

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_objects" class="medium-checkbox med-checkbox"> Penetrates Objects 
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_exclusive" class="medium-checkbox med-checkbox"> Exclusive 	
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_gm" class="medium-checkbox med-checkbox"> GM Can Trigger
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_dark" class="medium-checkbox med-checkbox" onclick="sense_dark()"> Counters Darkness
			</div>
		</div>

		<div id="sense-lighting" style="opacity: 0%; transition: all .3s ease-in;">
			<select class="select-sml" id="sense_lighting" name="sense_lighting">
				{% for d in darkness %}
			   <option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

	</div>

	<div id="sense-row4">

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_time" class="medium-checkbox med-checkbox" onclick="sense_time()"> Time Effect
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_dimensional" class="medium-checkbox med-checkbox" onclick="sense_dimensional()"> Dimensional
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_radius" class="medium-checkbox med-checkbox" > Radius 
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_accurate" class="medium-checkbox med-checkbox" > Accurate
			</div>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="sense_acute" class="medium-checkbox med-checkbox" > Acute
			</div>
		</div>
	
	</div>

	<div id="sense-time">
		
		<div>
			Time Set By:
		</div>

		<div>
			<select class="select-sml" id="sense_time_set" name="sense_time_set" onchange="sense_time_set()">
				{% for t in sense_time %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div id="sense-time-value">

				<div>
					<input type="text" id="sense_time_value" name="sense_time_value">
				</div>

				<div>
					<select class="select-sml" id="sense_time_unit" name="sense_time_unit">
						<option value="">Units</option>
						{% for u in times %}
							<option value={{u.id}}>{{u.name}}</option>
						{% endfor %}
					</select>
				</div>

			</div>

			<div id="sense-time-skill">
				<select class="select-sml" id="sense_time_skill" name="sense_time_skill">
					<option value="">Skill</option>
					{% for t in skills %}
						<option value={{t.id}}>{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="sense-time-bonus">
				<select class="select-sml" id="sense_time_bonus" name="sense_time_bonus">
					<option value="">Enhanced Skill</option>
					{% for t in bonuses %}
						<option value="{{t}}">{{t}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div id="sense-time-factor">
			<div>
				X
			</div>

			<div>
				<select class="select-sml" id="sense_time_factor" name="sense_time_factor">
					<option value="">N/A</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				per rank
			</div>
		</div>
		
	</div>

	<div id="sense-distance">
		<div>
			<select class="select-sml" id="sense_distance" name="sense_distance" onchange="sense_distance()">
				{% for d in sense_distance %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div id="sense-distance-values">

			<div>
				<select class="select-sml" id="sense_dis_dc" name="sense_dis_dc">
					<option value="">DC</option>
					<option value=>N/A</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<select class="select-sml" id="sense_dis_mod" name="sense_dis_mod">
					<option value="">Modifier</option>
					<option value=>N/A</option>
					{% for i in negatives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

			<div>
				<input type="text" id="sense_dis_value" name="sense_dis_value"> 
			</div>

			<div>
				<select class="select-sml" id="sense_dis_unit" name="sense_dis_unit">
					<option value="">Unit</option>
					{% for u in distances %}
						<option value={{u.id}}>{{u.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="sense-distance-factor">
				<select class="select-sml" id="sense_dis_factor" name="sense_dis_factor">
					<option value=>X Per Rank</option>
					{% for i in positives %}
						<option value={{i}}>{{i}}</option>
					{% endfor %}
				</select>
			</div>

		</div>
	</div>

	<div id="sense-dimensional">
		<div>
			Dimensional:
		</div>

		<div>
			<select class="select-sml" id="sense_dimensional_type" name="sense_dimensional_type">
				{% for d in dimensions %}
					<option value="{{d.type}}">{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="sense-button-row">
		<div></div>

		<div>
			<div class="vcenter">
				Cost Per Rank:
			</div>
		</div>

		<div>
			<select class="entry-select" id="sense_cost" name="sense_ranks">
				<option value="">Cost</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="entry-select" id="sense_ranks" name="sense_ranks">
				<option value="">Ranks</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="btn-entry" id="sense_submit" name="sense_submit" onclick="sense_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="sense-spot"></div>

<div id="sense-err"></div>