<div id="time-header">

	<div id="time-title">
		<input type="checkbox" id="time_check_check" class="regular-checkbox big-checkbox" onclick="time_check_check()"> Time Effect:
	</div>
	
	<div id="time-base">
		<div id="time-multiple" style="display: block; opacity: 100%;">
			<select class="select-entry" id="time_multiple" name="time_multiple">
				{% for m in multiple_time %}
					<option value="{{m.type}}">{{m.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="text-big">
			<input type="text" id="time_title" name="time_title" placeholder="Title">
		</div>

		<div class="text-big">
			<input type="text" id="time_keyword" name="time_keyword" placeholder="Keyword">
		</div>
		
		<div>
			<select class="extra-select" id="time_extra" name="time_extra">
				<option value=>Base or Extra</option>
				<option value=0>Base Effect</option>
			</select>
		</div>

	</div>

</div>

<div id="time-entry">
	<div id="time-row1">

		<div>
			<select class="select-sml" id="time_type" name="time_type" onchange="time_type()">
				{% for t in time_effect %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="time_value_type" name="time_value_type" onchange="time_value_type()">
				{% for t in time_value %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
				<option value="instant">Instant</option>
				<option value="perm">Permanent</option>
				<option value="turn">One Turn</option>
				<option value="round">Round</option>
				<option value="next">Next Round</option>
				<option value="scene">Scene</option>
				<option value="maintain">Maintaining Action</option>
			</select>
		</div>


		<div id="time-value-field">
			<div>
				<div id="time-measure-type">
					<select class="select-sml" id="time_measure_type" name="time_measure_type">
						{% for m in measure_type %}
							<option value="{{m.type}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="time-rank">
				<div>
					<select class="select-sml" id="time_rank1" name="time_rank1">
						<option value="">Rank</option>
						{% for m in measure_rank %}
							<option value="{{m.id}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="time_rank1_value" name="time_rank1_value">
						<option value="">Value</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				 </div>
				
				<div>
					<select class="select-sml" id="time_rank_math" name="time_rank_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>


				<div>
					<select class="select-sml" id="time_rank2" name="time_rank2">
						<option value="">Rank</option>
						<option value="37">This Power</option>
						<option value="38">This Extra</option>
						{% for m in measure_rank %}
							<option value="{{m.id}}">{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="time_rank2_value" name="time_rank2_value">
						<option value="">Value</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				 </div>
				 
			</div>

			<div id="time-value">
				
				<div class="text-sml">
					<input type="text" id="time_value" name="time_value">
				</div>

				<div></div>
				
				<div>
					
					<select class="select-sml" id="time_units" name="time_units">
						<option value="">Units</option>
						{% for t in times %}
							<option value={{t.id}}>{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div style="display: none;">
					<div class="check-div-fit">
						<input type="checkbox" id="time_value_rank" class="medium-checkbox med-checkbox" > Rank As Value
					</div>	
				</div>
					
			</div>

			<div id="time-math">
				
				<div>
					<select class="select-sml" id="time_trait_type" name="time_trait_type" onchange="time_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select> 
				</div>

				<div>
					<select class="select-sml" id="time_trait" name="time_trait" onchange="time_trait()">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					<select class="select-sml" id="time_math" name="time_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="time_math_value" name="time_math_value">
						<option value="">Value</option>
						<option value="rank">Power Rank</option>
						<option value="extra">Extra Rank</option>
						{% for i in time_numbers %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<select class="select-sml" id="time_math_units" name="time_math_units">
					<option value="">Units</option>
					<option value="time">Time Rank</option>
					{% for t in times %}
						<option value={{t.id}}>{{t.name}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="time-turns">
				<div>
					<select class="select-sml" id="time_turns" name="time_turns">
						<option value="">Turns</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="time-factor">
				<div>
					Time Rank X 
				</div>

				<div>
					<select class="select-sml" id="time_factor" name="time_factor">
						<option value="">Factor</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="time-time">
				<div>
					<select class="select-sml" id="time_time" name="time_time">
						<option value="">Time Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			
			<div id="time-mod">
				<div>
					<select class="select-sml" id="time_mod" name="time_mod">
						<option value="">Modifier</option>
						<option value="rank">Power Rank</option>
						<option value="extra">Extra Rank</option>
						{% for i in negatives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

		</div>

	</div>

	<div id="time-row2">

		<div>
			<select class="degree-sml" id="time_degree" name="time_degree">
				<option value="">Degree</option>
				<option value="">Use Degree form to put options here</option>
			</select>
		</div>
		
		<div>
			<select class="circ-sml" id="time_circ" name="time_circ">
				<option value="">Circumstance Modifier</option>
				<option value="">Use Circumstance form to put options here</option>
			</select>
		</div>

		<div>
			<select class="dc-sml" id="time_dc" name="time_dc">
				<option value="">DC</option>
				<option value="">Use Check Table form to put options here</option>
			</select>
		</div>
	
		<div>
			<select class="degree-title-sml" id="time_degree_type" name="time_degree_type">
				<option value="">Degree by Group</option>
				<option value="">Use Degree form to put options here</option>
			</select>
		</div>

		<div>
			<select class="circ-title-sml" id="time_circ_type" name="time_circ_type">
				<option value="">Circumstance By Group</option>
				<option value="">Use Circumstance form to put options here</option>
			</select>
		</div>
	
		<div>
			<select class="dc-title-sml" id="time_dc_type" name="time_dc_type">
				<option value="">DC by Group</option>
				<option value="">Use Check Table form to put options here</option>
			</select>
		</div>
		
	</div>

	<div id="time-button-row">
		<div>
			<div id="time-points">
				<div>
					<select class="select-sml" id="time_points" name="time_points">
						<option value="">Points Restored</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="time-recovery">

				<div>
					<select class="select-sml" id="time_recovery_target" name="time_recovery_target">
						{% for r in recovery %}
							<option value="{{r.type}}">{{r.name}}</option>
						{% endfor %}	
					</select>
				</div>
	
				<div>
					<select class="select-sml" id="time_recovery_penalty" name="time_recovery_penalty">
						<option value="">Penalty Nullified</option>
						<option value="rank">Power Rank</option>
						<option value="extra">Extra Rank</option>
						{% for i in positives %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>
	
				<div style="font-size: 80%;">
					<div class="check-div" style="width: 90%;">
						<input type="checkbox" id="time_recovery_incurable" class="medium-checkbox med-checkbox" > Includes Incurable
					</div>
				</div>
			</div>

			<div id="time-reattempt">
				<div style="font-size: 80%;">
					<div class="check-div" style="width: 90%;">
						<input type="checkbox" id="time_reattempt_effort" class="medium-checkbox med-checkbox" > Instant with Extra Effort
					</div>
				</div>		
			</div>

			<div id="time-check">
				<div>
					<select class="check-sml" id="time_check" name="time_check">
						<option value="">Check</option>
						<option value="">Use Variable Check form to put options here</option>
						{% for p in power_check %}
							<option value={{p.id}}>{{p.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>

			<div id="time-action">
				<div>
					<select class="select-sml" id="time_action" name="time_action">
						<option value="">Action Type</option>
						{% for a in actions %}
							<option value={{a.id}}>{{a.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" id="time_on_check" name="time_on_check">
						<option value="">Only On Check Type</option>
						{% for c in checks %}
							<option value={{c.id}}>{{c.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>

		<div>
			<div class="check-div" style="font-size: 90%;">
				<input type="checkbox" id="time_rank" class="medium-checkbox med-checkbox" > Time Per Rank
			</div>
		</div>

		<div>
			<div class="btn-entry" id="time_submit" name="time_submit" onclick="time_submit()">
				 Add
			</div>
		</div>
	</div>
</div>

<div id="time-spot"></div>

<div id="time-err"></div>