<div id="time-header">

	<div id="time-title">
		<input type="checkbox" id="time_check" class="regular-checkbox big-checkbox" onclick="time_check()"> Time Effect:
	</div>
	
	<div id="time-base">
		<select class="extra-select" id="time_extra" name="time_extra" onchange="time_base()">
			<option value=>Base or Extra</option>
			<option value=0>Base Effect</option>
		</select>
	</div>

</div>

<div id="time-entry">
	<div id="time-row1">

		<div>
			<select class="select-sml" id="time_type" name="time_type">
				{% for t in time_effect %}
					<option value="{{t.type}}">{{t.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="select-sml" id="time_value_type" name="time_value_type" onchange="time_value_type()">
				{% for v in value_type %}
					<option value="{{v.type}}">{{v.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>

			<div id="time-value">
				
				<div>
					<input type="text" id="time_value" name="time_value">
				</div>
				
				<div>
					
					<select class="select-sml" id="time_units" name="time_units">
						<option value="">Units</option>
						<option value="rank">Time Rank</option>
						{% for t in times %}
							<option value={{t.id}}>{{t.name}}</option>
						{% endfor %}
					</select>
				</div>
			
			</div>

			<div id="time-math">

				<div>
					<select class="select-sml" id="dc_time_value" name="dc_time_value">
						<option value="">Value</option>
						<option value="rank">Power Rank</option>
						{% for i in time_numbers %}
							<option value={{i}}>{{i}}</option>
						{% endfor %}
					</select>
				</div>

				<div>
					<select class="select-sml" id="time_math" name="time_math">
						<option value="">Math</option>
						{% for m in maths %}
							<option value={{m.id}}>{{m.name}}</option>
						{% endfor %}
					</select>
				</div>
				
				<div>
					<select class="select-sml" id="time_trait_type" name="time_trait_type" onchange="time_trait_type()">
						{% for t in traits %}
							<option value="{{t.type}}">{{t.name}}</option>
						{% endfor %}
					</select> 
				</div>

				<div>
					<select class="select-sml" id="time_trait" name="time_trait">
						<option value="">Trait</option>
					</select>
				</div>

				<div>
					= Time Rank
				</div>
			</div>

		</div>

	</div>

	<div id="time-row2">
		<div>
			<select class="select-sml" id="time_dc" name="time_dc">
				<option value="">DC</option>
				<option value="">N/A</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<select class="descriptor-sml" id="time_descriptor" name="time_descriptor">
				<option value="">Applies to descriptor</option>
				<option value="">Use above form to put descriptors here</option>
			</select>
		</div>

		<div>
			<select class="select-sml"	id="time_check_type" name="time_check_type" onchange="time_check_type()">
				<option value="">Check Type</option>
				{% for c in checks %}
					<option value={{c.id}}>{{c.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="time_recovery" class="medium-checkbox med-checkbox" onclick="time_recovery()"> Recovery Time
			</div>
		</div>

		<div>
			<div class="btn-entry" id="time_submit" name="time_submit" onclick="time_submit()">
				 Add
			</div>
		</div>
	</div>

	<div id="time-recovery">
		<div>
			Recovery Time:
		</div>

		<div style="font-size:75%;">
			Toughness Penalty Nullified:
		</div>

		<div>
			<select class="select-sml" id="time_recovery_penalty" name="time_recovery_penalty">
				<option value="">Penalty</option>
				<option value="effect">Effect Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			Every
		</div>

		<div>
			<select class="select-sml" id="time_recovery_time" name="time_recovery_time">
				<option value="">Time Rank</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>

		<div>
			<div class="check-div">
				<input type="checkbox" id="time_recovery_incurable" class="medium-checkbox med-checkbox" > Includes Incurable
			</div>
		</div>
	</div>
</div>

<div id="time-table">

	<div class="power-table-title">
		Target:
	</div>

	<div class="power-table-title">
		Degree:
	</div>

	<div class="power-table-title">
		When:
	</div>

	<div class="power-table-title">
		Check:
	</div>
	
	<div class="power-table-title">
		Time:
	</div>

	<div></div>
	
</div>

<div id="time-err"></div>