<div class="armor-header" id="defense-header">

	<div class="armor-title" id="defense-title">
		<input type="checkbox" id="defense_check" class="regular-checkbox big-checkbox" onclick="defense_check()"> Multiple Round Effect:
	</div>
	
	<div class="armor-base" id="defense-base">
	
	</div>

</div>

<div class="armor-entry" id="defense-entry">

	<div id="defense-row1">
		<div>
			<select class="select-entry" id="defense_defense" name="defense_defense">
				<option value="">Defense</option>
				{% for d in defenses %}
					<option value={{d.id}}>{{d.name}}</option>
				{% endfor %}
			</select>
		</div>
		
		<div>
			<select class="select-entry" id="defense_bonus" name="defense_bonus">
				<option value="">Bonus</option>
				{% for i in positives %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<div id="defense-button-row">
		<div>
		</div>

		<div>
			<div class="btn-entry" id="defense_submit" name="defense_submit" onclick="defense_submit()">
				 Add
			</div>
		</div>
	</div>

</div>

<div id="defense-spot"></div>

<div class="err" id="defense-err"></div>